.academy-banner {
    // positioning
    position: relative;

    // box model
    margin: 25px;
    padding: 25px;

    // visual
    background-color: $light;
    box-shadow: 0 10px 30px -10px rgba($dark, 0.25), 
                0 0 2px -1px rgba($dark, 0.5);
    background-image: url('./img/banners/academy-s.jpg');
    background-position: bottom left;
    overflow: hidden;

    @include atTablet {
        // visual
        background-size: cover;
    }
    
    @include atDesktopS {
        // box model
        display: flex;
        margin: 40px;
        margin-bottom: 120px;
        padding: 30px 40px;
        
        // visual
        background-image: url('./img/banners/academy-l.jpg');
        background-position: center center;
        overflow: unset;
    }

    @include atDesktopL {
        // box model
        width: 1400px;
        margin: 0 auto;
        margin-bottom: 120px;
    }
}

.academy-banner--cert {
    // visual
    background-image: url('./img/banners/cert-s.jpg');
    background-position: bottom center;

    @include atDesktopS {
        // visual
        background-image: url('./img/banners/cert-l.jpg');
        background-position: center right;
    }
}

.academy-banner__header {
    // positioning
    transform: skewY(-15deg);
    transform-origin: center left;

    // box model
    margin-bottom: 30px;

    @include atDesktopS {
        // box model
        flex-basis: 320px;
        margin-right: 10px;
    }

    @include atDesktopL {
        // box model
        flex-basis: 400px;
    }
}

.academy-banner__title {
    // box model
    max-width: 320px;
    margin: 10px -25px;
    padding: 10px 25px;
    
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;

    // visual
    border-bottom: 4px solid $golden;
    border-top: 4px solid $golden;

    @include atDesktopS {
        // box model
        max-width: 360px;
        margin-left: -65px;
        padding-left: 65px;

        // typography
        font-size: 2rem;
    }
}

.academy-banner__title strong {
    // typography
    font-size: 2em;
}

.academy-banner__subtitle {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;

    @include atDesktopS {
        // typography
        font-size: 1.5rem;
    }
}

.academy-banner__content {
    // box model
    margin-bottom: 30px;
    max-width: 320px;

    // typography
    color: $light;
    text-align: center;

    @include atDesktopS {
        // box model
        margin-bottom: 0;
        max-width: 400px;
        flex-basis: 37%;
    }
}

.academy-banner__motto {
    // typography
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.75;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1rem;
    }

    em {
        // typography
        color: $golden;
        font-style: normal;
    }
}

.academy-banner__text {
    // box model
    margin-bottom: 30px;

    // typography
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.75;

    @include atTablet {
        // typography
        font-size: 1rem;
    }
}

.academy-banner__address {
    // typography
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.75;
    text-align: center;
    text-transform: uppercase;

    // visual
    text-shadow: 0 0 2px $dark;

    @include atTablet {
        // typography
        font-size: 1rem;
    }
}

.academy-banner__phone {
    // typography
    color: $golden;
    text-decoration: none;
}

.academy-banner__phone:hover {
    // typography
    text-decoration: underline;
}

.academy-banner__cta {
    // box model
    max-width: 320px;

    // typography
    text-align: center;

    @include atDesktopS {
        // positioning
        position: absolute;
        bottom: 20px;
        left: 40px;
        
        // box model
    }
}