.advantages {
    // box model
    margin-bottom: 100px;
}

.advantages__header {
    // positioning
    position: relative;

    .section-header__image--investment {
        // box model
        height: 820px;
    }
    
    @include atDesktopS {
        // box model
        display: flex;

        .section-header__image--investment {
            // box model
            height: 535px;
        }
    }
}

.advantages__description {
    // positioning
    position: absolute;
    left: 0;
    top: 230px;
    z-index: 9;

    // box model
    padding: 0 20px;

    @include atDesktopS {
        // positioning
        position: unset;

        // box model
        margin-left: 200px;
        padding: 0;
        padding-top: 50px;
    }
}

.advantages__title {
    // box model
    margin: 0;
    
    // typography
    color: $light;
    font-size: 1.8rem;
    font-family: $titleFont;
    text-transform: uppercase;
    
    &--bottom {
        // box model
        max-width: 750px;
        margin: 0 auto;
        
        // typography
        text-align: center;
    }
    
    @include atDesktopS {
        // box model
        max-width: 650px;
        
        // typography
        color: $black;
        font-size: 2rem;
        line-height: 1.5;
    }
}

.advantages__subtitle {
    // box model
    margin: 0;
    margin-bottom: 70px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.advantages__text {
    // box model
    max-width: 410px;
    margin: 0;
    margin-bottom: 90px;

    // typography
    color: $dark;
    font-family: $mainFont;
    line-height: 1.5;
}

.advantages__text strong {

}

.advantages__plan {
    // positioning
    position: relative;

    // box model
    max-width: 600px;
    margin: 0;
    padding-left: 150px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.advantages__plan::before {
    content: "";
    // positioning
    position: absolute;
    left: 0;
    top: -7px;

    // box model
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 70px;

    // visual
    background-image: url('./img/icons/target.svg');
    background-repeat: no-repeat;
}

.advantages__content {

}

.advantages__confirm {
    // box model
    margin: 0;
    margin-bottom: 100px;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.advantages__items {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;

    padding: 0 150px;
}

.advantages__cta {
    // typography
    text-align: center;
}