.alphabet {
    @include atTablet {
    // box model
    display: flex;
    }
}

.alphabet__content {
    // box model
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin: 0;
    margin-bottom: 10px;

    // visual
    list-style-type: none;

    @include atTablet {
        // box model
        margin-bottom: 0;
    }
}

.alphabet__item {
    // visual
    transition: all ease-in-out 1s;
}

.alphabet__item a {
    // box model
    margin-right: 5px;

    // typography
    color: $golden;
    text-transform: uppercase;
    
    // visual
    text-decoration: none;
    transition: all ease-in-out 1s;

    @include atSmallMobile {
        // box model
        margin-right: 10px;
    }
}

.alphabet__item a:hover {
    // visual
    border-bottom: 1px solid $golden;
}

