.application-form {
    // box model
    padding-bottom: 55px;
    
    // visual
    //background-color: rgba($golden, 0.1);
    //background: linear-gradient(180deg, rgba(214,163,84,0) 0%, rgba(214,163,84,0.1) 100%);
    background: linear-gradient(180deg, rgba(214,163,84,0) 0%, rgba(214,163,84,0.1) 37%, rgba(214,163,84,0.1) 38%, rgba(214,163,84,0.2) 52%);
    @include atTablet {
        // box model
        margin-bottom: 150px;
    }
}

.application-form__content {
    // box model
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;

    @include atTablet {
        // positioning
        position: relative;

        // box model
        max-width: 380px;
        width: 100%;
        margin-left: calc((100% - 700px)/2);
        &:after {
            content: '';

            // positioning
            position: absolute;
            right: -450px;
            bottom: -170px;

            // box model
            display: block;
            width: 540px;
            height: 100%;

            // visual
            background-image: url('img/chair.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: 42% 0;

            @include atDesktopM {
                // positioning
                right: -550px;
            }
        }
        
    }
}