.app-promo {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    padding: 14px 20px;
    
    @include atTablet {
        // positioning
        position: absolute;
        bottom: 130px;
        bottom: 0;
        // left: 0;
        right: 0;
        
        // box model
        padding: 20px;
        min-width: 330px;
    }

    @include atDesktopS {
        // box model
        flex-direction: column;
        padding: 20px 40px;
        align-items: flex-end;
    }

    @include atDesktopM {
        // box model
        padding: 30px 40px;
        width: 100%;
    }
}

// Golden gradient stripe on top
.app-promo::before {
    content: '';

    // positioning
    position: absolute;
    left: 0;
    top: 0;

    // box model
    width: 100%;
    height: 4px;

    // visual
    background-image: linear-gradient(to right, rgba($golden, 0), rgba($golden, 0.75), rgba($golden, 0));
    
    @include atTablet {
        // visual
        background-image: linear-gradient(to right, rgba($golden, 0), rgba($golden, 0.75));
    }

    @include atDesktopS {
        // box model
        display: none;
    }
}

// Golden gradient stripe at bottom
.app-promo::after {
    content: '';

    // positioning
    position: absolute;
    bottom: 0;
    left: 0;

    // box model
    width: 100%;
    height: 4px;

    // visual
    background-image: linear-gradient(to right, rgba($golden, 0), rgba($golden, 0.75), rgba($golden, 0));
    
    @include atTablet {
        // visual
        background-image: linear-gradient(to right, rgba($golden, 0), rgba($golden, 0.75));
    }
}

.app-promo__header {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 50%;
    // width: 50%;

    @include atTablet {
        // positioning
        position: relative;
        z-index: 1;
        
        // box model
        flex-basis: auto;
        margin-right: 40px;
        margin-left: auto;

    }
    
    @include atDesktopS {
        // box model
        margin: 0;
        // margin-right: 50px;
        margin-bottom: 20px;
        text-align: right;
    }
}

.app-promo__title {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.75rem;

    @include atDesktopM {
        // typography
        font-size: 1rem;
    }
}

.app-promo__title strong {
    // box model
    display: inline-block;
    vertical-align: top;
    margin-top: 3px;
    
    // typography
    color: $light;
    font-size: 1.5rem;

    @include atDesktopM {
        // typography
        font-size: 2rem;
    }
}

.app-promo__subtitle {
    // box model
    margin: 0;
    padding: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 0.75rem;

    @include atDesktopM {
        // typography
        font-size: 1rem;
    }
}

.app-promo__image {
    // box model
    display: none;

    // visual
    pointer-events: none;
    
    @include atDesktopS {
        // positioning
        position: absolute;
        bottom: -40px;
        right: 170px;
        z-index: 2;
        
        // box model
        display: block;
        height: 300px;
        pointer-events: none;
    }

    @include atDesktopM {
        // positioning
        bottom: -50px;
        right: 185px;

        // box model
        height: 420px;
    }
}

.app-promo__image img {
    // box model
    height: 100%;
}

.app-promo__buttons {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 50%;
    width: 50%;
    
    @include atTablet {
        // positioning
        position: relative;
        z-index: 2;

        // box model
        flex-basis: auto;
        margin-right: 40px;
        margin-left: auto;
    }

    @include atDesktopS {
        // box model
        margin: 0;
        margin-right: -5px;
        width: auto;
    }
}