.application-form {
    // positioning
    position: relative;

    // box model
    padding-top: 60px;
    padding-bottom: 55px;
    
    // visual
    background-color: rgba($golden, 0.1);
    //background: linear-gradient(180deg, rgba(214,163,84,0) 0%, rgba(214,163,84,0.1) 100%);
    background: linear-gradient(180deg, rgba(214,163,84,0) 0%, rgba(214,163,84,0.1) 37%, rgba(214,163,84,0.1) 38%, rgba(214,163,84,0.2) 52%);

    @include atTablet {
        // box model
        // margin-bottom: 55px;
        padding-top: 75px;

        // visual
        overflow: hidden;

        @include atDesktopS {
            // box model
            padding-bottom: 150px;
        }
    }
}

.application-form__content {
    // box model
    width: 100%;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    
    @include atTablet {
        // positioning
        position: relative;

        // box model
        max-width: 380px;
        width: 100%;
        margin-left: calc((100% - 700px) / 2);

        &:after {
            content: '';

            // positioning
            position: absolute;
            right: -450px;
            bottom: -220px;

            // box model
            display: block;
            width: 540px;
            height: 100%;

            // visual
            background-image: url('./img/chair.png');
            background-size: auto;
            background-repeat: no-repeat;
            background-position: 42% 0;

            @include atDesktopM {
                // positioning
                right: -550px;
            }
        }
    }
}

.application-form__contacts {
    // box model
    margin: 0 auto;
    max-width: 300px;

    @include atTablet {
        // box model
        max-width: 350px;
        margin-top: 200px;
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        left: calc(100% - 520px);
        bottom: 780px;

        // box model
        max-width: unset;
        margin-top: 0;
    }

    @include atDesktopM {
        // positioning
        // bottom: 780px;
    }

    @include atDesktopL {
        // positioning
        right: 10%;
        top: 200px;
    }
}