.branch-addresses {
    // box model
    padding: 25px;
    padding-left: 55px;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 8300px;
        max-width: 800px;
        margin: 0 auto;
        padding-left: 65px;
    }
    
    @include atDesktopS {
        // box model
        padding-top: 40px;
        padding-left: 20px;
        max-width: 900px;
        height: 6000px;
    }

    @include atDesktopL {
        // box model
        max-width: 1270px;
        height: 5000px;
    }
}

.branch-addresses__index {
    // positioning
    position: relative;

    // box model
    margin-bottom: 40px;
    margin-right: 25px;

    @include atTablet {
        // box model
        width: 50%;
        max-width: 300px;
    }
    
    @include atDesktopS {
        // box model
        width: 33%;
    }

    @include atDesktopM {
        // box model
        margin-right: 50px;
    }
}

.branch-addresses__letter {
    // positioning
    position: absolute;
    left: -41px;
    top: -5px;

    // box model
    width: 32px;
    margin-bottom: 15px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 32px;
    text-align: center;

    // visual
    background-color: $golden;
    border-radius: 50%;
}


.branch-addresses__content {
    // 
}