.branch-list {
    // box model
    padding-top: 20px;

    // typography
    font-size: 0;
    text-align: center;

    @include atDesktopS {
        // box model
        padding-top: 0;
    }
}

.branch-list--hidden {
    .branch-list__content {
        // box model
        max-height: 0;
        padding: 0 20px;

        @include atDesktopS {
            // box model
            max-height: inherit;
            padding: 0;
        }
    }
}

.branch-list__button {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    padding-left: 25px;
    // border: 1px solid red;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    // visual
    background-color: transparent;
    border: none;
    outline: none;

    @include atDesktopS {
        // box model
        display: none;
    }
}

.branch-list__button:hover {
    // typography
    color: $golden;

    // visual
    cursor: pointer;
}

.branch-list__button::before,
.branch-list__button::after {
    content: '';
}

.branch-list__button::before,
.branch-list__button-mid,
.branch-list__button::after {
    // positioning
    position: absolute;
    left: 0;

    // box model
    height: 2px;
    width: 18px;

    // visual
    background-color: $golden;
}

.branch-list__button::before {
    // positioning
    top: 0;
}

.branch-list__button-mid {
    // positioning
    top: 7px;
}

.branch-list__button::after {
    // positioning
    top: 14px;
}

.branch-list__content {
    // box model
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin: 0 -20px;
    max-height: 3000px;

    // visual
    //background-image: linear-gradient(to bottom, transparent, $dark);
    // TODO: use $dark color
    background-image: linear-gradient(0deg, rgba($dark,1) 0%, rgba($dark,1) 65%, rgba($dark,0), 78%, rgba($dark,0) 82%, rgba($dark,0) 92%, rgba($dark,0) 100%);
    overflow: hidden;
    transition: all 0.3s ease-out;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 60px 20px;
        margin: 0 -40px;
    }

    @include atDesktopS {
        // box model
        margin-bottom: 10px;
        padding: 0;
        margin-left: auto;
        margin-right: auto;

        // visual
        background-image: none;
    }
}