.branch-modal {
    // positioning
    position: fixed;
    right: -325px;
    top: 50%;
    z-index: 9999;

    // box model
    display: flex;
    // padding: 20px 25px 20px 10px;
    padding-right: 25px;
    background-color: #000;

    // visual
    background-image: url('./img/bgs/modal.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

    &--visible {
    // positioning
    right: 0;
    }
}

.branch-modal__header {
    // box model
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 7px;

    // visual
    cursor: pointer;
}

.branch-modal__headline {
    // positioning
    transform: rotate(-180deg);

    // box model
    margin: 0;
    max-height: 80px;
    align-self: flex-end;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 0.625rem;
    // line-height: 10px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
}

.branch-modal__headline span {
    // box model
    display: block;

    // typography
    color: $golden;
}

.branch-modal__arrow {
    // box model
    width: 7px;
    height: 13px;

    // visual
    background-image: url('./img/arrow-left.png');
    background-repeat: no-repeat;
}

.branch-modal__content {
    // box model
    display: flex;
    margin-left: 20px;
}

.branch-modal__text {
    // box model
    max-width: 135px;
    margin-right: 15px;
}

.branch-modal__cta {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 28px;
    text-transform: uppercase;
}

.branch-modal__cta span {
    // box model
    display: block;

    // typography
    color: $golden;
    font-size: 0.75rem;
    line-height: 14px;
}

.branch-modal__desc {
    // box model
    margin: 0;
    max-width: 75px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 0.75rem;
    line-height: 14px;
    text-transform: uppercase;
}

.branch-modal__links {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.branch-modal__links .app-button {
    // box model
    min-width: 140px;

    // typography
    font-size: 0.5rem;
    line-height: 26px;

    &--thin {
        // typography
        font-size: 0.33rem;
    }
}