.branch-modal {
    // positioning
    position: fixed;
    right: 300%;
    bottom: 300%;
    z-index: 999999;

    // box model
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0 20px;

    // visual
    background-color: rgba($dark, 0.9);
    // background-color: rgba(255, 255, 255, 0.4);
    overflow: hidden;
    transition: ease-in-out 1s;

    &--visible {
        // box model
        // display: flex;
        right: 0;
        bottom: 0;
    }
}

.branch-modal__inner {
    // positioning
    position: relative;
    bottom: 0;
    right: 0;

    // box model
    max-width: 350px;
    padding: 30px;


    // visual
    background-image: url('./img/bgs/branch-modal.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;

    @include atDesktopS {
        // box model
        display: flex;
        max-width: unset;
        width: 1280px;
        justify-content: space-between;
        padding-bottom: 45px;
        padding-left: 45px;
        padding-right: 50px;
        padding-top: 45px;

        // visual
        background-image: url('./img/bgs/branch-modal-l.png');
        overflow: unset;
    }
}

.branch-modal__close {
    // positioning
    position: absolute;
    right: 15px;
    top: 30px;

    // box model
    width: 22px;
    height: 22px;

    // visual
    background-image: url('./img/deco/cross.png');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.branch-modal__content {
    // positioning
    position: relative;

    @include atDesktopS {
        // box model
        width: 100%;
        max-width: 510px;
        margin-bottom: 0;
    }
}

.branch-modal__text {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;

    @include atDesktopS {
        // box model
        max-width: 280px;
    }
}

.branch-modal__form {
    .form__title {
        // typography
        color: $light;
        font-size: 1rem;

        @include atTablet {
            // typography
            font-size: 1.875rem;
        }
    }

    .form__submit-btn {
        // box model
        margin-bottom: 0;
        margin-top: 20px;
    }
}