.chosen-branch {
    // box model
    margin-bottom: 60px;

    // typography
    font-family: $titleFont;
    line-height: 1.5;
    text-align: center;
}

.chosen-branch__block {
    // box model
    margin-bottom: 20px;
}

.chosen-branch__type {
    // box model
    margin: 0;

    // typography
    color: $golden;
}

.chosen-branch__value {
    // box model
    margin: 0;

    // typography
    color: $light;
}

a.chosen-branch__value {
    // typography
    text-decoration: none;

    // visual
    transition: all 0.25s ease-out;

    &:hover {
        // typography
        color: $golden;
    }
}

.chosen-branch__button {
    // box model
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 160px;

    // typography
    color: $golden;
    text-decoration: none;

    // visual
    border: 1px solid $golden;
    border-radius: 20px;
    transition: all 0.25s ease-out;

    &:hover {
        // typography
        color: $dark;

        // visual
        background-color: $golden;
    }
}
