.choose-country {
    // box model
    padding: 25px;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 55px;
        padding-left: 30px;
        margin-bottom: 60px;

        // visual
        background-color: $dark;
        background-image: url('img/minsk.png');
        background-position: center;
        background-repeat: no-repeat;
    }

    @include atDesktopL {
        padding: 60px calc((100% - 1400px) / 2);
    }
}

.choose-country__content {
    // box model
    padding-top: 30px;

    // visual
    list-style: none;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        padding-left: 20px;
    }

    @include atDesktopS {
        // box model
        justify-content: space-evenly;
    }
}