.choose-country {
    // box model
    min-height: calc(100vh - 128px);
    margin-bottom: 0;
    padding: 40px 25px;

    // visual
    background-color: $dark;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 55px;
        padding-left: 30px;
        margin-bottom: 60px;

        // visual
        // background-image: url('./img/minsk.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    @include atDesktopS {
        // visual
        background-image: url('./img/minsk.png');
    }

    @include atDesktopL {
        padding: 60px calc((100% - 1400px) / 2);
    }
}

.choose-country--europe {
    @include atTablet {
        // visual
        background-image: url('./img/city/europe-l.jpg');
        background-size: cover;
        background-position: center left;
    }
}

.choose-country--USA {
    @include atTablet {
        // visual
        background-image: url('./img/city/los-angeles-grey.jpg');
        background-size: cover;
        background-position: center left;
    }
}

.choose-country__content {
    // box model
    margin: 0;
    margin-bottom: -30px;
    padding: 0;

    // visual
    list-style: none;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
        flex-grow: 1;
        margin: 0;
        padding: 0;
        padding-left: 20px;
    }

    @include atDesktopS {
        // box model
        justify-content: space-evenly;
    }
}