.city-form {
    // positioning
    position: relative;
    z-index: 11;

    // box model
    max-width: 600px;
    width: 100%;

    @include atTablet {
        // box model
        margin: 0 auto;
    }
}

.city-form__title {
    // box model
    display: none;
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;

    // typography
    font-family: $titleFont;
}

.city-form__input {
    // box model
    display: block;
    width: 100%;
    padding: 0 16px;
    
    // typography
    color: $dark;
    font-family: $titleFont;
    line-height: 36px;

    // visual
    border: 2px solid $golden;
    border-radius: 20px;
    outline: none;
    transition: all 0.25s ease-out;
}

.city-form__input:focus {
    // visual
    border: 2px solid $darkGold;
    box-shadow: 0 0 15px rgba($golden, 0.5);
}

// .city-form__input::-webkit-search-cancel-button{
//     -webkit-appearance: none;
//     height: 20px;
//     width: 20px;
//     border-radius:10px;
//     background: red;
// }


.city-form__mic {
    // positioning
    position: absolute;
    right: 40px;
    top: 8px;

    // box model
    width: 17px;
    height: 24px;

    // visual
    background-image: url('./img/deco/mic.svg');
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}