.city-form {
    // box model
    max-width: 600px;
    width: 100%;
}

.city-form__title {
    // box model
    display: none;
    margin: 0;
    margin-right: 40px;
    margin-top: 10px;

    // typography
    font-family: $titleFont;
}

.city-form {
    
}

.city-form__input {
    // box model
    display: block;
    width: 100%;
    padding: 0 16px;
    margin-bottom: 20px;
    
    // typography
    color: $dark;
    font-family: $titleFont;
    line-height: 36px;

    // visual
    border: 2px solid $golden;
    border-radius: 20px;
    outline: none;
    transition: all 0.25s ease-out;
}

.city-form__input:focus {
    // visual
    border: 2px solid $darkGold;
    box-shadow: 0 0 15px rgba($golden, 0.5);
}
