.city-select {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: block;
    padding-left: 48px;

    // typography
    color: $light;
    text-align: left;
    text-decoration: none;

    // visual
    transition: all 0.25s ease-out;
    cursor: pointer;
}

.city-select:hover {
    // typography
    color: $golden;
}

.city-select::before {
    content: "";

    // positioning
    position: absolute;
    transform: translateX(-110%);

    // box model
    height: 100%;
    width: 32px;

    // visual
    background-image: url('./img/icons/place.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

.city-select__title {
    // box model
    margin: 0;
    // width: 100px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.5rem;

    @media (min-width: 395px) {
        // box model
        width: auto;
    }
    
    @include atTablet {
        // typography
        font-size: 0.65rem;
        line-height: 1.25;
    }

    @include atDesktopM {
        // typography
        font-size: 0.75rem;
    }

    @include atDesktopL {
        // typography
        font-size: 0.8rem;
    }
}

.city-select__city {
    // box model
    margin: 0;
    
    // typography
    font-family: $titleFont;
    font-size: 1rem;
    
    @include atTablet {
        // typography
        font-size: 1.125rem;
        line-height: 1.25;
    }
    
    @include atDesktopS {
        // box model
        display: inline-block;
        vertical-align: top;
    }
}

.city-select__triangle {
    // typography
    font-size: 0.75em;
}