.coming {

}

.coming__subtitle {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.2rem;
    text-align: right;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1.5rem;
    }
}

.coming__subtitle::before {
    content: "";

    // positioning
    position: relative;
    left: -10px;
    top: 0.7rem;

    // box model
    display: block;
    width: 50%;
    height: 2px;

    // visual
    background: linear-gradient(to right, rgba($golden, 0), rgba($golden, 0.75));
}

.coming__subtitle span {
    // typography
    font-size: 3.1rem;

    @include atTablet {
        // typography
        font-size: 3.5rem;
    }
}

.coming__date {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $displayFont;
    font-size: 4rem;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 7rem;
    }
}