.contacts-map {

}

.contacts-map__header {
    // box model

    // typography
    text-align: center;
}

.contacts-map__title {
    // box model
    margin: 0;
    margin-bottom: 5px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
}

.contacts-map__subtitle {
    // box model
    max-width: 375px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    // typography
    color: $black;
    font-family: $mainFont;
    font-size: 12px;
    line-height: 1.2;
}

.contacts-map__container {
    // box model
    width: 100%;
    height: 625px;
    margin-bottom: 80px;
    
    // visual
    background-color: $golden;
}