.contacts-partners {
    // box model
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 180px;
    
    @include atDesktopM {
        // box model
        flex-wrap: nowrap;
    }
}

.contacts-partners__header {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;

    // visual
    background-color: rgba(210, 156, 78, 0.1);
    
    
    @include atDesktopM {
        // box model
        flex-basis: 550px;
        max-width: 550px;
        margin-bottom: 0;

        // visual
        border-top-right-radius: 10px;

        &:before {
            content: '';
    
            // positioning
            position: absolute;
            left: 0;
            top: 45px;
            transform: skew(0, -20deg);
    
            // box model
            display: block;
            height: 50px;
            width: 100%;
    
            // visual
            background-color: #fff;
        }
    
        &:after {
            content: '';
    
            // positioning
            position: absolute;
            left: 0;
            top: 0;
    
            // box model
            width: 50%;
            height: 150px;
    
            // visual
            background-color: #fff;
        }
    }
}

.contacts-partners__header-info {
    // box model
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    margin-top: 60px;

    @include atTablet {
        // box model
        flex-direction: row;
    }

    @include atDesktopS {
        // box model
        margin-top: 0;
    }

    @include atDesktopM {
        // box model
        flex-direction: column;
        margin-top: 120px;
        margin-bottom: 0;
    }
}

.contacts-partners__header-img {
    // box model
    display: block;
    width: 100%;
    margin-bottom: 30px;

    @include atTablet {
        // box model
        margin-right: 30px;
    }

    @include atDesktopM {
        // box model
        margin-bottom: 20px;
        margin-right: 0;
    }
}

.contacts-partners__franchise-header {
    // box model
    margin-bottom: 20px;

    &:before,
    &:after {
        content: '';

        // box model
        display: block;
        height: 4px;
        width: 100%;
        margin-bottom: 10px;

        // visual
        background: linear-gradient(90deg, #D6A354 0%, rgba(196, 196, 196, 0) 100%);
    }

    &:after {
        // box model
        margin-top: 10px;
    }
}

.contacts-partners__franchise-title {
    // box model
    margin: 0;
    padding: 0 15px;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.contacts-partners__franchise-subtitle {
    // box model
    margin: 0;
    padding: 0 15px;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
}


.contacts-partners__franchise-text {
    // box model
    margin: 0;

    // typography
    color: rgba($black, 0.5);
    font-family: $mainFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}

.contacts-partners__content {
    // box model
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1130px;
    margin-left: 22px;
    margin-right: 22px;
    
    @include atTablet {
        // box model
        justify-content: space-between;
    }
}

.contacts-partners__content > * {
    // box model
    margin-bottom: 55px;
    margin-left: 10px;
    margin-right: 10px;
    width: 250px;
    height: 390px;
    
    @include atDesktopS {
        // box model
        margin-left: 0;
        margin-right: 0;
    }
}

.contacts-partners__content .employee-card__header:after {
    // box model
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}