.condition-item {
    // box model
    margin-bottom: 60px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        flex-basis: 50%;
    }

    @include atDesktopS {
        // box model
        flex-basis: 25%;
        max-width: 250px;
        margin-bottom: 0;
    }
}

.condition-item__title {
    // box model
    margin: 0;

    // typography
    font-family: $titleFont;
    font-size: 2rem;
    text-transform: uppercase;

    @include atDesktopS {
        // typography
        font-size: 2vw;
    }

    @include atDesktopL {
        // typography
        font-size: 2rem;
    }
}

.condition-item__subtitle {
    // box model
    margin: 0;
    margin-bottom: 25px;

    // typography
    color: $black;
    font-family: $mainFont;
    font-weight: 600;

    @include atDesktopS {
        // typography
        font-size: 1.2vw;
    }

    @include atDesktopL {
        // typography
        font-size: 1rem;
    }
}

.condition-item__desc {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 2rem;
    line-height: 0.85;

    @include atDesktopS {
        // typography
        font-size: 2vw;
        line-height: 1;
    }

    @include atDesktopL {
        // typography
        font-size: 2rem;
    }
}

.condition-item__desc span {
    // typography
    font-size: 1.5rem;

    @include atDesktopS {
        // typography
        font-size: 1.8vw;
    }

    @include atDesktopL {
        // typography
        font-size: 1.5rem;
    }
}