.contacts-info {
    position: relative;

    // box model
    width: 100%;
    max-width: 1700px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 90px;
    padding: 50px 20px;

    // visual
    background-color: rgba(#D29C4E, 0.1);
    background-image: url('./img/icons/contacts-scissors.svg');
    background-repeat: no-repeat;
    background-size: 340px 290px;
    background-position: 90px 170px;
    
    &:before {
        content: '';

        // positioning
        position: absolute;
        left: 0;
        top: -5px;
        z-index: 8;

        // box model
        display: block;
        height: 20px;
        width: 100%;

        // visual
        background-color: rgba(#D29C4E, 0.1);
    }

    &:after {
        content: '';

        // positioning
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 8;

        // box model
        display: block;
        height: 50px;
        width: 100%;

        // visual
        background-image: url("./img/golden-grunge.svg");
        background-repeat: repeat-x;
        background-position: left center;
    }

    @include atTablet {
        // box model
        flex-direction: row;
    }

    @include atDesktopM {
        // box model
        padding: 60px 100px;
    }
}

.contacts-info__header {
    // box model
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 340px;
    margin-bottom: 30px;

    @include atDesktopS {
        // box model
        margin-bottom: 0;
    }
}

.contacts-info__title {
    // box model
    margin: 0;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
}

.contacts-info__subtitle {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.contacts-info__address-branches {
    // box model
    margin: 0;

    // typography
    color: rgba($black, 0.5);
    font-family: $titleFont;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
}

.contacts-info__address-branches--stress {
    // typography
    font-size: 24px;
}

.contacts-info__address-bottom {
    &:before,
    &:after {
        content: '';

        // box model
        display: block;
        height: 4px;
        width: 100%;
    }

    &:before {
        // box model
        margin-bottom: 15px;

        // visual
        background: linear-gradient(90deg, #D6A354 0%, rgba(196, 196, 196, 0) 100%);
    }

    &:after {
        // positioning
        transform: matrix(-1, 0, 0, 1, 0, 0);

        // box model
        margin-top: 15px;

        // visual
        background: linear-gradient(90deg, #D6A354 0%, rgba(196, 196, 196, 0) 100%);
    }
}

.contacts-info__address {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 800px;

    &:after {
        content: '';
        
        // box model
        display: none;

        // positioning
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-image: url('./img/icons/decoBorder.svg');
        background-repeat: no-repeat;
        background-size: contain;
        
        @include atDesktopL {
            // box model
            display: block;
        }
    }

    &:before {
        content: '';

        // positioning
        position: absolute;
        top: -10px;
        right: 80px;
        z-index: 12;

        // box model
        display: none;
        width: 360px;
        height: 156px;

        // visual
        background-image: url("./img/icons/logo-golden.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #FBF5EC;

        @include atDesktopL{
            // box model
            display: block;
        }
    }

    @include atTablet {
        // box model
        justify-content: flex-end;
    }

    @include atDesktopL {
        // box model
        max-width: 955px;
        padding: 60px 115px;
        justify-content: space-between;
    }
}

.contacts-info__block {
    // box model
    width: 100%;
    max-width: 360px;
    margin-bottom: 20px;

    &:nth-child(2) {
        @include atDesktopL {
            // box model
            margin-top: 100px;
        }
    }
}

.contacts-info__block-title {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;

    @include atTablet {
        // typography
        font-size: 24px;
    }
}

.contacts-info__block-text {
    // box model
    margin: 0;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;

    @include atTablet {
        // typography
        font-size: 24px;
    }
}