.contact {
    // box model
    margin-bottom: 20px;

    // typography
    text-align: center;

    @include atDesktopS {
        // box model
        margin-right: 40px;
        // flex-basis: 30%;

        // typography
        text-align: left;
    }
}

.contact--footer {
    @include atTablet {
        // box model
        padding-bottom: 20px;
    }

    @include atDesktopS {
        // box model
        padding-top: 10px;
        order: 1;
    }

    .contact__title {
        // typography
        color: $light;
    }

    .contact__value {
        // typography
        color: $lightGrey;
    }
}

.contact__title {
    // box model
    margin: 0;
    margin-bottom: 5px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.125rem;

    @include atDesktopS {
        // typography
        font-size: 1rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1.125rem;
    }
}

.contact__value {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $mainFont;
    font-weight: 600;
    font-weight: 400;
    font-size: 1rem;
    font-size: 0.85rem;
    left: 0.0;
    text-transform: uppercase;

    @include atDesktopS {
        // typography
        font-size: 0.85rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1rem;
    }
}

.contact__value a {
    // typography
    color: $light;
    text-decoration: none;
}
