.contacts-team {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    &:before {
        content: '';

        // positioning
        position: absolute;
        top: -32px;
        left: 0;

        // box model
        display: block;
        height: 70px;
        width: 100%;

        // visual
        background-image: url('./img/team-grunge.svg');
        background-repeat: repeat-x;
    }

    @include atDesktopS {
        // visual
        background-image: url("./img/bgs/contacts-team-bg.jpg");
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.contacts-team__header {
    // box model
    margin-bottom: 30px;

    .section-header {
        @include atDesktopL {
            // box model
            width: 600px;
        }
    }

    @include atTablet {
        // box model
        margin-bottom: 0;
    }
}

.contacts-team__top {
    // positioning
    z-index: 4;

    // box model
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 745px;
    margin-top: 50px;
    margin-bottom: 80px;

    @include atTablet {
        // box model
        max-width: 100%;
        margin-top: 80px;
        flex-direction: row;
        justify-content: flex-end;
    }

    @include atDesktopM {
        // box model
        max-width: 745px;
        margin-right: 100px;
        justify-content: space-between;
    }
}

.contacts-team__top > .employee-card {
    // box model
    margin: 0 5px;

    @include atTablet {
        // box model
        margin-top: 0;
    }

    @include atDesktopS {
        // box model
        margin-left: 15px;
        margin-right: 15px;
    }

    @include atDesktopM {
        // box model
        margin-left: 0;
    }
}

.contacts-team__top .employee-card:first-child {
    // box model
    margin-bottom: 30px;

    @include atTablet {
        // box model
        margin-bottom: 0;
    }
}

.contacts-team__bottom {
    // positioning
    position: relative;
    z-index: 3;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 100%;

    &:before {
        content: '';

        // positioning
        position: absolute;
        top: -293px;
        left: 0;
        z-index: 0;

        // box model
        height: 570px;
        width: 100%;

        // visual
        background-color: #FBF5EC;
        background-image: url('./img/deco/barberpull-white.svg');
        background-repeat: no-repeat;
        background-position: 30px 160px;
    }

    @include atTablet {
        // box model
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 20px;
    }

    @include atDesktopS {
        // box model
        flex-wrap: nowrap;
        margin: 0;
    }
}

.contacts-team__managers {
    // positioning
    z-index: 3;

    // box model
    flex-basis: 230px;
    max-width: 230px;
    margin-left: 30px;

    @include atTablet {
        // box model
        margin-bottom: 60px;
    }
    
    @include atDesktopS {
        // box model
        margin-left: 122px;
        margin-right: 30px;
        margin-bottom: 0;
    }
}

.contacts-team__managers-title {
    // positioning
    transform: matrix(1, -0.27, 0, 0.97, 0, 0);

    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 36px;
    line-height: 1;
    font-weight: 700;

    &:before {
        content: '';
        
        // positioning
        transform: rotate(180deg);

        // box model
        display: block;
        height: 4px;
        width: 100%;
        margin-bottom: 20px;

        // visual
        background: linear-gradient(90deg, #D6A354 0%, rgba(196, 196, 196, 0) 100%);
    }
}

.contacts-team__managers-subtitle {
    // typography
    color: $black;
    font-family: $mainFont;
    font-size: 16px;
    line-height: 1.2;
}

.contacts-team__stress {
    // positioning
    position: relative;

    // typography
    color: $golden;

    &:after {
        content: '';

        // positioning
        position: absolute;
        right: -90px;
        bottom: 20px;

        // box model
        display: block;
        height: 4px;
        width: 80px;

        // visual
        background: linear-gradient(90deg, #D6A354 0%, rgba(196, 196, 196, 0) 100%);
    }
}

.contacts-team__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    width: 100%;

    @include atTablet {
        // box model
        max-width: 1170px;
        flex-direction: row;
        justify-content: space-between;
    }

    @include atDesktopM {
        // box model
        margin-right: 100px;
    }
}

.contacts-team__content > .employee-card {
    // box model
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.contacts-team__branches {
    // box model
    display: none;

    @include atDesktopS {
        // box model
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-grow: 1;
        padding-left: 100px;
        height: 490px;

        // visual
        background-image: url('./img/investment/map.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: top center;
    }
}

.contacts-team__branches .franchise__summary {
    // positioning
    position: relative;
    bottom: 0;
    right: 0;
}