.coupon-info {
    // box model
    padding-left: 25px;
    padding-right: 25px;
    
    // visual
    background-color: #fdf6ee;
}

.coupon-info__text {
    // typography
    text-align: center;
}

.coupon-info__desc {

}

.coupon-info__warning {

}