.current-news {
    // box model
    padding: 0 25px;
    margin-bottom: 70px;
}

.current-news__content {
    @include atTablet {
        // box model
        display: flex;
    }
}

.current-news__text {
    @include atTablet {
        // box model
        flex-basis: 50%;
        margin-right: 50px;
    }
}

.current-news__title {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1.2rem;
    text-align: left;
    text-transform: uppercase;
}

.current-news__details {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 22px;
}

.current-news__image {
    // box model
    margin-bottom: 15px;

    // visual
    background-color: $dark;
    border-radius: 5px;
    overflow: hidden;

    @include atTablet {
        // box model
        flex-basis: 50%;
        max-height: 320px;
    }
}

.current-news__image img {
    // box model
    width: 100%;
    height: 100%;
    
    // visual
    object-fit: cover;
}

.current-news__quote {
    // box model
    height: 300px;
    padding-top: 50px;
    margin-bottom: 15px;
    margin-left: -25px;
    margin-right: -25px;
    margin-top: -50px;

    // visual
    background-color: #fdf6ee;

    @include atTablet {
        // box model
        height: 250px;
        margin-top: 0;
    }
}

.current-news__description {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 0.70rem;
    text-align: center;
    text-transform: uppercase;
}

.current-news__cta {
    // typography
    text-align: center;
}

.current-news__see-more {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    text-transform: uppercase;
}