.fill-form {
    // positioning
    position: relative;

    // box model
    padding-bottom: 140px;
    padding-left: 145px;
    padding-right: 145px;
    padding-top: 75px;
}

.fill-form__deco {
    // positioning
    position: absolute;
    right: 0;

    // visual
    background-image: url('./img/deco/scissors.png');
}