.footer-menu {
    // box model
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
    list-style: none;

    // typography
    text-align: center;

    @include atTablet {
        // typography
        text-align: left;
    }
}

.footer-menu__title {
    // box model
    margin: 0;
    padding: 0;
    padding-top: 15px;

    // typography
    color: $lightGrey;
    font-family: $titleFont;
    font-size: 1.3rem;
    line-height: 2;
    text-align: center;

    @include atTablet {
        // box model

        // typography
        text-align: left;
        font-size: 1.6rem;
    }
}

.footer-menu__item {
    // margin: 0;
}

.footer-menu__link {
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;
    line-height: 2;
    text-decoration: none;

    // visual
    transition: all 0.25s ease-out;

    @include atTablet {
        // typography
        font-size: 1.125rem;
    }
}

.footer-menu__link:hover {
    // typography
    color: $golden;
}
