.form {
    // box model
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.form__legend {

}

.form__title {
    // box model
    margin: 0;
    margin-bottom: 20px;

    // typography
    font-family: $titleFont;
    font-size: 1.875rem;
    text-align: center;
}

.form__subtitle {
    // box model
    margin-bottom: 25px;

    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.form__input-group {
    // positioning
    position: relative;

    // box model
    width: 100%;
    margin: 20px 0;

    &--policy {
        // box model
        display: flex;
        justify-content: center;
        margin-top: -5px;
        margin-bottom: 35px;
    }
}

.form__input-group .form__label-checkbox {
    // typography
    color: $dark;
}

.form__input {
    // positioning
    position: relative;

    // box model
    width: 100%;
    padding: 13px;
    
    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 0.875rem;
    text-transform: uppercase;
    
    // visual
    border: 1px solid rgba($golden, 0.5);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 20px -19px rgba(19, 28, 35, 1);
    transition: box-shadow 0.15s ease-out;
    
    &:focus {
        // typography
        color: #000000;

        // visual
        outline: none;
        background-color: #ffffff;
        box-shadow: 0 0 30px -17px rgba(19, 28, 35, 1);
    }

    &::placeholder {
        // typography
        color: $darkGold;
    }

    &--valid,
    &-webkit-autofill {
        // typography
        color: #ffffff;

        // visual
        background-color: $golden;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='32' fill='%23ffffff'%3E%3Cpath d='M0 16.352q0 1.12.768 1.92L8.64 25.92q.768.8 1.92.8t1.92-.8l16.16-15.84q.8-.768.8-1.888t-.8-1.856q-.8-.8-1.92-.8t-1.92.8l-14.24 13.92-5.92-5.792q-.8-.768-1.92-.768t-1.952.768Q0 15.232 0 16.352z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 95% 50%;
        background-size: 14px;
    }

    &--error {
        // typography
        color: #000000;
        font-weight: 700;
        
        // visual
        border: 2px solid red;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='32' fill='%23ffffff'%3E%3Cpath d='M0 16.352q0 1.12.768 1.92L8.64 25.92q.768.8 1.92.8t1.92-.8l16.16-15.84q.8-.768.8-1.888t-.8-1.856q-.8-.8-1.92-.8t-1.92.8l-14.24 13.92-5.92-5.792q-.8-.768-1.92-.768t-1.952.768Q0 15.232 0 16.352z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 97% 40%;
        background-size: 14px;
    }
}

.form__input-city-incorrect {
    // box model
    display: none;
    margin-top: 5px;

    // typography
    color: $red;
    font-family: $mainFont;
    font-size: 13px;
    line-height: 16px;
    
    &--active {
        // box model
        display: inline-block;
    }
}

.form__input-clear {
    // positioning
    position: absolute;
    top: 13px;
    right: 13px;
    transform-origin: center center;
    transform: rotate(45deg);

    // box model
    height: 20px;
    width: 20px;
    
    // typography
    color: #ffffff;
    text-align: center;
    
    // visual
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    
    &--hidden {
        // box model
        display: none;
    }
}

.form__checkbox {
    // positioning
    position: absolute;
    left: -9999px;

    &:not(:checked) + .form__label-checkbox,
    &:checked + .form__label-checkbox{
        // positioning
        position: relative;

        // box model
        display: inline-block;
        padding-left: 35px;

        // visual
        cursor: pointer;
    }

    &:not(:checked) + .form__label-checkbox:before,
    &:checked + .form__label-checkbox:before {
        content: '';

        // positioning
        position: absolute;
        top: 0px;
        left: 0;

        // box model
        width: 20px;
        height: 20px;

        // visual
        border: 2px solid $golden;
        border-radius: 3px;
    }

    &:checked + .form__label-checkbox:before {
        background-color: $golden;
    }

    &:not(:checked) + .form__label-checkbox:after,
    &:checked + .form__label-checkbox:after {
        content: '';

        // positioning
        position: absolute;
        top: 0px;
        left: 0px;

        // box model
        width: 20px;
        height: 20px;

        // visual
        transition: opacity 0.3s;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='32' fill='%23ffffff'%3E%3Cpath d='M0 16.352q0 1.12.768 1.92L8.64 25.92q.768.8 1.92.8t1.92-.8l16.16-15.84q.8-.768.8-1.888t-.8-1.856q-.8-.8-1.92-.8t-1.92.8l-14.24 13.92-5.92-5.792q-.8-.768-1.92-.768t-1.952.768Q0 15.232 0 16.352z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 10px;
    }

/*     &:checked + .form__label-checkbox:after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='29' height='32' fill='%23d6a354'%3E%3Cpath d='M0 16.352q0 1.12.768 1.92L8.64 25.92q.768.8 1.92.8t1.92-.8l16.16-15.84q.8-.768.8-1.888t-.8-1.856q-.8-.8-1.92-.8t-1.92.8l-14.24 13.92-5.92-5.792q-.8-.768-1.92-.768t-1.952.768Q0 15.232 0 16.352z'/%3E%3C/svg%3E");
    } */

    &:not(:checked) + .form__label-checkbox:after {
        // positioning
        transform: scale(0);

        // visual
        opacity: 0;
    }

    &:checked + .form__label-checkbox:after {
        // positioning
        transform: scale(1);

        // visual
        opacity: 1;
    }

    &:disabled:not(:checked) + .form__label-checkbox:before,
    &:disabled::checked + .form__label-checkbox:before {
        // visual
        background-color: #ccc;
    }

    &:disabled:checked + .form__label-checkbox:after {
        // typography
        color: #999999;
    }

    &:disabled + .form__label-checkbox {
        color: #000000;
    }

    &:focus + .form__label-checkbox:before{
        // visual
        border: 2px solid $darkGold;
    }
}

.form__label-checkbox {
    // typography
    font-family: $mainFont;
    font-size: 0.625rem;
    text-transform: uppercase;

    &--investment {
        // typography
        color: $light;
    }
}


.form__policy {
    // box model
    display: inline-block;

    // typography
    color: #a37b3e;

    // visual
    text-decoration: none;  
}

.form__submit-btn {
    // box model
    display: block;
    width: 100%;

    // visual
    cursor: pointer;
}

.form__promo {
    // box model
    padding: 0 10px;
}