.haircut {
    @include atDesktopL {
        // box model
        margin-bottom: 60px;
    }
}

.haircut__header {
    // box model
    margin-bottom: 20px;

    @include atDesktopL {
        // box model
        margin-bottom: 40px;
    }
}

.haircut__header > .section-header {
    // box model
    margin-bottom: 70px;
}

.haircut__images {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -75px;
    padding: 0 20px;

    @include atTablet {
        // box model
        flex-direction: column;
        align-items: flex-start;
        height: 60vw;
        height: calc(60vw - 40px);
        padding: 0 40px;
    }

    @include atDesktopS {
        // box model
        flex-direction: row;
        height: auto;
    }

    @include atDesktopL {
        // box model
        max-width: 1500px;
        margin: 0 auto;
        margin-top: -100px;
    }
}

.haircut__image {
    // box model
    width: 100%;

    // typography
    font-size: 0;
    
    // visual
    background-color: $golden;
    border-radius: 5px;
    overflow: hidden;
}

.haircut__image img {
    // box model
    width: 100%;
    height: 100%;
    
    // visual
    object-fit: cover;
}

.haircut__image--zero {
    // box model
    display: none;

    @include atDesktopS {
        // box model
        display: block;
        flex-basis: 23%;
    }
}

.haircut__image--main {
    // box model
    flex-basis: 100%;
    height: calc(100vw - 40px);
    width: calc(100vw - 40px);
    margin-bottom: 20px;

    @include atTablet {
        // box model
        height: calc(63vw - 40px);
        width: calc(63vw - 40px);
        margin-bottom: 0;
        margin-right: 15px;
    }

    @include atDesktopS {
        // box model
        height: auto;
        width: auto;
        margin-right: 0;
        flex-basis: 23%;
    }
}

.haircut__image--secondary {
    // box model
    flex-basis: 48%;
    flex-basis: calc((100% - 20px) / 2);
    height: calc((100vw - 60px) / 2);
    width: calc((100vw - 60px) / 2);

    @include atTablet {
        // box model
        width: calc(30vw - 30px);
        height: calc(30vw - 30px);
        flex-basis: calc(30vw - 30px);
    }

    @include atDesktopS {
        // box model
        height: auto;
        width: auto;
        flex-basis: 23%;
    }
}

.haircut__content {
    // box model
    padding: 20px;

    @include atTablet {
        // box model
        padding: 40px;
    }

    @include atDesktopS {
        // box model
        display: flex;
        align-items: flex-start;
    }

    @include atDesktopL {
        // box model
        max-width: 1500px;
        margin: 0 auto;
    }
}

.haircut__headline {
    // box model
    margin: 0;
    margin-left: -20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 260px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    text-align-last: left;
    text-transform: uppercase;

    // visual
    border-bottom: 2px solid $golden;
    border-top: 2px solid $golden;

    @include atTablet {
        // box model
        margin-left: -40px;
        width: 400px;

        // typography
        font-size: 2rem;
    }

    @include atDesktopS {
        // box model
        flex-basis: 300px;
        margin-right: 30px;
        padding: 10px 40px;

        // typography
        font-size: 1.5rem;
    }

    @include atDesktopL {
        // box model
        margin-left: 0;
        flex-basis: 450px;
        margin-right: 50px;

        // typography
        font-size: 2rem;
    }
}

.haircut__text {
    @include atDesktopS {
        // box model
        flex-basis: calc(100% - 330px);
    }

    @include atDesktopL {
        // box model
        flex-basis: calc(100% - 500px);
    }
}

.haircut__text h3 {
    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1.75rem;
        text-align: left;
    }

    @include atDesktopS {
        // box model
        margin-top: 0;

        // typography
        font-size: 1.5rem;
    }

    @include atDesktopL {
        // typography
        font-size: 2rem;
    }
}

.haircut__text p {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.75;

    @include atDesktopM {
        // typography
        font-size: 1.125rem;
    }
}