.hero {
    // positioning
    position: relative;

    // box model
    padding: 20px;
    padding-bottom: 60px;

    // visual
    background-color: $dark;
    background-repeat: no-repeat;
    overflow: hidden;
    
    @include atTablet {
        // box model
        padding: 40px;
        padding-bottom: 60px;
    }

    @include atDesktopM {
        // box model
        padding: 50px;
        padding-bottom: 70px;
    }

    @include atDesktopL {
        // box model
        padding: 50px 80px;
        padding-bottom: 70px;
    }

    &--main {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        min-height: 520px;
        max-height: 700px;

        // visual
        background-image: url('./img/bgs/hero-m.jpg');
        background-position: bottom center;
        
        @include atTablet {
            // box model
            min-height: 640px;

            // visual
            background-image: url('./img/bgs/hero-t.jpg');
            background-size: cover;
        }
        
        @include atDesktopS {
            // box model
            max-height: 700px;

            // visual
            background-image: url('./img/bgs/hero.jpg');
        }

        @include atDesktopM {
            // box model
            min-height: 680px;
            max-height: 740px;
        }

        @include atDesktopL {
            // box model
            min-height: 780px;
            height: 100vh;
            max-height: 900px;
        }
    }
    
    &--city {
        // visual
        background-image: url('./img/bgs/city-d.jpg');
        background-size: cover;
        background-position: top left;

        @include atDesktopS {
            // visual
            background-size: cover;
        }
    }
    
    &--branch {
        // visual
        background-image: none;
        background-image: url('./img/bgs/hero-t.jpg');
        background-position: 35% 0%;
        background-size: cover;

        @include atDesktopS {
            // box model
            display: flex;
            flex-direction: column;
            height: 100vh;
            min-height: 580px;
            max-height: 700px;

            // visual
            background-image: url('./img/bgs/hero.jpg');
            background-position: center center;
        }

        @include atDesktopM {
            // box model
            min-height: 680px;
            max-height: 740px;
        }

        @include atDesktopL {
            // box model
            min-height: 720px;
            max-height: 900px;
        }
    }

    &--haircut {
        // visual
        background-image: url('./img/haircut/haircut-m.jpg');
        background-size: cover;
        background-position: center center;

        @include atDesktopS {
            // visual
            background-image: url('./img/haircut/haircut-d.jpg');
        }
    }

    &--investment {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        min-height: 520px;
        max-height: 700px;

        // visual
        background-image: url('./img/investment/investment.jpg');
        background-size: cover;
        background-position: left top;
        
        @include atTablet {
            // box model
            min-height: 640px;
            background-position: center center;
        }
        
        @include atDesktopS {
            // box model
            max-height: 700px;
        }

        @include atDesktopM {
            // box model
            min-height: 680px;
            max-height: 740px;
        }

        @include atDesktopL {
            // box model
            min-height: 780px;
            height: 100vh;
            max-height: 900px;
        }
    }

    &--royal {
        // visual
        background-image: url('./img/royal/royal-m.jpg');
        background-size: cover;
        background-position: center center;

        @include atDesktopS {
            // visual
            background-image: url('./img/royal/royal-d.jpg');
        }
    }

    &--tattoo {
        // visual
        background-image: url('./img/tattoo/tattoo-m.jpg');
        background-size: cover;
        background-position: bottom center;

        @include atDesktopS {
            // visual
            background-image: url('./img/tattoo/tattoo-d.jpg');
        }
    }

    &--beard {
        // visual
        background-image: url('./img/beard/beard-m.jpg');
        background-size: cover;
        background-position: bottom center;

        @include atDesktopS {
            // visual
            background-image: url('./img/beard/beard-d.jpg');
        }
    }

    &--shaving {
        // visual
        background-image: url('./img/shaving/shaving-m.jpg');
        background-size: cover;
        background-position: bottom center;

        @include atDesktopS {
            // visual
            background-image: url('./img/shaving/shaving-d.jpg');
        }
    }

    &--policy {
        // visual
        background-image: url('./img/policy/policy-m.jpg');
        background-size: cover;
        background-position: center center;
        
        @include atDesktopS {
            // visual
            background-image: url('./img/policy/policy-d.jpg');
            background-position: bottom center;
        }
    }

    &--article {
        // box model
        position: relative;

        // visual
        background-size: cover;
        background-position: center top;

        &::before {
            content: "";
            // box model
            display: block;
            position: absolute;

            // positioning
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;

            // visual
            background-image: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 65%, rgba(0,0,0,1) 100%);
        }
    }

    &--news {
        // visual
        position: relative;

        // visual
        background-size: cover;
        background-position: center top;

        @include atTablet {
            // box model
            min-height: 835px;
        }

        &::before {
            content: "";
            // box model
            display: block;
            position: absolute;

            // positioning
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;

            // visual
            background-image: linear-gradient(to left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 65%, rgba(0,0,0,1) 100%);
        }

        @include atTablet {
            // box model
            height: 100vh;
            max-height: 1000px;
        }
    }

    &--404 {
        // box model
        padding-bottom: 60px;

        // visual
        background-image: none;

        @include atTablet {
            // box model
            min-height: 100vh;

            // visual
            background-image: url('./img/bgs/404.jpg');
            background-size: cover;
            background-position: bottom right;
        }

        @include atDesktopS {
            // box model
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .hero__top {
                // box model
                flex-grow: 3;
            }

            .four-o-four {
                // box model
                flex-grow: 7;
            }
        }

        &::after {
            // box model
            display: none;
        }
    }

    &--form-success {
        // box model
        padding-bottom: 60px;

        // visual
        background-image: none;

        @include atTablet {
            // box model
            min-height: 100vh;

            // visual
            background-image: url('./img/bgs/hero-t.jpg');
            background-size: cover;
            background-position: bottom right;
        }
        
        @include atDesktopS {
            // box model
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            // visual
            background-image: url('./img/bgs/generic.jpg');

            .hero__top {
                // box model
                flex-grow: 3;
            }

            .four-o-four {
                // box model
                flex-grow: 7;
            }
        }

        &::after {
            // box model
            display: none;
        }
    }

    &--franchise {
        // box model
        // height: 100vh;
        // min-height: 520px;
        // max-height: 700px;

        // visual
        background-image: url('./img/franchise/hero-fr.jpg');
        background-size: cover;
        background-position: bottom center;

        @include atTablet {
            // box model
            min-height: 640px;
        }

        @include atDesktopS {
            // box model
            max-height: 700px;
        }

        @include atDesktopM {
            // box model
            min-height: 680px;
            max-height: 740px;
        }

        @include atDesktopL {
            // box model
            min-height: 780px;
            height: 100vh;
            max-height: 900px;
        }
    }

    &--family {
        // visual
        background-image: url('./img/bgs/family-m.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &--coupon {
        // positioning
        position: relative;

        // box model
        height: 600px;
        
        // visual
        background-image: url('./img/bgs/coupon-blur.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: unset;
    }

    &--services {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        min-height: 520px;
        max-height: 700px;

        // visual
        background-image: url('./img/bgs/generic.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @include atTablet {
            // box model
            min-height: 640px;
        }

        @include atDesktopS {
            // box model
            max-height: 700px;
        }

        @include atDesktopM {
            // box model
            min-height: 680px;
            max-height: 740px;
        }

        @include atDesktopL {
            // box model
            min-height: 780px;
            height: 100vh;
            max-height: 900px;
        }
    }
}

.hero--coupon .hero__logo {
    // box model
    width: 150px;
    margin-bottom: 20px;

    @include atTablet {
    // box model
    width: 210px;
    }

    @include atDesktopS {
        // box model
        margin-bottom: 40px;
    }

    @include atDesktopL {
        // positioning
        position: absolute;
        left: 735px;

        // box model
        margin-bottom: 0;
        width: 345px;
    }
}

.hero--coupon .hero__content {
    @include atDesktopL {
        // box model
        padding-top: 0;
    }
}

.hero::after {
    content: '';
    
    // positioning
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 7;
    
    // box model
    width: 100%;
    height: 80px;
    
    // visual
    background-image: url('./img/white-grunge.svg');
    background-position: top 2px center;
    background-repeat: repeat-x;
    background-size: 800px;
}

.hero__top {
    // positioning
    position: relative;


    // box model
    display: flex;
    margin-bottom: 20px;
    margin-top: 5px;

    @include atTablet {
        // box model
        margin-top: 10px;
    }
}

.hero__logo {
    // positioning
    position: relative;
    z-index: 999;

    // box model
    display: inline-block;
    vertical-align: top;
    width: 85px;

    @media (max-width: 360px) {
        // box model
        // opacity: 0;
    }

    @include atTablet {
        // positioning
        position: unset;
        
        // box model
        width: 190px;
    }

    @include atDesktopM {
        // box model
        width: 230px;
    }

    @include atDesktopL {
        // box model
        width: 300px;
    }

    @include atFullHD {
        // box model
        width: 360px;
    }
}

.hero__logo--en {
    // box model
    opacity: 0;

    @media (min-width: 360px) {
        // box model
        opacity: 1;
    }
}

.hero__logo img {
    // box model
    width: 100%;
}

.hero__nav {
    // positioning
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 777;

    // box model
    width: 100%;
    max-width: 400px;

    // visual
    opacity: 0.9;
    transition: all 0.3s ease-out;

    &--hidden {
        // positioning
        right: -110%;
    }

    @include atDesktopS {
        // positioning
        position: unset;
        top: 0;
        left: 210px;
        max-width: 100%;
        
        // visual
        visibility: visible;
        opacity: 1;
    }

    @include atDesktopM {
        // positioning
        left: 260px;
    }

    @include atDesktopL {
        // positioning
        left: 320px;
    }

    @include atFullHD {
        // positioning
        left: 400px;
    }
}

.hero__nav-wrapper {
    // positioning
    position: fixed;
    left: 0;
    top: 0;

    // box model
    height: 100%;
    width: calc(100% - 400px);
}

.hero__city-select {
    // TODO: think about another way of positioning

    // positioning
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;

    // box model
    display: flex;
    align-items: flex-start;
    vertical-align: top;
    //padding-left: 85px;
    padding-right: 70px;

    @include atTablet {
        // positioning
        left: auto;
        right: 0;
        z-index: 3;

        // box model
        // padding-right: 60px;
    }

    @include atDesktopS {
        // positioning
        position: unset;

        // box model
        padding-right: 0;
    }
}

.hero__city-select--en {
    // positioning
    left: 0;

    // box model
    display: flex;
    vertical-align: top;
    padding-left: 0;
    padding-right: 70px;
    
    @media (min-width: 360px) {
        // positioning
        left: auto;
        right: 0;
        
        // box model
        padding-left: 85px;
    }
}

.hero__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;

    @include atDesktopS {
        // box model
        justify-content: space-between;
        align-items: stretch;
        flex-grow: 2;
        padding-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &--investment {
        // box model
        flex-direction: column;
        height: 90%;
        padding: 0;

        @include atSmallMobile {
            // box model
            height: auto;
        }

        @include atTablet {
            // box model
            // flex-direction: row;
        }
    }

    // &--franchise {
    //     @include atDesktopS {
    //         // box model
    //         height: 100%;
    //         max-height: 600px;
    //         justify-content: space-between;
    //         flex-direction: column;
    //     }
    // }
}

.hero__franch-container {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    @include atTablet {
        // box model
        min-height: 450px;
    }

    @include atDesktopS {
        // box model
        height: 100%;
        max-height: 600px;
    }

    @include atDesktopL {
        // box model
        min-height: 550px;
    }
}

.hero__content-header {
    // box model
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0 15px;

    // typography
    color: $light;
    text-align: left;

    @include atTablet {
        // box model
        margin-bottom: 0;
    }
}

.hero__content-title {
    margin: 0;
    padding: 0;

    // typography
    color: $light;
    font-size: 1.5rem;
    font-family: $titleFont;
    font-weight: 700;

    @include atTablet {
        // typography
        font-size: 3rem;
    }
}

.hero__content-title span {
    // box model
    display: inline-block;
    margin: 5px 0;

    // typography
    font-size: 3rem;

    // visual
    border-bottom: 3px solid $golden;
    border-top: 3px solid $golden;

    @include atTablet {
    // typography
    font-size: 5rem;
    }
}

.hero__content-subtitle {
    // box model
    margin: 0;
    margin-bottom: 40px;
    max-width: 350px;

    // typography
    font-family: $mainFont;
    font-size: 1.5rem;

    @include atTablet {
        // box model
        max-width: inherit;

        // typography
        font-size: 2.3rem;
    }
}

.hero__content-social {
    // positioning
    position: absolute;
    right: 0;
    bottom: 0;

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    // typography
    text-align: right;
}

.hero__content-social-item {
    // box model
    display: inline-block;
    padding: 0 4px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-weight: 700;
    text-decoration: none;

    // visual
    transition: color 0.25s ease;
    &:hover {
        // typography
        color: $golden;
    }
}

.hero__content--investment .hero__caption {
    // box model
    padding: 0;
    // margin-bottom: 60px;
        
    @include atTablet {
        // box model
        // width: 360px;
    }

    @include atDesktopM {
        // box model
        margin-bottom: 40px;
    }

    @include atDesktopL {
        // box model
        margin-bottom: 60px;
    }
}

.hero__content--investment .hero-caption {
    // positioning
    transform: none;

    // box model
    // margin: 0 auto;
    width: 300px;

    @include atTablet {
        // box model
        margin: 0;
        width: 450px;
    }
    
    @include atDesktopS {
        // box model
        width: 550px;
    }

    @include atDesktopM {
        // box model
        width: 600px;
    }

    @include atDesktopL {
        // box model
        width: 870px;
    }
}

.hero__content--investment .hero-caption__big {
    // typography
    font-size: 2.3rem;

    // visual
    border-bottom: none;
    border-top: none;

    @include atTablet {
        // typography
        font-size: 2rem;
    }

    @include atDesktopS {

        // typography
        font-size: 3rem;
    }

    @include atDesktopM {
        // box model
        margin: 0;
        padding: 0;

        // typography
        font-size: 2.5rem;
        line-height: 1;
    }

    @include atDesktopL {
        // typography
        font-size: 3.5rem;
    }
}

.hero__content--investment .hero-caption__big::after {
    // box model
    display: none;
}

.hero__content--investment .hero__buttons {
    @include atTablet {
    // typography
    text-align: unset;
    }
}

.hero__content--investment .hero-caption__motto--gold {
    // box model
    max-width: initial;

    // typography
    font-size: 1.4rem;
}

.hero__caption {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;

    @include atTablet {
        // box model
        padding-bottom: 40px;
    }

    &--news {
        // box model
        // display: none;

        @include atTablet {
            // box model
            display: block;
        }
    }
}

.hero__coming {
    // box model
    margin: 0 auto;

    @include atTablet {
        // box model
        margin-bottom: 80px;
        margin-top: -50px;
    }

    @include atDesktopS {
    // positioning
    position: absolute;
    left: 50%;
    top: 40%;
    
    // box model
    margin-right: -50%;
    
    // visual
    transform: translate(-50%, -50%);
    z-index: 6;
    }
}

.hero__opening {
    // box model
    margin-left: -20px;
    margin-top: 0;

    @include atTablet {
        // box model
        margin-left: -40px;
    }

    h2 {
        // typography
        font-size: 2rem;
    }
}

.hero__contacts-n-buttons {
    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    @include atDesktopS {
        // box model
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}

.hero__contacts {
    // box model
    padding-bottom: 30px;
    padding-top: 15px;

    @include atTablet {
        // positioning
        position: relative;
        z-index: 4;

        // box model
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 10px 2px;
        padding-bottom: 60px;
        width: 100%;
    }

    @include atDesktopS {
        // box model
        padding-bottom: 0;
        padding-right: 35%;

        &::before {
            content: '';
        
            // positioning
            position: absolute;
            left: -50px;
            bottom: 0;
        
            // box model
            width: 380px;
            height: 4px;
        
            // visual
            background-image: linear-gradient(to left, rgba($golden, 0), rgba($golden, 0.75));
        }
    }

    @include atDesktopL {
        // box model
        padding-bottom: 15px;

        &::before {
            // positioning
            left: -80px;

            // box model
            width: 450px;
        }
    }
}

.hero__countdown {
    // box model
    margin-bottom: 40px;
}

.hero__buttons {
    // box model
    width: 220px;
    margin: 0 auto;
    
    // typography
    // to align items on browsers without flex support
    text-align: center;
    
    @include atTablet {
        // positioning
        position: relative;
        // Needed to allow user clicks through
        z-index: 2;

        // box model
        margin-left: 0;
    }

    @include atDesktopS {
        // box model
        margin: 0;
        margin-top: 60px;

        // typography
        text-align: left;
    }

    &--center {
        @include atDesktopS {
            // box model
            margin: 0 auto;
        }
    }

    &--branch {
        @include atTablet {
            // box model
            margin: 0 auto;
        }

        @include atDesktopS {
            // positioning
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 11;

            // typography
            text-align: center;
        }
    }

    &--franchise {
        @include atTablet {
            // box model
            margin: 0 auto;

            // typography
            text-align: center;
        }
    }

    &--investment {
        // positioning
        position: relative;
        top: -70px;

        @include atTablet {
        // box model
        margin-left: auto;
        margin-right: auto;
        }

        @include atDesktopS {
            // positioning
            top: 0;

            // box model
            margin-left: 0;
        }

        @include atDesktopM {
            // positioning
            top: -70px;

            // box model
            margin-left: auto;
        }

        @include atDesktopL {
            // positioning
            top: -120px;
        }
    }
}

.hero__vacancy {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 40px;

    @include atTablet {
        // positioning
        position: absolute;
        bottom: 270px;
        right: 0;

        // box model
        margin: 0;
        max-width: 250px;
        
        // visual
        z-index: 5;
    }
    
    @include atDesktopS {
        // positioning
        bottom: 0;

        // box model
        padding-bottom: 35px;
    }

    @include atDesktopL {
        // box model
        max-width: 280px;
        padding-bottom: 50px;

        // typography
        text-align: right;
    }
}

.hero__app {
    // box model
    margin: 0 -20px;
    margin-top: 120px;

    @include atTablet {
        // box model
        margin: 0;

        // positioning
        position: absolute;
        bottom: auto;
        right: -40px;
        top: 135px;
        z-index: 1;

        // box model
        width: 55%;
    }

    @include atDesktopS {
        // positioning
        bottom: 0;
        z-index: 4;

        // box model
        width: 50%;
        padding-left: 40px;
    }

    @include atDesktopM {
        // positioning
        right: -50px;

        // box model
        width: 500px;
    }

    @include atDesktopL {
        // positioning
        right: -80px;

        // box model
        width: 540px;
    }
}

.hero__deco {
    // box model
    display: none;

    // visual
    user-select: none;
    
    @include atTablet {
        // positioning
        position: absolute;
        bottom: -70px;
        right: -100px;

        // box model
        display: block;
        width: 640px;
    }

    @include atDesktopS {
        // positioning
        z-index: 2;
        right: 50%;
        transform: translateX(50%);

        // box model
        width: 600px;

        // visual
        pointer-events: none;
    }

    @include atDesktopM {
        // positioning
        bottom: -60px;

        // box model
        width: 720px;
    }

    @include atDesktopL {
        // box model
        width: 900px;
    }

    @include atFullHD {
        // box model
        width: 1000px;
    }
}

.hero__deco img {
    // box model
    width: 100%;
}

.hero__aside {
    // box model
    display: none;

    @include atDesktopS {
        // positioning
        position: absolute;
        right: 0;
        bottom: 0;

        // box model
        display: block;
        width: 50%;
        padding-bottom: 20px;
    }
}

.hero__counter {
    // box model
    margin-bottom: 90px;

    @include atDesktopL {
        // box model
        margin-bottom: 120px;
    }

    @include atDesktopL {
        // box model
        margin-bottom: 150px;
    }
}

.hero__franchise {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    margin-left: auto;
    margin-right: 0;
    width: 80%;
}

.hero__subtitle {
    // box model
    margin: 0;
    margin-bottom: 0.5em;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1rem;
}

.hero__inner-title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2rem;
}

.hero__branches {
    @include atDesktopS {
        // box model
        padding: 0 40px;
        width: calc(100% - 300px);
        max-width: 920px;
    }
}

.hero__branches-content {
    @include atTablet {
        // box model
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        margin: 0 -10px;
    }
}

.hero__branches-title {
    // box model
    margin-bottom: 40px;

    // typography
    color: $light;
    font-family: $titleFont;
    text-align: center;

    @include atDesktopS {
        // typography
        font-size: 2rem;
    }

    @include atDesktopL {
        // box model
        margin-bottom: 60px;

        // typography
        font-size: 2.5rem;
    }

    & em {
        // typography
        color: $golden;
        font-style: normal;
    }
}

.hero__investment {
    // box model
    display: none;
    
    @include atSmallMobile {
        // box model
        // display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 40px;
    }
    
    @include atTablet {
        // box model
        margin-bottom: 20px;
        margin-top: 0;
    }
}

.hero__features {
    // box model
    display: none;

    @include atDesktopM {
        // box model
        display: block;
    }
}

.hero__rating {
    // positioning
    // position: absolute;
    left: 0;
    right: 0;
    top: 595px;

    // box model
    display: flex;
    width: 200px;
    height: 50px;
    margin: auto;

    @include atTablet {
        // positioning
        top: 430px;

        // box model
        margin: inherit;
    }

    @include atDesktopS {
        // positioning
        top: 120px;

        // box model
        width: 260px;
        height: 60px;
    }

    @include atDesktopM {
        // positioning
        top: 115px;

        // box model
        width: 300px;
        height: 85px;
    }

    @include atDesktopL {
        // positioning
        top: 215px;
    }

    @include atFullHD {
        // positioning
        top: 195px;
    }
}