.hero-caption {
    // box model
    width: 200px;

    // typography
    // TODO: change to adaptive
    // font-size: 1rem;

    // visual
    transform: skewY(-15deg);
    user-select: none;

    @include atTablet {
        // box model
        width: 260px;
    }

    &--coupon {
        // box model
    width: 100%;
    margin-left: auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-top: 20px;

    // visual
    background-image: url('./img/bgs/coup-caption.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

        @include atTablet {
            // box model
            margin-bottom: 80px;
            padding-bottom: 30px;
            padding-left: 45px;
            padding-top: 30px;
        }
    }
}

.hero-caption--coupon .hero-caption__big {
    @include atDesktopS {
    // typography
    font-size: 3.5rem;
    }
}

.hero-caption--city {
    // box model
    margin-top: -60px;
    margin-bottom: 100px;

    @include atDesktopS {
        // box model
        margin-top: -85px;
        margin-bottom: 50px;
    }
    
    @include atDesktopM {
        // box model
        margin-top: -80px;
    }

    @include atDesktopL {
        // box model
        margin-top: -75px;
    }
}

.hero-caption__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;
}

.hero-caption__title--hidden {
    // box model
    display: none;

    // typography
    font-size: 0;

    .hero-caption__big {
        // typography
        font-size: 0;
    }
}

.hero-caption--franch {
    // box model
    width: 245px;

    @include atDesktopL {
        // box model
        width: 478px;
    }
}

.hero-caption__title--franch  {
    // typography
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1;

    @include atSmallMobile {
    // typography
    font-size: 2.5rem;
    line-height: 47px;
}

    @include atDesktopL {
        // typography
        font-size: 4rem;
        line-height: 80px;
    }
}

.hero-caption__title-small {
    // box model
    display: flex;
    max-width: 195px;

    @include atSmallMobile {
        // box model
        max-width: 235px;

        // typography
        line-height: 28px;
    }

    @include atDesktopL {
        // typography
        line-height: 44px;
        max-width: 100%;
    }
}

.hero-caption__title-small::after {
    content: "";

    // box model
    display: block;
    flex-grow: 1;
    flex-shrink: 20;
    height: 4px;
    margin-left: 0.4em;
    align-self: center;

    // visual
    background-color: $golden;
}

.hero-caption__title-big {
    // typography
    font-size: 2rem;

    @include atSmallMobile {
    // typography
    font-size: 3.75rem;
    }

    @include atDesktopL {
        // typography
        font-size: 6rem;
        line-height: 69px;
    }
}

.hero-caption__subtitle {
    // box model
    display: inline-block;
    margin: 0;
    margin-bottom: 5px;
    padding-bottom: 5px;
    
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.2rem;
    
    // visual
    border-bottom: 4px solid $golden;
    
    @include atSmallMobile {
        // box model
        margin-bottom: 10px;
        padding-bottom: 10px;

        // typography
        font-size: 1.5rem;
        line-height: 28px;

    }

    @include atDesktopL {
        // box model
        width: 100%;

        // typography
        font-size: 2.25rem;
        line-height: 36px;
    }
}

.hero-caption__subtitle span {
    // typography
    color: $golden;
    font-size: 1.2rem;

    @include atSmallMobile {
        // typography
        font-size: 1.5rem;
        font-weight: 700;
    }
}

.hero-caption__cta {
    // box model
    margin: 0;
    max-width: 200px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.2rem;

    @include atSmallMobile {
        // typography
        font-size: 1.5rem;
        line-height: 28px;
    }

    @include atDesktopL {
        // typography
        font-size: 2.25rem;
        line-height: 36px;
    }
}

.hero-caption__cta span {
    // typography
    color: $light;
}

.hero__center {
    // typography
    text-align: center;
}

.hero-caption__big {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
    margin-top:7px;
    padding: 5px 0;

    // typography
    font-family: $titleFont;
    font-size: 2.25rem;
    line-height: 1;
    text-transform: uppercase;

    // visual
    border-bottom: 3px solid $golden;
    border-top: 3px solid $golden;

    @include atTablet {
        // typography
        font-size: 3.5rem;
    }

    @include atDesktopM {
        // typography
        font-size: 4rem;
    }

    @include atDesktopL {
        // typography
        font-size: 5rem;
    }

    &--haircut {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/scissors.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--investment {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/investment.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--vacancy {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -95%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/barber.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
            transform: skewX(15deg);
        }
    }

    &--royal {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/shavette2.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--tattoo {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/tattoo-machine.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--news {
        @include atTablet {
        // typography
        font-size: 2.4rem;
        }

        @include atDesktopM {
            // typography
            font-size: 3rem;
        }

        @include atDesktopL {
            // typography
            font-size: 3.5rem;
        }
    }
}

.hero-caption__motto {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;
    line-height: 1.5;

    @include atTablet {
        // typography
        font-size: 1.125rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.25rem;
    }

    &--gold {
        // box model
        max-width: 165px;

        // typography
        color: $golden;
        font-size: 1.3rem;

        @include atTablet {
            // box model
            max-width: 235px;

            // typography
            font-size: 1.8em;
        }
    }
}

.hero-caption__location {
    // box model
    margin: 0;
    display: none;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1rem;

    // border-top: 3px solid $golden;

    @include atTablet {
        // box model
        display: block;

        // typography
        font-size: 2rem;
    }

    @include atDesktopS {
        // typography
        font-size: 1.75rem;
    }

    @include atDesktopL {
        // typography
        font-size: 2rem;
    }
}

.hero-caption__reference {
    // box model
    display: none;

    // positioning
    position: absolute;
    right: 0;
    
    @include atTablet {
        // box model
        display: block;
        bottom: 50px;
    }

    @include atDesktopS {
        // positioning
        bottom: 70px;
    }

    @include atDesktopM {
        // positioning
        bottom: 90px;
    }

    @include atDesktopL {
        // positioning
        bottom: 120px;
    }
}

.hero-caption__reference .reference-text {
    // box model
    margin-bottom: 10px;

    &:last-child {
        // box model
        margin-bottom: 0;
    }
}