.hero-caption {
    // box model
    width: 200px;

    // typography
    // TODO: change to adaptive
    // font-size: 1rem;

    // visual
    transform: skewY(-15deg);
    user-select: none;

    @include atTablet {
        // box model
        width: 260px;
    }

    &--coupon {
        // box model
    width: 100%;
    padding-bottom: 20px;
    margin-left: auto;
    margin-bottom: 70px;
    padding-left: 30px;
    padding-top: 20px;

    // visual
    background-image: url('./img/bgs/coup-caption.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    }
}

.hero-caption--city {
    // box model
    margin-top: -60px;
    margin-bottom: 100px;

    @include atDesktopS {
        // box model
        margin-top: -85px;
        margin-bottom: 50px;
    }
    
    @include atDesktopM {
        // box model
        margin-top: -80px;
    }

    @include atDesktopL {
        // box model
        margin-top: -75px;
    }
}

.hero-caption__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.5;
}

.hero-caption__title--hidden {
    // box model
    display: none;

    // typography
    font-size: 0;

    .hero-caption__big {
        // typography
        font-size: 0;
    }
}

.hero-caption__big {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
    margin-top:7px;
    padding: 5px 0;

    // typography
    font-family: $titleFont;
    font-size: 2.25rem;
    line-height: 1;
    text-transform: uppercase;

    // visual
    border-bottom: 3px solid $golden;
    border-top: 3px solid $golden;

    @include atTablet {
        // typography
        font-size: 3.5rem;
    }

    @include atDesktopM {
        // typography
        font-size: 4rem;
    }

    @include atDesktopL {
        // typography
        font-size: 5rem;
    }

    &--haircut {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/scissors.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--investment {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/investment.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--vacancy {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -95%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/barber.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
            transform: skewX(15deg);
        }
    }

    &--royal {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/shavette2.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--tattoo {
        &::after {
            content: '';

            // positioning
            position: absolute;
            top: 0;
            right: -100%;

            // box model
            height: 100%;
            width: 100%;

            // visual
            background-image: url('./img/icons/tattoo-machine.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }
    }

    &--news {
        @include atTablet {
        // typography
        font-size: 2.4rem;
        }

        @include atDesktopM {
            // typography
            font-size: 3rem;
        }

        @include atDesktopL {
            // typography
            font-size: 3.5rem;
        }
    }
}

.hero-caption__motto {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;
    line-height: 1.5;

    @include atTablet {
        // typography
        font-size: 1.125rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.25rem;
    }
}

.hero-caption__location {
    // box model
    margin: 0;
    display: none;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1rem;

    // border-top: 3px solid $golden;

    @include atTablet {
        // box model
        display: block;

        // typography
        font-size: 2rem;
    }

    @include atDesktopS {
        // typography
        font-size: 1.75rem;
    }

    @include atDesktopL {
        // typography
        font-size: 2rem;
    }
}