.in-countries {
    // box model
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 140px;
    padding: 0 20px;

    @include atTablet {
        // box model
        max-width: 570px;
        margin-bottom: 170px;
        padding: 0;
    }

    @include atDesktopS {
        // box model
        max-width: 850px;
        margin-bottom: 120px;
    }

    @include atDesktopM {
        // box model
        max-width: 1100px;
    }

    @include atDesktopL {
        // box model
        max-width: 1140px;
    }
}

.in-countries__title {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 36px;
    font-weight: 700;
}

.in-countries__slider {
    // positioning
    position: relative;
    z-index: 2;
}

.in-countries__slider-container {
    // positioning
    position: relative;
}

.in-countries__slider-item {
    // positioning
    position: relative;
}

.in-countries__slider-item a {
    // box model
    display: block;

    // typography
    text-align: center;

    @include atDesktopM {
        // typography
        text-align: left;
    }
}

.in-countries__slider-item img {
    // box model
    display: block;
    width: 360px;
    height: 360px;
    object-fit: cover;
    margin-right: auto;
    margin-left: auto;

    @include atDesktopS {
        // box model
        max-width: 100%;
    }
}

.in-countries__slider-link {
    // positioning
    position: relative;

    // box model
    display: block;

    // typography
    text-align: center;
    text-decoration: none;

    @include atDesktopM {
        // typography
        text-align: left;
    }
}

.in-countries__slider-descr {
    // positioning
    position: absolute;
    top: 0;
    left: 0;

    // box model
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.in-countries__slider-header {
    // positioning
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
    padding: 15px 20px;
    align-items: center;

    // visual
    background-color: rgba(0, 0, 0, 0.7);

    @include atTablet {
        width: 260px;
        padding: 15px 10px;
    }

    @include atDesktopS {
        // box model
        width: 360px;
        padding: 20px;
    }
}

.in-countries__slider-title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-weight: 500;
    font-size: 24px;
    
    @include atDesktopS {
        // typography
        font-size: 30px;
    }
}

.in-countries__slider-subtitle {
    // box model
    display: none;
    margin: 0;

    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 16px;
}

.in-countries__slider-count {
    // box model
    display: flex;
}

.in-countries__slider-quantity {
    // box model
    margin: 0;
    max-width: 80px;
    margin-right: 10px;

    // typography
    color: $golden;
    font-family: $titleFont;
    line-height: 17px;
    font-size: 0.6rem;
    text-align: right;
    
    @include atDesktopS {
        // typography
        font-size: 1rem;

    }
}

.in-counties__slider-number {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 3rem;
    line-height: 34px;
}

.in-countries__slider-controls {
    // positioning
    position: absolute;
    z-index: 1;
    bottom: -80px;
    left: 0;

    // box model
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    
    @include atTablet {
        // positioning
        bottom: -70px;
    }

    @include atDesktopS {
        // positioning
        top: 0;
        left: -50px;
        bottom: auto;

        // box model
        display: flex;
        justify-content: space-between;
        width: calc(100% + 100px);
        height: 100%;
        margin-left: 0;
    }

    @include atDesktopL {
        // positioning
        left: -50px;

        // box model
        width: calc(100% + 100px);
    }
}

.in-countries__slider-button {
    // box model
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

    // typography
    font-size: 0;

    // visual
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: opacity 0.25s ease;
    -webkit-tap-highlight-color: transparent;

        &:hover {
            // visual
            opacity: 0.7;
        }

    &:before {
        // positioning
        transform: translateY(-10px);

        // box model
        height: 100%;
        width: 100%;

        // typography
        color: $golden;
        font-family: $titleFont;
        font-size: 48px;
    }

    &--prev {
        &:before {
            content: '<';
        }
    }

    &--next {
        &:before {
            content: '>';
        }
    }
}