.include-item {
    // box model
    width: 100%;
    max-width: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 60px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        flex-basis: 45%;
    }

    @include atDesktopM {
        // box model
        flex-basis: 32%;
    }
}

.include-item__icon {
    // box model
    width: 64px;
    margin-bottom: 10px;

    @include atTablet {
        // box model
        width: 80px;
    }
}

.include-item__icon img {
    // box model
    width: 100%;
}

.include-item__title {
    // box model
    margin: 0;

    // typography
    color: $darkGold;
    font-family: $mainFont;
    font-size: 0.85rem;
    line-height: 2;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.include-item__text {
    // box model
    margin: 0;
    max-width: 250px;

    // typography
    font-size: 1rem;
    line-height: 24px;
    font-family: $mainFont;
    color: #898989;
}