.invest-info {
    // positioning
    position: relative;
    
    // box model
    padding: 0 50px;
    margin-bottom: 50px;

    @include atDesktopL {
        // box model
        padding: 0 80px;
    }
}

.invest-info::before {
    content: "";

    // positioning
    position: absolute;
    top: -10px;
    left: 0;
    z-index: 7;
    
    // box model
    width: 100%;
    height: 80px;
    
    // visual
    background-image: url('./img/white-grunge.svg');
    background-position: top 2px center;
    background-repeat: repeat-x;
    background-size: 800px;
    transform: rotateX(180deg);
}

.invest-info__content {
    // box model
    display: flex;
    justify-content: space-between;
    padding: 70px 120px;
    padding-top: 90px;

    // visual
    background-color: #fdf6ee;
}