.invest-info {
    // box model
    padding: 0 50px;
    margin-bottom: 50px;

    @include atDesktopL {
        // box model
        padding: 0 80px;
    }
}

.invest-info__content {
    // box model
    display: flex;
    justify-content: space-between;
    padding: 70px 120px;

    // visual
    background-color: #fdf6ee;
}