.invest-form-container {
    // positioning
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    transform: translateX(100%);

    // box model
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-height: 1000px;
    width: 100%;
    padding: 0 20px;

    // visual
    background-color: $dark;
    background-image: url('./img/investment/chair-correct.jpg');
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url('./img/investment/chair-correct.jpg') no-repeat center center;
    background-size: cover;
    transition: transform 0.35s ease-in-out;

    &--active {
        // positioning
        transform: translateX(0);
    }

    @include atSmallMobile {
        // box model
        padding: 0;
    }

    @include atTablet {
        // box model
        width: 675px;
    }
}

.invest {
    // positioning
    position: relative;

    
}

.invest-content {
    // positioning
    position: relative;

    // box model
    width: 100%;
    max-width: 330px;
}

.invest__close-icon {
    // positioning
    position: absolute;
    top: -100px;
    right: 15px;

    @include atSmallMobile {
        // positioning
        top: -170px;
    }
    @include atTablet {
        // positioning
        top: -170px;
        right: -45px;
    }
}

.invest__header {
    // box model
    width: 100%;
    max-width: 330px;
    margin-bottom: 10px;

    @include atTablet {
        // box model
        margin-bottom: 60px;
    }
}

.invest__title {
    // box model
    margin: 0;
    margin-bottom: 10px;

    // typography
    font-family: $titleFont;
    font-size: 24px;
    line-height: 1;
    color: $light;

    @include atSmallMobile {
        // typography
        font-size: 36px;
    }

    @include atTablet {
        // box model
        margin-bottom: 15px;
    }
}

.invest__subtitle {
    // box model
    margin: 0;

    // typography
    font-family: $titleFont;
    font-size: 16px;
    line-height: 1;
    color: $golden;

    @include atSmallMobile {
        // typography
        font-size: 24px;
        line-height: 30px;
    }
}

.invest__input-container {
    // box model
    margin-bottom: 20px;

    &:last-child {
        // box model
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }
}

.invest__input-container .form__label-checkbox {
    // typography
    color: $light;
}

.invest__input {
    // box model
    width: 100%;
    padding: 15px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 14px;
    text-transform: uppercase;

    // visual
    background-color: $light;
    border: none;
    border-radius: 3px;
}

.invest__input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: $golden;
    font-weight: 400;
}

.invest__input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $golden;
    font-weight: 400;
    opacity: 1;
}

.invest__input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $golden;
    font-weight: 400;
    opacity: 1;
}

.invest__input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $golden;
    font-weight: 400;
}

.invest__input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: $golden;
    font-weight: 400;
}

.invest__input::placeholder {
    /* Most modern browsers support this now. */
    color: $golden;
    font-weight: 400;
}

.invest__input-policy {
    // box model
    margin: 0;

    // typography
    font-family: $mainFont;
    font-size: 10px;
    //line-height: 48px;
    color: $light;
    text-transform: uppercase;

    @include atSmallMobile {
        // box model
        font-size: 10px;
        line-height: 48px;
    }
}

.invest__input-policy-link {
    // typography
    color: $golden;
    text-decoration: none;
}

.invest__input-checkbox {
    // positioning
    position: absolute;
    left: -9999px;

    &:not(:checked) + .invest__input-policy,
    &:checked + .invest__input-policy {
        // positioning
        position: relative;

        // box model
        padding-left: 20px;

        // visual
        cursor: pointer;
    }

    &:not(:checked) + .invest__input-policy:before,
    &:checked + .invest__input-policy:before {
        content: "";

        // positioning
        position: absolute;
        top: 0;
        left: 0;

        // box model
        width: 12px;
        height: 12px;

        // visual
        background-color: $golden;
    }

    &:not(:checked) + .invest__input-policy:after,
    &:checked + .invest__input-policy:after {
        content: url(img/icons/check.svg);

        // positioning
        position: absolute;
        top: 0;
        left: 2px;
        
        // visual
        border-radius: 3px;
        transition: opacity 0.25s;
    }

    &:not(:checked) + .invest__input-policy:after {
        // positioning
        transform: scale(0);

        // visual
        opacity: 0;
    }

    &:checked + .invest__input-policy:after {
        // positioning
        transform: scale(1);

        // visual
        opacity: 1;
    }

    &:disabled:not(:checked) + .invest__input-policy:before,
    &::disabled::checked + .invest__input-policy::before {
        // visual
        background-color: #cccccc;
        border-color: #cccccc;
    }

    &::disabled::checked + .invest__input-policy:after {
        // typography
        color: #999999;
    }

    &::disabled + .invest__input-policy {
        //color
        color: #aaaaaa;
    }
}

#invest__input-submit {
    // visual
    cursor: pointer;
}