.investment-features {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 740px;
    //padding-left: 55px;

    @include atDesktopL {
        // box model
        max-width: 750px;
    }
}

.investment-features__item {
    // positioning
    position: relative;
    z-index: 5;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 370px;
    min-height: 80px;

    // visual
    overflow: hidden;

    @include atDesktopS {
        // box model
        min-height: 120px;
    }

    @include atDesktopL {
        // box model
        min-height: 150px;
    }

    &:first-child {
        &:before {
            // visual
            background-image: url('./img/icons/employee.svg');
        }
        
    }

    &:nth-child(2) {
        &:before {
            // visual
            background-image: url('./img/icons/investment-new.svg');
        }
    }

    &:nth-child(3) {
        &:before {
            // visual
            background-image: url('./img/icons/change.svg');
        }
    }

    &:last-child {
        &:before {
            // visual
            background-image: url('./img/icons/online-payment-new.svg');
        }
    }
}

.investment-features__item:before {
    content: "";

    // positioning
    position: absolute;
    left: 10px;
    top: 2px;
    transform: rotate(-15deg);
    z-index: -1;
    
    // box model
    display: block;
    width: 100px;
    height: 100px;
    
    // visual
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.4;
    
    @include atDesktopS {
        // positioning
        top: 55px;

        // box model
    }

    @include atDesktopL {
        // box model
        width: 120px;
        height: 120px;
    }
}

.investment-features__item::after {
    content: "";

    // box model
    display: block;
    width: 70%;
    height: 2px;
    margin-left: -25%;
    margin-top: 15px;

    // visual
    background-color: rgba($bianca, 0.3);
}

.investment-features__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.2rem;
    text-transform: uppercase;
    
    @include atDesktopS {
        // typography
        font-size: 1.3rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.7rem;
    }
}

.investment-features__title span {
    // typography
    color: $golden;
    font-size: 1rem;

    @include atDesktopS {
        // typography
        color: $light;
    }

    @include atDesktopL {
        // typography
        font-size: 1.3rem;
    }
}

.investment-features__subtitle {
    // box model
    display: none;
    margin: 0;

    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 0.85rem;

    @include atDesktopS {
        // box model
        display: block;
    }
}

.investment-features__title,
.investment-features__subtitle {
    margin-left: 60px;
}