.investor-comment {
    // box model
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.investor-comment__image {

}

.investor-comment__img {

}

.investor-comment__user {

}

.investor-comment__title {

}

.investor-comment__info {

}

.investor-comment__info-text {
    
}