.landing-info {
    // box model
    margin-bottom: 60px;

    // visual
    background-image: linear-gradient(to bottom, $light, $bianca);

    @include atDesktopS {
        // box model
        display: flex;
    }
}

.landing-info__header {
    // box model
    margin-bottom: 90px;
}

.landing-info__content {
    // box model
    padding: 20px;
    
    @include atDesktopS {
        // box model
        padding-left: 150px;
        padding-right: calc(100% - 1250px);
    }
}

.landing-info__title {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
}

.landing-info__subtitle {
    // typography
    color: $darkGold;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.5;
}

.landing-info__text {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-weight: 600;
    line-height: 1.5;
}

.landing-info__text span {
    // typography
    text-transform: uppercase;
}