.language-select {
    // positioning
    position: relative;
    z-index: 3;

    // box model
    width: 32px;
}

.language-select:hover .language-select__current{
    // visual
    background-color: $golden;
}

.language-select__current {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    // typography
    color: $light;
    font-family: $titleFont;
    text-align: center;

    // visual
    border: 2px solid $golden;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.25s ease-out;
    user-select: none;
}

.language-select__popup {
    // positioning
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    // box model
    padding: 30px 40px;
    // padding-bottom: 15px;

    // visual
    background-color: $darkGold;
    border-radius: 16px;
    // transition: all 0.25s ease-out;
    overflow: hidden;

    @include atTablet {
        // positioning
        left: auto;
        right: 0;
    }
}

.language-select__popup--hidden {
    // box model
    opacity: 0;
    visibility: hidden;
}

.language-select ul {
    // box model
    margin: 0;
    padding: 0;

    // list
    list-style: none;
}

.language-select li {
    // box model
    padding: 5px 0;
}

.language-select a {
    // typography
    color: $light;
    font-family: $titleFont;
    text-decoration: none;
}

.language-select a:hover {
    // typography
    color: $dark;
}
