.location-selector {
    // positioning
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

    // box model
    width: 100%;

    // visual
    background-color: $light;
    transition: all 0.3s ease-out;
    overflow-x: hidden;
    overflow-y: scroll;
}

.location-selector--hidden {
    // positioning
    left: -110%;

    // box model
    visibility: hidden;
}

.location-selector__header {
    // box model
    padding: 25px;
    padding-bottom: 0;

    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        padding-bottom: 30px;
    }
}

.location-selector__caption {
    // box model
    display: none;
    
    @include atDesktopS {
        // box model
        display: flex;
        //flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
        width: 385px;
        //padding-right: 30px;
    }
}

.location-selector__caption img {
    // positioning
    position: relative;
    z-index: 2;
    
    // box model
    width: 135px;
    padding-top: 5px;
    padding-bottom: 10px;
    
    @include atDesktopM {
        // box model
        // width: 155px;
        margin-right: 25px;
    }
}

.location-selector__intro {
    // box model
    width: 220px;
    margin: 0;
    padding: 0.5em 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1rem;
    line-height: 1.25;

    em {
        // typography
        color: $golden;
        font-style: normal;
    }

    @include atDesktopS {
        // box model
        // display: none;
    }
}

.location-selector__fast-nav {
    // box model
    padding-right: 45px;

    @include atDesktopS {
        // box model
        padding-right: 65px;
        width: 400px;
    }
}

.location-selector__places {
    // box model
    margin: 0 -25px;
    margin-right: -70px;

    @include atDesktopS {
        // box model
        margin: 0;
        padding: 0;
        padding-top: 10px;
    }
}

.location-selector__close {
    // box model
    position: fixed;

    // positioning
    top: 25px;
    right: 20px;
    z-index: 1000;

    // visual
    transition-delay: all 0.3s;

    &--hidden {
        // positioning
        position: absolute;

        // visual
        transition-delay: all 0;
    }

    @include atDesktopS {
        top: 65px;
        right: 40px;
    }
}