.location-logo {
    // positioning
    position: relative;

    // box model
    // margin-right: 20px;

    // visual
    transition: all 0.25s ease-out;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;

    transition: filter 0.25s ease;
}

.location-logo:first-child {
    @include atDesktopS {
        // box model
        margin-right: 10px;
    }
}

.location-logo:last-child {
    @include atDesktopS {
        // box model
        margin-right: 10px;
    }
}

.location-logo:active,
.location-logo__out:active {
    // visual
    filter: drop-shadow(1px 1px 0px orange);
}

.location-logo:hover {
    // visual
    filter: drop-shadow(1px 1px 0px orange);
}

.location-logo__image {
    // box model
    height: 45px;

    @include atDesktopS {
        // box model
        height: 85px;
    }
}

.location-logo__image img {
    // box model
    height: 100%;
}

.location-logo__wrapper {
    // box model
    max-width: 160px;
    width: 100%;

    @include atDesktopS {
        // box model
        display: flex;
        max-width: 325px;
    }

    @include atDesktopL {
        // box model
        max-width: 410px;
    }
}

.location-logo__box {
    // box model
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
    @include atDesktopS {
        // box model
        margin-bottom: 0;
        order: 1;
    }
}

.location-logo__subtitle {
    // box model
    margin: 0;
    order: 0;

    // typography
    color: $lightGrey;
    font-family: $titleFont;
    font-size: 0.625rem;
    text-align: center;
    text-transform: uppercase;

    @include atDesktopS {
        // box model
        margin-right: 30px;
        align-self: center;

        // typography
        font-size: 0.8rem;
        text-align: right;
    }

    @include atDesktopL {
        // typography
        font-size: 1rem;
    }
}

.location-logo__subtitle span {
    // typography
    color: $golden;
}

.location-logo__text {
    // positioning
    position: absolute;
    bottom: 0;
    right: 1em;

    // box model
    margin: 0;

    // typography
    color: $black;
    font-family: $titleFont;
}
