.location-list {
    // box model
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    // visual
    list-style-type: none;
}

.location-list__city {
    // box model
    margin: 0;
    margin-bottom: 0.85em;
    padding: 0;

    // typography
    font-family: $titleFont;
    font-size: 1.25rem;

    & em {
        // visual
        font-family: $titleFont;
        color: $golden;
    }
}

.location-list__item {
    // box model
    padding-left: 15px;
    margin-bottom: 0.25em;

    // positioning
    position: relative;
    z-index: 1;

    // typography
    font-size: 0.85rem;
    list-style: none;

    @include atTablet {
        // box model
        margin-right: 40px;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 10px;
        // top: 50%;
        // transform: translateY(-50%);
    
        // box model
        display: block;
        height: 8px;
        width: 8px;
    
        // visual
        background-color: $golden;
        border-radius: 50%;
    }
}

.location-list__item a {
    // box model
    display: inline-block;
    padding: 7px 12px;

    // typography
    color: $darkGold;
    font-family: $mainFont;
    // font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    
    // visual
    border-radius: 20px;
    overflow: hidden;
    // transition: all 0.25s linear;

    @include atTablet {
        // box model
        // max-width: 240px;
        max-width: 95%;
    }
}

.location-list__item a:hover {
    // positioning
    position: relative;
    z-index: 9;

    // box model
    max-width: unset;

    // typography
    color: $light;
    text-overflow: unset;

    // visual
    background-color: $golden;
}

.location-list__metro span{
    // positioning
    position: relative;
    left: 2px;
    top: -4px;

    // box model
    display: inline-block;
    vertical-align: middle;
    padding: 3px 10px;

    // typography
    font-family: $mainFont;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    &::before {
        content: 'м';

        // positioning
        position: relative;
        top: -1px;

        // box model
        display: inline-block;
        vertical-align: middle;
        height: 14px;
        width: 14px;
        margin-right: 4px;
        padding: 2px;
        padding-top: 1px;

        // typography
        font-weight: 700;
        line-height: 1;
        text-align: center;
        text-transform: none;

        border-radius: 50%;
    }
}

.location-list__metro.piter span {
    &::before {
        // typography
        color: $blue;

        // visual
        border: 1px solid rgba($blue, 0.5);
    }
}

.location-list__metro.moscow span {
    &::before {
        // typography
        color: $red;

        // visual
        border: 1px solid rgba($red, 0.5);
    }
}

.location-list--city {
    @include atTablet {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .location-list__item {
        @include atTablet {
            // box model
            flex-basis: 40%;
            width: 40%;
        }

        @include atDesktopS {
            // box model
            flex-basis: 280px;
            width: 280px;
        }
    }
}
