.main-nav {
    // positioning
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    // box model
    display: flex;
    justify-content: center;
    align-items: center;

    // visual
    background-color: $dark;

    @include atDesktopS {
        // box model
        justify-content: flex-start;

        // positioning
        position: relative;
        

        // visual
        background-color: transparent;
    }
}

.main-nav__list {
    // box model
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;

    @include atDesktopS {
        // box model
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: flex-start;
        justify-content: center;
        // padding-left: 0;
        padding-left: 40px;
    }

    @include atDesktopM {
        // box model
    }
}

.main-nav__item {
    // box model
    margin: 20px;

    // typography
    text-align: center;

    // visual
    list-style-type: none;

    @include atDesktopS {
        // box model
        margin: 0;
    }
}

.main-nav__link {
    // box model
    margin-right: 20px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    transition: all 0.25s ease-out;

    @include atDesktopS {
        // typography
        font-size: 1.125rem;
    }
    
    @include atDesktopL {
        // box model
        margin-right: 40px;

        // typography
        font-size: 1.3rem;
    }

    &--scale {
        @include atDesktopM {
            // typography
            font-size: 1.125rem;
        }
        
        @include atDesktopL {
            // typography
            font-size: 1.3rem;
        }
    }
}

.main-nav__link:hover {
    color: $golden;
}
