.member {
    // positioning
    position: relative;

    // box model
    width: 30%;
    height: 280px;
    margin-bottom: 30px;

    // visual
    border-radius: 5px;
    overflow: hidden;
}

.member__header {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    // box model
    height: 80px;
    padding: 20px;
    
    // typography
    text-align: right;
}

.member__header::before {
    content: '';

    // positioning
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    transform: skewY(-15deg);
    z-index: -1;

    // box model
    height: 135px;

    // visual
    background-image: url('./img/dark-h-grunge.svg');
    background-size: cover;
}

.member__name {
    // box model
    margin: 0;
    
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
}


.member__position {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.85rem;
}

.member__photo {
    // box model
    height: 100%;
}

.member__photo img {
    // box model
    height: 100%;
    width: 100%;
    object-fit: cover;
}