.member {
    // positioning
    position: relative;

    // box model
    height: 330px;
    width: 100%;
    max-width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;

    @include atTablet {
        // box model
        width: 30%;
        max-width: 100%;
    }

    @include atDesktopS {
        // box model
        max-width: 250px;
        margin: 20px;
        margin-bottom: 60px;
    }
}

.member__header {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    // box model
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // flex-direction: column;
    // justify-content: flex-end;
    height: 120px;
    padding: 20px;

    // typography
    text-align: left;

    // visual
    background-image: linear-gradient(to top, $dark, transparent);
}

.member__name {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
}


.member__position {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.85rem;
}

.member__count {
    // positioning
    position: relative;

    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    text-align: right;
}

.member__count::before {
    content: "";

    // positioning
    position: absolute;
    bottom: 4px;
    left: 0;

    // box model
    display: block;
    width: 14px;
    height: 14px;

    // visual
    background-image: url('./img/icons/star-light.svg');

}

.member__review {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.85rem;
    text-decoration: none;
    transition: ease-in-out 0.25s;

    // visual
    border: none;
    background: none;
}

.member__review:hover {
    // typography
    color: $light;
}

.member__photo {
    // box model
    height: 100%;

    // visual
    background-color: $darkGold;
    background-image: url('./img/team/placeholder.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 5px;
    overflow: hidden;
}

.member__photo img {
    // box model
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.member__top {
    // positioning
    position: absolute;
    bottom: 0;
    right: 0;

    // box model
    display: flex;
    height: 85px;
    width: 85px;

    // visual
    background-image: url('./img/icons/top-barber.svg');
}

.member__premium {
    // positioning
    position: absolute;
    bottom: 1px;
    right: 1px;

    // box model
    display: flex;
    height: 85px;
    width: 85px;

    // visual
    background-image: url('./img/icons/premium-barber.svg');
}

.member__feedback {
    // positioning
    position: absolute;
    right: 0;
    top: 0;
    z-index: 7;

    // box model
    margin: 20px;
}

// .member__rating {
//     // positioning
//     position: absolute;
//     bottom: -40px;
//     left: 0;
//     right: 0;
//     z-index: 2;

//     // box model
//     width: 150px; //5 stars
//     // width: 120px; //4 stars
//     // width: 90px; //3 stars
//     // width: 60px; //2 stars
//     // width: 30px; //1 star
//     height: 30px;
//     margin: auto;

//     // visual
//     background-image: url('./img/icons/star.svg');
// }