.member {
    // positioning
    position: relative;

    // box model
    height: 330px;
    width: 100%;
    max-width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;

    // visual
    border-radius: 5px;
    overflow: hidden;

    @include atTablet {
        // box model
        width: 30%;
        max-width: 100%;
    }

    @include atDesktopS {
        // box model
        max-width: 250px;
        margin: 20px;
    }
}

.member__header {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 120px;
    padding: 20px;
    
    // typography
    text-align: left;

    // visual
    background-image: linear-gradient(to top, $dark, transparent);
    // border: 1px solid red;
}

// .member__header::before {
//     content: '';

//     // positioning
//     position: absolute;
//     bottom: -50px;
//     left: 0;
//     right: 0;
//     transform: skewY(-15deg);
//     z-index: -1;

//     // box model
//     height: 135px;

//     // visual
//     background-image: url('./img/dark-h-grunge.svg');
//     background-size: cover;
// }

.member__name {
    // box model
    margin: 0;
    
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
}


.member__position {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.85rem;
}

.member__photo {
    // box model
    height: 100%;

    // visual
    background-color: $darkGold;
    background-image: url('./img/team/placeholder.jpg');
    background-size: cover;
    background-position: center center;
}

.member__photo img {
    // box model
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.member__top {
    // positioning
    position: absolute;
    bottom: 15px;
    right: 15px;

    // box model
    height: 72px;
    width: 72px;

    // visual
    background-image: url('./img/icons/top-barber.svg');
}

.member__feedback {
    // positioning
    position: absolute;
    top: 0;

    // box model
    margin: 20px;
}