.news-header {
    // box model
    margin-bottom: 45px;
    width: 100%;
}

.news-header__header {
    // box model
    margin-bottom: 50px;
}

.news-header__category {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1rem;
    text-transform: uppercase;

    @include atDesktopS {
        // typography
        font-size: 1.4rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1.6rem;
    }
}

.news-header__title {
    // box model
    margin: 0;
    margin-bottom: 10px;
    width: 260px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2rem;
    text-transform: uppercase;

    @include atDesktopS {
        // box model
        width: 400px;

        // typography
        font-size: 3rem;
    }

    @include atDesktopM {
        // typography
        font-size: 3.4rem;
    }
}

.news-header__details {
    // box model
    margin: 0;
    width: 200px;

    // typography
    color: #aeaeae;
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 400;
    text-align: left;

    @include atDesktopS {
        // box model
        width: 335px;

        // typography
        font-size: 1rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1.2rem;
    }
}

.news-header__cta {
    // box model
    display: block;
    margin-bottom: 25px;

    // visual
    color: $golden;
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    @include atFullHD {
        // typography
        font-size: 1rem;
    }
}

.news-header__footer {
    // box model
    // width: 230px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    // visual
    border-top: 2px solid $golden;

    @include atFullHD {
        // box model
        // width: 280px;
    }
}

.news-header__date {
    // box model
    margin: 0;
    margin-bottom: 20px;
    margin-right: 20px;

    // typography
    color: $lightGrey;
    font-family: $titleFont;
    text-transform: uppercase;
    font-size: 1rem;

    @include atDesktopM {
        // typography
        font-size: 1.2rem;
    }

    span {
        // box model
        display: inline-block;
        margin-bottom: 5px;

        // typography
        color: $golden;
        font-family: $titleFont;
        font-size: 0.85rem;
        text-align: left;
        text-transform: uppercase;

        @include atDesktopM {
            // typography
            font-size: 1rem;
        }
    }
}

.news-header__location {
    // box model
    margin: 0;
    margin-right: auto;

    // typography
    color: $lightGrey;
    font-family: $titleFont;
    text-transform: uppercase;
    font-size: 1rem;

    @include atDesktopM {
        // typography
        font-size: 1.2rem;
    }

    span {
        // box model
        display: inline-block;
        margin-bottom: 5px;

        // typography
        color: $golden;
        font-family: $titleFont;
        font-size: 0.85rem;
        text-align: left;
        text-transform: uppercase;

        @include atDesktopM {
            // typography
            font-size: 1rem;
        }
    }
}
