.news-categories {
    // box model
    display: flex;
    flex-direction: column;
    margin-bottom: -15px;
    padding: 0 20px;

    @include atTablet {
        // positioning
        position: absolute;
        top: 55vh;

        // box model
        flex-direction: row;
        flex-wrap: wrap;
    }

    @include atDesktopM {
        // positioning
        top: 73vh;
        
        // box model
        padding: 0 25px;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    
    @include atDesktopL {
        // box model
        padding: 0 calc((100% - 1400px) / 2);
    }
}
