.news-quote {
    // box model
    padding: 0 25px;
}

.news-quote__text {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    text-align: center;
    text-transform: uppercase;
}

.news-quote__text::before {             //change quotes
    content: "\201d";
    // box model
    height: 50px;
    margin: 0 auto;
    display: block;
    justify-content: center;

    // typography
    color: $golden;
    line-height: 115px;
    font-size: 8rem;
}

.news-quote__author {
    // box model
    margin: 0;
    padding: 15px 0;

    // typography
    color: $dark;
    font-family: $mainFont;
    text-align: center;
    text-transform: uppercase;

    span {
        // box model
        display: block;
        margin-top: 5px;

        // typography
        color: $golden;
        line-height: 20px;

        @include atTablet {
            // box model
            padding: 0 250px;
            // typography
            text-align: center;
        }
    }
}