.news-category {
    // positioning
    position: relative;

    // box model
    max-width: 350px;
    max-height: 150px; 
    margin: 0 auto;
    margin-bottom: 20px;

    // visual
    background-color: $black;
    border-radius: 5px;
    overflow: hidden;
}

.news-category__item {
    
}

.news-category__header {
    // positioning
    position: absolute;

    // box model
    padding: 30px 0;
    width: 100%;

    // typography
    text-align: center;

    // visual
    z-index: 3;
}


.news-category__title {
    // box model
    margin: 0;
    margin-bottom: 20px;

    // typography
    color: $golden;
    font-family: $titleFont;
}

.news-category__subtitle {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
}

.news-category__overlay {
    // positioning
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    // visual
    background-color: rgba(0, 0, 0, 0.6);
}

.news-category__image {

}

.news-category__image img {
   // box model
   width: 100%;
   height: 100%;

   // visual
   object-fit: cover;
}
