.news-category {
    // positioning
    position: relative;
    
    // box model
    max-width: 285px;
    width: 100%;
    width: 385px;
    margin: 0 auto;
    margin-bottom: 20px;
    
    // visual
    background-color: $black;
    background-image: url('./img/news/news-feed.jpg');
    background-size: cover;
    border-radius: 5px;
    overflow: hidden;

    @include atTablet {
        // box model
        flex-basis: 40%;
        max-width: 385px;
    }
    
    @include atDesktopM {
        // box model
        flex-basis: 25%;
        max-width: 320px;
        margin: 0 10px;
    }
}

.news-category:hover {
    // visual
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.25);
}

.news-category__item {
    // box model
    display: flex;
    height: 150px;
    align-items: center;
}

.news-category__item:hover .news-category__overlay {
    // visual
    background-color: rgba(0, 0, 0, 0.5);
}

.news-category__header {
    // positioning
    position: absolute;

    // box model
    padding: 0 10px;
    width: 100%;

    // typography
    text-align: center;

    // visual
    z-index: 3;
}


.news-category__title {
    // box model
    margin: 0;
    margin-bottom: 20px;

    // typography
    color: $golden;
    font-family: $titleFont;

    @include atDesktopM {
        // typography
        font-size: 1.2rem;
    }
}

.news-category__text {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    line-height: 1.5;

    @include atDesktopM {
        // typography
        font-size: 1.2rem;
    }
}

.news-category__text em {
    // typography
    color: $golden;
    font-style: normal;
}

.news-category__overlay {
    // positioning
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    // visual
    background-color: rgba(0, 0, 0, 0.7);
    transition: ease-in-out 0.2s;
}

.news-category__image img {
   // box model
   width: 100%;
   height: 100%;

   // visual
   object-fit: cover;
}

.news-category__last-branch {
    // box model
    display: block;
    
    // typography
    font-size: 1.6rem;
    line-height: 1.7;
}