.news-feed {

}

.news-feed__content {
    // box model
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    padding-bottom: 0;

    @include atTablet {
        // box model
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @include atDesktopL {
        // box model
        padding: 40px calc((100% - 1400px) / 2);
        padding-bottom: 0;
    }
}

.news-feed__more {
    // box model
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    
    @include atDesktopL {
        // box model
        padding-bottom: 40px;
    }
    .js-pager__items .pager {
        // box model
        margin: 0;
        padding: 0;
        
        // visual
        list-style: none;
    
    }
}

.news-feed__more ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.news-feed__more .button {
    // visual
    cursor: pointer;
}