.news-feed {

}

.news-feed__content {
    // box model
    display: flex;
    flex-direction: column;
    padding: 50px 25px;

    @include atDesktopS {
        // box model
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}