.offers-card {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include atTablet {
        // box model
        justify-content: space-between;
    }
}

.offers-card__item {
    // box model
    max-width: 310px;
    margin-bottom: 50px;
    width: 100%;
    
    // typography
    text-align: center;

    @include atDesktopL {
        // box model
        max-width: 430px;
    }
}

.offers-card__item .button {
    // box model
    margin-bottom: 0;
}

.offers-card__content {
    // box model
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-top: 40px;

    // typography
    text-align: center;

    // visual
    border: 2px solid rgba(210, 156, 78, 0.1);
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.offers-card__content:hover {
    // visual
    background: rgba(210, 156, 78, 0.05);
}

.offers-card__city {
    // positioning
    position: relative;

    // box model
    margin: 0;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 2.25rem;
    text-transform: uppercase;
}

.offers-card__city::after {
    content: "";

    // positioning
    position: absolute;
    bottom: -25px;

    // box model
    width: 230px;
    height: 2px;

    // visual
    background: rgba(210, 156, 78, 0.2);
}

.offers-card__mark {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: #726969;
    font-family: $mainFont;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.offers-card__download {
    // box model
    display: inline-block;
    margin: 0;

    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
}