.offers-card {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include atTablet {
        // box model
        justify-content: space-between;
    }
}

.offers-card__item {
    // positioning
    position: relative;

    // box model
    max-width: 300px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    
    // typography
    text-align: center;

    @include atDesktopL {
        // box model
        max-width: 430px;
    }
}

.offers-card__item .button {
    // box model
    margin-bottom: 0;
}

.offers-card__content {
    // positioning
    position: relative;

    // box model
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-top: 40px;

    // typography
    text-align: center;

    // visual
    border: 2px solid rgba(210, 156, 78, 0.1);
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

.offers-card__content::after {
    content: "";

    // positioning
    position: absolute;
    right: 15px;
    top: 15px;

    // box model
    display: block;
    width: 70px;
    height: 70px;

    @include atDesktopM {
    // visual
    background-image: url('./img/icons/laurel-2.svg');
    background-repeat: no-repeat;
    }
}

.offers-card__content--medal::after {
    @include atDesktopM {
    // visual
    background-image: url('./img/icons/medal-2.svg');
    }
}

.offers-card__content:hover {
    // visual
    background: rgba(210, 156, 78, 0.05);
}

.offers-card__place {
    // positioning
    position: relative;

    // visual
    overflow: hidden;
}

.offers-card__place::before {
    content: "";

    // positioning
    position: absolute;
    left: 50px;

    // box model
    display: block;
    width: 70px;
    height: 60px;

    // visual
    background-image: url('./img/icons/report.svg');
    background-repeat: no-repeat;

    @include atDesktopL {
        // positioning
        left: 90px;
    }
}

.offers-card__place::after {
    content: "";

    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 50px;
    
    // box model
    width: 70%;
    height: 2px;
    margin: auto;

    // visual
    background: rgba(210, 156, 78, 0.2);
}

.offers-card__city {
    // positioning
    position: relative;

    // box model
    margin: 0;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 2.25rem;
    text-transform: uppercase;
}

.offers-card__mark {
    // box model
    height: 15px;
    margin: 0;
    padding-bottom: 30px;

    // typography
    color: #726969;
    font-family: $mainFont;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

.offers-card__download {
    // positioning
    position: relative;

    // box model
    display: inline-block;
    margin: 0;

    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.offers-card__download::before {
    content: "";

    // positioning
    position: absolute;
    left: -20px;

    // box model
    display: block;
    width: 12px;
    height: 12px;

    // visual
    background-image: url('./img/icons/download.svg');
    background-repeat: no-repeat;
}

.offers-card__form {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;

    // box model
    display: none;
    margin-left: -25px;
    margin-right: -25px;

    @include atTablet {
        // box model
        // margin-left: 0;
        // margin-right: 0;
    }

    &--active {
        // box model
        display: block;
    }
}

.offers-card__form .lead-form {
    // positioning
    position: relative;

    // box model
    padding-bottom: 5px;

    @include atDesktopS {
        // box model
        padding-left: 0;
        padding-right: 0;
    }
}

.offers-card__close-button {
    // positioning
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 15;

    // box model
    width: 20px;
    height: 20px;

    // visual
    background: transparent;
    border: none;
    cursor: pointer;

    @include atTablet {
        // positioning
        right: -20px;
    }

    @include atDesktopM {
    }

    &--show {
        // box model
        display: block;
    }
}

.offers-card__close-button::after,
.offers-card__close-button::before {
  content: "";

  position: absolute;
  right: 0;
  top: 20px;

  width: 26px;
  height: 6px;
  margin: -13px -3px;

  background-color: $golden;
}

.offers-card__close-button::before {
  transform: rotate(45deg);
}

.offers-card__close-button::after {
  transform: rotate(-45deg);
}

.offers-card__close-button:hover::after,
.offers-card__close-button:hover::before,
.offers-card__close-button:focus::after,
.offers-card__close-button:focus::before {
  background-color: $grey;
}

.offers-cars__close-button:active::after,
.offers-cars__close-button:active::before {
  background-color: #4023a0;
}