.policy {
    // box model
    padding: 20px;

    @include atTablet {
        // box model
        padding: 40px;
    }
    
    @include atDesktopS {
        // box model
        padding: 40px calc((100% - 800px) / 2);
    }

    @include atDesktopM {
        // box model
        padding: 50px calc((100% - 800px) / 2);
    }
    
    @include atDesktopL {
        // box model
        padding: 60px calc((100% - 800px) / 2);
    }
}

.policy__header {

}

.policy__main-title {
    // typography
    color: $darkGold;
    font-family: $titleFont;
    font-size: 1.5rem;

    @include atTablet {
        // typography
        font-size: 2rem;
    }

    @include atDesktopM {
        // typography
        font-size: 3rem;
    }
}

.policy__desc {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-weight: 600;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    line-height: 1.75;
    text-transform: uppercase;
}

.policy__content {

}

.policy__content p {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.75;
}

.policy__content li {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.75;
}

.policy__title,
.policy__content h2 {
    // box model
    border-top: 2px solid $golden;
    border-bottom: 2px solid $golden;
    margin-left: -20px;
    padding: 20px;
    max-width: 240px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.25rem;

    @include atTablet {
        // box model
        margin-left: -40px;
        padding: 20px 40px;
        max-width: 300px;

        // typography
        font-size: 1.5rem;
    }

    @include atDesktopM {
        // box model
        margin-left: -50px;
        max-width: 500px;

        // typography
        font-size: 2rem;
    }
}

.policy__subtitle {
    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.25rem;
}