.price-list {
    // positioning
    position: relative;

    // box model
    margin-bottom: 25px;

    @include atTablet {
        // box model
        margin-bottom: 35px;

        // visual
        background-image: url('./img/bgs/price-bottom-t.jpg');
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    @include atDesktopS {
        // visual
        background-image: url('./img/bgs/price-bottom-d.jpg');
        background-position: top right;
        background-size: 1920px;
    }
}

.price-list__header {
    @include atDesktopS {
        // positioning
        position: absolute;
    }
}

.price-list__content {
    // positioning
    position: relative;

    // box model
    padding: 100px 20px;
    padding-bottom: 30px;

    @include atTablet {
        // box model
        padding: 80px 40px;

        // visual
        background-color: transparent;
    }

    @include atDesktopS {
        // box model
        padding-left: 400px;
        padding-bottom: 40px;
        min-width: 900px;
    }

    @include atDesktopM {
        // box model
        width: 1100px;
    }

    @include atDesktopL {
        // box model
        padding: 0;
        padding-top: 250px;
        padding-bottom: 60px;
        min-width: 800px;
        width: 800px;
        margin: 0 auto;
    }
}

.price-list__content::before {
    content: "";

    // positioning
    position: absolute;
    transform: skewY(-15deg);
    left: 0;
    top: -100px;

    z-index: -1;

    // box model
    width: 100%;
    height: 180px;

    // background-color: $dark;

    @include atTablet {
        // box model
        display: none;
    }
}

.price-list__content::after {
    content: "";

    // positioning
    position: absolute;
    transform: skewY(-15deg);
    left: 0;
    bottom: -100px;

    z-index: -1;

    // box model
    width: 100%;
    height: 180px;

    // background-color: $dark;

    @include atTablet {
        // box model
        display: none;
    }
}

.price-list__btn {
    // box model
    flex-basis: 30%;
    max-width: 30%;
    margin-bottom: 20px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    // visual
    background-color: $golden;
    border: 2px solid $golden;
    border-radius: 25px; // 1/2 of line-height + 2px border-width
    outline: none;
    transition: all 0.25s ease-out;
    cursor: pointer;

    @include atDesktopS {
        // box model
        flex-basis: initial;
        max-width: 100%;
        min-width: 150px;
    }

    @include atDesktopM {
        // box model
        min-width: 200px;
    }
    
    &--active {
        // visual
        box-shadow: (0 0 20px $golden);
    }
}

.price-list__tabs {
    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.price-list__container {
    // box model
    display: none;

    // visual
    opacity: 0;
    transition: opacity 0.15s ease-in-out;

    &--active {
        // visual
        opacity: 1;
    }
}

.price-list__button {
    // typography
    text-align: center;
}