.price-table {
    // box model
    width: 100%;
    // border: 1px solid red;
    margin-bottom: 40px;
    border-collapse: collapse;
}

.price-table__caption {
    // box model
    padding-bottom: 10px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    text-align: left;

    @include atTablet {
        // box model
        padding-bottom: 20px;
        margin-left: -0.05em;

        // typography
        font-size: 2.5rem;
    }
}

.price-table__row {
    // Removing last bottom border for price table
    &:last-child .price-table__service,
    &:last-child .price-table__price{
        // visual
        border-bottom: none;
    }
}

.price-table__service {
    // box model
    padding: 6px 0;
    padding-right: 20px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.3;
    text-transform: uppercase;
    
    // visual
    border-bottom: 1px solid rgba($dark, 0.25);

    @include atTablet {
        // visual
        // border-bottom: 1px solid rgba($dark, 0.25);

        // TODO: try to make hairthin line here
        // @media (min-resolution: 2dppx) {
        //     border-bottom: 0.5px solid (red, 0.25);
        // }

        // @media (min-resolution: 3dppx) {
        //     border-bottom: 0.3333333px solid (red, 0.25);
        // }

        // @media (min-resolution: 4dppx) {
        //     border-bottom: 0.5px solid (red, 0.25);
        // }
    }
}

.price-table__price {
    // box model
    padding: 5px 0;
    vertical-align: top;

    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 1rem;
    font-weight: 600;
    text-align: right;
    text-transform: uppercase;
    
    // visual
    border-bottom: 1px solid rgba($dark, 0.25);

    @include atTablet {
        // visual
        border-bottom: 1px solid rgba($dark, 0.25);

        @media (min-resolution: 2dppx) {
            border-bottom: 0.5px solid ($dark, 0.25);
        }
    }
}

.price-table__icon {
    // box model
    display: inline-block;
    display: none;
    vertical-align: top;
    height: 16px;
    width: 16px;

    // typography
    color: $golden;
    font-size: 0.5rem;
    line-height: 13px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    
    // visual
    border: 2px solid $golden;
    border-radius: 50%;
}
