.price-list {
    // positioning
    position: relative;

    // box model
    margin-bottom: -25px;

    @include atTablet {
        // visual
        background-image: url('./img/bgs/price-bottom-t.jpg');
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    @include atDesktopS {
        // visual
        background-image: url('./img/bgs/price-bottom-d.jpg');
        background-position: top right;
        background-size: 1920px;
    }
}

.price-list__header {
    @include atDesktopS {
        // positioning
        position: absolute;
    }
}

.price-list__content {
    // positioning
    position: relative;

    // box model
    padding: 60px 20px;
    padding-bottom: 30px;

    // visual
    background-color: $dark;
    
    @include atTablet {
        // box model
        padding: 80px 40px;

        // visual
        background-color: transparent;
    }

    @include atDesktopS {
        // box model
        padding-left: 400px;
        min-width: 900px;
    }

    @include atDesktopM {
        // box model
        width: 1100px;
    }

    @include atDesktopL {
        // box model
        padding: 0;
        padding-top: 250px;
        padding-bottom: 100px;
        min-width: 800px;
        width: 800px;
        margin: 0 auto;
    }
}

.price-list__content::before {
    content: "";

    // positioning
    position: absolute;
    transform: skewY(-15deg);
    left: 0;
    top: -100px;

    z-index: -1;

    // box model
    width: 100%;
    height: 180px;

    background-color: $dark;

    @include atTablet {
        // box model
        display: none;
    }
}

.price-list__content::after {
    content: "";

    // positioning
    position: absolute;
    transform: skewY(-15deg);
    left: 0;
    bottom: -100px;

    z-index: -1;

    // box model
    width: 100%;
    height: 180px;

    background-color: $dark;

    @include atTablet {
        // box model
        display: none;
    }
}