.profit-item {
    // box model
    max-width: 360px;
    margin-bottom: 25px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        max-width: 430px;
    }

    @include atDesktopS {
        // box model
        margin-bottom: 0;
        margin-left: 20px;
    }
}

.profit-item__content {
    // positioning
    position: relative;

    // box model
    margin-bottom: 10px;

    @include atDesktopS {
        // box model
        margin-bottom: 25px;
    }
}

.profit-item__image {
    // typography
    font-size: 0;

    // visual
    border-radius: 10px;
    overflow: hidden;
}

.profit-item__image img {
    // box model
    width: 100%;
    height: 100%;

    // visual
    object-fit: cover;
}

.profit-item__city {
    // positioning
    position: absolute;
    left: 0;
    top: 10px;

    // box model
    margin: 0;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 0.85rem;
    text-align: center;
    text-transform: uppercase;

    // visual
    background-color: $golden;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    @include atTablet {
        // positioning
        top: 20px;

        // box model
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;

        // typography
        font-size: 1rem;
    }

    @include atDesktopS {
        // positioning
        top: 10px;

        // box model
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 25px;
        padding-top: 5px;

        // typography
        font-size: 0.85rem;
    }

    @include atDesktopM {
        // positioning
        top: 20px;

        // box model
        padding-bottom: 10px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 7px;

        // typography
        font-size: 1rem;
    }
}

.profit-item__offer {
    // positioning
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    // box model
    margin: auto;

    // typography
    text-align: center;
}

.profit-item__cost {

}

.profit-item__cost::after {
    content: "";

    // box model
    display: block;
    width: 230px;
    height: 2px;
    margin: 0 auto;
    margin-top: 5px;

    // visual
    background-color: $light;
    
    @include atTablet {
        // box model
        margin-top: 15px;
    }

    @include atDesktopS {
        // box model
        margin-top: 5px;
    }

    @include atDesktopL {
        // box model
        margin-top: 15px;
    }
}

.profit-item__numbers {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.8rem;
    font-weight: 700;
    text-transform: uppercase;
    
    @include atTablet {
        // typography
        font-size: 2.25rem;
        line-height: 36px;
    }
}

.profit-item__numbers span {
    // typography
    font-size: 1.125rem;
}

.profit-item__desc {
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.125rem;
    line-height: 24px;
    text-transform: uppercase;
}

.profit-item__profit {
    // box model
    margin-top: 5px;

    @include atTablet {
        // box model
        margin-top: 15px;
    }

    @include atDesktopS {
        // box model
        margin-top: 5px;
    }

    @include atDesktopL {
        // box model
        margin-top: 15px;
    }
}

.profit-item__count {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 24px;
    text-transform: uppercase;
}