.promos {
    @include atTablet {
        // box model
        margin-bottom: 30px;
    }
}

.promos__header {
    @include atTablet {
        // box model
        margin-bottom: 30px;
    }
}

.promos__content {
    // box model
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;

    @include atTablet {
        // box model
        flex-direction: row;
        flex-wrap: wrap;
        // align-items: flex-start;
        padding: 20px;
    }

    @include atDesktopM {
        // box model
        padding: 32px;
    }

    @include atDesktopL {
        // box model
        padding: 40px calc((100% - 1400px) / 2);
    }
}
