.profit {
    // box model
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.profit__header {
    // box model
    margin-right: 50px;
}

.profit__content {
    // box model
    margin-bottom: 70px;
}

.profit__title {
    // box model
    margin: 0;
    max-width: 650px;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.profit__subtitle {
    // box model
    margin: 0;
    margin-bottom: 50px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.profit__value {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    color: $golden;
    font-size: 1.4rem;
    font-family: $titleFont;
    text-transform: uppercase;
}

.profit__info {
    // box model
    max-width: 500px;
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $black;
    font-family: $mainFont;
    line-height: 1.5;
    font-weight: 600;
}

.profit__calculator {
    // box model
    width: 100%;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;

    @include atTablet {
        // box model
        padding: 0 30px;
    }

    @include atDesktopS {
        // box model
        padding: 0 40px;
    }

    @include atDesktopL {
        // box model
        padding: 0;
    }
}

.profit__calculator-header {
    // box model
    width: 100%;
    margin-bottom: 150px;
    // typography
    text-align: center;

    @include atTablet {
        // positioning
        transform: translateY(330px);
        max-width: 44%;

        // box model
        margin-bottom: initial;
    }

    @include atDesktopS {
        // positioning
        transform: translateY(360px);

        // box model
        max-width: 50%;
        margin-bottom: initial;
    }

    @include atDesktopM {
        // box model
        max-width: 525px;
    }

    @include atDesktopL {
        // box model
        transform: none;
    }
}

.profit__calculator-title {
    // box model
    margin: 0;

    // typography
    font-family: $titleFont;
    font-size: 24px;
    line-height: 26px;
    color: $golden;

    @include atTablet {
        // box model
        margin-bottom: 30px;

        // typography
        font-size: 24px;
        line-height: 1;
    }
    
    @include atDesktopS {
        // box model
        margin-bottom: initial;

        // typography
        font-size: 36px;
        line-height: 48px;
    }
}

.profit__calculator-subtitle {
    // box model
    margin: 0;

    // typography
    font-family: $titleFont;
    font-size: 18px;
    line-height: 1.2;
    color: $dark;

    @include atTablet {
        // typography
        font-size: 18px;
        line-height: 1.2;
    }

    @include atDesktopS {
        // typography
        font-size: 24px;
        line-height: 30px;
    }
}