.profit {
    // positioning
    position: relative;
    
    // box model
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 100px;

    @include atDesktopM {
        // box model
        // padding-right: 120px;
    }
}

.profit__header {
    // box model
    width: 100%;
    margin-bottom: 110px;

    @include atTablet {
        // box model
        margin-bottom: 130px;
    }

    @include atDesktopS {
        // box model
        margin-right: 50px;
        margin-bottom: 0;
    }

    @include atDesktopM {
        // box model
        width: initial;
    }
}

.profit__content {
    // box model
    margin-bottom: 30px;
    padding: 0 25px;

    @include atTablet {
        // box model
        margin-bottom: 60px;
        margin-right: 80px;
    }
    
    @include atDesktopS {
        // box model
        // display: flex;
        // flex-direction: row;
        // flex-wrap: wrap;
        padding: 0 40px;
        margin-bottom: 90px;
        margin-right: 0;
        margin-top: 80px;
    }
    
    @include atDesktopM {
        // box model
        display: block;
        width: 60%;
        margin-top: 0;
        // margin-bottom: 70px;
    }
}

.profit__title {
    // box model
    margin: 0;
    
    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 1.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    
    @include atDesktopS {
        // box model
        width: 100%;
        max-width: 700px;
        margin-bottom: 10px;

        // typography
        font-size: 2rem;
        line-height: 1.2;
    }

    @include atDesktopM {
        // box model
        // max-width: 650px;
        max-width: 100%;
    }
}

.profit__subtitle {
    // box model
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    max-width: 210px;

    // typography
    color: $golden;
    font-family: $titleFont;
    line-height: 1.2;
    text-transform: uppercase;
    
    @include atDesktopS {
        // box model
        max-width: 50%;

        // typography
        font-size: 1.25rem;
    }

    @include atDesktopM {
        // box model
        max-width: 100%;
    }
}

.profit__value {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    color: $golden;
    font-size: 1.2rem;
    font-family: $titleFont;
    text-transform: uppercase;
    
    @include atDesktopS {
        // typography
        font-size: 1.4rem;
    }
}

.profit__form {
    // box model
    margin-left: -25px;
    margin-right: -25px;
    margin-bottom: 70px;
    width: auto;

    // visual
    background-color: #fdf6ee;

    @include atSmallMobile {
        // box model
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
        margin-bottom: 70px;
    }
    
    @include atDesktopS {
        // box model
        margin-bottom: 100px;
        width: 100%;
    }

    @include atDesktopM {
        margin-bottom: 70px;
    }
}

.profit__info {
    // box model
    max-width: 500px;
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $black;
    font-family: $mainFont;
    line-height: 1.2;

    @include atDesktopM {
        // box model
        max-width: 780px;
    }
}

.profit__calculator {
    // box model
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    padding-bottom: 150px;

    // visual
    overflow: hidden;
    
    @include atTablet {
        // box model
        padding: 0 30px;
        padding-bottom: 70px;
    }

    @include atDesktopS {
        // box model
        // margin-bottom: 30px;
        padding-bottom: 0;
        padding: 0 40px;
    }

    @include atDesktopL {
        // box model
        padding: 0;
        padding-left: 120px;
        padding-right: 120px;
    }
}

.profit__calculator-header {
    // box model
    width: 100%;
    margin-bottom: 150px;
    // typography
    text-align: center;

    @include atTablet {
        // positioning
        transform: translateY(330px);
        max-width: 40%;
    }

    @include atDesktopS {
        // positioning
        transform: translateY(370px);

        // box model
        max-width: 50%;
    }

    @include atDesktopM {
        // box model
        max-width: 525px;
    }

    @include atDesktopL {
        // box model
        transform: none;
    }
}

.profit__calculator-title {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    font-family: $titleFont;
    font-size: 24px;
    line-height: 26px;
    color: $golden;

    @include atTablet {
        // box model
        margin-bottom: 30px;

        // typography
        font-size: 24px;
        line-height: 1;
    }
    
    @include atDesktopS {
        // box model
        // margin-bottom: initial;

        // typography
        font-size: 36px;
        line-height: 1.2;
        text-align: left;
    }
}

.profit__calculator-subtitle {
    // box model
    margin: 0;

    // typography
    font-family: $titleFont;
    font-size: 18px;
    line-height: 1.2;
    color: $dark;

    @include atTablet {
        // typography
        font-size: 18px;
        line-height: 1.2;
    }

    @include atDesktopS {
        // typography
        font-size: 24px;
        line-height: 30px;
        text-align: left;
    }
}

.profit__contacts {
    // box model
    margin: 0 auto;
    margin-bottom: 70px;

    @include atDesktopS {
        // positioning
        // position: absolute;
        // left: calc(100% - 520px);
        // bottom: 650px;
    }

    @include atDesktopM {
        // positioning
        bottom: 730px;
    }

    @include atDesktopL {
        // positioning
        bottom: 600px;
    }
}

.profit__offers {
    // box model
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
    
    @include atTablet {
        // box model
        flex-direction: row;
        padding: 0 40px;
        margin-bottom: 60px;
    }

    @include atDesktopM {
        // box model
        padding: 0 120px;
    }
}