.promo {
    // positioning
    position: relative;

    // box model
    height: 380px;
    margin-bottom: 20px;
    flex-grow: 1;

    // visual
    background-color: $darkGold;
    border-radius: 5px;
    overflow: hidden;

    @include atTablet {
        // box model
        margin: 0 20px;
        margin-bottom: 40px;
        flex-basis: 40%;
        flex-shrink: 1;
    }

    @include atDesktopS {
        // box model
        flex-basis: 25%;
    }
}

.promo__header {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;

    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;

    // visual
    background-image: linear-gradient(to top, $dark, transparent);
}


.promo__title {
    // box model
    margin: 0;
    margin-bottom: 0.75em;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;

    @include atDesktopL {
        // typography
        font-size: 1.75rem;
    }
}

.promo__text {
    // box model
    max-width: 300px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.85rem;
    line-height: 1.75;

    @include atDesktopL {
        // typography
        font-size: 1rem;
    }
}

.promo__text p {
    // box model
    margin: 0;
    margin-bottom: 1em;
}

.promo__image {
    // positioning
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 1;
}

.promo__image img {
    // box model
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center center;
}

.promo__price {
    // positioning
    position: absolute;
    right: 0;
    top: 0;
    transform: skewY(-15deg);

    // box model
    padding: 10px 15px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2.5rem;

    // visual
    background-color: $golden;
    text-shadow: -3px 2px 0 $darkGold;

    @include atTablet {
        // typography
        font-size: 3rem;

        // visual
        text-shadow: -3px 3px 0 $darkGold;
    }
}

.promo__price::after {
    content: '';

    // positioning
    position: absolute;
    left: -20px;
    top: 0;
    transform: rotate(180deg);

    // box model
    height: 100%;
    width: 20px;

    // visual
    background-image: url('./img/gold-v-grunge.svg');
    background-size: 400%;
    background-repeat: repeat-y;
    background-position: center right;
}
