.protection {
    // box model
    margin-bottom: 100px;
}

.protection__header {
    // positioning
    position: relative;

    // box model
    display: flex;
    margin-bottom: 60px;

    // visual
    background-image: url('./img/investment/b-sh.jpg');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
}

.protection__header::before {
    content: "";

    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    // box model
    width: 100%;
    height: 100%;

    // visual
    background-color: rgba($dark, 0.8);
}

.protection__header::after {
    content: "";

    // positioning
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 7;
    
    // box model
    width: 100%;
    height: 80px;
    
    // visual
    background-image: url('./img/white-grunge.svg');
    background-position: top 2px center;
    background-repeat: repeat-x;
    background-size: 800px;
}

.protection__caption {
    // positioning
    position: relative;
    z-index: 9;

    // box model
    padding-bottom: 120px;
    margin-left: 200px;
    padding-top: 75px;
}

.protection__title {
    // box model
    max-width: 550px;
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.protection__subtitle {
    // box model
    max-width: 410px;
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.protection__content {
    // box model
    display: flex;
    padding-left: 200px;
}

.protection__headline {
    // box model
    margin: 0;
    height: 100%;
    flex-basis: 300px;
    // margin-right: 100px;
    padding: 10px 40px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    text-align-last: left;
    text-transform: uppercase;

    // visual
    border-bottom: 2px solid $golden;
    border-top: 2px solid $golden;
}

.protection__wrapper {
    // box model
    max-width: 600px;
    margin-bottom: 80px;
    margin-left: 200px;
}

.protection__heading {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 1.25rem;
    text-transform: uppercase;

    &--gold {
        // box model
        margin-bottom: 15px;

        // typography
        color: $golden;
    }
}

.protection__text {
    // box model
    margin: 0;
    padding: 0;
    margin-bottom: 30px;

    // typography
    color: $dark;
    font-family: $mainFont;
    line-height: 1.5;
}

.protection__list {
    // typography
    list-style-type: none;
}

.protection__secure {
    // positioning
    position: relative;

    // box model
    display: flex;
    padding-bottom: 125px;
    padding-left: 180px;
    padding-right: 80px;
    padding-top: 75px;

    // visual
    background-color: $bianca;
}

.protection__deco {
    // positioning
    position: absolute;
    bottom: 50px;
}

.protection__image {
    // box model
    height: 500px;
}

.protection__image img {
    // box model
    height: 100%;
}

.protection__motto {
    // box model
    max-width: 320px;
    margin: 0;


    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 2rem;
    text-transform: uppercase;
}

.protection__items {
    // box model
    display: flex;
    width: 100%;
    padding-left: 520px;
    justify-content: space-between;
}