.profit {
    // box model
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.profit__header {
    // box model
    width: 100%;
    margin-bottom: 80px;

    @include atDesktopS {
        // box model
        margin-right: 50px;
        margin-bottom: 0;
    }
}

.profit__content {
    // box model
    margin-bottom: 30px;
    padding: 0 25px;
    
    @include atDesktopS {
        // box model
        margin-bottom: 70px;
        padding: 0;
    }
}

.profit__title {
    // box model
    margin: 0;
    
    // typography
    color: $black;
    font-family: $titleFont;
    font-size: 1.2rem;
    line-height: 1.2;
    text-transform: uppercase;
    
    @include atDesktopS {
        // box model
        max-width: 650px;
        
        // typography
        font-size: 2rem;
        line-height: 1.5;
    }
}

.profit__subtitle {
    // box model
    margin: 0;
    margin-bottom: 50px;
    max-width: 210px;

    // typography
    color: $golden;
    font-family: $titleFont;
    line-height: 1.2;
    text-transform: uppercase;
    
    @include atDesktopS {
        // box model
        max-width: auto;

        // typography
        font-size: 1.25rem;
    }
}

.profit__value {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    color: $golden;
    font-size: 1.2rem;
    font-family: $titleFont;
    text-transform: uppercase;
    
    @include atDesktopS {
        // typography
        font-size: 1.4rem;
    }
}

.profit__info {
    // box model
    max-width: 500px;
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $black;
    font-family: $mainFont;
    line-height: 1.5;
}

.profit__calculator {
    // box model
    width: 100%;
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;
}

.profit__calculator-header {
    // box model
    width: 100%;
    max-width: 525px;
    margin-bottom: 180px;
}

.profit__calculator-title {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.2rem;
    line-height: 1.2;
    text-align: center;
    
    @include atDesktopS {
        // typography
        font-size: 36px;
        line-height: 48px;
    }
}

.profit__calculator-subtitle {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    line-height: 1.2;
    text-align: center;
    
    @include atDesktopS {
        // typography
        font-size: 24px;
        line-height: 30px;
    }
}