.promos {
    
}

.promos__header {

}


.promos__content {
    // box model
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include atTablet {
        // box model
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding: 40px;
    }

    @include atDesktopL {
        // box model
        padding: 40px calc((100% - 1400px) / 2);
    }
}
