.rouble-sign{
    position: relative;
    display: inline-block;
    line-height: 1;
    vertical-align: baseline;
  }
  
  .rouble-sign:after{
    content: '–';
    position: absolute;
    top: 11%;
    left: 0;
  }

  .rouble-sign:before{
    content: '-';
    font-size: 0.9em;
    position: absolute;
    top: 3%;
  }

  .fw300{
    font-weight: 300;
  }

  .fw400{
    font-weight: 400;
  }

  .fw600{
    font-weight: 600;
  }