.search-results {
    // positioning
    position: relative;
    left: -5px;
    z-index: 2;

    // box model
    margin-top: -40px;
    padding: 20px;
    padding-top: 40px;
    width: calc(100% + 55px);
    
    // visual
    background-color: $light;
    border: 1px solid rgba($lightGrey, 0.5);
    box-shadow: 0 0 15px rgba($dark, 0.125);

    @include atDesktopS {
        // positioning
        position: absolute;
        left: -10px;
        right: 55px;

        // box model
        width: auto;
    }
}

.search-results__list {
    // box model
    margin: 0;
    padding: 0;

    // @include atTablet {
    //     // box model
    //     display: flex;
    //     flex-direction: row;
    //     flex-wrap: wrap;
    // }
}

.search-results__title {
    // box model
    margin-top: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
}

.search-results__not-found {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
}

.search-results__item {
    // box model
    padding-left: 15px;
    margin-bottom: 0.25em;

    // positioning
    position: relative;
    z-index: 1;

    // typography
    font-size: 0.85rem;
    list-style: none;

    // @include atTablet {
    //     // box model
    //     flex-basis: 50%;
    //     width: 45%;
    // }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    
        // box model
        display: block;
        height: 8px;
        width: 8px;
    
        // visual
        background-color: $golden;
        border-radius: 50%;
    }
}

.search-results__link {
    // box model
    display: inline-block;
    padding: 7px 12px;
    max-width: 100%;

    // typography
    color: $darkGold;
    font-family: $mainFont;
    // font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    
    // visual
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.25s linear;

    // @include atTablet {
    //     // box model
    //     // max-width: 240px;
    //     max-width: 95%;
    // }
}

.search-results__link:hover {
    // typography
    color: $light;

    // visual
    background-color: $golden;
}

.search-results__metro span{
    // positioning
    position: relative;
    left: 2px;
    top: -4px;

    // box model
    display: inline-block;
    vertical-align: middle;
    padding: 3px 10px;

    // typography
    font-family: $mainFont;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    &::before {
        content: 'м';

        // positioning
        position: relative;
        top: -1px;

        // box model
        display: inline-block;
        vertical-align: middle;
        height: 14px;
        width: 14px;
        margin-right: 4px;
        padding: 2px;
        padding-top: 1px;

        // typography
        color: $light;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        text-transform: none;

        // visual
        border: 1px solid rgba($red, 0.5);
        border-radius: 50%;
        background-color: $red;
    }
}