.service-main {
    // positioning
    position: relative;

    // box model
    width: 100%;
    height: calc(56.25vw - 40px);
    min-height: 180px;
    margin: 0;
    margin-bottom: 25px;

    // visual
    background-color: $darkGold;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;

    @include atTablet {
        // box model
        margin-bottom: 40px;
        max-height: 340px;
    }

    @include atDesktopS {
        // box model
        flex-basis: calc(50% - 20px);
        height: calc(31.25vw - 60px);
        width: auto;
    }

    @include atDesktopL {
        // box model
        max-height: 360px;
    }

    &--haircut {
        // visual
        background-image: url('./img/bgs/haircut.jpg');
    }
    
    &--beard {
        // visual
        background-image: url('./img/bgs/beard.jpg');
    }
}

.service-main__header {
    // box model
    margin: 0;
    padding: 25px 23px;
    padding: 5vw;

    // typography
    font-size: 4vw;

    @include atTablet {
        // positioning
        position: absolute;
        bottom: 0;

        // box model
        display: inline-block;
        vertical-align: top;
        padding: 40px;
        width: 60%;

        // typography
        font-size: 1rem;
    }

    @include atDesktopS {
        // box model
        padding: 30px;
    }

    @include atDesktopM {
        // box model
        padding: 40px;

        // typography
        font-size: 1.25rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.5rem;
    }
}

.service-main__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.25em;
    text-align: left;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1.9em;
    }

    @include atDesktopS {
        // typography
        font-size: 1.25em;
    }
}

.service-main__title strong {
    // typography
    font-size: 1.5em;

    @include atTablet {
        // typography
        font-size: 1.75em;
    }
}

.service-main__subtitle {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    text-align: left;
    font-size: 0.85em;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1.25em;
    }
}

.service-main__button {
    // positioning
    position: absolute;
    right: 20px;
    bottom: 0;

    // typography
    text-align: right;

    // box model
    display: block;

    @include atTablet {
        // positioning
        bottom: 20px;
        right: 40px;
    }
    
    @include atDesktopS {
        // positioning
        bottom: 10px;
        right: 30px;
        
        // box model
        width: 170px;
        
        // typography
        font-size: 0.75rem;
        line-height: 36px;

        // visual
        border-radius: 20px;
    }

    @include atDesktopM {
        // positioning
        bottom: 20px;
        right: 40px;

        // box model
        width: 200px;

        // typography
        font-size: 0.85rem;
        line-height: 42px;
    }
}