.services {

}

.services__header {
    // box model
    padding-bottom: 20px;

    @include atTablet {
        // box model
        margin-bottom: -110px;
        padding-bottom: 0;
    }

    @include atDesktopS {
        // box model
        margin-bottom: -90px;
    }
}

.services__container {
    // box model
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__content {
    // box model
    padding: 20px;

    @include atTablet {
        // box model
        padding: 40px;
    }

    @include atDesktopM {
        // box model
        padding: 40px 50px;
    }

    @include atDesktopL {
        // box model
        width: 1500px;
        margin: 0 auto;
    }
}

.services__main {
    // box model
    margin-bottom: 40px;

    @include atDesktopS {
        // box model
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
    }
}

.services__secondary {
    @include atTablet {
        // box model
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}