.social,
.ya-share2__list {
    // box model
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;

    // typography
    text-align: center;
}

.social__text {
    // box model
    margin: 0;
    margin-bottom: 10px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.85rem;
    text-align: left;
    text-transform: uppercase;

    @include atDesktopM {
        // typography
        font-size: 1rem;
    }
}

.social__item,
.ya-share2__list_direction_horizontal > .ya-share2__item {
    // box model
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
}

.social__icon,
.ya-share2__link {
    // box model
    display: block;
    height: 38px;
    width: 38px;
    margin: 0 5px;

    // typography
    color: $light;
    font-size: 0;
    line-height: 34px !important;
    text-decoration: none;

    // visual
    border: 2px solid $light;
    border-radius: 50%;
    transition: all 0.25s ease-in-out;
    &:before {
        // typography
        font-size: 1rem;
    }

    &:hover {
        // typography
        color: $dark;

        // visual
        background-color: $light;
    }
}

.ya-share2__item_service_twitter .ya-share2__link,
.ya-share2__item_service_facebook .ya-share2__link,
.ya-share2__item_service_vkontakte .ya-share2__link {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ya-share2__item_service_twitter .ya-share2__link:before {
    content: "\ea96";

    // typography
    font-size: 1rem;
}

.ya-share2__item_service_facebook .ya-share2__link:before {
    content: "\e901";

    // typography
    font-size: 1rem;
}

.ya-share2__item_service_vkontakte .ya-share2__link:before {
    content: "\e902";

    // typography
    font-size: 1rem;
}

.ya-share2__badge {
    // box model
    display: none !important;
}