.stage {
    // box model
    margin-bottom: 40px;

    @include atDesktopS {
        // box model
        display: flex;
    }
}

.stage__header {
    // positioning
    position: relative;
    transform: skewY(-15deg);
    z-index: 2;

    // box model
    width: 90%;
    margin-bottom: 40px;
    max-width: 600px;

    @include atDesktopS {
        // box model
        flex-basis: 33%;
        margin-right: 40px;
    }
}

.stage--flipped {
    @include atDesktopS {
        // box model
        margin-bottom: 100px;
    }

    .stage__header {
        // box model
        margin-right: 0;
        margin-left: auto;

        @include atDesktopS {
            // box model
            order: 2;
            margin-left: 40px;
        }
    }

    .stage__content {
        @include atDesktopS {
            // box model
            order: 1;
            padding-top: 140px;
        }

        @include atDesktopL {
            // box model
            padding-right: 40px;
            padding-left: calc((100% - 1400px) / 2);
        }
    }

    .stage__title {
        @include atTablet {
            // box model
            margin-right: 0;
            margin-left: auto;
        }

        &::after {
            // positioning
            right: auto;
            left: -20px;
            transform: rotate(180deg);
        }
    }

    .stage__image {
        // positioning
        left: -40px;

        &::before {
            // positioning
            right: auto;
            left: 0;
            transform: rotate(180deg);
        }
    }

    .stage__headline {
        @include atDesktopS {
            // typography
            text-align: left;
        }
    }
}

.stage__title {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2.5rem;
    line-height: 1.25;

    // visual
    background-color: $golden;
    box-shadow: -15px 10px 40px -10px rgba($dark, 0.5);
    text-shadow: -3px 2px 0 $darkGold;

    @include atTablet {
        // box model
        padding: 20px 40px;
        max-width: 70%;
        
        // typography
        font-size: 3rem;
        
        // visual
        box-shadow: -5px 10px 15px 0 rgba($dark, 0.25);
        text-shadow: -4px 3px 0 $darkGold;
    }

    @include atDesktopS {
        // box model
        max-width: 90%;

        // typography
        font-size: 1.75rem;
    }

    @include atDesktopM {
        // typography
        font-size: 2rem;
    }

    @include atDesktopL {
        // typography
        font-size: 3rem;
    }
}

.stage__title::after {
    content: '';

    // positioning
    position: absolute;
    right: -20px;
    top: 0;

    // box model
    height: 100%;
    width: 40px;

    // visual
    background-image: url('./img/gold-v-grunge.svg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.stage__image {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    margin-top: -30px;
    width: 110%;
    width: calc(100% + 40px);
    max-height: 400px;

    // visual
    overflow: hidden;

    @include atTablet {
        // box model
        margin-top: -60px;
        max-height: 440px;
    }
}

.stage__image::before {
    content: '';

    // positioning
    position: absolute;
    right: 0;
    top: 0;

    // box model
    height: 100%;
    width: 50px;

    // visual
    background-image: url('./img/white-grunge-90.svg');
    background-position: center left 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150px;
}

.stage__image img {
    // // box model
    width: 100%;
    object-fit: cover;
}

.stage__content {
    // box model
    margin-top: -40px;
    padding: 20px;

    @include atTablet {
        // box model
        padding: 40px;
    }

    @include atDesktopS {
        // box model
        flex-basis: 66%;
    }

    @include atDesktopL {
        // box model
        padding-right: calc((100% - 1400px) / 2);
    }
}

.stage__headline {
    // box model
    width: 220px;
    margin: 0;
    margin-left: auto;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: right;

    @include atTablet {
        // box model
        width: 400px;

        // typography
        font-size: 2rem;
    }

    @include atDesktopS {
        // box model
        width: auto;
        font-size: 1.75rem;
    }

    @include atDesktopM {
        // box model
        font-size: 2rem;
    }
}

.stage__text {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.75;

    &--gold {
        // typography
        color: $darkGold;
        font-weight: 700;
    }

    @include atDesktopM {
        // typography
        font-size: 1.125rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.25rem;
    }
}