.start-stuff {
    // box model
    width: 100%;
    max-width: 1140px;
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 20px;

    @include atTablet {
        // box model
        margin-bottom: 90px;
        padding: 0 30px;
    }

    @include atDesktopM {
        // box model
        padding: 0;
    }
}

.start-stuff__header {
    // box model
    margin-bottom: 30px;
}

.start-stuff__title {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 36px;
    font-weight: 700;
}

.start-stuff__content {
    // box model
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        flex-direction: row;

        // typography
        text-align: left;
    }
}

.start-stuff__item {
    // box model
    margin-bottom: 30px;

    @include atTablet {
        // box model
        width: 290px;
    }

    @include atDesktopS {
        // box model
        // margin-bottom: 60px;
    }
}

.start-stuff__item-number {
    // box model
    margin: 0;
    margin-bottom: 10px;

    // typography
    // color: $dark;
    color: $golden;
    font-family: $titleFont;
    font-size: 2rem;
    font-weight: 700;

    @include atDesktopS {
        // typography
        // font-size: 60px;
    }

    span {
        // typography
        font-size: 1.2rem;
    }
}

.start-stuff__item-number span {
    // typography
    font-size: 1.2rem;
}

.start-stuff__item-title {
    // box model
    margin: 0;
    margin-bottom: 10px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 18px;

    @include atDesktopS {
        // typography
        font-size: 1.5rem;
    }
}

.start-stuff__item-subtitle {
    // box model
    margin: 0;
    margin-bottom: 20px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 18px;
}

.start-stuff__item-text {
    // box model
    margin: 0;

    // typography
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 24px;
}