.targeting {
    // positioning
    position: relative;

    // box model
    margin-bottom: 100px;
}

.targeting__header {
    // positioning
    position: absolute;

    // box model
    padding: 20px 0;
    margin-bottom: 30px;

    @include atTablet {
        // box model
        flex-basis: 380px;
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        top: 0;
        left: 0;
    }
}

.targeting__content {
    // box model
    padding: 0 20px;
    
    @include atTablet {
        // positioning
        position: relative;
        top: 1rem;
        
        // box model
        // flex-basis: calc(100% - 391px);
        padding: 20px 0;
        padding-right: 50px;
        padding-top: 100px;
    }

    @include atDesktopS {
        // box model
        margin-bottom: 150px;
        padding-left: 430px;
    }

    @include atDesktopL {
        // box model
        padding-left: 580px;
        padding-right: 80px;
    }
}

.targeting__title {
    // box model
    margin: 0;
    margin-bottom: 60px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 2rem;
}

.targeting__items {
    // box model
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.targeting__info {
    // box model
    max-width: 600px;
    margin: 0 auto;

    // typography
    color: $black;
    font-family: $mainFont;
    font-weight: 600;
    text-align: center;
}

.targeting__compare {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1635px;
    margin-left: 105px;
}

.targeting__compare-header {
    // box model
    width: 100%;
    max-width: 375px;
}

.targeting__compare-title {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    font-family: $titleFont;
    font-size: 36px;
    line-height: 48px;
    color: $golden;
}

.targeting__compare-subtitle {
    // box model
    margin: 0;

    // typography
    font-family: $titleFont;
    font-size: 24px;
    line-height: 1.2;
    color: $dark;

    &:before,
    &:after {
        content: "";

        display: block;
        width: calc(100% + 15px);
        height: 2px;
        margin-left: -15px;

        // visual
        background-color: $golden;
    }

    &:before {
        // box model
        margin-bottom: 25px;
    }

    &:after {
        // box model
        margin-top: 25px;
    }
}

.targeting__compare-graph {
    width: 100%;
    max-width: 1100px;
    height: 400px;
}