.team {
    @include atTablet {
        // box model
        display: block;
        padding-bottom: 300px;

        // visual
        background-image: url('./img/team/team-t.jpg');
        background-size: contain;
        background-position: bottom center;
        background-repeat: no-repeat;
    }

    @include atDesktopS {
        // box model
        display: flex;
        flex-direction: column;
        padding-bottom: 60px;

        // visual
        background-image: none;
    }

    @include atDesktopM {
        // visual
        background-image: none;
        background-position: center center;
    }
}

.team__header {
    // box model
    margin-bottom: 85px;

    @include atTablet {
        // box model
        margin-bottom: initial;
    }
}

.team__content {
    // box model
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    @include atTablet {
        // box model
        justify-content: space-between;
        padding: 40px;
    }

    @include atDesktopS {
        // box model
        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    @include atDesktopL {
        // box model
    }
}