.up-button {
    // positioning
    position: relative;

    // box model
    display: block;
    width: 120px;
    height: 120px;
    margin: 30px auto;
    margin-top: 90px;

    // visual
    background-image: url('./img/icons/up-button.svg');
    background-repeat: no-repeat;
    z-index: 100;
}


.up-button__arrow {
  // positioning
  position: relative;

  &::after {
      content: "";

      // positioning
      position: absolute;
      left: 0;
      right: 0;

      // box model
      display: block;
      height: 40px;

      // visual
      animation: move 1.5s infinite;
      animation-timing-function: linear;
      background-image: url('./img/icons/up-arrow.svg');
      background-position: top center;
      background-repeat: no-repeat;
  }
}


.up-button__arrow {
  &::before {
      content: "";

      // positioning
      position: absolute;
      top: -40px;
      left: 0;
      right: 0;

      // box model
      display: block;
      height: 50px;
      // border: 1px solid red;

      // visual
      background: linear-gradient(to top, transparent, $light);
      z-index: 101;
  }
}

.up-button__text {
    // positioning
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;

    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

@keyframes move {
  from {
    top: -26px;
  }
  to {
    top: -40px;
  }
}