.vip-item {
    // box model
    width: 350px;
}

.vip-item__photo {
    // positioning
    position: relative;

    // box model
    height: 350px;

    // visual
    background-color: $darkGold;
    border-radius: 5px;
    overflow: hidden;
}

.vip-item__photo img { 
    // box model          //Временное решение для картинки
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    object-fit: cover;
}

.vip-item__instagram {
    // positioning
    position: absolute;
    left: 0;
    bottom: -85px;
    transform: skewY(-15deg);

    // box model
    display: block;
    width: 100%;
    height: 155px;
    margin: 0;
    padding: 40px 20px;
    
    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.125rem;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    
    // visual
    background-image: url('./img/dark-h-grunge.svg');
    background-size: cover;
}

.vip-item__header {
    // positioning
    position: relative;

    // box model
    padding-left: 10px;
    padding-top: 15px;
}

 .vip-item__name {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 2rem;
    text-transform: uppercase;
}

.vip-item__surname {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 3.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.vip-item__status {
    // positioning
    position: absolute;
    right: 10px;
    top: 23px;

    // box model
    display: block;
    margin: 0;
    width: 215px;
    // border: 1px solid red;

    // typography
    color: $lightGrey;
    font-family: $mainFont;
    font-size: 0.85rem;
    text-align: right;
    text-transform: uppercase;
}