section.choose-country
    header.country-header
        h2.country-header__title Беларусь
        p.country-header__subtitle Belarus
    
    ul.choose-country__content
        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Минск
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Адрес
                    a(href="/minsk").chosen-city__info-subtitle Туровского, 8

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Телефон
                    p.chosen-city__info-subtitle +375 29 895 09 20

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Часы работы
                    p.chosen-city__info-subtitle ПН - ВС | 9:00 - 21:00
            
            .chosen-city__button Выбрать
        
        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Гомель
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Адрес
                    a(href="/gomel").chosen-city__info-subtitle Пр. Победы, 8

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Телефон
                    p.chosen-city__info-subtitle +375 33 66 88 774

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Часы работы
                    p.chosen-city__info-subtitle ПН - ВС | 9:00 - 21:00
            
            .chosen-city__button Выбрать

        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Брест
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Адрес
                    a(href="/brest").chosen-city__info-subtitle ул. Островского переулок, 8

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Телефон
                    p.chosen-city__info-subtitle +375 297 962 206

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Часы работы
                    p.chosen-city__info-subtitle ПН - ВС | 9:00 - 21:00
            
            .chosen-city__button Выбрать
