section.choose-country.choose-country--europe
    header.country-header
        h2.country-header__title Europe
        p.country-header__subtitle
    
    ul.choose-country__content
        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Cyprus
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Address
                    p.chosen-city__info-subtitle Limassol, 13-15 Grigori Afxentiou

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Phone
                    p.chosen-city__info-subtitle +357 96 777–270

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Hours
                    p.chosen-city__info-subtitle tue. - sat. | 10:00 - 20:00

            a(href="/en/cyprus").chosen-city__button Select

        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Montenegro
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Address
                    p.chosen-city__info-subtitle Ulica Filipa Kovačeviča&nbsp;43

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Phone
                    p.chosen-city__info-subtitle +382 68 235 229

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Hours
                    p.chosen-city__info-subtitle pon.-ned. | 10:00 - 21:00
            
            a(href="/en/budva").chosen-city__button Select

        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Serbia
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Address
                    p.chosen-city__info-subtitle Beograd, Cara Urosha&nbsp;19

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Phone
                    p.chosen-city__info-subtitle +381 114–034–813

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Hours
                    p.chosen-city__info-subtitle mon. - sun. | 10:00 - 21:00
            
            a(href="/en/beograd").chosen-city__button Select

        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Spain, Bercelona
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Address
                    p.chosen-city__info-subtitle Carrer Buenos Aires, 0015-0017 Baixos&nbsp;1

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Phone
                    p.chosen-city__info-subtitle +34 698–843–919

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Hours
                    p.chosen-city__info-subtitle mon. - sun. | 8:30 - 20:30

            a(href="/en/barcelona").chosen-city__button Select

        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Spain, Marbella
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Address
                    p.chosen-city__info-subtitle Avda. Ricardo Soriano&nbsp;45 Local&nbsp;1

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Phone
                    p.chosen-city__info-subtitle +34 63 333–57–74

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Hours
                    p.chosen-city__info-subtitle mon. - sut. | 10:00 - 22:00

            a(href="/en/marbella").chosen-city__button Select

