section.choose-country
    header.country-header
        h2.country-header__title Беларусь
        p.country-header__subtitle Belarus
    
    ul.choose-country__content
        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Минск
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Адрес
                    a(href="#").chosen-city__info-subtitle Театральная, 30

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Телефон
                    p.chosen-city__info-subtitle 52 57 90

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Часы работы
                    p.chosen-city__info-subtitle 10:00 - 21 (ВС с 11:00)
            
            .chosen-city__button Выбрать
        
        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Гомель
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Адрес
                    a(href="#").chosen-city__info-subtitle Освобождения, 25

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Телефон
                    p.chosen-city__info-subtitle 52 57 90

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Часы работы
                    p.chosen-city__info-subtitle 10:00 - 21 (ВС с 11:00)
            
            .chosen-city__button Выбрать

        li.chosen-city
            header.chosen-city__header
                h3.chosen-city__title Витебск
            
            .chosen-city__el.chosen-city__address
                .chosen-city__info
                    h4.chosen-city__info-title Адрес
                    a(href="#").chosen-city__info-subtitle Проспект Ленина, 12

            .chosen-city__el.chosen-city__phone
                .chosen-city__info
                    h4.chosen-city__info-title Телефон
                    p.chosen-city__info-subtitle 52 57 90

            .chosen-city__el.chosen-city__workday
                .chosen-city__info
                    h4.chosen-city__info-title Часы работы
                    p.chosen-city__info-subtitle 10:00 - 21 (ВС с 11:00)
            
            .chosen-city__button Выбрать
