footer.footer
    .footer__content
        .footer__info-n-contacts
            .footer__info
                .footer__logo
                    img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                .footer__caption
                    h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                    p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                    p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

            .footer__contacts
                .footer__social
                    p.footer__social-cta Следите за нами в соц. сетях
                    ul.social.social--golden
                        li.social__item
                            a.social__icon.icon--vk(href="#") ВКонтакте
                        li.social__item
                            a.social__icon.icon--facebook(href="#") Facebook
                        li.social__item
                            a.social__icon.icon--instagram(href="#") Instagram

                .contact.contact--footer
                    h3.contact__title Адрес
                    p.contact__value ул. Театральная, 30
                    
                .contact.contact--footer
                    h3.contact__title Телефон
                    p.contact__value 52–57–90

                .contact.contact--footer
                    h3.contact__title Часы работы
                    p.contact__value 10:00 — 21:00 (Вс. с 11:00)

                .footer__city Калининград

        .footer__menues
            .footer__main-nav
                h3.footer-menu__title Меню
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="") ГЛАВНАЯ
                    li.footer-menu__item
                        a.footer-menu__link(href="") НОВОСТИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") УСЛУГИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") ФРАНШИЗА

            .footer__services-nav
                h3.footer-menu__title Услуги
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="") СТРИЖКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") БРИТЬЁ
                    li.footer-menu__item
                        a.footer-menu__link(href="") ТАТУИРОВКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") БАРБЕР-СПА

            .footer__info-nav
                h3.footer-menu__title Информация
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ

    .footer__copyrights
        p © 2014–2019 Oldboy Barbershop
