footer.footer
    .footer__content
        .footer__info-n-contacts
            .footer__info
                .footer__logo
                    a(href="index.html")
                        img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                .footer__caption
                    h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                    p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                    p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

        .footer__menues
            .footer__main-nav
                h3.footer-menu__title Меню
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="index.html") ГЛАВНАЯ
                    li.footer-menu__item
                        a.footer-menu__link(href="news.html") НОВОСТИ
                    li.footer-menu__item
                        a.footer-menu__link(href="index.html#services") УСЛУГИ
                    li.footer-menu__item
                        a.footer-menu__link(href="franchise.html") ФРАНШИЗА

            .footer__services-nav
                h3.footer-menu__title Услуги
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="haircut.html") СТРИЖКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="royal.html") КОРОЛЕВСКОЕ БРИТЬЁ
                    li.footer-menu__item
                        a.footer-menu__link(href="tattoo.html") ТАТУИРОВКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="#") БАРБЕР-СПА

            .footer__info-nav
                h3.footer-menu__title Информация
                ul.footer-menu
                    li.footer-menu__item
                        a.footer-menu__link(href="privacy.html") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                    li.footer-menu__item
                        a.footer-menu__link(href="terms.html") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ


    .footer__copyrights
        p © 2014–2019 Oldboy Barbershop
