article.invest-form-container
    form.invest(action="#")
        header.invest__header
            h2.invest__title Инвестируй в Oldboy
            p.invest__subtitle Заполни форму и наш менеджер с вами свяжется
        
        .invest-content
            .invest__input-container
                input.invest__input(type="text" name="fullname", placeholder="Имя")
            .invest__input-container
                input.invest__input(type="tel", name="phone", placeholder="Телефон")
            .invest__input-container
                input.invest__input(type="email", name="email" placeholder="E-mail")
            .invest__input-container
                input.invest__input(type="text" name="income" placeholder="Желаемый уровень инвестиций")
            .invest__input-container
                input.invest__input-checkbox#invest-input-checkbox(type="checkbox" name="policy" required checked)
                label(for="invest-input-checkbox").invest__input-policy Я соглашаюсь с #[a.invest__input-policy-link(href="/privacy.html") политикой конфиденциальности]
            
            .invest__input-container
                input.button.button--ghost#invest__input-submit(type="submit" value="Отправить заявку")

            .invest__close-icon
                .close-button