nav.main-nav
    ul.main-nav__list
        li.main-nav__item: a(href="index.html").main-nav__link Главная
        li.main-nav__item: a(href="index.html#services").main-nav__link.alphabet__trigger Услуги
        li.main-nav__item: a(href="blog.html").main-nav__link Блог
        li.main-nav__item: a(href="franchise.html").main-nav__link Франшиза
        li.main-nav__item: a(href="investment.html").main-nav__link Ивенстиции
        li.main-nav__item: a(href="investment.html").main-nav__link Вакансии Oldboy
        li.main-nav__item: a(href="investment.html").main-nav__link Ивенстиции