.fr-benefit {
    // positioning
    position: relative;
    
    // box model
    margin-bottom: 35px;

    // typography
    font-size: 1rem;

    @include atTablet {
        // box model
        margin-bottom: 75px;

        // typography
        font-size: 1.125rem;
    }

    @include atDesktopS {
        // box model
        width: 100%;
        max-width: 333px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &:before {
        content: counter(li-counter, decimal-leading-zero);
        counter-increment: li-counter;

        // positioning
        position: absolute;
        top: 0;
        left: 0;
        
        // box model
        width: 0.8em;
        
        // typography
        font-size: 1.875em;
        font-family: $mainFont;
        font-weight: 100;
        line-height: 1;
        letter-spacing: 4.8px;
        text-align: right;
        color: $golden;

        @include atTablet {
            // typography
            font-size: 4em;
            line-height: 54px;
            letter-spacing: 14.4px;
        }

        @include atDesktopS {
            // positioning
            position: relative;

            // box model
            display: block;
            width: 100%;
            margin-bottom: 30px;

            // typography
            text-align: center;
        }
    }
}

.fr-benefit__text {
    // box model
    margin: 0;
    margin-left: 3.750em;

    // typography
    font-family: $mainFont;
    font-size: 1em;
    line-height: 24px;
    letter-spacing: 4.8px;
    text-transform: uppercase;

    @include atTablet {
        // box model
        margin-left: 6.75em;
    }

    @include atDesktopS {
        // box model
        margin: 0;
        margin-bottom: 15px;
    }
}

.fr-benefit__descr {
    // typography
    font-size: 1rem;
    line-height: 24px;
    font-family: $mainFont;
    color: #898989;

    @include atTablet {
        // box model
        margin-left:7.5em;
    }

    @include atDesktopS {
        // box model
        margin: 0;
    }
}