// colors
$black: #000000;
$dark: #131313;
$light: #ffffff;
$lightGrey: #aeaeae;
$bianca: #fbf6ee;
$golden: #d6a354;
$darkGold: #896322;
$red: rgb(175, 33, 46);
$blue: rgb(0, 101, 168);


// fonts
$mainFont: 'Open Sans', Arial, sans-serif;
$titleFont: 'Rex', Arial, sans-serif;
$displayFont: 'Rex Bold Inline', Arial, sans-serif;
