<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>promo</title>
</head>
<body>
    <div class="content">
        <article class="promo">
            <input type="checkbox" class="checkbox" id="checkbox" />
            <label for="checkbox"></label>
            <header class="promo__header">
                <p class="promo__service">Комплексная услуга</p>
                
                <div class="promo__bottom">
                    <p class="promo__price">3500</p>
                    <p class="promo__name">Отец + Сын</p>
                </div>
            </header>
            
            <div class="promo__description">
                <p class="promo__service_second">Опиcание услуги</p>
                <h3 class="promo__title">"Друг + Друг" Комплексная услуга</h3>
                <div class="promo__text">
                    <p>Две мужские стрижки, подряд, у одного мастера со скидкой 17%</p>
                    <p>Более подробные условия уточняйте у администратора.</p>
                </div>
            </div>
            

         <div class="promo__photo" style="background-image: url(img/pic.jpg)"></div>
        <div class="promo__background"></div>
        </article>
    </div>
</body>
</html>