@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

* {
    /* box model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content   {
    /* box model */
    margin: 0 auto;
    width: 1200px;
}

.promo {
    /* positioning */
    position: relative;
    z-index: 2;
    
    /* box model */
    width: 338px;
    height: 517px;
    
    /* visual */
    background-color: #000000;
    border-radius: 2%;   
    overflow: hidden;
}

.checkbox {
    /* positioning */
    position: absolute;
    z-index: -1;

    /* visual */
    opacity: 0;
}

.checkbox + label {
    /* positioning */
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2;
    
    /* box model */
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #ffffff;
  
    /* typography */
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    font-family: FontAwesome;
    line-height: 30px;


    /* misc */
    cursor: pointer;
  }

.checkbox + label:before{
      content: "i";
  }
  
.checkbox:checked + label:before {
      content: "\f00d";
  } 
  
.checkbox:checked ~ .promo__description .promo__title {
    opacity: 1;
    transition: 1s;
} 

.checkbox:checked ~ .promo__description .promo__text p {
    opacity: 1;
    transition: 1s;
} 

.checkbox:checked ~ .promo__header .promo__service {
    opacity: 1;
    transition: 1s;
}

.checkbox:checked ~ .promo__header .promo__service_second {
    opacity: 1;
    transition: 1s;
}

.checkbox:checked ~ .promo__background {
    opacity: 1;
    transition: 1s;
}


.promo__header {
    /* positioning */
    position: absolute;
    
    /* box model */
    height: 100%;
    width: 100%;
}

.promo__service {
    /* positioning */
    position: absolute;
    transform-origin: left center;
    transform: rotate(-15deg);
    left: -20px;
    top: 80px;
    padding-left: 60px;
    z-index: 1;
    
    /* box model */
    width: 120%;
    
    /* typography */
    color: #ffffff;
    line-height: 45px;
    text-transform: uppercase;
    
    /* visual */
    font-style: oblique;
    background-color: #d6a354;
    text-shadow: black 1px 1px 2px;
}

.promo__service_second {
    /* positioning */
    position: absolute;
    transform-origin: left center;
    transform: rotate(-15deg);
    left: -20px;
    top: 80px;
    padding-left: 60px;
    z-index: 1;
    
    /* box model */
    width: 120%;
    
    /* typography */
    color: #ffffff;
    line-height: 45px;
    text-transform: uppercase;
    
    /* visual */
    font-style: oblique;
    background-color: #d6a354;
    opacity: 0;
    transition: 1s;
}

.promo__bottom {
    /* positioning */
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.promo__price  {
    /* positioning */
    position: absolute;
    bottom: 80px;
    transform: rotate(-15deg);
    transform-origin: right center;
    right: -20px;
    z-index: 2;

    /* box model */
    width: 175px;
    height: 74px;
    
    /* typography */
    text-align: center;
    font-size: 52px;
    font-weight: 800;
    line-height: 74px;
    
    /* visual */
    font-style: oblique;
    background-color: #d6a354;
    color: #f9fcff;
    text-shadow: 1px 1px 2px black;
}

.promo__name {
    /* positioning */
    position: absolute;
    bottom: 30px;
    right: 8px;
    transform: rotate(-15deg);
    z-index: 2;
    
    /* typography */
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-style: oblique;
    color: #ffffff;
}

.promo__bottom:after {
    /* box model */
    content: "";
    display: block;
    
    /* positioning */
    width: 120%;
    height: 120px;
    position: absolute;
    bottom: -55px;
    right: -30px;
    transform: rotate(-15deg);
    z-index: 1;

    /* visual */
    background-color: rgba(51,52,56,0.7);
}

.promo__description {
    /* positioning */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    
    /* box model */
    height: 100%;
    width: 100%;
    padding: 30px;
    padding-top: 150px;
}


.promo__title {
    /* positioning */
    margin-bottom: 30px;
    
    /* typography */
    color: #fffffd;
    font-size: 20px;
    text-transform: uppercase;
    text-align: right;

    /* visual */
    opacity: 0;
    transition: 1s;
}

.promo__text p {
    /* positioning */
    margin-bottom: 25px;

    /* typography */
    color: #ffffff;
    text-align: right;

    /* visual */
    opacity: 0;
    transition: 1s;
}

.promo__photo {
    /* positioning */
    position: absolute;
    
    /* box model */
    height: 100%;
    width: 100%;
}

.promo__background {
    /* positioning */
    position: absolute;
    width: 100%;
    height: 100%;
    
    /* visual */
    background-color: rgba(51,52,56,0.5);
    opacity: 0;
    transition: 1s;
}