                <div class="city-select">
                    <p class="city-select__title">Выбери свой город: </p>
                    <p class="city-select__city"><a href="choose-city.html">Калининград <span class="city-select__triangle">▼</span></a></p>
                </div>
