<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--404
            .hero__top
                .hero__logo
                    img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .four-o-four
                .four-o-four__message
                    .message-404
                        header.message-404__header
                            p.message-404__subtitle &nbsp;&nbsp;Что&#8209;то&nbsp;пошло&nbsp;не&nbsp;так
                            h1.message-404__title Страница не найдена

                        .message-404__image
                            img(src="/img/404/404.png", alt="")

                        p.message-404__desc Страница устарела,<br> была удалена или<br> не существовала вовсе

                        .message-404__button
                            a.button(href="#") Вернуться на главную

                .four-o-four__info
                    article.info-404
                        h2.info-404__title 129 филиалов<br>в 5 странах и в 5 столицах
                        p.info-404__subtitle Крупнейшая международная сеть мужских парикмахерских
                        p.info-404__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                .four-o-four__quote
                    blockquote
                        p For all those who seek will find
                        cite Luke 11:10
