<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero
            .hero__top
                .hero__logo
                    a(href="#")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")
                
                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .four-o-four
                article.info-404
                    h2.info-404__title 129 филиалов<br>в 5 странах и в 5 столицах
                    p.info-404__subtitle Крупнейшая международная сеть мужских парикмахерских
                    p.info-404__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                .message-404
                    header.message-404__404
                        p.message-404__subtitle Что-то пошло не так
                        h1.message-404__title Страница не найдена

                    .message-404__logo
                        img(src="#", alt="")

                    .message-404__desc
                        p.message-404__text Страница устарела, была удалена или не существовала вовсе

                .quote-404 
                    p.quote-404__text For all those who seek will find <span>Luke 11:10</span>
