<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--404
            .hero__top
                .hero__logo
                    img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .single-screen
                .single-screen__message
                    .message-404
                        header.message-404__header
                            p.message-404__subtitle &nbsp;&nbsp;Что&#8209;то&nbsp;пошло&nbsp;не&nbsp;так
                            h1.message-404__title Страница не найдена

                        .message-404__image
                            img(src="/img/404/404.png", alt="")

                        p.message-404__desc Страница устарела,<br> была удалена или<br> не существовала вовсе

                        .message-404__button
                            a.button.button--ghost(href="#") Вернуться на главную

                .single-screen__info
                    article.franchise-info
                        h2.franchise-info__title 129 филиалов<br>в 5 странах и в 5 столицах
                        p.franchise-info__subtitle Крупнейшая международная сеть мужских парикмахерских
                        p.franchise-info__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                .single-screen__quote
                    blockquote
                        p “For all those who seek will find”
                        cite Luke 11:10