<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--beard
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav
                    include modules/_menu.pug

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    .hero-caption
                        h1.hero-caption__title <span class="hero-caption__big hero-caption__big--beard">Стрижка<br>усов и&nbsp;бороды</span>
                        p.hero-caption__motto Oldboy barbershop <br>только качество
        main
            section.service.service--royal
                .service__header
                    .service__image
                        img(src="", alt="Стрижка усов и бороды в Oldboy Barbershop")

                .service__content
                    h2.service__headline Усы, борода.
                    p.service__text Если Вы готовы кардинально изменить свой внешний вид, барберы Oldboy предлагают вам услугу стрижки бороды и усов. Мы подчеркнем индивидуальную форму Вашей бороды и усов, придав им опрятный и аккуратный вид с помощью ножниц, опасной бритвы, машинок и триммеров. А также профессионально проконсультируем по вопросам ухода за бородой и укладки усов.

                    p.service__text В сети барбершопов Oldboy царит неповторимая атмосфера брутальности и мужества; обратившись однажды за стрижкой бороды или усов, клиенты возвращаются вновь и пробуют другие процедуры по уходу за лицом и волосами. Ведь помимо обычной коррекции или стрижки наши барберы подбирают Вам индивидуальный, неповторимый стиль. Это зависит от профессионализма: выбор правильной длины бороды и усов, аккуратности оформления формы и контура – все эти аспекты наши мастера подберут индивидуально для Вашего лица. В случае необходимости они откорректируют границы роста волос на лице при помощи специальных инструментов.
                    
                    p.service__text Высококачественное профессиональное бритье и коррекцию усов и бороды в барбершопе Oldboy даст результат, который невозможно достичь в домашних условиях с помощью обычной бритвы. В сочетании с классической стрижкой ухоженные усы и борода придадут уверенности в себе и создадут Вам неповторимый стиль.
        include modules/_choose-city.pug
        include modules/_footer.pug

        script(src="scripts.js")
