<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--branch
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .hero__city-select
                    a(href="choose-city.html").city-select
                        p.city-select__title Выбрать&nbsp;барбершоп&nbsp;<span class="city-select__triangle">▼</span>
                        p.city-select__city Калининград

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    .hero-caption.hero-caption--city
                        h1.hero-caption__title.hero-caption__title--hidden Крупнейшая международная сеть мужских парикмахерских <span class="hero-caption__big">OLDBOY <br>BARBERSHOP</span>
                        p.hero-caption__location Комсомольск-на-Амуре

                .hero__coming
                    .coming
                        p.coming__subtitle Скоро&nbsp;открытие <br><span>барбершопа</span>
                        h2.coming__date 24.12

                .hero__contacts-n-buttons
                    .hero__contacts
                        .contact
                            h2.contact__title Адрес
                            p.contact__value ул. Театральная, 30
                            p.contact__value--place ТЦ «ЕВРОПА»
                            <br>
                            p.contact__value--metro <span>Несуществующая</span> <span>Центральная</span>
                            
                        .contact
                            h2.contact__title Телефон
                            p.contact__value: a(href="tel:52–57–90") 52–57–90

                        .contact
                            h2.contact__title Часы работы
                            p.contact__value 10:00 — 21:00 (Вс. с 11:00)

                    .hero__buttons.hero__buttons--branch
                        a.button.ms_booking(href="#") Запись онлайн<br>
                        a.button.button--ghost(href="#") Сертификат

                        ul.social
                            li.social__item
                                a.social__icon.icon--vk(href="#") ВКонтакте
                            li.social__item
                                a.social__icon.icon--instagram(href="#") Instagram

                aside.hero__vacancy
                    header.hero__vacancy-header
                        p.hero__vacancy-subtitle Хочешь работать в нашем Барбершопе?
                        h2.hero__vacancy-title Стань частью команды OldBoy&nbsp;BarberShop
                        .hero__vacancy-subtitle Звони: +7 911 123-34-56
                    
                //- a.button.button--ghost(href="#") Оставь заявку

        footer.footer
            .footer__content
                .footer__info-n-contacts
                    .footer__info
                        .footer__logo
                            img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                        .footer__caption
                            h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                            p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                            p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                    .footer__contacts
                        .footer__social
                            p.footer__social-cta Следите за нами в соц. сетях
                            ul.social.social--golden
                                li.social__item
                                    a.social__icon.icon--vk(href="#") ВКонтакте
                                li.social__item
                                    a.social__icon.icon--facebook(href="#") Facebook
                                li.social__item
                                    a.social__icon.icon--instagram(href="#") Instagram

                        .contact.contact--footer
                            h3.contact__title Адрес
                            p.contact__value ул. Театральная, 30
                            
                        .contact.contact--footer
                            h3.contact__title Телефон
                            p.contact__value 52–57–90

                        .contact.contact--footer
                            h3.contact__title Часы работы
                            p.contact__value 10:00 — 21:00 (Вс. с 11:00)

                        .footer__city Калининград

                .footer__menues
                    .footer__main-nav
                        ul.footer-menu
                            h3.footer-menu__title Меню
                            li.footer-menu__item
                                a.footer-menu__link(href="") ГЛАВНАЯ
                            li.footer-menu__item
                                a.footer-menu__link(href="") НОВОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛУГИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ФРАНШИЗА

                    .footer__services-nav
                        ul.footer-menu
                            h3.footer-menu__title Услуги
                            li.footer-menu__item
                                a.footer-menu__link(href="") СТРИЖКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БРИТЬЁ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ТАТУИРОВКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БАРБЕР-СПА

                    .footer__info-nav
                        ul.footer-menu
                            h3.footer-menu__title Информация
                            li.footer-menu__item
                                a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ

            .footer__copyrights
                p © 2014–2019 Oldboy Barbershop

        include modules/_choose-city.pug

        script(src="scripts.js")
        script(src="dummy.js")