<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body(style="background-color:#000;")
        section.location-selector
            header.location-selector__header
                .location-selector__caption
                    //- TODO: refactor
                    a(href="#")
                        img(src="", alt="")
                    p.main-nav__caption 130 барбершопов в 10 странах крупнейшая международная сеть мужских парикмахерских

                .location-selector__fast-nav
                    .city-form
                        h3.city-form__title Выбери свой город
                        form.city-form__form(action="")
                            input.city-form__input(type="search" name="search" placeholder="Введите название города" autofocus)
                    
                    //- TODO: change block name
                    .place-groups
                        .place-groups__cities
                            ul.place-groups__list
                                li.place-groups__item Москва
                                li.place-groups__item Московская&nbsp;область
                                li.place-groups__item Санкт-&nbsp;Петербург

                        .place-groups__countries
                            ul.place-groups__list
                                li.place-groups__item Испания
                                li.place-groups__item Кипр
                                li.place-groups__item Сербия
                                li.place-groups__item Грузия
                                li.place-groups__item Казахстан
                                li.place-groups__item Беларусь
                                li.place-groups__item Россия

                .clear-button


            .location-selector__content
                section.addreses
                    .addreses-header
                        .addreses-header__city
                            h3.adresses-header__title Москва
                            h4.adresses-header__subtitle Moscow

                        .addreses-header__buttons
                            a.button.button--map(href="#") На карте
                            a.button.button--metro(href="#") На схеме метро
                    
                    .city-catalogue
                        ul.city-catalogue__list
                            li.city-catalogue__item 3-я Владимирская, 20
                            li.city-catalogue__item 6-я Радиальная, 5 к.4
                            li.city-catalogue__item Автозаводская, 18
                            li.city-catalogue__item Алтуфьевское шоссе, 70к.1
                            li.city-catalogue__item Бориса Галушкина, 17
                            li.city-catalogue__item Боровское Шоссе, 36
                            li.city-catalogue__item Вертолетчиков, 9/1
                            li.city-catalogue__item Вешняковская, 2
                            li.city-catalogue__item Осенний бульвар, 7к1
                            li.city-catalogue__item Поречная, 10 (ТЦ Мари)

                        ul.city-catalogue__list
                            li.city-catalogue__item Вишневая, 9к.1
                            li.city-catalogue__item Волгоградский пр-кт, 26а
                            li.city-catalogue__item Волокаменское ш. 15/22
                            li.city-catalogue__item Гарибальди, 7
                            li.city-catalogue__item Генерала кузнецова, 11к.1
                            li.city-catalogue__item Главмосстроя, 12
                            li.city-catalogue__item Гончарная набережная, 9/16 С2
                            li.city-catalogue__item Дмитровское шоссе, 62С5
                            li.city-catalogue__item Добролюбова, 20
                            li.city-catalogue__item Новослободская, 52

                        ul.city-catalogue__list
                            li.city-catalogue__item Киевское шоссе, 6 стр.1
                            li.city-catalogue__item Кировоградская, 9к1
                            li.city-catalogue__item Красноказарменная, 19
                            li.city-catalogue__item Ленинградское шоссе, 120 КЗ
                            li.city-catalogue__item Маршала Вершинина, 8К.1
                            li.city-catalogue__item Машкова, 24 (м. Курская)
                            li.city-catalogue__item Мичуринский проспект, 26
                            li.city-catalogue__item Мытная, 52
                            li.city-catalogue__item Нагатинская, 16
                            li.city-catalogue__item Нахимовский проспект, 9К1

                        ul.city-catalogue__list
                            li.city-catalogue__item пр. 60-летия октября, 14
                            li.city-catalogue__item Пресненский вал, 14 К.2
                            li.city-catalogue__item Профсоюзная 102А
                            li.city-catalogue__item Пятницкая, 6/1
                            li.city-catalogue__item Святоозерская, 16
                            li.city-catalogue__item Студенческая, 26
                            li.city-catalogue__item Удальцова, 71 К2
                            li.city-catalogue__item Шереметьевская, 20А

                section.choose-city
                .choose-city__column
                    .choose-city__wrapper
                        span.choose-city__letter А
                        ul.choose-city__list Актау
                            li.choose-city__item ЖК Миланский квартал
                            li.choose-city__item Иманова, 16
                    
                        ul.choose-city__list Алматы
                            li.choose-city__item Губкина, 38Б
                            li.choose-city__item Попова, 36

                        ul.choose-city__list Атырау
                            li.choose-city__item Петербургская, 9

                        ul.choose-city__list Армавир
                            li.choose-city__item Петербургская, 9

                        ul.choose-city__list Альметьевск
                            li.choose-city__item Петербургская, 9

                        ul.choose-city__list--soon Ашхабад
                            li.choose-city__item Петербургская, 9 <br> <span class="coming-soon">Скоро открытие</span>

                    .choose-city__wrapper
                        span.choose-city__letter Б
                        ul.choose-city__list Балаково
                            li.choose-city__item Кубанская наб., 64
                    
                        ul.choose-city__list Барнаул
                            li.choose-city__item Губкина, 38Б
                            li.choose-city__item Попова, 36

                        ul.choose-city__list Бишкек
                            li.choose-city__item Кубанская наб., 64

                        ul.choose-city__list Брянск
                            li.choose-city__item Губкина, 38Б

                        ul.choose-city__list--soon Беслан
                            li.choose-city__item Кубанская наб., 64<br> <span class="coming-soon">Скоро открытие</span>

                        ul.choose-city__list--soon Брест
                            li.choose-city__item Кубанская наб., 64<br> <span class="coming-soon">Скоро открытие</span>

                .choose-city__column
                    .choose-city__wrapper
                        span.choose-city__letter К
                        ul.choose-city__list Кемерово
                        ul.choose-city__list Калуга
                        ul.choose-city__list Караганда
                        ul.choose-city__list Курск
                        ul.choose-city__list Каспийск

                    .choose-city__wrapper
                        span.choose-city__letter М
                        ul.choose-city__list Махачкала
                        ul.choose-city__list Мурманск
                        ul.choose-city__list Минск

                    .choose-city__wrapper
                        span.choose-city__letter Н
                        ul.choose-city__list Нижневаторск
                        ul.choose-city__list Норильск
                        ul.choose-city__list Новый Уренгой
                        ul.choose-city__list Новороссийск
                        ul.choose-city__list Новосибирск
                        ul.choose-city__list Находка
                        ul.choose-city__list Набережные Челны
                        ul.choose-city__list Ноябрьск
                        ul.choose-city__list Нефтекамск
                        ul.choose-city__list Нижний Тагил
                        ul.choose-city__list Новокузнецк

                .choose-city__column
                    .choose-city__wrapper
                        span.choose-city__letter П
                        ul.choose-city__list Петропавловск-Камчатский
                        ul.choose-city__list Пермь
                        ul.choose-city__list Псков

                    .choose-city__wrapper
                        span.choose-city__letter Р
                        ul.choose-city__list Ростов-на-Дону

                    .choose-city__wrapper
                        span.choose-city__letter С
                        ul.choose-city__list Севастополь
                        ul.choose-city__list Ставрополь
                        ul.choose-city__list Сургут
                        ul.choose-city__list Самара
                        ul.choose-city__list Симферополь
                        ul.choose-city__list--soon Салехад <span class="coming-soon">Скоро открытие</span>

                    .choose-city__wrapper
                        span.choose-city__letter Т
                        ul.choose-city__list Тюмень
                        ul.choose-city__list Тамбов
                        ul.choose-city__list Тольятти
                        ul.choose-city__list Тверь
                        ul.choose-city__list Тбилиси

                .choose-city__column    
                    .choose-city__wrapper
                        span.choose-city__letter Г
                        ul.choose-city__list Гомель
                        ul.choose-city__list Грозный

                    .choose-city__wrapper 
                        span.choose-city__letter Е    
                        ul.choose-city__list Екатеринбург
                        ul.choose-city__list Ессентуки <span class="coming-soon">Скоро открытие</span>

                    .choose-city__wrapper
                        span.choose-city__letter О
                        ul.choose-city__list Омск
                        ul.choose-city__list Оренбург

                    .choose-city__wrapper
                        span.choose-city__letter У
                        ul.choose-city__list Усть-Каменогорск
                        ul.choose-city__list Уфа
                        ul.choose-city__list Уссурийск

                    .choose-city__wrapper
                        span.choose-city__letter Х
                        ul.choose-city__list Харьков
                        ul.choose-city__list Хабаровск

                .choose-city__column
                    .choose-city__wrapper
                        span.choose-city__letter Ч
                        ul.choose-city__list Чебоксары
                        ul.choose-city__list Череповец
                        ul.choose-city__list Челябинск

                    .choose-city__wrapper
                        span.choose-city__letter Ю
                        ul.choose-city__list 
                        ul.choose-city__list Югорск

                    .choose-city__wrapper
                        span.choose-city__letter Я
                        ul.choose-city__list Ярославль
                        ul.choose-city__list Якутск



