<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        section.location-selector
            header.location-selector__header
                .location-selector__caption
                    //- TODO: refactor
                    a(href="#")
                        img(src="/img/logo-dark.svg", alt="")
                    p.location-selector__intro <em>130 барбершопов в 10 странах</em> крупнейшая международная сеть мужских парикмахерских

                .location-selector__fast-nav
                    .city-form
                        h3.city-form__title Выбери свой город
                        form.city-form__form(action="")
                            input.city-form__input(type="search" name="search" placeholder="Введите название города" autofocus)
                    
                    .location-selector__places
                        .place-groups
                            .place-groups__cities
                                ul.place-groups__list
                                    li.place-groups__item Москва
                                    li.place-groups__item Московская&nbsp;область
                                    li.place-groups__item Санкт-&nbsp;Петербург

                            .place-groups__countries
                                ul.place-groups__list
                                    li.place-groups__item Испания
                                    li.place-groups__item Кипр
                                    li.place-groups__item Сербия
                                    li.place-groups__item Грузия
                                    li.place-groups__item Казахстан
                                    li.place-groups__item Беларусь
                                    li.place-groups__item Россия

                .location-selector__close
                    //- TODO: rename block
                    .close-button

            .location-selector__content
                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Москва
                            p.featured-location__subtitle Moscow
                        .featured-location__buttons
                            //- TODO: make separate block
                            a.button-location(href="#") На карте
                            a.button-location(href="#") На схеме метро

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/perovo').location-list__link 3-Я Владимирская, 20
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/caricino').location-list__link 6-Я Радиальная, 5 К.4
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/avtozavodskaya').location-list__link Автозаводская, 18
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/altufyevo').location-list__link Алтуфьевское Шоссе, 70К.1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/fili').location-list__link Береговой Проезд, 5 К2
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/vdnh').location-list__link Бориса Галушкина, 17
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/novoperedelkino').location-list__link Боровское Шоссе, 36
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/nekrasovka').location-list__link Вертолётчиков, 9/1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/veshnyaki').location-list__link Вешняковская, 2
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/tushino').location-list__link Вишневая, 9К.1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/volgogradka').location-list__link Волгоградский Проспект, 26А
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/kuzminki').location-list__link Волжский Бульвар, КВ 114А, К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/sokol').location-list__link Волоколамское Шоссе 15/22
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/garibaldi').location-list__link Гарибальди, 7
                            li.location-list__item
                                a(href='#').location-list__link Генерала Белова, 28 К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/zhulebino').location-list__link Генерала Кузнецова, 11К.1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/glavmosstroya').location-list__link Главмосстроя, 12
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/taganka').location-list__link Гончарная Набережная, 9/16 С2
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/dobrolybova').location-list__link Добролюбова, 20
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/rumyancevo').location-list__link Киевское Шоссе, 6 СТР.1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/uznaya').location-list__link Кировоградская, 9К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/aviamotornaya').location-list__link Красноказарменная, 19
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/botsad').location-list__link Лазоревый Проезд, 5 К3
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/leningradka').location-list__link Ленинградское Шоссе, 120 К3
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/vershinina').location-list__link Маршала Вершинина, 8К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/mashkova').location-list__link Машкова, 24 (М. Курская)
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/michurinskiy').location-list__link Мичуринский Проспект, 26
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/shabolovka').location-list__link Мытная, 52
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/nagatinskaya').location-list__link Нагатинская, 16
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/nahimovsky').location-list__link Нахимовский Проспект, 9К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/novoslobodskaya').location-list__link Новослободская, 52
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/krylatskoe').location-list__link Осенний Бульвар, 7К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/marino').location-list__link Поречная, 10 (ТЦ Мари)
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/academicheskaya').location-list__link Пр. 60-Летия Октября, 14
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/presnenskiy').location-list__link Пресненский Вал, 14 К2
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/belyaevo').location-list__link Профсоюзная, 102А
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/central').location-list__link Пятницкая, 6/1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/rublevka').location-list__link Рублёвское Шоссе, 62
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/svetmsk').location-list__link Святоозерская, 16
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/degunino').location-list__link Софьи Ковалевской, 6
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/kutuza').location-list__link Студенческая, 26
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/vernad').location-list__link Удальцова, 71 К2
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/newbutovo').location-list__link Чечерский проезд, 122 К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/sheremetevskaya').location-list__link Шереметьевская, 20А

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Московская область
                            p.featured-location__subtitle Moscow Region

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/balashikha').location-list__link Балашиха
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/you-butovo').location-list__link Бутово
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/newbutovo').location-list__link Бутово Молл
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/vidnoe').location-list__link Видное
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/voskresensk').location-list__link Воскресенск
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/dzr').location-list__link Дзержинский
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/dolgoprudniy').location-list__link Долгопрудный
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/domodedovo').location-list__link Домодедово
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/zhelezka').location-list__link Железнодорожный
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/zhukovskiy').location-list__link Жуковский
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/zelenograd').location-list__link Зеленоград
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/ilinskoe').location-list__link Ильинское
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/klin').location-list__link Клин
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/korolev').location-list__link Королёв
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/krasnogorsk').location-list__link Красногорск
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/lubercy').location-list__link Люберцы
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/mytischi').location-list__link Мытищи
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/noginsk').location-list__link Ногинск
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/orezuev').location-list__link Орехово-Зуево
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/podolsk').location-list__link Подольск
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/ramenskoe').location-list__link Раменское
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/reutov').location-list__link Реутов
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/serpukhov').location-list__link Серпухов
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/troick').location-list__link Троицк
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/fryazino').location-list__link Фрязино
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/himki-kalinina').location-list__link Химки (Калинина)
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/moscow/michurinskiy').location-list__link Химки (Соколовская)
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/chehov').location-list__link Чехов
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/schelkovo').location-list__link Щелково
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/schelkovo-centr').location-list__link Щелково Центр
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/msk-region/electrostal').location-list__link Электросталь

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Санкт–Петербург
                            p.featured-location__subtitle St.&nbsp;Petersburg
                        .featured-location__buttons
                            //- TODO: make separate block
                            a.button-location(href="#") На карте
                            a.button-location(href="#") На схеме метро

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/tehnolozhka').location-list__link 8-Я Красноармейская, 4/5
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/petrograd').location-list__link Воскова, 16
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/ozerki').location-list__link Выборгское шоссе, 13А
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/gatchina').location-list__link Гатчина, пр. 25-го октября, 34
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/gjatskaya').location-list__link Гжатская, 22 К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/nevsky').location-list__link Грибоедова, 10
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/kirochnaya').location-list__link Кирочная, 9
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/kudrovo').location-list__link Кудрово, Венская 4/1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/leninskiy').location-list__link Ленинский проспект, 78 К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/parnas').location-list__link М. Дудина, 23 К1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/sadovaya').location-list__link Московский проспект, 6
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/ostrov').location-list__link Нахимова, 20
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/optikov').location-list__link Оптиков, 34/1
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/obuhov').location-list__link Пр. Обуховской обороны, 271А
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/ozerki-toreza').location-list__link Проспект Тореза, 95
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/pionerskaya').location-list__link Проспект Королёва, 2
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/slava').location-list__link Проспект Славы, 43/49
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/mayakovskaya').location-list__link Пушкинская, 12
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/tipanova').location-list__link Типанова, 21, Лит. А
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/spb/ladozhsky').location-list__link Проспект Энтузиастов, 33 К1

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Калининград
                            p.featured-location__subtitle Kaliningrad

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/kaliningrad/artilleriyskaya').location-list__link Артиллерийская, 22
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/kaliningrad/teatralnaya').location-list__link Театральная, 30

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Астана
                            p.featured-location__subtitle Astana

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/astana/milanskiy').location-list__link ЖК Миланский Квартал
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/astana/imanova').location-list__link Иманова, 16

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Белгород
                            p.featured-location__subtitle Belgorod

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/belgorod/gubkina').location-list__link Губкина, 38Б
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/belgorod/popova').location-list__link Попова, 36

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Казань
                            p.featured-location__subtitle Kazan

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/kazan/tukaya').location-list__link Петербургская, 9
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/kazan/hakima').location-list__link Сибгата Хакима, 42

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Красноярск
                            p.featured-location__subtitle Krasnoyarsk

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/krasnoyarsk/first-tower').location-list__link БЦ Первая Башня
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/krasnoyarsk/svobodniy').location-list__link Проспект Свободный, 53

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Краснодар
                            p.featured-location__subtitle Krasnodar

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/krasnodar/kubanskaya').location-list__link Кубанская набережная, 64
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/krasnodar/sedina').location-list__link Седина 150/5

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Нижний Новгород
                            p.featured-location__subtitle Nizhniy Novgorod

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/nizh-novgorod/belinskogo').location-list__link Белинского, 102
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/nizh-novgorod/sovetskaya').location-list__link Советская площадь, 5


                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Рязань
                            p.featured-location__subtitle Ryazan

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/ryazan/mayakovskogo').location-list__link Маяковского, 49
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/ryazan/plaza').location-list__link ТРЦ Виктория Плаза

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Сочи
                            p.featured-location__subtitle Sochi

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/sochi/vorovskogo').location-list__link Воровского, 18
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/sochi/adler').location-list__link Кирова, 30
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/sochi/rosakhutor').location-list__link Красная Поляна


                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Воронеж
                            p.featured-location__subtitle Voronezh

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/voronezh/leviy-bereg').location-list__link ТРК Левый Берег
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/voronezh/holzunova').location-list__link Хользунова, 15

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Украина
                            p.featured-location__subtitle Ukraine

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/ua/odessa').location-list__link Одесса
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/ua/harkov').location-list__link Харьков

                section.featured-location
                    header.featured-location__header
                        .featured-location__caption
                            h3.featured-location__title Европа
                            p.featured-location__subtitle Europe

                    .featured-location__content
                        ul.location-list
                            li.location-list__item
                                a(href='#').location-list__link Польша
                            li.location-list__item
                                a(href='#').location-list__link Испания
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/eu/cyprus').location-list__link Кипр
                            li.location-list__item
                                a(href='https://oldboybarbershop.com/eu/serbia').location-list__link Сербия

                section.all-locations
                    .branch-addresses
                        .branch-addresses__index
                            .branch-addresses__letter А
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Актау
                                    li.location-list__item
                                        a(href='https://oldboybarbershop.com/aktau/').location-list__link 6-й Микрорайон, 39

                                ul.location-list
                                    h4.location-list__city Алматы
                                    li.location-list__item
                                        a(href='https://oldboybarbershop.com/almaty/').location-list__link Байжанова Сапара
                                    li.location-list__item
                                        a(href='https://oldboybarbershop.com/almaty/').location-list__link Проспект Достык 111/4

                                ul.location-list
                                    h4.location-list__city Атырау
                                    li.location-list__item Петербургская, 9

                                ul.location-list
                                    h4.location-list__city Армавир
                                    li.location-list__item Петербургская, 9

                                ul.location-list
                                    h4.location-list__city Альметьевск
                                    li.location-list__item Петербургская, 9

                                ul.location-list
                                    h4.location-list__city Ашхабад
                                    li.location-list__item Петербургская, 9 <br> <em>Скоро открытие</em>

                        .branch-addresses__index
                            .branch-addresses__letter Б
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Балаково
                                    li.location-list__item Кубанская наб., 64

                                ul.location-list
                                    h4.location-list__city Барнаул
                                    li.location-list__item Губкина, 38Б
                                    li.location-list__item Попова, 36

                                ul.location-list
                                    h4.location-list__city Бишкек
                                    li.location-list__item Кубанская наб., 64

                                ul.location-list
                                    h4.location-list__city Брянск
                                    li.location-list__item Губкина, 38Б

                                ul.location-list
                                    h4.location-list__city Беслан
                                    li.location-list__item Кубанская наб., 64<br> <em>Скоро открытие</em>

                                ul.location-list
                                    h4.location-list__city Брест
                                    li.location-list__item Кубанская наб., 64<br> <em>Скоро открытие</em>

                        
                        .branch-addresses__index
                            .branch-addresses__letter К
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Кемерово
                                    h4.location-list__city Калуга
                                    h4.location-list__city Караганда
                                    h4.location-list__city Курск
                                    h4.location-list__city Каспийск

                        .branch-addresses__index
                            .branch-addresses__letter М
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Махачкала
                                    h4.location-list__city Мурманск
                                    h4.location-list__city Минск

                        .branch-addresses__index
                            .branch-addresses__letter Н
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Нижневаторск
                                    h4.location-list__city Норильск
                                    h4.location-list__city Новый Уренгой
                                    h4.location-list__city Новороссийск
                                    h4.location-list__city Новосибирск
                                    h4.location-list__city Находка
                                    h4.location-list__city Набережные Челны
                                    h4.location-list__city Ноябрьск
                                    h4.location-list__city Нефтекамск
                                    h4.location-list__city Нижний Тагил
                                    h4.location-list__city Новокузнецк

                        .branch-addresses__index
                            .branch-addresses__letter П
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Петропавловск-Камчатский
                                    h4.location-list__city Пермь
                                    h4.location-list__city Псков

                        .branch-addresses__index
                            .branch-addresses__letter Р
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Ростов-на-Дону

                        .branch-addresses__index
                            .branch-addresses__letter С
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Севастополь
                                    h4.location-list__city Ставрополь
                                    h4.location-list__city Сургут
                                    h4.location-list__city Самара
                                    h4.location-list__city Симферополь
                                    h4.location-list__city Салехад <em>Скоро открытие</em>

                        .branch-addresses__index
                            .branch-addresses__letter Т
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Тюмень
                                    h4.location-list__city Тамбов
                                    h4.location-list__city Тольятти
                                    h4.location-list__city Тверь
                                    h4.location-list__city Тбилиси

                        .branch-addresses__index
                            .branch-addresses__letter Г
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Гомель
                                    h4.location-list__city Грозный

                        .branch-addresses__index
                            .branch-addresses__letter Е
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Екатеринбург
                                    h4.location-list__city Ессентуки <em>Скоро открытие</em>

                        .branch-addresses__index
                            .branch-addresses__letter О
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Омск
                                    h4.location-list__city Оренбург

                        .branch-addresses__index
                            .branch-addresses__letter У
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Усть-Каменогорск
                                    h4.location-list__city Уфа
                                    h4.location-list__city Уссурийск

                        .branch-addresses__index
                            .branch-addresses__letter Х
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Харьков
                                    h4.location-list__city Хабаровск
                        
                        .branch-addresses__index
                            .branch-addresses__letter Ч
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Чебоксары
                                    h4.location-list__city Череповец
                                    h4.location-list__city Челябинск

                        .branch-addresses__index
                            .branch-addresses__letter Ю
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Югорск

                        .branch-addresses__index
                            .branch-addresses__letter Я
                            .branch-addresses__content
                                ul.location-list
                                    h4.location-list__city Ярославль
                                    h4.location-list__city Якутск



