<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--city
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой барбершоп: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    .hero-caption.hero-caption--city
                        h1.hero-caption__title.hero-caption__title--hidden Крупнейшая международная сеть мужских парикмахерских <span class="hero-caption__big">OLDBOY <br>BARBERSHOP</span>
                        p.hero-caption__location Калининград

                    .hero__buttons.hero__buttons--center
                        a.button(href="#") Запись онлайн<br>


        main
            section.branch-section
                header.branch-section__header
                    h2.branch-section__title Выбери <em>свой</em> барбершоп

                .branch-section__content
                    ul.location-list.location-list--city
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/perovo">3-Я Владимирская, 20</a>
                            <div class="location-list__metro moscow"><span>Перово</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/caricino">6-Я Радиальная, 5 К.4</a>
                            <div class="location-list__metro moscow"><span>Царицино</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/avtozavodskaya">Автозаводская, 18</a>
                            <div class="location-list__metro moscow"><span>Автозаводская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/altufyevo">Алтуфьевское Шоссе, 70К.1</a>
                            <div class="location-list__metro moscow"><span>Алтуфьево</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/fili">Береговой Проезд, 5 К2</a>
                            <div class="location-list__metro moscow"><span>Шелепиха</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/vdnh">Бориса Галушкина, 17</a>
                            <div class="location-list__metro moscow"><span>ВДНХ</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/borisa-pasternaka-d-19">Бориса Пастернака, 19</a>
                            <div class="location-list__metro moscow"><span>Рассказовка</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/novoperedelkino">Боровское Шоссе, 36</a>
                            <div class="location-list__metro moscow"><span>Новопеределкино</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/aerobus">Варшавское шоссе, 95, К1 (ТЦ Аэробус)</a>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/nekrasovka">Вертолётчиков, 9/1</a>
                            <div class="location-list__metro moscow"><span>Люберцы</span><span>Некрасовка</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/veshnyaki">Вешняковская, 2</a>
                            <div class="location-list__metro moscow"><span>Вешняки</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/tushino">Вишневая, 9К.1</a>
                            <div class="location-list__metro moscow"><span>Тушинская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/volgogradka">Волгоградский Проспект, 26А</a>
                            <div class="location-list__metro moscow"><span>Волгоградский проспект</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/kuzminki">Волжский Бульвар, КВ 114А, К1</a>
                            <div class="location-list__metro moscow"><span>Кузьминки</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/sokol">Волоколамское Шоссе 15/22</a>
                            <div class="location-list__metro moscow"><span>Стрешнево</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/garibaldi">Гарибальди, 7</a>
                            <div class="location-list__metro moscow"><span>Новые Черемушки</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/dmd">Генерала Белова, 28 К1</a>
                            <div class="location-list__metro moscow"><span>Домодедовская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/zhulebino">Генерала Кузнецова, 11К.1</a>
                            <div class="location-list__metro moscow"><span>Жулебино</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/glavmosstroya">Главмосстроя, 12</a>
                            <div class="location-list__metro moscow"><span>Говорово</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/taganka">Гончарная Набережная, 9/16 С2</a>
                            <div class="location-list__metro moscow"><span>Марксистская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/dobrolybova">Добролюбова, 20</a>
                            <div class="location-list__metro moscow"><span>Фонвизинская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/rumyancevo">Киевское Шоссе, 6 СТР.1</a>
                            <div class="location-list__metro moscow"><span>Румянцево</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/uznaya">Кировоградская, 9К1</a>
                            <div class="location-list__metro moscow"><span>Южная</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/aviamotornaya">Красноказарменная, 19</a>
                            <div class="location-list__metro moscow"><span>Авиамоторная</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/botsad">Лазоревый Проезд, 5 К3</a>
                            <div class="location-list__metro moscow"><span>Ботанический сад</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/leningradka">Ленинградское Шоссе, 120 К3</a>
                            <div class="location-list__metro moscow"><span>Беломорская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/vershinina">Маршала Вершинина, 8К1</a>
                            <div class="location-list__metro moscow"><span>Октябрьское поле</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/mashkova">Машкова, 24</a>
                            <div class="location-list__metro moscow"><span>Курская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/michurinskiy">Мичуринский Проспект, 26</a>
                            <div class="location-list__metro moscow"><span>Раменки</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/shabolovka">Мытная, 52</a>
                            <div class="location-list__metro moscow"><span>Шаболовская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/nagatinskaya">Нагатинская, 16</a>
                            <div class="location-list__metro moscow"><span>Нагатинская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/nahimovsky">Нахимовский Проспект, 9К1</a>
                            <div class="location-list__metro moscow"><span>Нахимовский проспект</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/novoslobodskaya">Новослободская, 52</a>
                            <div class="location-list__metro moscow"><span>Менделеевская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/krylatskoe">Осенний Бульвар, 7К1</a>
                            <div class="location-list__metro moscow"><span>Крылатское</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/europe-square">Площадь Европы, 2 (Рэдиссон)</a>
                            <div class="location-list__metro moscow"><span>Киевская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/marino">Поречная, 24 (ТЦ Мари)</a>
                            <div class="location-list__metro moscow"><span>Марьино</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/academicheskaya">Пр. 60-Летия Октября, 14</a>
                            <div class="location-list__metro moscow"><span>Академическая</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/presnenskiy">Пресненский Вал, 14 К2</a>
                            <div class="location-list__metro moscow"><span>Улица 1905 года</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/belyaevo">Профсоюзная, 102А</a>
                            <div class="location-list__metro moscow"><span>Беляево</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/central">Пятницкая, 6/1</a>
                            <div class="location-list__metro moscow"><span>Новокузнецкая</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/rublevka">Рублёвское Шоссе, 62</a>
                            <div class="location-list__metro moscow"><span>Крылатское</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/svetmsk">Святоозерская, 16</a>
                            <div class="location-list__metro moscow"> <span>Лухмановская</span><span>улица Дмитриевского</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/degunino">Софьи Ковалевской, 6</a>
                            <div class="location-list__metro moscow"><span>Селигерская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/kutuza">Студенческая, 26</a>
                            <div class="location-list__metro moscow"><span>Студенческая</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/kaleidoscop">Сходненская, 56 (ТРЦ Калейдоскоп)</a>
                            <div class="location-list__metro moscow"><span>Сходненская</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/vernad">Удальцова, 71 К2</a>
                            <div class="location-list__metro moscow"><span>Проспект Вернадского</span></div>
                        </li>
                        <li class="location-list__item"><a class="location-list__link" href="https://oldboybarbershop.com/moscow/hodinka">Ходынский бульвар 20А (ЖК Лайнер)</a>
                            <div class="location-list__metro moscow"><span>ЦСКА</span></div>
                        </li>


            //- section.news
                .news__header
                    header.section-header
                        h2.section-header__title Новости <br>в городе
                        p.section-header__subtitle Калининград

                .news__editorial
                    .editorial
                        .editorial__photo
                            img(src="/img/news/opening.jpg", alt="Barbershop main news photo")

                        .editorial__content
                            .editorial__caption
                                p.editorial__category Новости франшизы
                                h3.editorial__title Открытие нового барбершопа Oldboy в барселоне
                                p.editorial__subtitle Долгожданное открытие второго по счёту барбершопа в столице Испании планируется в&nbsp;конце августа

                            footer.editorial__footer
                                .editorial__date
                                    .date
                                        span.date__day 27
                                        span.date__m-n-y <span>июля</span> <span>2018</span>
                                a.editorial__cta(href="#") Читать полностью

                .news__feed
                    article.news-item
                        .news-item__container
                            .news-item__photo
                                img(src="/img/news/news-feed1.jpg", alt="Barbershop news photo")
                            
                            .news-item__content
                                header.news-item__header
                                    p.news-item__category Косметика и аксессуары
                                    h3.news-item__title Старт продаж новой косметики Barber Wild
                                    p.news-item__subtitle Самый ожидаемый старт сезона уже в эти выходные

                                footer.news-item__footer
                                    .news-item__date
                                        .date
                                            span.date__day 27
                                            span.date__m-n-y <span>июля</span> <span>2018</span>
                                    a.news-item__cta(href="#") Читать полностью

                    article.news-item
                        .news-item__container
                            .news-item__photo
                                img(src="/img/news/news-feed2.jpg", alt="Barbershop news photo")
                            
                            .news-item__content
                                header.news-item__header
                                    p.news-item__category Новости регионов
                                    h3.news-item__title Новые акции для выпускников
                                    p.news-item__subtitle Самый ожидаемый старт сезона уже в эти выходные

                                footer.news-item__footer
                                    .news-item__date
                                        .date
                                            span.date__day 27
                                            span.date__m-n-y <span>июля</span> <span>2018</span>
                                    a.news-item__cta(href="#") Читать полностью

                    article.news-item
                        .news-item__container
                            .news-item__photo
                                img(src="/img/news/news-feed3.jpg", alt="Barbershop news photo")

                            .news-item__content
                                header.news-item__header
                                    p.news-item__category Новинки
                                    p.news-item__title Новая услуга в линейке oldboy - Барбер-Спа
                                    p.news-item__subtitle Самый ожидаемый старт сезона уже в эти выходные

                                footer.news-item__footer
                                    .news-item__date
                                        .date
                                            span.date__day 27
                                            span.date__m-n-y <span>июля</span> <span>2018</span>
                                    a.news-item__cta(href="#") Читать полностью
                .news__more
                    a.button(href="#") Смотреть все новости
                    p.news__more-text Узнайте ещё больше новостей барбершопов oldboy

            section.promos
                .promos__header
                    header.section-header
                        h2.section-header__title Акции <br>в городе
                        p.section-header__subtitle Режем&nbsp;цены

                .promos__content
                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 2500
                                p.promo__name Отец + Сын

                        .promo__image
                            img(src="./img/promos/dad-n-son.jpg", alt="Отец и сын, комплексная услуга Oldboy Barbershop")

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Отец + Сын» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 1800
                                p.promo__name Королевское бритьё

                        .promo__image
                            img(src="./img/promos/royal-shaving.jpg", alt="Королевское бритьё, комплексная услуга Oldboy Barbershop")

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price -30%
                                p.promo__name Друг + Друг

                        .promo__image
                            img(src="./img/promos/friend-n-friend.jpg", alt="Друг + друг, комплексная услуга Oldboy Barbershop")

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

            section.price-list
                .price-list__header
                    header.section-header
                        h2.section-header__title Прайс-лист на&nbsp;услуги
                        p.section-header__subtitle.section-header__subtitle--price Стрижём&nbsp;и&nbsp;бреем

                .price-list__content
                    table.price-table
                        caption.price-table__caption Основные услуги

                        tr.price-table__row
                            td.price-table__service Стрижка мужская&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка детская&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Коррекция бороды&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Коррекция бороды с подбриванием&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Бритьё королевское&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка под машинку&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 800
                        tr.price-table__row
                            td.price-table__service Стрижка усов&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Королевское бритьё головы&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Tattoo&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price &nbsp;

                    table.price-table
                        caption.price-table__caption Дополнительные услуги

                        tr.price-table__row
                            td.price-table__service Камуфляж седены&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Окантовка с подбриванием&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Мытьё и укладка волос&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000

                    table.price-table
                        caption.price-table__caption Комплексные услуги

                        tr.price-table__row
                            td.price-table__service Друг + Друг&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Папа + Сын&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Стрижка + Коррекция бороды&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 2000
                        tr.price-table__row
                            td.price-table__service Стрижка + Королевское бритьё&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 2500
                        tr.price-table__row
                            td.price-table__service Стрижка + Камуфляж&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1750
                        tr.price-table__row
                            td.price-table__service Борода + Камуфляж&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000

            include modules/_banner.pug

        include modules/_choose-city.pug
        include modules/_footer.pug

        script(src="scripts.js")
        script(src="city.js")
