<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero
            .hero__top
                .hero__logo
                    a(href="#")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    h1.hero__title Крупнейшая международная сеть мужских парикмахерских <span class="hero__oldboy">OLDBOY <br>BARBERSHOP</span>
                    p.hero__location Калининград

                //- .show-locations
                    .show-locations__menu
                    p.show-locations__text Посмотреть филиалы списком

                .hero__buttons
                    a.button(href="#") Запись онлайн<br>

        main
            section.news
                header.section-header
                    h2.section-header__title Новости<br>в городе
                    p.section-header__subtitle Калининград

                .editorial
                    .editorial__photo
                        img(src="/img/news/opening.jpg", alt="Barbershop main news photo")
                        p.editorial__description Новости франшизы

                    .editorial__caption
                        h3.editorial__title Открытие нового барбершопа Oldboy в барселоне
                        p.editorial__subtitle Долгожданное открытие второго по счёту барбершопа в столице Испании планируется в конце августа

                    footer.editorial__footer
                        p.editorial__date <strong>27</strong> <span>июля<br>2018</span>
                        a.editorial__cta(href="#") Читать полностью

            section.news-feed
                article.news-item
                    .news-item__photo
                        img(src="/img/news/news-feed1.jpg", alt="Barbershop news photo")
                        
                    .news-item__text
                        header.news-item__header
                            p.news-item__category Косметика и аксессуары
                            h3.news-item__title Старт продаж новой косметики Barber Wild

                        footer.news-item__footer
                            p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                            a.news-item__cta(href="#") Читать полностью

                article.news-item
                    .news-item__photo
                        img(src="/img/news/news-feed2.jpg", alt="Barbershop news photo")
                        
                    .news-item__text
                        header.news-item__header
                            p.news-item__category Новости регионов
                            h3.news-item__title Новые акции для выпускников

                        footer.news-item__footer
                            p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                            a.news-item__cta(href="#") Читать полностью

                article.news-item
                    .news-item__photo
                        img(src="/img/news/news-feed3.jpg", alt="Barbershop news photo")

                    .news-item__text
                        header.news-item__header
                            p.news-item__category Новинки
                            p.news-item__title Новая услуга в линейке oldboy - Барбер-Спа

                        footer.news-item__footer
                            p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                            a.news-item__cta(href="#") Читать полностью

                .news-feed__cta
                    a.button(href="#") Смотреть все новости
                    p.news-feed__see-more Узнайте ещё больше новостей барбершопов oldboy

            section.promos
                .promos__header
                    header.section-header
                        h2.section-header__title Акции <br>в городе
                        p.section-header__subtitle Режем&nbsp;цены

                .promos__content
                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 2500
                                p.promo__name Отец + Сын

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Отец + Сын» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 1800
                                p.promo__name Друг + Друг

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo.promo--open
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 2500
                                p.promo__name Королевское бритьё

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

            section.price-list
                .price-list__header
                    header.section-header
                        h2.section-header__title Прайс-лист на&nbsp;услуги
                        p.section-header__subtitle.section-header__subtitle--price Стрижём&nbsp;и&nbsp;бреем

                .price-list__content
                    table.price-table
                        caption.price-table__caption Основные услуги

                        tr.price-table__row
                            td.price-table__service Стрижка мужская&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка детская&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Коррекция бороды&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Коррекция бороды с подбриванием&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Бритьё королевское&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка под машинку&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 800
                        tr.price-table__row
                            td.price-table__service Стрижка усов&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Королевское бритьё головы&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Tattoo&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price &nbsp;

                    table.price-table
                        caption.price-table__caption Дополнительные услуги

                        tr.price-table__row
                            td.price-table__service Камуфляж седены&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Окантовка с подбриванием&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Мытьё и укладка волос&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000

                    table.price-table
                        caption.price-table__caption Комплексные услуги

                        tr.price-table__row
                            td.price-table__service Друг + Друг&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Папа + Сын&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Стрижка + Коррекция бороды&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 2000
                        tr.price-table__row
                            td.price-table__service Стрижка + Королевское бритьё&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 2500
                        tr.price-table__row
                            td.price-table__service Стрижка + Камуфляж&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1750
                        tr.price-table__row
                            td.price-table__service Борода + Камуфляж&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000

            section.academy-banner
                header.academy-banner__header
                    h2.academy-banner__title Академия <br>Oldboy
                    p.academy-banner__subtitle Добро пожаловать в&nbsp;семью

                .academy-banner__content
                    p.academy-banner__motto Академия барберинга Oldboy — место, где рождаются настоящие мужские парикмахеры
                    p.academy-banner__text Место, где вы станене настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа

                    p.academy-banner__address Москва <br>Старокирочный переулок, 2 <br>Тел.: <a href="tel:+" class="academy-banner__phone">+7 926 1000-266</a>
                    
                    .academy-banner__cta: a.button(href="#") Узнать подробнее

        footer.footer
            .footer__info-n-contacts
                .footer__info
                    .footer__logo
                        img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                    h2.footer__title Крупнейшая международная сеть мужских парикмахерских
                    p.footer__subtitle Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                    .footer__social
                        p.footer__social-cta Следите за нами в соц. сетях
                        ul.social.social--golden
                            li.social__item
                                a.social__icon.icon--vk(href="#") ВКонтакте
                            li.social__item
                                a.social__icon.icon--facebook(href="#") Facebook
                            li.social__item
                                a.social__icon.icon--instagram(href="#") Instagram

                .footer__contacts
                    .contact.contact--footer
                        h3.contact__title Адрес
                        p.contact__value ул. Театральная, 30
                        
                    .contact.contact--footer
                        h3.contact__title Телефон
                        p.contact__value 52–57–90

                    .contact.contact--footer
                        h3.contact__title Часы работы
                        p.contact__value 10:00 — 21:00 (Вс. с 11:00)

                    .footer__city Калининград

            .footer__menues
                .footer__main-nav
                    ul.footer-menu
                        h3.footer-menu__title Меню
                        li.footer-menu__item
                            a.footer-menu__link(href="") ГЛАВНАЯ
                        li.footer-menu__item
                            a.footer-menu__link(href="") НОВОСТИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") УСЛУГИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") ФРАНШИЗА

                .footer__services-nav
                    ul.footer-menu
                        h3.footer-menu__title Услуги
                        li.footer-menu__item
                            a.footer-menu__link(href="") СТРИЖКИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") БРИТЬЁ
                        li.footer-menu__item
                            a.footer-menu__link(href="") ТАТУИРОВКИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") БАРБЕР-СПА

                .footer__info-nav
                    ul.footer-menu
                        h3.footer-menu__title Информация
                        li.footer-menu__item
                            a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ


            .footer__copyrights
                p © 2014–2019 Oldboy Barbershop