<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--city
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .hero__city-select
                    a(href="choose-city.html").city-select
                        p.city-select__title Выбрать&nbsp;барбершоп&nbsp;<span class="city-select__triangle">▼</span>
                        p.city-select__city Калининград

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    .hero-caption.hero-caption--city
                        h1.hero-caption__title.hero-caption__title--hidden Крупнейшая международная сеть мужских парикмахерских <span class="hero-caption__big">oldboy <br>barbershop</span>
                        p.hero-caption__location Калининград

                    .hero__buttons.hero__buttons--center
                        a.button(href="#") Запись онлайн<br>

                    .location-selector__fast-nav
                        p.location-selector__cta <span>Выбери</span> свой барбершоп
                        .city-form
                            form.city-form__form(autocomplete="off")
                                input.city-form__input(type="search" name="search" placeholder="Улица или метро" autofocus)
                            .city-form__mic.city-form__mic--active
                        section.search-results
                            h2.search-results__title Результаты поиска:
                            p.search-results__not-found такого города не найдено
                            ul.search-results__list
                    .location-selector__close
                        .close-button

        main
            section.branch-section
                .branch-section__content
                    ul.location-catalog
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/perovo"><span>Перово</span>
                            <div class="location-catalog__place">ТЦ «Мари»</div>
                            <div class="location-catalog__address"><span>3-Я Владимирская, 20</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/caricino"><span>Царицино</span>
                            <div class="location-catalog__address"><span>6-Я Радиальная, 5 К.4</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/avtozavodskaya"><span>Автозаводская</span>
                            <div class="location-catalog__address moscow"><span>Автозаводская, 18</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/altufyevo"><span>Алтуфьево</span>
                            <div class="location-catalog__address moscow"><span>Алтуфьевское Шоссе, 70К.1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/fili"><span>Шелепиха</span>
                            <div class="location-catalog__address"><span>Береговой Проезд, 5 К2<span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/vdnh"><span>ВДНХ</span>
                            <div class="location-catalog__address"><span>Бориса Галушкина, 17</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/borisa-pasternaka-d-19"><span>Рассказовка</span>
                            <div class="location-catalog__address"><span>Бориса Пастернака, 19</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/novoperedelkino"><span>Новопеределкино</span>
                            <div class="location-catalog__address"><span>Боровское Шоссе, 36</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/aerobus"><span>Варшавское шоссе, 95, К1 (ТЦ Аэробус)
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/nekrasovka"><span>Некрасовка</span>
                            <div class="location-catalog__address"><span>Люберцы</span><span>Вертолётчиков, 9/1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/veshnyaki"><span>Вешняковская, 2</span>
                            <div class="location-catalog__address"><span>Вешняки</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/tushino"><span>Тушинская</span>
                            <div class="location-catalog__address"><span>Вишневая, 9К.1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/volgogradka"><span>Волгоградский проспект</span>
                            <div class="location-catalog__address moscow"><span>Волгоградский Проспект, 26А</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/kuzminki"><span>Кузьминки</span>
                            <div class="location-catalog__address"><span>Волжский Бульвар, КВ 114А, К1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/sokol"><span>Стрешнево</span>
                            <div class="location-catalog__address moscow"><span>Волоколамское Шоссе 15/22</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/garibaldi"><span>Новые Черемушки</span>
                            <div class="location-catalog__address moscow"><span>Гарибальди, 7</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/dmd"><span>Домодедовская</span>
                            <div class="location-catalog__address"><span>Генерала Белова, 28 К1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/zhulebino"><span>Жулебино</span>
                            <div class="location-catalog__address"><span>Генерала Кузнецова, 11К.1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/glavmosstroya"><span>Говорово</span>
                            <div class="location-catalog__address moscow"><span>Главмосстроя, 12</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/taganka"><span>Марксистская</span>
                            <div class="location-catalog__address"><span>Гончарная Набережная, 9/16 С2</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/dobrolybova"><span>Фонвизинская</span>
                            <div class="location-catalog__address moscow"><span>Добролюбова, 20</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/rumyancevo"><span>Румянцево</span>
                            <div class="location-catalog__address"><span>Киевское Шоссе, 6 СТР.1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/uznaya"><span>Южная</span>
                            <div class="location-catalog__address moscow"><span>Кировоградская, 9К1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/aviamotornaya"><span>Авиамоторная</span>
                            <div class="location-catalog__address moscow"><span>Красноказарменная, 19</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/botsad"><span>Ботанический сад</span>
                            <div class="location-catalog__address"><span>Лазоревый Проезд, 5 К3</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/leningradka"><span>Беломорская</span>
                            <div class="location-catalog__address moscow"><span>Ленинградское Шоссе, 120 К3</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/vershinina"><span>Октябрьское поле</span>
                            <div class="location-catalog__address"><span>Маршала Вершинина, 8К1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/mashkova"><span>Курская</span>
                            <div class="location-catalog__address"><span>Машкова, 24</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/michurinskiy"><span>Раменки</span>
                            <div class="location-catalog__address moscow"><span>Мичуринский Проспект, 26</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/shabolovka"><span>Шаболовская
                            <div class="location-catalog__address"><span>Мытная, 52</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/nagatinskaya"><span>Нагатинская</span>
                            <div class="location-catalog__address moscow"><span>Нагатинская, 16</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/nahimovsky"><span>Нахимовский проспект
                            <div class="location-catalog__address moscow"><span>Нахимовский Проспект, 9К1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/novoslobodskaya"><span>Менделеевская</span>
                            <div class="location-catalog__address moscow"><span>Новослободская, 52</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/krylatskoe"><span>Крылатское
                            <div class="location-catalog__address"><span>Осенний Бульвар, 7К1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/europe-square"><span>Киевская</span>
                            <div class="location-catalog__address"><span>Площадь Европы, 2 (Рэдиссон)</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/marino"><span>Марьино
                            <div class="location-catalog__address"><span>Поречная, 24 (ТЦ Мари)</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/academicheskaya"><span>Академическая</span>
                            <div class="location-catalog__address"><span>Пр. 60-Летия Октября, 14</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/presnenskiy"><span>Улица 1905 года</span>
                            <div class="location-catalog__address moscow"><span>Пресненский Вал, 14 К2</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/belyaevo"><span>Беляево</span>
                            <div class="location-catalog__address moscow"><span>Профсоюзная, 102А</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/central"><span>Новокузнецкая</span>
                            <div class="location-catalog__address"><span>Пятницкая, 6/1</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/rublevka"><span>Крылатское</span>
                            <div class="location-catalog__address"><span>Рублёвское Шоссе, 62</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/svetmsk"><span>Лухмановская</span>
                            <div class="location-catalog__address"> <span>Святоозерская, 16</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/degunino"><span>Селигерская</span>
                            <div class="location-catalog__address"><span>Софьи Ковалевской, 6</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/kutuza"><span>Студенческая</span>
                            <div class="location-catalog__address moscow"><span>Студенческая, 26</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/kaleidoscop"><span>Сходненская</span>
                            <div class="location-catalog__address moscow"><span>Сходненская, 56 (ТРЦ Калейдоскоп)</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/vernad"><span>Проспект Вернадского</span>
                            <div class="location-catalog__address"><span>Удальцова, 71 К2</span></div>
                            </a>
                        </li>
                        <li class="location-catalog__item"><a class="location-catalog__link" href="https://oldboybarbershop.com/moscow/hodinka"><span>ЦСКА</span>
                            <div class="location-catalog__address"><span>Ходынский бульвар 20А (ЖК Лайнер)</span></div>
                            </a>
                        </li>

            section.promos
                .promos__header
                    header.section-header
                        h2.section-header__title Акции <br>в городе
                        p.section-header__subtitle Режем&nbsp;цены

                .promos__content
                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 2500
                                p.promo__name Отец + Сын

                        .promo__image
                            img(src="./img/promos/dad-n-son.jpg", alt="Отец и сын, комплексная услуга Oldboy Barbershop")

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Отец + Сын» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 1800
                                p.promo__name Королевское бритьё

                        .promo__image
                            img(src="./img/promos/royal-shaving.jpg", alt="Королевское бритьё, комплексная услуга Oldboy Barbershop")

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo
                        a.promo__info-button(href="#"): span.icon--info
                        a.promo__close-button(href="#"): span.icon--close
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price -30%
                                p.promo__name Друг + Друг

                        .promo__image
                            img(src="./img/promos/friend-n-friend.jpg", alt="Друг + друг, комплексная услуга Oldboy Barbershop")

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

            section.price-list
                .price-list__header
                    header.section-header
                        h2.section-header__title Прайс-лист на&nbsp;услуги
                        p.section-header__subtitle.section-header__subtitle--price Стрижём&nbsp;и&nbsp;бреем

                .price-list__content
                    table.price-table
                        caption.price-table__caption Основные услуги

                        tr.price-table__row
                            td.price-table__service Стрижка мужская&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка детская&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Коррекция бороды&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Коррекция бороды с подбриванием&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Бритьё королевское&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка под машинку&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 800
                        tr.price-table__row
                            td.price-table__service Стрижка усов&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Королевское бритьё головы&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Tattoo&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price &nbsp;

                    table.price-table
                        caption.price-table__caption Дополнительные услуги

                        tr.price-table__row
                            td.price-table__service Камуфляж седены&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Окантовка с подбриванием&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Мытьё и укладка волос&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000

                    table.price-table
                        caption.price-table__caption Комплексные услуги

                        tr.price-table__row
                            td.price-table__service Друг + Друг&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Папа + Сын&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Стрижка + Коррекция бороды&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 2000
                        tr.price-table__row
                            td.price-table__service Стрижка + Королевское бритьё&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 2500
                        tr.price-table__row
                            td.price-table__service Стрижка + Камуфляж&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1750
                        tr.price-table__row
                            td.price-table__service Борода + Камуфляж&nbsp;<a href="#" class="price-table__icon icon--info"></a>
                            td.price-table__price 1000

            include modules/_banner.pug

        include modules/_choose-city.pug
        include modules/_footer.pug

        script(src="scripts.js")
        script(src="city.js")
