<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        section.request-popup
            .request-popup__caption
                header.request-popup__header
                    h3.request-popup__title Добро <br>пожаловать
                    p.request-popup__subtitle В семью oldboy barbershop

            .request-popup__approval
                .message-approve
                    header.message-approve__header
                        p.message-approve__subtitle.message-approve__subtitle--request &nbsp;&nbsp;Спасибо&#8209;за&nbsp;ваше&nbsp;обращение
                        h1.message-approve__title.message-approve__title--request Ваша заявка принята

                    .message-approve__image
                        img(src="/img/family/oldboyfamily.svg", alt="Oldboy Barbershop Family logo")

                    footer.message-approve__footer
                        a.messagage-approve__button(href="#") На главную
                        p.message-approve__desc.message-approve__desc--request Наш менеджер<br> свяжется с вами<br> в ближайшее время
