<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--franchise
            //- TODO: invert all items here
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo-dark.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

        main.main
            section.franchise
                .franchise__content
                    .franchise__map
                        img(src="/img/franchise-map.svg", alt="Oldboy barbershop locations map")

                    .franchise__caption
                        h3.franchise__title <strong>ФРАНШИЗА</strong> Oldboy&nbsp;Barbershop
                        .franchise__button
                            a.button(href="#application-form") Открой свой барбершоп

                    //.franchise__summary
                        p.franchise__count 129
                        p.franchise__details <strong>ФИЛИАЛОВ</strong> в 5 странах и в 5 столицах

                    .franchise__summary
                        p.franchise__count 129
                        p.franchise__details <strong>ФИЛИАЛОВ</strong> в 5 странах и в 5 столицах

            section.application-form
                header.section-header
                    h2.section-header__title Форма<br>заявки
                    p.section-header__subtitle Oldboy&nbsp;Франшиза
                .application-form__content
                    form#application-form.form(action="")
                        legend.form__legend
                            p.form__title Открой собственный барбершоп oldboy у себя в&nbsp;городе
                            p.form__subtitle Заполни форму и наш менеджер с&nbsp;вами свяжется
                        
                        .form__input-group
                            input.form__input(type="text" name="fullname" placeholder="Фамилия Имя Отчество")

                        .form__input-group
                            input.form__input(type="text" name="phone" placeholder="Номер телефона")

                        .form__input-group
                            input.form__input(type="text" name="city" placeholder="Желаемый город")

                        .form__input-group
                            input.form__input(type="email" name="email" placeholder="E-mail")

                        .form__input-group.form__input-group--policy
                            input.form__checkbox#form__checkbox(type="checkbox" name="policy" required checked)
                            label(for="form__checkbox").form__label-checkbox Я соглашаюсь с<br> <a class="form__policy" href="#">ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</a>
                        
                        .form__input-group
                            input.form__submit-btn.button.button--ghost-dark(type="submit" value="Отправить заявку")
                        //-     input.form__checkbox#form__checkbox(type="checkbox" name="policy" required checked)
                        //-     label(for="form__checkbox").form__label-checkbox Я соглашаюсь с<br> <a class="form__policy" href="#">ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</a>
                        
                        //- .form__input-group
                        //-     input.form__submit-btn.button.button--ghost-dark(type="submit" value="Отправить заявку")


            section.fr-benefits
                header.fr-benefits__header
                    p.fr-benefits__subtitle наши преимущества
                    h2.fr-benefits__title Выбирая нас<br>вы получаете
                
                ol.fr-benefits__list
                    li.fr-benefit
                        p.fr-benefit__text Узнаваемый бренд.
                        p.fr-benefit__descr Oldboy Barbershop – это не просто мужская парикмахерская или бренд. Это место, где клиенты находят себя и свой стиль. Наши барберы не просто мужские парихмахеры - они профессионалы своего дела. Наши партнеры Jack Daniels, Truefitt&Hill и другие известные во всем мире бренды. Мы уже имеем филиалы в 7 странах и 6 столицах, а за последний год мы открыли более 60 филиалов, и это не предел.
                    li.fr-benefit
                        p.fr-benefit__text Брутальный фирменный стиль Oldboy.
                        p.fr-benefit__descr Неповторимая атмосфера, брутальность и настоящее мастерство; классика традиций и современный силь – всё это сочетает в себе Oldboy Barbershop.
                    li.fr-benefit
                        p.fr-benefit__text Пожизненное использование бренда.
                        p.fr-benefit__descr Во время сотрудничеситва и до его окончания Вы имеете право использовать логотип, фирменный стиль и в любое время получить поддержку управляющей компании.
                    li.fr-benefit
                        p.fr-benefit__text Беcплатный дизайн-проект помещения.
                        p.fr-benefit__descr Наши дизайнеры сделают дизайн-проект индивидуально для Вашего барбершопа.
                    li.fr-benefit
                        p.fr-benefit__text Мастер класс от ведущего мастера.
                        p.fr-benefit__descr Ведущий барбер, имеющий сертификат «American Crew», брэнд менеджер сети Oldboy Barbershop, обучающий тренер и гуру барберина лично приедет к Вам чтобы поделиться опытом и посвятить в атмосферу Oldboy.
                    li.fr-benefit
                        p.fr-benefit__text Помощь в поиске мастеров.
                        p.fr-benefit__descr Наша главная задача – помочь Вам «от и до». Качественное обслуживание зависит только от мастерства персонала. Мы поможем отыскать «Ваших» мастеров.
                    li.fr-benefit
                        p.fr-benefit__text Выезд профессионалов в ваш город за наш счет.
                        p.fr-benefit__descr Мы обучим Ваш персонал настоящему мастерству за Наш счет благодаря знаниям Наших знаменитых барберов, которые готовы приехать в любой город для обучения и посвящения в барберы.
                    li.fr-benefit
                        p.fr-benefit__text Модель проекта раскрутки вашего Oldboy у вас в городе.
                        p.fr-benefit__descr Мы сами составим и предоставим Вам готовый проект раскрутки с минимальными вложениями и готовыми решениями.
                    li.fr-benefit
                        p.fr-benefit__text Весь рекламный и мультимедийный проект.
                        p.fr-benefit__descr Внешний и внутренни дизайн, фотографии, видео, моушн-графика, красивая верстка, хороший текст, инфографика — совместный труд целой команды, который требует много времени и сил. Всё это Мы предоставим Вам и Вашему барбершопу.
                    li.fr-benefit
                        p.fr-benefit__text Мобильное приложение.
                        p.fr-benefit__descr Удобная онлайн запись «в пару кликов» через мобильное приложение ( Android, IOS ), через сайт с комфортными личным кабинетом или запись через приложение Вконтакте.
                    li.fr-benefit
                        p.fr-benefit__text Премиум услуги.
                        p.fr-benefit__descr Исключительно в арсенале Наших барберов имеется услуга «Королевское бритьё с TRUEFITT&HILL». Это привилегированная марка мужской косметики, обслуживающая Королевский Двор в Англии с 1805 года.
                    li.fr-benefit
                        p.fr-benefit__text Скидки для партенеров.
                        p.fr-benefit__descr Вы сильно сэкономите на Нашей фирменной косметике и парфюмерии. Став официальным представителем в Вашем городе - Вы получите скидку 60% на всю линейку товаров.
                    li.fr-benefit
                        p.fr-benefit__text Все прозрачно.
                        p.fr-benefit__descr Стоит понимать, что мы не стараемся заработать на Вас. Мы не являемся посредниками -просто предоставим Вам контакты наших проверенных поставщиков и скидки у партнеров бренда OldBoy.
                    li.fr-benefit
                        p.fr-benefit__text Без просредников.
                        p.fr-benefit__descr Скидки при покупке оборудования от производителей, которые сохранят Вам чуть более 200.000 рублей на старте.
                    li.fr-benefit
                        p.fr-benefit__text Бесплатная поддержка.
                        p.fr-benefit__descr Наш штат состоящий из профессиональных веб-разработчиков, дизайнеров, копирайтеров, юристов и маркетологов готов 5 дней в неделю поддерживать Вас во всем, а личный менеджер Вашего филиала ответит на любые вопросы.
                
                section.fr-benefits__conclusion
                    header.fr-oldboy-why
                        .fr-oldboy-why__info
                            p.fr-oldboy-why__subtitle Oldboy family
                            h3.fr-oldboy-why__title Это были лишь 15 самых очевидных причин "войти в семью"
                        .fr-oldboy-why__logo
                            img(src="img/family/OldBoyFamily.svg", alt="OldBoyFamily Logo")
                    
                    .fr-benefits__conclusion-more
                        p.fr-benefits__conclusion-text Чтобы узнать остальные и убрать последние сомения на пути к собственному успешному бизнесу
                        a.fr-benefits__conclusion-submit.button.button--ghost-dark(href="#application-form") Свяжитесь с нами
                        p.fr-benefits__conclusion-rest И мы ответим на ваши вопросы
                        a.fr-benefits__conclusion-bibos(href="https://www.beboss.ru/franchise/2484-franshiza-oldboy") Франшиза Oldboy Barbershop на Бибосс
                        
        footer.footer
            .footer__content
                .footer__info-n-contacts
                    .footer__info
                        .footer__logo
                            img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                        .footer__caption
                            h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                            p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                            p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                .footer__menues
                    .footer__main-nav
                        ul.footer-menu
                            h3.footer-menu__title Меню
                            li.footer-menu__item
                                a.footer-menu__link(href="") ГЛАВНАЯ
                            li.footer-menu__item
                                a.footer-menu__link(href="") НОВОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛУГИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ФРАНШИЗА

                    .footer__services-nav
                        ul.footer-menu
                            h3.footer-menu__title Услуги
                            li.footer-menu__item
                                a.footer-menu__link(href="") СТРИЖКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БРИТЬЁ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ТАТУИРОВКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БАРБЕР-СПА

                    .footer__info-nav
                        ul.footer-menu
                            h3.footer-menu__title Информация
                            li.footer-menu__item
                                a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ

            .footer__copyrights
                p © 2014–2019 Oldboy Barbershop
