<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--franchise
            //- TODO: invert all items here
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo-dark.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

        main.main
            section.franchise
                .franchise__content
                    .franchise__map
                        img(src="/img/franchise-map.svg", alt="Oldboy barbershop locations map")

                    .franchise__caption
                        h3.franchise__title <strong>ФРАНШИЗА</strong> Oldboy&nbsp;Barbershop
                        .franchise__button
                            a.button(href="#") Открой свой барбершоп

                    .franchise__summary
                        p.franchise__count 129
                        p.franchise__details <strong>ФИЛИАЛОВ</strong> в 5 странах и в 5 столицах

            section.application-form
                header.section-header
                    h2.section-header__title Форма<br>заявки
                    p.section-header__subtitle Oldboy&nbsp;Франшиза
                .application-form__wrap
                    form#application-form.application-form__form.form(action="")
                        legend.form__legend
                            p.form__title Открой собственный барбершоп oldboy у себя в городе
                            p.form__subtitle Заполни форму и наш менеджер с вами свяжется
                        
                        .form__input-group
                            input.form__input.form__input--validated(type="text" name="fullname" placeholder="Фамилия Имя Отчество" value="Иванов Иван")
                            button.form__input-clear +

                        .form__input-group
                            input.form__input.form__input--errored(type="text" name="phone" placeholder="Номер телефона" value="wrong phone number format")
                            button.form__input-clear +

                        .form__input-group
                            input.form__input.form__input--active(type="text" name="city" placeholder="Желаемый город")
                            button.form__input-clear +

                        .form__input-group
                            input.form__input(type="email" name="email" placeholder="E-mail")
                            button.form__input-clear +

                        .form__input-group.form__input-group--policy
                            input.form__checkbox#application-form__checkbox(type="checkbox" name="policy" required checked)
                            label(for="application-form__checkbox").form__label-checkbox Я соглашаюсь с<br> <a class="application-form__policy" href="#">ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</a>
                        .form__input-group
                            input.form__submit-btn.button.button--ghost-dark(type="submit" value="Отправить заявку")

            section.benefits
                header.benefits__header
                    p.benefits__subtitle наши преимущества
                    h2.benefits__title Выбирая нас<br>вы получаете
                ol.benefits__list
                    li.benefits__list-item
                        p.benefits__list-text Узнаваемый бренд
                    li.benefits__list-item
                        p.benefits__list-text Брутальный фирменный стиль Oldboy
                    li.benefits__list-item
                        p.benefits__list-text Пожизненное использование бренда
                    li.benefits__list-item
                        p.benefits__list-text Безплатный дизайн-проект помещения
                    li.benefits__list-item
                        p.benefits__list-text Мастер класс от ведущего мастера
                    li.benefits__list-item
                        p.benefits__list-text Помощь в поиске мастеров
                    li.benefits__list-item
                        p.benefits__list-text Выезд профессионалов в ваш город за наш счет
                    li.benefits__list-item
                        p.benefits__list-text Модель проекта раскрутки вашего Oldboy у вас в городе
                    li.benefits__list-item
                        p.benefits__list-text Весь рекламный и мультимедийный проект
                    li.benefits__list-item
                        p.benefits__list-text Мобильное приложение
                        p.benefits__list-descr Онлайн запись к вам через мобильное приложение (Apple store, Google market), онлайн запись через сетевой сайт, где у вас будет собственная страничка, а так же онлайн запись через приложение вконтакте
                    li.benefits__list-item
                        p.benefits__list-text Премиум услуги
                        p.benefits__list-descr Только у нас есть статусная услуга для состоятельных» клиентов «Королевское бритье от Trueffit&Hill» — это легендарная марка мужской косметики, обслуживающая Королевский Двор в Англии. Мы обучаем ее технологии ваших мастеров
                    li.benefits__list-item
                        p.benefits__list-text Скидки для партенеров
                        p.benefits__list-descr Ваш барбершоп станет официальным представителем в вашем городе нашей собственной линейки косметики, так же вы получаете скидку на товар 60%. Вы будуте экономить около 40 000 руб. в месяц только на товаре.
                    li.benefits__list-item
                        p.benefits__list-text Все прозрачно
                        p.benefits__list-descr Мы не являемся посредниками между вами и продавцами инструментов и оборудования, мы не стремимся заработать на этом, накрутив комиссионые, мы вместе с вами будем закупать инструменты и оборудование.
                    li.benefits__list-item
                        p.benefits__list-text Без просредников
                        p.benefits__list-descr Скидки в покупке оборудования от производителей, который сохраняет вам более 200 000 руб.
                    li.benefits__list-item
                        p.benefits__list-text Безплатная поддержка
                        p.benefits__list-descr Наша поддержка — это поддержка во всем — это специальный штат профессионалов, состоящий из дизайнеров, юристов, маркетологов, IT-программистов, которые работают 5 дней в неделю СПЕЦИАЛЬНО ДЛЯ ВАС
                
                section.benefits__conclusion
                    header.benefits__conclusion-header
                        .benefits__conclusion-header-info
                            p.benefits__conclusion-subtitle Oldboy family
                            h3.benefits__conclusion-title Это были лишь 15 самых очевидных причин "войти в семью"
                        .benefits__conclusion-logo
                            img(src="img/family/OldBoyFamily.svg", alt="OldBoyFamily Logo")
                    .benefits__conclusion-more
                        p.benefits__conclusion-text Чтобы узнать остальные и убрать последние сомения на пути к собственному успешному бизнесу
                        a.benefits__conclusion-submit.button.button--ghost-dark(href="#") Свяжитесь с нами
                        p.benefits__conclusion-rest И мы ответим на ваши вопросы
                        a.benefits__conclusion-bibos(href="#") Франшиза Oldboy Barbershop на Бибос
                        
        footer.footer
            .footer__content
                .footer__info-n-contacts
                    .footer__info
                        .footer__logo
                            img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                        .footer__caption
                            h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                            p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                            p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                .footer__menues
                    .footer__main-nav
                        ul.footer-menu
                            h3.footer-menu__title Меню
                            li.footer-menu__item
                                a.footer-menu__link(href="") ГЛАВНАЯ
                            li.footer-menu__item
                                a.footer-menu__link(href="") НОВОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛУГИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ФРАНШИЗА

                    .footer__services-nav
                        ul.footer-menu
                            h3.footer-menu__title Услуги
                            li.footer-menu__item
                                a.footer-menu__link(href="") СТРИЖКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БРИТЬЁ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ТАТУИРОВКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БАРБЕР-СПА

                    .footer__info-nav
                        ul.footer-menu
                            h3.footer-menu__title Информация
                            li.footer-menu__item
                                a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ

            .footer__copyrights
                p © 2014–2019 Oldboy Barbershop
