<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="lightgallery.min.css")
        link(rel="stylesheet", href="styles.css")
        title Oldboy Barbershop

    body
        header.hero.hero--franchise
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .hero__city-select
                    a(href="choose-city.html").city-select
                        p.city-select__title Выбрать&nbsp;барбершоп&nbsp;<span class="city-select__triangle">▼</span>
                        p.city-select__city Калининград

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero-content-franch
                    .hero__caption
                        .hero-caption.hero-caption--franch
                            h1.hero-caption__title.hero-caption__title--franch <span class="hero-caption__title-small">Стань</span> владельцем <br><span class="hero-caption__title-big">барбершопа</span>
                            p.hero-caption__subtitle <span>Крупнейшей в мире сети</span><br> Oldboy barbershop
                            p.hero-caption__cta Зарабатывай <span>от&nbsp;250&nbsp;000&nbsp;рублей</span>&nbsp;<span class="hero-caption__plus">+</span> в&nbsp;месяц
                    .hero__center
                        .hero__sales
                            .sales
                                p.sales__price Скидка
                                p.sales__desc На&nbsp;паушальный взнос до&nbsp;30&nbsp;июля
                                p.sales__note *подробности уточняйте у менеджера
                        .hero__buttons
                            a.button(href="#form-target") Получить презентацию
                .hero__franch-deco
                    .deco-hand
                        img(src="./img/deco/empty-hand.png", alt="Изображение Oldboy Barbershop")
                        .deco-hand__banner
                            p.deco-hand__text <strong>100%</strong><br> поддержка франчайзи
                            p.deco-hand__text.deco-hand__text--golden Закрываем все вопросы <span>«под ключ»</span>
                        .deco-hand__logo

        main.main
            section.franchise
                .franchise__content
                    .franchise__content-info
                        .franchise__content-item
                            p.franchise__content-number 289
                            p.franchise__content-title филиал
                        .franchise__content-item
                            p.franchise__content-number 15
                            p.franchise__content-title стран мира
                        .franchise__content-item
                            p.franchise__content-number 240
                            p.franchise__content-title открытых <br/>барбершопа
                        .franchise__content-item
                            p.franchise__content-number 49
                            p.franchise__content-title готовится <br/> к&nbsp;открытию

                    .franchise__map
                        img(src="/img/franchise-map.svg", alt="Oldboy barbershop locations map")

                    .franchise__countries
                        .franchise__countries-item
                            img(src='./img/flags/square/spain.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Испания
                                //- .franchise__countries-item-descr Барселона,<br/>Марбелья
                        .franchise__countries-item
                            img(src='./img/flags/square/russia.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Россия
                                //- .franchise__countries-item-descr 100+
                        .franchise__countries-item
                            img(src='./img/flags/square/cyprus.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Кипр
                                //- .franchise__countries-item-descr Лимассол
                        .franchise__countries-item
                            img(src='./img/flags/square/belorussia.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Беларусь
                                //- .franchise__countries-item-descr Минск
                        .franchise__countries-item
                            img(src='./img/flags/square/serbia.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Сербия
                                //- .franchise__countries-item-descr Белград
                        .franchise__countries-item
                            img(src='./img/flags/square/ua.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Украина
                                //- .franchise__countries-item-descr Одесса
                        .franchise__countries-item
                            img(src='./img/flags/square/azer.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Азербайджан
                                //- .franchise__countries-item-descr Баку
                        .franchise__countries-item
                            img(src='./img/flags/square/kz.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Казахстан
                                //- .franchise__countries-item-descr Астана
                        .franchise__countries-item
                            img(src='./img/flags/square/georgia.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Грузия
                                //- .franchise__countries-item-descr Тбилиси
                        .franchise__countries-item
                            img(src='./img/flags/square/kirgizia.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Киргизия
                                //- .franchise__countries-item-descr Бишкек
                        .franchise__countries-item
                            img(src='./img/flags/square/montenegro.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Черногория
                                //- .franchise__countries-item-descr Будва
                        .franchise__countries-item
                            img(src='./img/flags/square/usa.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title США
                                //- .franchise__countries-item-descr Лос-Анджелес
                        .franchise__countries-item
                            img(src='./img/flags/square/poland.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Польша
                                //- .franchise__countries-item-descr Варшава
                        .franchise__countries-item
                            img(src='./img/flags/square/turk.svg', alt='')
                            .franchise__countries-item-text
                                .franchise__countries-item-title Туркменистан
                                //- .franchise__countries-item-descr Ашхабад

                    .franchise__caption
                        h3.franchise__title <strong>ФРАНШИЗА</strong> Oldboy&nbsp;Barbershop
                        .franchise__button
                            a.button.smooth-trigger(href="#form-target") Открой свой барбершоп

                    .franchise__summary
                        p.franchise__count 129
                        p.franchise__details <strong>ФИЛИАЛОВ</strong> в 5 странах и в 5 столицах

            
            section.new-format
                header.new-format__header
                    h2.new-format__title Новый формат барбершопов
                    p.new-format__subtitle Английское качество в русских руках

                .new-format__text-content
                    p.new-format__text Oldboy – не просто сервис, признанный во всем мире. Это культура и традиция мужских клубов, где есть место для юмора, стиля и неформального общения.
                    p.new-format__text Наш барбер приедет в твой город и соберет команду профессионалов. Ему не стыдно будет уезжать. Тебе – приятно стать лидером в городе по качеству услуг для мужчин.
                    p.new-format__text Мы не просто делаем бизнес. У нас – крепкая мужская дружба, приносящая выгоду всем сторонам. Умеем зарабатывать и умеем отдыхать.
                
                .new-format__slider-wrap
                    .new-format__slider
                        .new-format__slide
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/IMG_4805-555x382.jpg', height='382', width='555', alt='')
                        .new-format__slide
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/04/1.jpg', height='382', width='555', alt='')
                        .new-format__slide
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/3-555x382.jpg', height='382', width='555', alt='')
                        .new-format__slide
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/IMG_4805-555x382.jpg', height='382', width='555', alt='')
                        .new-format__slide
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/04/1.jpg', height='382', width='555', alt='')
                    .new-format__slider-dots
                        button.new-format__slider-dot dot
                        button.new-format__slider-dot dot
                        button.new-format__slider-dot dot
                        button.new-format__slider-dot dot
                        button.new-format__slider-dot dot

                .new-format__button
                    a.button.smooth-trigger(href='#form-target') ПОДАТЬ ЗАЯВКУ

            section.trust-us
                header.trust-us__header
                    h2.trust-us__title Почему нам стоит доверять?
                
                .trust-us__container
                    .trust-us__item
                        .trust-us__number 1
                        .trust-us__descr Потому что более 200 наших партнеров уже это сделали, и не пожалели.
                    
                    .trust-us__item
                        .trust-us__number 2
                        .trust-us__descr Мы знаем – за границей не так много мест с качественным сервисом в сфере красоты. Мы подберем персонал. Поможем с помещением. Это приблизит к тебе прибыль быстрее, чем ты ожидал.
                    
                    .trust-us__item
                        .trust-us__number 3
                        .trust-us__descr У нас самый щедрый роялти и широкий круг поддержки: от SMM-сопровождения до 60%-ных скидок на косметику.
                    
                    .trust-us__item
                        .trust-us__number 4
                        .trust-us__descr У нас нет ни одного закрывшегося филиала за 4 года существования компании.

            section.in-countries
                header.in-countries__header
                    h2.in-countries__title OldBoy в странах мира
                .in-countries__slider-container
                    .in-countries__slider
                        .in-countries__slider-item#in-countries__slider-item-first
                            .in-countries__slider-link(href='#')
                                img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Tbilisi-360x360.jpg', alt='Тбилиси')
                                .in-countries__slider-descr
                                    header.in-countries__slider-header
                                        h3.in-countries__slider-title Таджикистан
                                        .in-countries__slider-count
                                            p.in-countries__slider-quantity Количество филиалов
                                            p.in-counties__slider-number 33
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Tbilisi2.jpg')
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Tbilisi3.jpg')
                                
                        .in-countries__slider-item#in-countries__slider-item-second
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Marbelya.jpg')
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Marbelya-360x360.jpg', alt='Марбелья')
                            .in-countries__slider-descr
                                header.in-countries__slider-header
                                    h3.in-countries__slider-title Испания
                                    .in-countries__slider-count
                                        p.in-countries__slider-quantity Количество филиалов
                                        p.in-counties__slider-number 1
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Marbelya2.jpg')
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Marbelya3.jpg')
                        
                        .in-countries__slider-item#in-countries__slider-item-third
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Barselona.jpg')
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Barselona-360x360.jpg', alt='Барселона')
                            .in-countries__slider-descr
                                header.in-countries__slider-header
                                    h3.in-countries__slider-title Кипр
                                    .in-countries__slider-count
                                        p.in-countries__slider-quantity Количество филиалов
                                        p.in-counties__slider-number 7
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Barselona2.jpg')
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Barselona3.jpg')
                            
                        .in-countries__slider-item#in-countries__slider-item-fourth
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Kipr.jpg')
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Kipr-360x360.jpg', alt='Лимассол')
                            .in-countries__slider-descr
                                header.in-countries__slider-header
                                    h3.in-countries__slider-title Кипр
                                    p.in-countries__slider-subtitle Лимассол
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Kipr2.jpg')
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Kipr3.jpg')
                            
                        .in-countries__slider-item#in-countries__slider-item-fifth
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Serbiya.jpg')
                            img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Serbiya-360x360.jpg', alt='Белград')
                            .in-countries__slider-descr
                                header.in-countries__slider-header
                                    h3.in-countries__slider-title Сербия
                                    p.in-countries__slider-subtitle Белград
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Serbiya2.jpg')
                            //- a(href='https://oldboy-franchise.ru/wp-content/uploads/2018/12/Serbiya3.jpg')

                    .in-countries__slider-controls
                        button.in-countries__slider-button.in-countries__slider-button--prev prev
                        button.in-countries__slider-button.in-countries__slider-button--next next
            
            section.start-stuff
                header.start-stuff__header
                    h2.start-stuff__title Старт в цифрах
                
                .start-stuff__content
                    .start-stuff__item
                        .start-stuff__item-number <span>от</span> 500 000 ₽
                        .start-stuff__item-title паушальный взнос
                        .start-stuff__item-subtitle
                            p.start-stuff__item-text + 100 000 ₽ за&nbsp;город&nbsp; с населением от 100&nbsp;тыс. до&nbsp;1&nbsp;млн. человек
                            p.start-stuff__item-text + 300 000 ₽ за&nbsp;город миллионник
                            p.start-stuff__item-text + 100 000 ₽ за эксклюзив на&nbsp;город
                    .start-stuff__item
                        .start-stuff__item-number 5% / мес.
                        .start-stuff__item-title роялти
                        h3.start-stuff__item-text Но не более 30 000 ₽ 
                    .start-stuff__item
                        .start-stuff__item-number <span>от</span> 950 000 ₽
                        h3.start-stuff__item-title стоимость открытия барбершопа
                    .start-stuff__item
                        .start-stuff__item-number <span>от</span> 9 мес.
                        h3.start-stuff__item-title срок окупаемости
                    .start-stuff__item
                        .start-stuff__item-number <span>от</span> 1-2 мес.
                        h3.start-stuff__item-title время запуска бизнеса
                    .start-stuff__item
                        .start-stuff__item-number 24/7
                        h3.start-stuff__item-title Ваш персональный менеджр всегда на&nbsp;связи


            section.fr-benefits
                header.fr-benefits__header
                    p.fr-benefits__subtitle наши преимущества
                    h2.fr-benefits__title Выбирая нас<br>вы получаете
                
                ol.fr-benefits__list
                    li.fr-benefit
                        p.fr-benefit__text Узнаваемый бренд.
                        p.fr-benefit__descr Oldboy Barbershop – это не просто мужская парикмахерская или бренд. Это место, где клиенты находят себя и свой стиль. Наши барберы не просто мужские парихмахеры - они профессионалы своего дела. Наши партнеры Jack Daniels, Truefitt&Hill и другие известные во всем мире бренды. Мы уже имеем филиалы в 7 странах и 6 столицах, а за последний год мы открыли более 60 филиалов, и это не предел.
                    li.fr-benefit
                        p.fr-benefit__text Брутальный фирменный стиль Oldboy.
                        p.fr-benefit__descr Неповторимая атмосфера, брутальность и настоящее мастерство; классика традиций и современный силь – всё это сочетает в себе Oldboy Barbershop.
                    li.fr-benefit
                        p.fr-benefit__text Пожизненное использование бренда.
                        p.fr-benefit__descr Во время сотрудничеситва и до его окончания Вы имеете право использовать логотип, фирменный стиль и в любое время получить поддержку управляющей компании.
                    li.fr-benefit
                        p.fr-benefit__text Беcплатный дизайн-проект помещения.
                        p.fr-benefit__descr Наши дизайнеры сделают дизайн-проект индивидуально для Вашего барбершопа.
                    li.fr-benefit
                        p.fr-benefit__text Мастер класс от ведущего мастера.
                        p.fr-benefit__descr Ведущий барбер, имеющий сертификат «American Crew», брэнд менеджер сети Oldboy Barbershop, обучающий тренер и гуру барберина лично приедет к Вам чтобы поделиться опытом и посвятить в атмосферу Oldboy.
                    li.fr-benefit
                        p.fr-benefit__text Помощь в поиске мастеров.
                        p.fr-benefit__descr Наша Главная задача – помочь Вам «от и до». Качественное обслуживание зависит только от мастерства персонала. Мы поможем отыскать «Ваших» мастеров.
                    li.fr-benefit
                        p.fr-benefit__text Выезд профессионалов в ваш город за наш счет.
                        p.fr-benefit__descr Мы обучим Ваш персонал настоящему мастерству за Наш счет благодаря знаниям Наших знаменитых барберов, которые готовы приехать в любой город для обучения и посвящения в барберы.
                    li.fr-benefit
                        p.fr-benefit__text Модель проекта раскрутки вашего Oldboy у вас в городе.
                        p.fr-benefit__descr Мы сами составим и предоставим Вам готовый проект раскрутки с минимальными вложениями и готовыми решениями.
                    li.fr-benefit
                        p.fr-benefit__text Весь рекламный и мультимедийный проект.
                        p.fr-benefit__descr Внешний и внутренни дизайн, фотографии, видео, моушн-графика, красивая верстка, хороший текст, инфографика — совместный труд целой команды, который требует много времени и сил. Всё это Мы предоставим Вам и Вашему барбершопу.
                    li.fr-benefit
                        p.fr-benefit__text Мобильное приложение.
                        p.fr-benefit__descr Удобная онлайн запись «в пару кликов» через мобильное приложение ( Android, IOS ), через сайт с комфортными личным кабинетом или запись через приложение Вконтакте.
                    li.fr-benefit
                        p.fr-benefit__text Премиум услуги.
                        p.fr-benefit__descr Исключительно в арсенале Наших барберов имеется услуга «Королевское бритьё с TRUEFITT&HILL». Это привилегированная марка мужской косметики, обслуживающая Королевский Двор в Англии с 1805 года.
                    li.fr-benefit
                        p.fr-benefit__text Скидки для партенеров.
                        p.fr-benefit__descr Вы сильно сэкономите на Нашей фирменной косметике и парфюмерии. Став официальным представителем в Вашем городе - Вы получите скидку 60% на всю линейку товаров.
                    li.fr-benefit
                        p.fr-benefit__text Все прозрачно.
                        p.fr-benefit__descr Стоит понимать, что мы не стараемся заработать на Вас. Мы не являемся посредниками -просто предоставим Вам контакты наших проверенных поставщиков и скидки у партнеров бренда OldBoy.
                    li.fr-benefit
                        p.fr-benefit__text Без просредников.
                        p.fr-benefit__descr Скидки при покупке оборудования от производителей, которые сохранят Вам чуть более 200.000 рублей на старте.
                    li.fr-benefit
                        p.fr-benefit__text Бесплатная поддержка.
                        p.fr-benefit__descr Наш штат состоящий из профессиональных веб-разработчиков, дизайнеров, копирайтеров, юристов и маркетологов готов 5 дней в неделю поддерживать Вас во всем, а личный менеджер Вашего филиала ответит на любые вопросы.
                
                section.fr-benefits__conclusion
                    header.fr-oldboy-why
                        .fr-oldboy-why__info
                            p.fr-oldboy-why__subtitle Oldboy family
                            h3.fr-oldboy-why__title Это были лишь 15 самых очевидных причин "войти в семью"
                        .fr-oldboy-why__logo
                            img(src="img/family/oldboy-family.svg", alt="Oldboy Family Logo")
                    
                    .fr-benefits__conclusion-more
                        p.fr-benefits__conclusion-text Чтобы узнать остальные и убрать последние сомения на пути к собственному успешному бизнесу
                        a.fr-benefits__conclusion-submit.button.button--ghost-dark.smooth-trigger(href="#form-target") Свяжитесь с нами
                        p.fr-benefits__conclusion-rest И мы ответим на ваши вопросы
                        a.fr-benefits__conclusion-bibos(href="https://www.beboss.ru/franchise/2484-franshiza-oldboy") Франшиза Oldboy Barbershop на Бибосс
            
                section.steps
                    header.steps__header
                        h2.steps__title Этапы сотрудничества
                    .steps__content
                        .steps__step
                            p.steps__step-number 1
                            p.steps__step-descr Позвони нам – мы открыты для диалога и расскажем все, что ты не нашёл в презентации
                        .steps__step
                            p.steps__step-number 2
                            p.steps__step-descr Договор заключается дистанционно. Но если тебе захочется прилететь к нам и посмотреть, как устроена эта кухня изнутри, организуем чартер и проведем экскурсию по филиалам Oldboy.
                        .steps__step
                            p.steps__step-number 3
                            p.steps__step-descr Отправляем тебе бренд! От визиток и сертификатов до полного руководства к открытию.
                        .steps__step
                            p.steps__step-number 4
                            p.steps__step-descr Наша команда дизайнеров создаст уникальный дизайн-проект для твоего барбершопа.
                        .steps__step
                            p.steps__step-number 5
                            p.steps__step-descr Передаем всю техническую документацию, необходимую для ремонта.
                        .steps__step
                            p.steps__step-number 6
                            p.steps__step-descr Содействуем и консультируем на всех этапах подбора и ремонта помещения.
                        .steps__step
                            p.steps__step-number 7
                            p.steps__step-descr Рекомендуем поставщиков с максимальными скидками на оборудование.
                        .steps__step
                            p.steps__step-number 8
                            p.steps__step-descr Подключаем мобильное приложение, CRM систему учета и онлайн-запись.

                section.video-comments
                    header.video-comments__header
                        h3.video-comments__title Отзывы наших партнеров
                    .video-comments__content
                        .video-comment.video
                            a.video__link(href="https://www.youtube.com/watch?v=thJFNelnDxo&list=LLwOh23zCTls5IOSYLBAT2TQ&index=5&t=0s")
                            picture
                                source(srcset="https://i.ytimg.com/vi/thJFNelnDxo/maxresdefault.jpg" type="webp")
                                img.video__media(src="https://i.ytimg.com/vi/thJFNelnDxo/maxresdefault.jpg") 
                            button.video__button.video-comment__button(aria-label="Запустить видео")
                                svg(width="68" height="48" viewBox="0 0 68 48")
                                    path.video__button-shape(d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
                                    path.video__button-icon(d="M 45,24 27,14 27,34")
                            .video-comment__descr
                                header.video-comment__header
                                    h4.video-comment__title Колгухин Денис
                                    p.video-comment__subtitle г. Зеленоград, Московская область
                        .video-comment.video
                            a.video__link(href="https://www.youtube.com/watch?v=qsilSFNQ1bE&list=LLwOh23zCTls5IOSYLBAT2TQ&index=4&t=226s")
                            picture
                                source(srcset="https://i.ytimg.com/vi/qsilSFNQ1bE/maxresdefault.jpg" type="webp")
                                img.video__media(src="https://i.ytimg.com/vi/qsilSFNQ1bE/maxresdefault.jpg")
                            button.video__button.video-comment__button(aria-label="Запустить видео")
                                svg(width="68" height="48" viewBox="0 0 68 48")
                                    path.video__button-shape(d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
                                    path.video__button-icon(d="M 45,24 27,14 27,34")
                            .video-comment__descr
                                header.video-comment__header
                                    h4.video-comment__title Белов Богдан
                                    p.video-comment__subtitle г. Санкт-Петербург, Кудрово
                        .video-comment.video
                            a.video__link(href="https://www.youtube.com/watch?v=TJuevEydl48&list=LLwOh23zCTls5IOSYLBAT2TQ&index=2&t=628s")
                            picture
                                source(srcset="https://i.ytimg.com/vi/TJuevEydl48/maxresdefault.jpg" type="webp")
                                img.video__media(src="https://i.ytimg.com/vi/TJuevEydl48/maxresdefault.jpg")
                            button.video__button.video-comment__button(aria-label="Запустить видео")
                                svg(width="68" height="48" viewBox="0 0 68 48")
                                    path.video__button-shape(d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z")
                                    path.video__button-icon(d="M 45,24 27,14 27,34")
                            .video-comment__descr
                                header.video-comment__header
                                    h4.video-comment__title Лесковец Дмитрий
                                    p.video-comment__subtitle г. Симферополь, Крым
                section.stars
                    header.stars__header
                        h2.stars__title Доска знаменитостей
                    .stars__slider-container
                        ul.stars__slider
                            li.stars__slider-item
                                img.stars__slider-img(src='', alt='Смоки Мо' data-src="./img/franchise/stars/alihanov.jpg")
                                
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Смоки Мо
                                        p.stars__slider-subtitle Рэп исполнители

                                //- .stars__spinner
                                //-     .spinner
                                //-         .spinner__content
                                //-             .spinner__item
                                //-             .spinner__item
                                //-             .spinner__item
                                //-             .spinner__item
                                //-             .spinner__item
                                //-             .spinner__item
                                //-             .spinner__item
                                //-             .spinner__item
                                //-             .spinner__item

                            li.stars__slider-item
                                img.stars__slider-img(src='', alt='Сергей Жуков' data-src="./img/franchise/stars/alihanov.jpg")
                                
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Сергей Жуков
                                        p.stars__slider-subtitle Певец, музыкант

                            li.stars__slider-item
                                img.stars__slider-img(src='', alt='Каста' data-src="./img/franchise/stars/alihanov.jpg")

                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Каста
                                        p.stars__slider-subtitle Рэп исполнители

                            li.stars__slider-item
                                img.stars__slider-img(src='', alt='Станислав Ярушин' data-src="./img/franchise/stars/alihanov.jpg")
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Станислав Ярушин
                                        p.stars__slider-subtitle Актер

                            li.stars__slider-item
                                img.stars__slider-img(src='', alt='Гарик Мартиросян' data-src="./img/franchise/stars/alihanov.jpg")
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Гарик Мартиросян
                                        p.stars__slider-subtitle Юморист, телеведуший

                            li.stars__slider-item
                                img.stars__slider-img(src='', alt='Animal Cult' data-src="./img/franchise/stars/alihanov.jpg")
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Animal Cult
                                        p.stars__slider-subtitle Диджей, модель
                            li.stars__slider-item
                                img.stars__slider-img(src='', alt='Dj-list' data-src="./img/franchise/stars/alihanov.jpg")
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Dj-list
                                        p.stars__slider-subtitle Диджей
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0016_Loc-Dog-Muzykalnyi-ispolnitel-360x360.jpg', alt='Loc-Dog' data-src="[oldboy:template]/dist/img/franchise/stars/alihanov.jpg")
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Loc-Dog
                                        p.stars__slider-subtitle Музыкальный исполнитель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0015_Miyagi-_-Endshpil-Rep-ispolniteli-360x360.jpg', alt='Miyagi & Эндшпиль')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Miyagi & Эндшпиль
                                        p.stars__slider-subtitle Рэп исполнители
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0017_Oxxxymiron-Muzykalnyi-ispolnitel-kopiya-360x360.jpg', alt='Oxxxymiron')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Oxxxymiron
                                        p.stars__slider-subtitle Музыкальный исполнитель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0014_Slim-Rep-ispolnitel-360x360.jpg', alt='Slim')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Slim
                                        p.stars__slider-subtitle Рэп исполнитель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A4_0005_Aleksandr-YAroshuk-Glava-gorodskogo-okruga-Gorod-Kaliningrad--360x360.jpg', alt='Александр Ярошук')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Александр Ярошук
                                        p.stars__slider-subtitle Глава городского округа «Город Калининград»
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0013_Blagoi-Georgiev-Futbolist-360x360.jpg', alt='Благой Георгиев')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Благой Георгиев
                                        p.stars__slider-subtitle Футболист
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0012_Bogdan-Titomir-Prodyuser-muzykant-360x360.jpg', alt='Богдан Титомир')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Богдан Титомир
                                        p.stars__slider-subtitle Продюсер, музыкант
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0011_Vanderson-du-Karmu-Futbolist-360x360.jpg', alt='Вандерсон ду Карму')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Вандерсон ду Карму
                                        p.stars__slider-subtitle Футболист
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0010_Viktor-Loginov-Akter-Televedushhii--360x360.jpg', alt='Виктор Логинов')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Виктор Логинов
                                        p.stars__slider-subtitle Актер, Телеведущий
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0009_Kan-Muzykalnyi-ispolnitel_2-360x360.jpg', alt='Кан')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Кан
                                        p.stars__slider-subtitle Музыкальный исполнитель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0008_Kirill-Tolmatskii-Detsl-Muzykalnyi-ispolnitel-kopiya-360x360.jpg', alt='Кирилл Толмацкий (Децл)')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Кирилл Толмацкий (Децл)
                                        p.stars__slider-subtitle Музыкальный исполнитель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0019_Kristian-Noboa.-Futbolist-Zenita-i-sbornoi-Ekvadora-360x360.jpg', alt='Кристиан Нобоа')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Кристиан Нобоа
                                        p.stars__slider-subtitle Футболист Зенита и сборной Эквадора
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0002_Ruslan-Belyi-rezident-Comedy-Club-360x360.jpg', alt='Руслан Белый')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Руслан Белый
                                        p.stars__slider-subtitle резидент Comedy Club
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0001_Slava-Panterov-Dizai-ner-model-360x360.jpg', alt='Слава Пантеров')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Слава Пантеров
                                        p.stars__slider-subtitle Дизайнер, модель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A4_0006_YUrii-ZHirkov-Futbolist-igrok-sbornoi-Rossii-360x360.jpg', alt='Юрий Жирков')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Юрий Жирков
                                        p.stars__slider-subtitle Футболист
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A4_0004_Odin-Bai-ron-Akter-360x360.jpg', alt='Один Байрон')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Один Байрон
                                        p.stars__slider-subtitle Актер
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0003_Natalya-Bochkare-va-Aktrisa-vmeste-s-synom-360x360.jpg', alt='Наталья Бочкарёва')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Наталья Бочкарёва
                                        p.stars__slider-subtitle Актер
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0004_Mot-Muzykalnyi-ispolnitel-360x360.jpg', alt='Мот')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Мот
                                        p.stars__slider-subtitle Музыкальный исполнитель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0005_Misha-Marvin-Muzykalnyi-ispolnitel-360x360.jpg', alt='Миша Марвин')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Миша Марвин
                                        p.stars__slider-subtitle Музыкальный исполнитель
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0006_Maurisio-Futbolist-360x360.jpg', alt='Маурисио')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Маурисио
                                        p.stars__slider-subtitle Футболист
                            li.stars__slider-item
                                img.stars__slider-img(src='https://oldboy-franchise.ru/wp-content/uploads/2018/05/OldBoy_Stars_A5_0007_Marsel-Muzykalnyi-ispolnitel-kopiya-360x360.jpg', alt='Марсель')
                                .stars__slider-descr
                                    header.stars__slider-header
                                        h3.stars__slider-title Марсель
                                        p.stars__slider-subtitle Музыкальный исполнитель

                        .stars__slider-controls
                            button.stars__slider-button.stars__slider-button--prev prev
                            button.stars__slider-button.stars__slider-button--next next


            section.application-form.smooth-target#form-target
                header.section-header
                    h2.section-header__title Форма<br>заявки
                    p.section-header__subtitle Oldboy&nbsp;Франшиза
                .application-form__content

                    form#application-form.form(action="")
                        legend.form__legend
                            p.form__title Открой собственный барбершоп oldboy у себя в&nbsp;городе
                            p.form__subtitle Заполни форму и наш менеджер с&nbsp;вами свяжется
                            .form__promo
                                .franchise-promo
                                    .franchise-promo__content
                                        p.franchise-promo__sale Скидка
                                        p.franchise-promo__desc На паушальный взнос <span>до 31 августа</span>
                                    p.franchise-promo__note *подробности уточняйте у менеджера
                        
                        .form__input-group
                            input.form__input(type="text" name="fullname" placeholder="Фамилия Имя Отчество")

                        .form__input-group
                            input.form__input(type="tel" name="phone" placeholder="Номер телефона")

                        .form__input-group
                            input.form__input#edit-city(type="text" name="city" placeholder="Желаемый город")
                            span.form__input-city-incorrect *Этот город имеет статус эксклюзивного и уже занят. Выберите пожалуйста другой город.
                        .form__input-group
                            input.form__input(type="email" name="email" placeholder="E-mail")

                        .form__input-group.form__input-group--policy
                            input.form__checkbox#form__checkbox(type="checkbox" name="policy" required checked)
                            label(for="form__checkbox").form__label-checkbox Я соглашаюсь с<br> <a class="form__policy" href="#">ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</a>
                        
                        .form__input-group
                            input.form__submit-btn.button(type="submit" value="Отправить заявку")

                .application-form__contacts
                    .manager-contacts
                        p.manager-contacts__title Менеджер отдела по работе с клиентами
                        a.manager-contacts__phone(href="tel:+79118660079") +7 (911) 866-00-79
                        p.manager-contacts__name Ирина

        footer.footer
            .footer__content
                .footer__info-n-contacts
                    .footer__info
                        .footer__logo
                            img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                        .footer__caption
                            h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                            p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                            p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                    .footer__contacts
                        .footer__social.footer__social--franchise
                            p.footer__social-cta Следите за нами в соц. сетях
                            ul.social.social--golden
                                li.social__item
                                    a.social__icon.icon--vk(href="https://vk.com/oldboy_barbershop") ВКонтакте
                                li.social__item
                                    a.social__icon.icon--instagram(href="https://www.instagram.com/oldboy_kaliningrad/") Instagram

                        //- .contact.contact--footer
                            h3.contact__title Телефон
                            a.contact__value(href="tel:+79814536555") +7 (981) 453-65-55

                .footer__menues
                    .footer__main-nav
                        ul.footer-menu
                            h3.footer-menu__title Меню
                            li.footer-menu__item
                                a.footer-menu__link(href="") Главная
                            li.footer-menu__item
                                a.footer-menu__link(href="") Новости
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛУГИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ФРАНШИЗА

                    .footer__services-nav
                        ul.footer-menu
                            h3.footer-menu__title Услуги
                            li.footer-menu__item
                                a.footer-menu__link(href="") СТРИЖКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БРИТЬЁ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ТАТУИРОВКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") Барбер-спа

                    .footer__info-nav
                        ul.footer-menu
                            h3.footer-menu__title Информация
                            li.footer-menu__item
                                a.footer-menu__link(href="") Политка конфиденциальности
                            li.footer-menu__item
                                a.footer-menu__link(href="") Условия использования

            .footer__copyrights
                p © 2014–2019 Oldboy Barbershop

            .branch-modal
                .branch-modal__inner
                    .branch-modal__content
                        .branch-modal__info
                            h2.branch-modal__title Oldboy Barbershop
                            p.branch-modal__subtitle Франшиза № 1
                        .branch-modal__form
                            form#application-form.form(action="")
                            legend.form__legend
                                p.form__title Если Вы хотите стать владельцем нашей франшизы, напишите или позвоните нам
                            .form__input-group
                                input.form__input(type="tel" name="phone" placeholder="Номер телефона")
                            .form__input-group
                                input.form__submit-btn.button(type="submit" value="Отправить заявку")
                    .branch-modal__close

            button.up-button#up-button
                .up-button__arrow
                p.up-button__text Наверх
        include modules/_choose-city.pug

        script(src="lightgallery.min.js")
        script(src="scripts.js")