<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Oldboy Barbershop

    body
        header.hero
            .hero__logo
                img(src="", alt="")

            .hero__nav
                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item: a(href="#").main-nav__link Главная
                        li.main-nav__item: a(href="#").main-nav__link Новости
                        li.main-nav__item: a(href="#").main-nav__link Услуги
                        li.main-nav__item: a(href="#").main-nav__link Франшиза

            .hero__city
                p Выбери свой город:
                p Калининград

            .hero__caption 
                p Крупнейшая международная сеть мужских парикмахерских
                h1 Oldboy Barbershop
                p Калининград Театральная 30

            .hero__contacts

            .hero__buttons

            .hero__app

        main
            section.promos
                .promos__header
                    header.section-header
                        h2.section-header__title Акции барбершопа
                        p.section-header__subtitle Режем цены

                .promos__content
                    //- TODO: Add Roman's code here
                    p * Контент акций *

            section.price
                .price__header
                    header.section-header
                        h2.section-header__title Прайс-лист на услуги
                        p.section-header__subtitle Стрижём и бреем

                .price__content
                    //- TODO: Add Price content here
                    p * Контент прайса *

            section.team
                .team__header
                    header.section-header
                        h2.section-header__title Наши мастера
                        p.section-header__subtitle Команда Oldboy

                .team__content
                    //- TODO: Add Team content here
                    p * Контент команды *

            section
                //- TODO: Add banner code here
                p * Контент баннера *

            section.testimonials
                .testimonials__header
                    header.section-header
                        h2.section-header__title Наши отзывы
                        p.section-header__subtitle Что говорят клиенты

                .testimonials__content
                    //- TODO: Add testimonials content
                    p * Контент отзывов *

        footer