<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Oldboy Barbershop

    body
        header.hero
            .hero__logo
                a(href="#")
                    img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

            .hero__nav
                nav.main-nav
                    ul.main-nav__list
                        li.main-nav__item: a(href="#").main-nav__link Главная
                        li.main-nav__item: a(href="#").main-nav__link Новости
                        li.main-nav__item: a(href="#").main-nav__link Услуги
                        li.main-nav__item: a(href="#").main-nav__link Франшиза

            .hero__city
                p Выбери свой город: 
                    a(href="#") Калининград ▼

            .hero__caption 
                h1 Крупнейшая международная сеть мужских парикмахерских Oldboy Barbershop
                p Калининград Театральная 30

            .hero__contacts
                .contact
                    h2.contact__title Адрес
                    p.contact__value ул. Театральная, 30
                    
                .contact
                    h2.contact__title Телефон
                    p.contact__value 52–57–90

                .contact
                    h2.contact__title Часы работы
                    p.contact__value 10:00 — 21:00 (Вс. с 11:00)

            .hero__buttons
                a.button(href="#") Запись онлайн<br>
                a.button(href="#") Сертификат

                ul.hero__social
                    li.hero__social-item
                        a.social-icon(href="#") ВКонтакте
                    li.hero__social-item
                        a.social-icon(href="#") Instagram
                    li.hero__social-item
                        a.social-icon(href="#") Facebook

            .hero__app
                article.app-promo
                    header.app-promo__header
                        h2.app-promo__title Установите специальное мобильное приложение
                        p.app-promo__subtitle для удобной онлайн–записи

                    .app-promo__image
                        img(src="/img/app.png", alt="Oldboy Barbershop mobile application", title="Приложение Oldboy Barbershop")

                    .app-promo__buttons
                        //- p.app-promo__call Скачайте мобильное приложение
                        a.app-button(href="#")
                            img(src="/img/google-play.svg", alt="Google Play")

                        a.app-button(href="#")
                            img(src="/img/app-store.svg", alt="App Store")

        main
            section.promos
                .promos__header
                    header.section-header
                        h2.section-header__title Акции барбершопа
                        p.section-header__subtitle Режем цены

                .promos__content
                    article.promo
                        a.promo__info-icon(href="#") i
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 2500
                                p.promo__name Отец + Сын

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Отец + Сын» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo
                        a.promo__info-icon(href="#") i
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 1800
                                p.promo__name Друг + Друг

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

                    article.promo
                        a.promo__info-icon(href="#") i
                        header.promo__header
                            p.promo__service Комплексная услуга
                            .promo__bottom
                                p.promo__price 2500
                                p.promo__name Отец + Сын

                        .promo__description
                            p.promo__tip Описание услуги
                            h3.promo__title «Друг + Друг» Комплексная услуга
                            .promo__text
                                p Две мужские стрижки, подряд, у одного мастера со скидкой 17%.
                                p Более подробные условия уточняйте у администратора.

            section.price
                .price__header
                    header.section-header
                        h2.section-header__title Прайс-лист на услуги
                        p.section-header__subtitle Стрижём и бреем

                .price__content
                    table.price-table
                        caption.price-table__caption Основные услуги

                        tr.price-table__row
                            td.price-table__service Стрижка мужская <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка детская <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Коррекция бороды <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Коррекция бороды с подбриванием <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Бритьё королевское <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Стрижка под машинку <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 800
                        tr.price-table__row
                            td.price-table__service Стрижка усов <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Бритьё головы по-королевски <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Tattoo <a href="#" class="price-table__icon">i</a>
                            td.price-table__price

                    table.price-table
                        caption.price-table__caption Дополнительные услуги

                        tr.price-table__row
                            td.price-table__service Камуфляж седены <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Окантовка с подбриванием <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 500
                        tr.price-table__row
                            td.price-table__service Мытьё и укладка волос <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1000

                    table.price-table
                        caption.price-table__caption Комплексные услуги

                        tr.price-table__row
                            td.price-table__service Друг + Друг <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1500
                        tr.price-table__row
                            td.price-table__service Папа + Сын <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1000
                        tr.price-table__row
                            td.price-table__service Стрижка + Коррекция бороды <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 2000
                        tr.price-table__row
                            td.price-table__service Стрижка + Королевское бритьё <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 2500
                        tr.price-table__row
                            td.price-table__service Стрижка + Камуфляж <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1750
                        tr.price-table__row
                            td.price-table__service Борода + Камуфляж <a href="#" class="price-table__icon">i</a>
                            td.price-table__price 1000

            section.team
                .team__header
                    header.section-header
                        h2.section-header__title Наши мастера
                        p.section-header__subtitle Команда Oldboy

                .team__content
                    article.member
                        header.member__header
                            h3.member__name Юрий
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/1.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Олег
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/2.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Виктор
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/3.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Евгений
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/4.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Даниил
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/5.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Раф
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/6.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Валера
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/7.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Денис
                            p.member__position Барбер
                        .member__photo
                            img(src="/img/members/8.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon

                    article.member
                        header.member__header
                            h3.member__name Михаил
                            p.member__position Тату–мастер
                        .member__photo
                            img(src="/img/members/9.jpg", alt="Фотография барбера")
                        a.register(href="#")
                            p.register__text Записаться онлайн
                            .register__icon


            section
                //- TODO: Add banner code here
                p * Контент баннера *

            section.testimonials
                .testimonials__header
                    header.section-header
                        h2.section-header__title Ваши отзывы
                        p.section-header__subtitle Что говорят клиенты

                .testimonials__content
                    .testimonials__main-comment
                        article.comment.comment--main
                            header.comment__header
                                .comment__icon
                                .comment__caption
                                    h3.comment__name Виктор
                                    p.comment__about отзыв о барбере: <span class="">Олег</span>
                            p.comment__text Олег стриг на своё усмотрение, а получилось так как я хотел, я очень доволен (кстати, и окружающие тоже). Браво, Олег!

                    .testimonials__comments
                        article.comment
                            header.comment__header
                                .comment__icon
                                .comment__caption
                                    h3.comment__name Виктор
                                    p.comment__about отзыв о барбере: <span class="">Олег</span>
                            p.comment__text Олег стриг на своё усмотрение, а получилось так как я хотел, я очень доволен (кстати, и окружающие тоже). Браво, Олег!
                            
                        article.comment
                            header.comment__header
                                .comment__icon
                                .comment__caption
                                    h3.comment__name Георгий
                                    p.comment__about отзыв о барбере: <span class="">Виктор</span>
                            p.comment__text Очень понравилось качество стрижки и старательность мастера. Весьма доволен результатом.

                        article.comment
                            header.comment__header
                                .comment__icon
                                .comment__caption
                                    h3.comment__name Алексей
                                    p.comment__about отзыв о барбере: <span class="">Даниил</span>
                            p.comment__text Даниил - отличный Мастер, как и всегда ребята. Приобщает его тщательность, скурпулёзность и внимание к тонкостям в модели стрижки. Остался доволен результатом искренне благодарю за работу.

                        article.comment
                            header.comment__header
                                .comment__icon
                                .comment__caption
                                    h3.comment__name Юрий
                                    p.comment__about отзыв о барбере: <span class="">Раф</span>
                            p.comment__text Как всегда отличная стрижка. Раф держит марку.

                        article.comment
                            header.comment__header
                                .comment__icon
                                .comment__caption
                                    h3.comment__name Виктор
                                    p.comment__about отзыв о барбере: <span class="">Олег</span>
                            p.comment__text Олег стриг на своё усмотрение, а получилось так как я хотел, я очень доволен (кстати, и окружающие тоже). Браво, Олег!
                            
                        article.comment
                            header.comment__header
                                .comment__icon
                                .comment__caption
                                    h3.comment__name Георгий
                                    p.comment__about отзыв о барбере: <span class="">Виктор</span>
                            p.comment__text Очень понравилось качество стрижки и старательность мастера. Весьма доволен результатом.


        footer