<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--main
            .hero__top
                .hero__logo
                    img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    .hero-caption
                        h1.hero-caption__title <span class="hero-caption__big">OLDBOY <br>BARBERSHOP</span>
                        p.hero-caption__motto Намного больше, чем просто мужская&nbsp;парикмахерская

                    .hero__buttons
                        a.button(href="#") Запись онлайн<br>
                        a.button.button--ghost(href="#") О барбершопе

                .hero__deco
                    img(src="./img/bgs/oleg.png", alt="Стрижка в Oldboy barbershop")

                aside.hero__aside
                    .hero__counter
                        .branch-counter
                            h2.branch-counter__title Крупнейшая сеть <strong>барбершопов</strong>
                            p.branch-counter__amount 130

                    .hero__franchise
                        .franch-promo
                            h2.franch-promo__title <strong>ФРАНШИЗА</strong> Oldboy Barbershop
                            .franch-promo__cta
                                a.button.button--ghost(href="#") Открыть барбершоп

        main
            //- section.news
                .news__header
                    header.section-header
                        h2.section-header__title Наши <br>новости
                        p.section-header__subtitle О&nbsp;самом&nbsp;главном

                .news__editorial
                    .editorial
                        .editorial__photo
                            img(src="/img/news/opening.jpg", alt="Barbershop main news photo")

                        .editorial__content
                            .editorial__caption
                                p.editorial__category Новости франшизы
                                h3.editorial__title Открытие нового барбершопа Oldboy в&nbsp;барселоне
                                p.editorial__subtitle Долгожданное открытие второго по счёту барбершопа в столице Испании планируется в&nbsp;конце августа

                            footer.editorial__footer
                                .editorial__date
                                    .date
                                        span.date__day 27
                                        span.date__m-n-y <span>июля</span> <span>2018</span>
                                a.editorial__cta(href="#") Читать полностью

                .news__feed
                    article.news-item
                        .news-item__container
                            .news-item__photo
                                img(src="/img/news/news-feed1.jpg", alt="Barbershop news photo")
                            
                            .news-item__content
                                header.news-item__header
                                    p.news-item__category Косметика и аксессуары
                                    h3.news-item__title Старт продаж новой косметики Barber Wild
                                    p.news-item__subtitle Самый ожидаемый старт сезона уже в эти выходные

                                footer.news-item__footer
                                    .news-item__date
                                        .date
                                            span.date__day 27
                                            span.date__m-n-y <span>июля</span> <span>2018</span>
                                    a.news-item__cta(href="#") Читать полностью

                    article.news-item
                        .news-item__container
                            .news-item__photo
                                img(src="/img/news/news-feed2.jpg", alt="Barbershop news photo")
                            
                            .news-item__content
                                header.news-item__header
                                    p.news-item__category Новости регионов
                                    h3.news-item__title Новые акции для выпускников
                                    p.news-item__subtitle Самый ожидаемый старт сезона уже в эти выходные

                                footer.news-item__footer
                                    .news-item__date
                                        .date
                                            span.date__day 27
                                            span.date__m-n-y <span>июля</span> <span>2018</span>
                                    a.news-item__cta(href="#") Читать полностью

                    article.news-item
                        .news-item__container
                            .news-item__photo
                                img(src="/img/news/news-feed3.jpg", alt="Barbershop news photo")

                            .news-item__content
                                header.news-item__header
                                    p.news-item__category Новинки
                                    p.news-item__title Новая услуга в линейке oldboy - Барбер-Спа
                                    p.news-item__subtitle Самый ожидаемый старт сезона уже в эти выходные

                                footer.news-item__footer
                                    .news-item__date
                                        .date
                                            span.date__day 27
                                            span.date__m-n-y <span>июля</span> <span>2018</span>
                                    a.news-item__cta(href="#") Читать полностью

                .news__more
                    a.button(href="#") Смотреть все новости
                    p.news__more-text Узнайте ещё больше новостей барбершопов oldboy

            section.services
                .services__header
                    header.section-header
                        h2.section-header__title Услуги <br>барбершопа
                        p.section-header__subtitle.section-header__subtitle--light-t Стрижем&nbsp;и&nbsp;бреем

                .services__content
                    .services__main
                        article.service-main.service-main--haircut
                            header.service-main__header
                                h3.service-main__title Мужские<br><strong>стрижки</strong>
                                p.service-main__subtitle Лучшее качество
                            a.service-main__button(href="#") Все о стрижках

                        article.service-main.service-main--beard
                            header.service-main__header
                                h3.service-main__title Стрижка<br> <strong>усов и&nbsp;бороды</strong>
                                p.service-main__subtitle Наша специализация
                            a.service-main__button(href="#") Усы и борода

                    .services__secondary
                        article.service-item.service-item--shaving
                            header.service-item__header
                                p.service-item__subtitle Стиль и профессионализм
                                h3.service-item__title <strong>Бритьё</strong><br>бороды и головы
                            a.service-item__button(href="#") Услуги бритья

                        article.service-item.service-item--royal
                            .service-item__header
                                p.service-item__subtitle Для настоящих ценителей
                                h3.service-item__title <strong>Королевское</strong><br> бритьё
                            a.service-item__button(href="#") Для ценителей

                        article.service-item.service-item--tattoo
                            .service-item__header
                                p.service-item__subtitle Лучшие мастера
                                h3.service-item__title <strong>Нанесение</strong><br>татуировок
                            a.service-item__button(href="#") Услуги тату салона

                        article.service-item.service-item--spa
                            .service-item__header
                                p.service-item__subtitle Комплексный уход
                                h3.service-item__title <strong>Барбер–SPA</strong><br>Услуги
                            a.service-item__button(href="#") Скоро открытие


                    //- a.button(href="#") Показать все услуги

            section.about
                .about__header
                    header.section-header
                        h2.section-header__title О нашем <br>барбершопе
                        p.section-header__subtitle.section-header__subtitle--light Oldboy&nbsp;Barbershop
                        .section-header__image
                            img(src="./img/about.jpg", alt="Барбершоп Oldboy")

                .about__caption
                    h3.about__headline Oldboy — Барбершоп с&nbsp;твоим характером
                    p.about__subtitle Здесь нет женщин, нет праздных разговоров ни о чём, здесь царит атмосфера брутальности и&nbsp;мужского духа, вдохновлённая европейскими стандартами качества и стиля

                .about__content
                    p.about__text OldBoy Barbershop – намного больше чем просто мужская парикмахерская, это даже больше чем мужской клуб по интересам, это именно то место, где ты найдешь себя и свой стиль. Поверь нам на слово. Мужские стрижки и опасное бритье — это именно наш профиль, и мы уверены, что мы стрижем и бреем лучше всех. Даже не обсуждается! Как говорил Фрэнк Синатра «Костюм, шляпа, хорошая работа и одинокое пьянство по выходным – вот что украшает мужчину». Обещать что мы сделаем из тебя Кэри Гранта мы не будем, но ты можешь быть уверен в 3 вещах:
                    .about__features
                        article.thing
                            .thing__icon: img(src="./img/icons/whiskey.svg", alt="Oldboy Барбершоп угощает")
                            p.thing__text Тебе обязательно предложат чашечку кофе или бокал отличного бурбона
                        article.thing
                            .thing__icon: img(src="./img/icons/medal.svg", alt="Oldboy Барбершоп угощает")
                            p.thing__text Мы пострижем и&nbsp;побреем тебя на высшем уровне
                        article.thing
                            .thing__icon: img(src="./img/icons/best-friend.svg", alt="Навсегда с Oldboy Барбершоп")
                            p.thing__text Когда ты уйдёшь, ты&nbsp;обязательно вернёшься

            section.academy-banner
                header.academy-banner__header
                    h2.academy-banner__title Академия <br><strong>Oldboy</strong>
                    p.academy-banner__subtitle Добро пожаловать в&nbsp;семью

                .academy-banner__content
                    p.academy-banner__motto Академия барберинга Oldboy —&nbsp;место, где&nbsp;рождаются настоящие мужские парикмахеры
                    p.academy-banner__text Место, где вы станене настоящим барбером, профессионалом своего дела и&nbsp;ведущим специалистом барбершопа
                    p.academy-banner__address Москва <br>Старокирочный переулок, 2 <br>Тел.: <a href="tel:+" class="academy-banner__phone">+7 926 1000-266</a>
                    
                .academy-banner__cta
                    a.button(href="#") Узнать подробнее

            section.franchise
                .franchise__header
                    header.section-header
                        h2.section-header__title Карта <br>филиалов
                        p.section-header__subtitle Сеть&nbsp;Oldboy

                .franchise__map
                    img(src="/img/franchise-map.svg", alt="Oldboy barbershop locations map")

                .franchise__content
                    .franchise__caption
                        h3.franchise__title <strong>ФРАНШИЗА</strong> Oldboy&nbsp;Barbershop
                        .franchise__button
                            a.button(href="#") Открой свой барбершоп

                    a.franchise__logo(href="#")
                        img(src="/img/franch.svg", alt="Oldboy Franchise logo")

                    .franchise__summary
                        p.franchise__count 129
                        p.franchise__details <strong>ФИЛИАЛОВ</strong> в 5 странах и в 5 столицах

        footer.footer
            .footer__content
                .footer__info-n-contacts
                    .footer__info
                        .footer__logo
                            img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                        .footer__caption
                            h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                            p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                            p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

                .footer__menues
                    .footer__main-nav
                        ul.footer-menu
                            h3.footer-menu__title Меню
                            li.footer-menu__item
                                a.footer-menu__link(href="") ГЛАВНАЯ
                            li.footer-menu__item
                                a.footer-menu__link(href="") НОВОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛУГИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ФРАНШИЗА

                    .footer__services-nav
                        ul.footer-menu
                            h3.footer-menu__title Услуги
                            li.footer-menu__item
                                a.footer-menu__link(href="") СТРИЖКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БРИТЬЁ
                            li.footer-menu__item
                                a.footer-menu__link(href="") ТАТУИРОВКИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") БАРБЕР-СПА

                    .footer__info-nav
                        ul.footer-menu
                            h3.footer-menu__title Информация
                            li.footer-menu__item
                                a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                            li.footer-menu__item
                                a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ


            .footer__copyrights
                p © 2014–2019 Oldboy Barbershop
