<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--investment
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .menu-button.menu-button--close
                    .menu-button__middle

<<<<<<< HEAD
            .hero__content
                .hero__content.hero__content--investment
                    .hero__caption
                        .hero-caption
                            h1.hero-caption__title <span class="hero-caption__big hero-caption__big--investment">Инвестируй от&nbsp;850&nbsp;000&nbsp;рублей в&nbsp;долю&nbsp;сразу&nbsp;двух барбершопов 
                            p.hero-caption__motto.hero-caption__motto--gold И получай от&nbsp;37500&nbsp;рублей пассивного дохода в&nbsp;месяц*
                            p.hero-caption__reference *Учитывая средние показатели за 2019 г.
                    
                    .hero__features
                        .investment-features
                            .investment-features__item
                                h3.investment-features__title 1,5 миллиарда рублей <br><span>оборот за 2019 год</span>
                                p.investment-features__subtitle Ни одного закрывшегося филиала из&nbsp;-&nbsp;за&nbsp;финансовых показателей

                            .investment-features__item.investment-features__item--second
                                h3.investment-features__title Самый посещаемый сайт <br><span>и&nbsp;скачиваемое приложение</span>
                                p.investment-features__subtitle По данным статистики за 2019 год <br>среди барбершопов в России

                            .investment-features__item.investment-features__item--third
                                h3.investment-features__title Крупнейшая сеть <br><span>барбершопов в России и СНГ</span>
                                p.investment-features__subtitle 265 открытых филиалов и 85 на стадии открытия в 15 странах и 8 столицах мира

                    .hero__buttons.hero__buttons--investment
                        a.button.button--ghost.smooth-trigger(href="#profit-calculator") Рассчитать доходность
=======
            .hero__content.hero__content--investment
                .hero__caption
                    .hero-caption
                        h1.hero-caption__title <span class="hero-caption__big hero-caption__big--investment">Инвестируй от&nbsp;850&nbsp;тысяч в&nbsp;долю&nbsp;сразу&nbsp;двух барбершопов OldBoy и&nbsp;получай от&nbsp;37500&nbsp;рублей&nbsp;на&nbsp;пассиве каждый месяц
                        p.hero-caption__motto Мы берем на себя открытие и&nbsp;управление барбершопом - ты&nbsp;получаешь пассивный доход.

                    .hero__buttons
                        a.button.button--ghost.alphabet__trigger(href="#profit-calculator") Рассчитать доход
                
                .hero__investment
                    .investment-text
                        p.investment-text__call.investment-text__call--gold Получайте пассивный доход
                        p.investment-text__range От 40&nbsp;000 до&nbsp;500&nbsp;000&nbsp;
                            span.currency.rouble-sign P
                        p.investment-text__call Инвестируя от 850&nbsp;000&nbsp;
                            span.currency.rouble-sign P
>>>>>>> 6cbd4f8b59dcc4e80948efe481b0c296348d996f

        main
            section.invest-info
                .invest-info__content
                    .condition-item
                        h3.condition-item__title Объём инвестиций
                        p.condition-item__subtitle Минимальная сумма входа
                        p.condition-item__desc от&nbsp;850&nbsp;000&nbsp;
                            span.currency.rouble-sign P

                    .condition-item
                        h3.condition-item__title Доходность в РФ
                        p.condition-item__subtitle Средний % доходности за 2018 год
                        p.condition-item__desc 37,4% <br><span>годовых</span>

                    .condition-item
                        h3.condition-item__title Окупаемость инвестиций
                        p.condition-item__subtitle Средний срок возврата инвестиций
                        p.condition-item__desc 32 месяца / 2,7 года

                    .condition-item
                        h3.condition-item__title Участие в&nbsp;бизнесе
                        p.condition-item__subtitle Роль инвестора
                        p.condition-item__desc Пассивный доход <br><span>участие не&nbsp;требуется</span>

            section.profit#profit
                .profit__header
                    header.section-header
                        h2.section-header__title Инвестиции в <br>Oldboy
                        p.section-header__subtitle.section-header__subtitle--golden-t Ключевые цифры и факты

                .profit__content
                    h3.profit__title Риск минимален. <br>Инвестор покупает долю сразу в 2-х барбершопах.
                    p.profit__subtitle Риск потери инвестиций становится управляемым
                    p.profit__value Цена 10% доли в РФ = 850&nbsp;000&nbsp;
                        span.currency.rouble-sign P
                    p.profit__info Инвестор получает по 5% доли от каждого из 2-х разных барбершопов. Всю операционку от подбора помещения до получения прибыли берет на себя Управляющая компания сети OldBoy.
                    p.profit__info Инвесторы контролируют УК, имея полный доступ к CRM Yclients, видеокамерам, управленческой отчетности (.xls) и получают ежемесячные выплаты. <br>* Инвестировать можно в барбершопы на территории России и Евросоюза

                .profit__form
                    form#lead-form(action="").lead-form
                        legend.lead-form__legend
                            p.lead-form__text Оставьте заявку прямо сейчас чтобы получить образец инвестиционного договора и фин модель

                        .lead-form__content
                            .lead-form__container
                                .lead-form__item
                                    input.lead-form__input(type="text" name="fullname" placeholder="Имя" required)
                                .lead-form__item
                                    input.lead-form__input.lead-form--masked(type="tel" name="phone" placeholder="Телефон" required)
                            .lead-form__item
                                input.lead-form__submit.button(type="submit" value="Получить Договор + фин модель")


                .profit__calculator.smooth-target#profit-calculator
                    header.profit__calculator-header
                        h3.profit__calculator-title Рассчитайте, какой вы&nbsp;будете получать доход от&nbsp;купленной доли
                        p.profit__calculator-subtitle Размер пассивного дохода инвестора <br>при разных вложениях
                    .invest-calculator
                        header.invest-calculator__header
                            h5.invest-calculator__title Сумма инвестиций для
                            form.invest-location(name="invest__location")
                                .invest-location__radio-wrap
                                    input#rf.invest-location__radio(type='radio', name='location', value='РФ', checked='checked')
                                    label.invest-location__label(for='rf') РФ
                                .invest-location__radio-wrap
                                    input#eu.invest-location__radio(type='radio', name='location', value='Страны ЕС')
                                    label.invest-location__label-specific(for='eu') ЕС
                                        
                            p.invest-calculator__subtitle Процент от&nbsp;прибыли барбершопа
                        
                        .invest-calculator__graph
                            label.invest-calculator__label
                                input.invest-calculator__radio(type="radio", name="graph" checked)
                                p.invest-calculator__sum(data-monthRU="40000" data-monthEU="70000") 850&nbsp;000 ₽
                                .invest-calculator__switcher
                                .invest-calculator__line
                                span.invest-calculator__percent 10%

                            label.invest-calculator__label
                                input.invest-calculator__radio(type="radio", name="graph")
                                p.invest-calculator__sum(data-monthRU="80000" data-monthEU="140000") 1&nbsp;700&nbsp;000 ₽
                                .invest-calculator__switcher
                                .invest-calculator__line
                                span.invest-calculator__percent 20%

                            label.invest-calculator__label
                                input.invest-calculator__radio(type="radio", name="graph")
                                p.invest-calculator__sum(data-monthRU="120000" data-monthEU="210000") 2&nbsp;550&nbsp;000 ₽
                                .invest-calculator__switcher
                                .invest-calculator__line
                                span.invest-calculator__percent 30%

                            label.invest-calculator__label
                                input.invest-calculator__radio(type="radio", name="graph")
                                p.invest-calculator__sum(data-monthRU="160000" data-monthEU="250000") 3&nbsp;400&nbsp;000 ₽
                                .invest-calculator__switcher
                                .invest-calculator__line
                                span.invest-calculator__percent 40%

                            label.invest-calculator__label
                                input.invest-calculator__radio(type="radio", name="graph")
                                p.invest-calculator__sum(data-monthRU="200000" data-monthEU="320000") 4&nbsp;250&nbsp;000 ₽
                                .invest-calculator__switcher
                                .invest-calculator__line
                                span.invest-calculator__percent &nbsp;50%

                            label.invest-calculator__label
                                input.invest-calculator__radio(type="radio", name="graph")
                                p.invest-calculator__sum более 4&nbsp;250&nbsp;000 ₽
                                .invest-calculator__switcher
                                .invest-calculator__line
                                span.invest-calculator__percent >&nbsp;50%
                        
                        .invest-calculator__result
                            .invest-calculator__summ
                                p.invest-calculator__summ-text Сумма инвестиций<br>
                                    span.invest-calculator__value#invest-calculator__value-invest 850&nbsp;000
                                    span.invest-calculator__curr.rouble-sign Р
                            .invest-calculator__passive
                                p.invest-calculator__summ-text Размер пассивного дохода <br>
                                    span.invest-calculator__value#invest-calculator__value-passive 2 400 000
                                    span.invest-calculator__curr.rouble-sign Р
                                p.invest-calculator__period за пять лет
                            .invest-calculator__rest
                                .invest-calculator__summ-val
                                    p.invest-calculator__summ-text
                                        span.invest-calculator__value#invest-calculator__value-year 480&nbsp;000
                                        span.invest-calculator__curr.rouble-sign Р
                                    p.invest-calculator__period за один год
                                .invest-calculator__summ-val
                                    p.invest-calculator__summ-text
                                        span.invest-calculator__value#invest-calculator__value-month 40&nbsp;000
                                        span.invest-calculator__curr.rouble-sign Р
                                    p.invest-calculator__period в месяц
                            .invest-calculator__request
                                button.button.form-trigger.invest-button Оставить заявку
                            .invest-calculator__vip
                                header.invest-calculator__vip-header
                                    p.invest-calculator__vip-subtitle Эксклюзивные условия для инвестиций свыше
                                    h3.invest-calculator__vip-title 4&nbsp;000&nbsp;000 
                                        span.invest-calculator__curr.rouble-sign Р
                                .invest-calculator__vip-content
                                    h4.invest-calculator__vip-content-title Статус VIP-инвестор
                                    .invest-calculator__vip-content-body
                                        .invest-calculator__vip-content-icon
                                            img.invest-calculator__vip-content-img(src="./img/icons/vip.svg", alt="VIP")
                                        p.invest-calculator__vip-content-text Свяжитесь с&nbsp;нашим менеджером,чтобы узнать какие преимущетва мы предлагаем для&nbsp;крупных инвесторов.

                                    button.button.form-trigger.invest-button Оставить заявку
                .profit__contacts
                    .manager-contacts
                        p.manager-contacts__title Руководитель отдела по работе с инвесторами
                        a.manager-contacts__phone(href="tel:+79853331179") +7 (985) 333-11-79
                        p.manager-contacts__name Виталий

            section.targeting
                .targeting__header
                    header.section-header
                        h2.section-header__title Для&nbsp;кого&nbsp;это <br>предложение
                        p.section-header__subtitle.section-header__subtitle--light Наши&nbsp;партнёры
                        .section-header__image.section-header__image--investment
                            img(src="./img/investment/chair.jpg", alt="Барбершоп Oldboy")

                .targeting__content
                    h3.targeting__title В OldBoy инвестируют:

                    .targeting__items
                        .investment-item
                            .investment-item__image: img(src="./img/icons/employee.svg", alt="")
                            p.investment-item__title ТОП менеджеры
                            p.investment-item__text Сотрудники средних / крупных коммерческих и государственных корпораций чтобы создать пассивный доход и не зависеть от работы

                        .investment-item
                            .investment-item__image: img(src="./img/icons/coins.svg", alt="")
                            p.investment-item__title Бизнесмены
                            p.investment-item__text Владельцы малого бизнеса, чтобы диверсифицировать источники дохода или войти в проект “для души”

                        .investment-item
                            .investment-item__image: img(src="./img/icons/save-money.svg", alt="")
                            p.investment-item__title Начинающие предприниматели
                            p.investment-item__text Те, кто думают открыть свой бизнес по франшизе, но желают максимально снять с себя риски по открытию и управлению барбершопом

                        .investment-item
                            .investment-item__image: img(src="./img/icons/website.svg", alt="")
                            p.investment-item__title Адепты бренда
                            p.investment-item__text Постоянные клиенты OldBoy, которые давно знают нас и просто хотят быть частью бренда

                    p.targeting__info Если вас НЕ устраивает доходность банковского вклада, жилой и коммерческой недвижимости, а риски на фондовом рынке, в крипте или венчуре слишком высоки - инвестируйте свои деньги в OldBoy!

                    .targeting__form
                        form#lead-form(action="").lead-form
                            legend.lead-form__legend
                                p.lead-form__text Оставьте заявку прямо сейчас чтобы узнать 2 адреса, где мы откроем новые барбершопы в декабре 2019 года

                            .lead-form__content
                                .lead-form__container
                                    .lead-form__item
                                        input.lead-form__input(type="text" name="fullname" placeholder="Имя" required)
                                    .lead-form__item
                                        input.lead-form__input.lead-form--masked(type="tel" name="phone" placeholder="Телефон" required)
                                .lead-form__item
                                    input.lead-form__submit.button(type="submit" value="Узнать адреса")

                //- .targeting__compare
                    header.targeting__compare-header
                        h4.targeting__compare-title Сравните доходность инвестиций в РФ
                        p.targeting__compare-subtitle Средняя чистая прибыль барбершопов в Москве<br> 400 000 – 450 000 руб. в &nbsp;месяц
                    .targeting__compare-graph
                        canvas#targeting-compare-graph

            section.protection
                .protection__header
                    header.section-header
                        h2.section-header__title Защита <br>инвестиций
                        p.section-header__subtitle.section-header__subtitle--light Контроль дохода

                    .protection__caption
                        h3.protection__title Мы предлагаем прозрачный контроль дохода вложенных средств
                        p.protection__subtitle Онлайн инструменты, доступные в&nbsp;любое время из&nbsp;любой точки мира

                .protection__content
                    p.protection__headline 3 ступени контроля

                    .protection__wrapper
                        h3.protection__heading Инструменты контроля за инвестициями
                        
                        ul.protection__text
                            li.protection__list 1. Контроль дохода. Полный доступ к CRM системе Yclients (оборот, средний чек, % заполняемости, % повторных клиентов, за час/день/месяц. Веб версия или мобильное приложение)
                            li.protection__list 2. Онлайн видеокамеры (2 шт. в клиентской зоне, 1 шт. над стойкой администратора, чтобы было видно, как принимаются оплаты наличными)
                            li.protection__list 3. Контроль расхода. Управленческая #[button.protection__link(href="#") отчетность в Excel] (статистика всех расходов по дням. Направляется на почту до 5 числа каждого месяца)

                        .protection__deco
                            .protection__image: img(src="./img/investment/cam.png", alt="")

                        //.protection__video
                            .video
                                a.video__link(href="https://youtu.be/EOnSh3QlpbQ")
                                    picture
                                        source(srcset="https://i.ytimg.com/vi_webp/EOnSh3QlpbQ/maxresdefault.webp" type="image/webp")
                                        img.video__media(src="https://i.ytimg.com/vi_webp/EOnSh3QlpbQ/maxresdefault.jpg", alt="")
                                button.video__button(type="button" aria-label="Запустить видео")
                                    <svg width="68" height="48" viewBox="0 0 68 48"><path class="video__button-shape" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path class="video__button-icon" d="M 45,24 27,14 27,34"></path></svg>

                .protection__secure
                    .protection__deco
                        .protection__image: img(src="./img/investment/ycl.png", alt="")
                        p.protection__motto Инвестиции с &nbsp;Oldboy - это удобно и&nbsp;безопасно

                    .protection__items
                        .investment-item
                            .investment-item__image: img(src="./img/icons/debt.svg", alt="")
                            p.investment-item__title Контроль
                            p.investment-item__text Прозрачный<br> и&nbsp;понятный

                        .investment-item
                            .investment-item__image: img(src="./img/icons/idea.svg", alt="")
                            p.investment-item__title Безрисковый
                            p.investment-item__text Оптимальная схема инвестиционного предложения

                        .investment-item
                            .investment-item__image: img(src="./img/icons/project-management.svg", alt="")
                            p.investment-item__title Автоматизация
                            p.investment-item__text Бизнес процессов упрощает контроль доходности

                        .investment-item
                            .investment-item__image: img(src="./img/icons/online-payment.svg", alt="")
                            p.investment-item__title Онлайн доступ
                            p.investment-item__text Ко всем инструментам из&nbsp;любой точки мира

                .protection__form
                    form#lead-form(action="").lead-form.lead-form--transparent
                        legend.lead-form__legend
                            p.lead-form__text Оставьте заявку чтобы получить доступ к реальной статистике одного из барбершопов и файл (.xls) с управленческой отчетностью за месяц

                        .lead-form__content
                            .lead-form__container
                                .lead-form__item
                                    input.lead-form__input(type="text" name="fullname" placeholder="Имя" required)
                                .lead-form__item
                                    input.lead-form__input.lead-form--masked(type="tel" name="phone" placeholder="Телефон" required)
                            .lead-form__item
                                input.lead-form__submit.button(type="submit" value="Получить доступ")

        .investment-popup.investment-popup--hidden.investment-popup__visually
            .investment-popup__content
                img(src="./img/investment/fin.jpg", alt="Картинка в виде таблицы отчётности")
                .investment-popup__close

        button.up-button#up-button
                .up-button__arrow
                p.up-button__text Наверх
        
        include modules/_footer.pug

        script(src="investment.js")