<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--royal
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .hero__city-select
                    a(href="choose-city.html").city-select
                        p.city-select__title Выбрать&nbsp;барбершоп&nbsp;<span class="city-select__triangle">▼</span>
                        p.city-select__city Калининград

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    .hero-caption
                        h1.hero-caption__title <span class="hero-caption__big hero-caption__big--haircut">Обучение <br>барберов</span>
                        p.hero-caption__location Санкт–Петербург

                .hero__contacts-n-buttons
                    .hero__contacts
                        .contact
                            h2.contact__title Адрес
                            p.contact__value ул. Театральная, 30
                            p.contact__value--place ТЦ «ЕВРОПА»
                            <br>
                            p.contact__value--metro <span>Несуществующая</span> <span>Центральная</span>
                            
                        .contact
                            h2.contact__title Телефон
                            p.contact__value: a(href="tel:52–57–90") 52–57–90

        main
            section.landing-info
                .landing-info__header
                    .haircut__header
                        header.section-header
                            h2.section-header__title Курс <br>Барбер&nbsp;с&nbsp;нуля
                            p.section-header__subtitle Oldboy&nbsp;barbershop

                .landing-info__content
                    h3.landing-info__title Хочешь получить востребованную профессию, зарабатывать от&nbsp;75&nbsp;000&nbsp;рублей <br>и&nbsp;работать в&nbsp;удобном тебе графике?
                    p.landing-info__subtitle Пройди обучение у&nbsp;профессионалов в&nbsp;филиале известного международного бренда Oldboy Barbershop
                    p.landing-info__text <span>КУРС ПОЛНОГО ОСВОЕНИЯ ПРОФЕССИИ БАРБЕРА</span> <br>со сдачей экзамена и&nbsp;получения сертификата от&nbsp;крупнейшей сети барбершопов.

                    //- form#application-form.form(action="")
                    form(action="")
                        //- legend.form__legend
                        //-     p.form__title Открой собственный барбершоп oldboy у себя в&nbsp;городе
                        //-     p.form__subtitle Заполни форму и наш менеджер с&nbsp;вами свяжется
                        
                        .form__input-group
                            input.form__input(type="text" name="fullname" placeholder="Фамилия Имя Отчество")

                        .form__input-group
                            input.form__input(type="text" name="phone" placeholder="Номер телефона")

                        .form__input-group
                            input.form__input(type="email" name="email" placeholder="E-mail")

                        .form__input-group.form__input-group--policy
                            input.form__checkbox#form__checkbox(type="checkbox" name="policy" required checked)
                            label(for="form__checkbox").form__label-checkbox Я соглашаюсь с<br> <a class="form__policy" href="#">ПОЛИТИКОЙ КОНФИДЕНЦИАЛЬНОСТИ</a>
                        
                        .form__input-group
                            input.form__submit-btn.button.button--ghost-dark(type="submit" value="Отправить заявку")

            section.fr-benefits
                header.fr-benefits__header
                    p.fr-benefits__subtitle наши преимущества
                    h2.fr-benefits__title Выбирая нас,<br>вы получаете
                
                ol.fr-benefits__list
                    li.fr-benefit
                        p.fr-benefit__text Индивидуальный подход.
                        p.fr-benefit__descr Ритм обучения у каждого свой, мы не&nbsp;объединяем в группы чтобы сэкономить время, а&nbsp;занимаемся с&nbsp;каждым один на&nbsp;один, выводя на&nbsp;максимум навык каждого студента.
                    li.fr-benefit
                        p.fr-benefit__text Только практика.
                        p.fr-benefit__descr Невозможно научиться стричь, разговаривая о&nbsp;стрижках. Никаких скучных лекций и&nbsp;болванок, работа на&nbsp;живых моделях с&nbsp;первого занятия. 
                    li.fr-benefit
                        p.fr-benefit__text Инструмент.
                        p.fr-benefit__descr Мы поможем найти и купить качественные инструменты по&nbsp;разумной цене, которые не&nbsp;будет необходимости менять в&nbsp;будущем. Объясним, расскажем и&nbsp;покажем какие инструменты покупать можно, а&nbsp;какие нет. Предоставим скидки наших партнеров, чтобы получилось купить по&nbsp;максимально низкой цене.
                    li.fr-benefit
                        p.fr-benefit__text Опытные преподаватели.
                        p.fr-benefit__descr В нашем филиале обучают только опытные практикующие барберы. Мы даем в&nbsp;процессе обучения возможность поработать в&nbsp;разными мастера, потому&nbsp;что&nbsp;у всех разные техники и&nbsp;свой подход.
                    li.fr-benefit
                        p.fr-benefit__text Трудоустройство.
                        p.fr-benefit__descr После окончания курса, сдачи экзамена и&nbsp;получения сертификата мы&nbsp;оказываем полное содействие в&nbsp;трудоустройстве.
                    li.fr-benefit
                        p.fr-benefit__text Скидки.
                        p.fr-benefit__descr Предоставим скидки наших партнёров, чтобы&nbsp;получилось купить необходимые инструменты по&nbsp;максимально низкой цене.

            section.about#about
                .about__header
                    header.section-header
                        h2.section-header__title Программа <br>курса
                        p.section-header__subtitle.section-header__subtitle--light Oldboy&nbsp;Barbershop
                        .section-header__image
                            img(src="./img/about.jpg", alt="Барбершоп Oldboy")

                .about__caption
                    h3.about__headline.about__headline Программа курса включает в&nbsp;себя все аспекты и&nbsp;навыки работы профессионального мужского&nbsp;мастера
                    p.about__subtitle После прохождения обучения, вы сможете начать работу в&nbsp;любом действующем барбершопе

                .about__content
                    .about__includes
                        article.include-item
                            .include-item__icon: img(src="./img/icons/guide.svg", alt="")
                            p.include-item__title Мужские стрижки
                            p.include-item__text Короткие, классические, длинные волосы. Изучение формы.
                        article.include-item
                            .include-item__icon: img(src="./img/icons/electric.svg", alt="")
                            p.include-item__title Фэйдинг
                            p.include-item__text Работа машинкой, сведение, работа по&nbsp;градиенту
                        article.include-item
                            .include-item__icon: img(src="./img/icons/razor--land.svg", alt="")
                            p.include-item__title Опасное бритьё
                            p.include-item__text Техника и&nbsp;правила использования инструментов
                        article.include-item
                            .include-item__icon: img(src="./img/icons/beard.svg", alt="")
                            p.include-item__title Моделирование бороды
                            p.include-item__text Основные подходы и&nbsp;техники выполнения работ
                        article.include-item
                            .include-item__icon: img(src="./img/icons/shave.svg", alt="")
                            p.include-item__title Работа с&nbsp;мужской косметикой
                            p.include-item__text Укладки и&nbsp;бритьё, камуфляж
                        article.include-item
                            .include-item__icon: img(src="./img/icons/hair.svg", alt="")
                            p.include-item__title Работа с&nbsp;клиентом
                            p.include-item__text Обучение правильному взаимодействию с&nbsp;клиентом для получения лояльной базы в&nbsp;работе

            section.haircut
                .haircut__images
                    .haircut__image.haircut__image--zero
                        img(src="/img/haircut/crop1.jpg", alt="Стрижка «Кроп» в барбершопе Oldboy")
                    .haircut__image.haircut__image--main
                        img(src="/img/haircut/crop2.jpg", alt="Стрижка «Кроп» в барбершопе Oldboy")
                    .haircut__image.haircut__image--secondary
                        img(src="/img/haircut/crop3.jpg", alt="Стрижка «Кроп» в барбершопе Oldboy")
                    .haircut__image.haircut__image--secondary
                        img(src="/img/haircut/crop4.jpg", alt="Стрижка «Кроп» в барбершопе Oldboy")

                .haircut__content
                    p.haircut__headline Мы не ставим жёстких рамок по сроку обучения

                    .haircut__text
                        h3 Средняя длительность полного обучения – один месяц
                        p Но мы понимаем, что некоторым потребуется больше времени, мы всегда рады и&nbsp;готовы пойти вам на&nbsp;встречу и&nbsp;поэтому не&nbsp;ставим ограничений на&nbsp;срок обучения

            section.academy-banner
                header.academy-banner__header
                    h2.academy-banner__title Обучение <br><strong>барберов</strong>
                    p.academy-banner__subtitle Добро пожаловать в&nbsp;семью

                .academy-banner__content
                    p.academy-banner__motto Всё ещё не&nbsp;можете решиться? —&nbsp;мы дарим первое ознакомительное занятие!
                    p.academy-banner__text Приходите в&nbsp;гости, почувствуйте атмосферу барбершопа, познакомьтесь с&nbsp;преподавателем и&nbsp;теоретическими основами профессии
                    p.academy-banner__address Санкт-Петербург <br>пр-т Тореза, 95 <br>Тел.: <a href="tel:+" class="academy-banner__phone">+7 926 699-69-91</a>

                .academy-banner__cta
                    a.button(href="#") Оставить заявку

            section.fr-benefits
                .fr-benefits__conclusion-more
                    p.fr-benefits__conclusion-text Чтобы узнать больше информации и&nbsp;убрать последние сомнения на&nbsp;пути к&nbsp;получению профессии своей мечты
                    p.fr-benefits__cta Свяжитесь с&nbsp;нами по&nbsp;телефону <br><a href="tel:+">+7 926 699-69-91</a> <br>или <a href="http://"> оставьте заявку</a>
                    p.fr-benefits__conclusion-text И мы ответим на ваши вопросы

            a(href="#").up-button
                .up-button__arrow
                p.up-button__text Наверх

        include modules/_choose-city.pug
        include modules/_footer.pug

        script(src="scripts.js")
