<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero
            .hero__top
                .hero__logo
                    a(href="#")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__caption
                span.hero__oldboy OLDBOY <br>BARBERSHOP
                p.hero__slogan Намного больше чем просто мужская парикмахерская

            .hero__buttons
                a.button(href="#") Запись онлайн<br>
                a.button.button--ghost(href="#") О барбершопе

        main
            section.news
                .news__header
                    header.section-header
                        h2.section-header__title Наши <br>новости
                        p.section-header__subtitle О&nbsp;самом&nbsp;главном

                .news__editorial
                    .editorial
                        .editorial__photo
                            img(src="/img/news/opening.jpg", alt="Barbershop main news photo")
                            p.editorial__description Новости франшизы

                        .editorial__caption
                            h3.editorial__title Открытие нового барбершопа Oldboy в барселоне
                            p.editorial__subtitle Долгожданное открытие второго по счёту барбершопа в столице Испании планируется в конце августа

                        footer.editorial__footer
                            p.editorial__date <strong>27</strong> <span>июля<br>2018</span>
                            a.editorial__cta(href="#") Читать полностью

                section.news__feed
                    article.news-item
                        .news-item__photo
                            img(src="/img/news/news-feed1.jpg", alt="Barbershop news photo")
                        
                        .news-item__content
                            header.news-item__header
                                p.news-item__category Косметика и аксессуары
                                h3.news-item__title Старт продаж новой косметики Barber Wild

                            footer.news-item__footer
                                p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                                a.news-item__cta(href="#") Читать полностью

                    article.news-item
                        .news-item__photo
                            img(src="/img/news/news-feed2.jpg", alt="Barbershop news photo")
                        
                        .news-item__content
                            header.news-item__header
                                p.news-item__category Новости регионов
                                h3.news-item__title Новые акции для выпускников

                            footer.news-item__footer
                                p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                                a.news-item__cta(href="#") Читать полностью

                    article.news-item
                        .news-item__photo
                            img(src="/img/news/news-feed3.jpg", alt="Barbershop news photo")

                        .news-item__content
                            header.news-item__header
                                p.news-item__category Новинки
                                p.news-item__title Новая услуга в линейке oldboy - Барбер-Спа

                            footer.news-item__footer
                                p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                                a.news-item__cta(href="#") Читать полностью

                    .news__feed__cta
                        a.button(href="#") Смотреть все новости
                        p.news-feed__see-more Узнайте ещё больше новостей барбершопов oldboy

            section.services
                header.section-header
                    h2.section-header__title Услуги <br>барбершопа
                    p.section-header__subtitle Стрижем&nbsp;и&nbsp;бреем

                .services__content
                    article.service-main
                        img(src="/img/service-photo1.jpg", alt="Barbershop service photo")
                        header.service-main__header
                            h3.service-main__title Мужские<br><span>стрижки</span>
                            p.service-main__description Лучшее качество

                        a.service-main__button(href="#") Все о стрижках

                    article.service-main
                        img(src="/img/service-photo2.jpg", alt="Barbershop service photo")
                        header.service-main__header
                            h3.service-main__title Стрижка<br> <span>усов и бороды</span>
                            p.service-main__description Наша специализация

                        a.service-main__button(href="#") Усы и борода

                    article.service-item
                        header.service-item__header
                            p.service-item__description Стиль и профессионализм
                            h3.service-item__title <span>Бритьё</span><br>бороды и головы

                        a.service-item__button(href="#") Услуги бритья

                    article.service-item
                        .service-item__header
                            p.service-item__description Для настоящих ценителей
                            h3.service-item__title <span>Королевское</span><br> бритьё

                        a.service-item__button(href="#") Для ценителей

                    article.service-item
                        .service-item__header
                            p.service-item__description Лучшие мастера
                            h3.service-item__title <span>Нанесение</span><br>татуировок

                        a.service-item__button(href="#") Услуги тату салона

                    a.button(href="#") Больше услуг

            section.academy-banner
                header.academy-banner__header
                    h2.academy-banner__title Академия <br>Oldboy
                    p.academy-banner__subtitle Добро пожаловать в&nbsp;семью

                .academy-banner__content
                    p.academy-banner__motto Академия барберинга Oldboy — место, где рождаются настоящие мужские парикмахеры
                    p.academy-banner__text Место, где вы станене настоящим барбером, профессионалом своего дела и ведущим специалистом барбершопа

                    p.academy-banner__address Москва <br>Старокирочный переулок, 2 <br>Тел.: <a href="tel:+" class="academy-banner__phone">+7 926 1000-266</a>
                    
                    .academy-banner__cta: a.button(href="#") Узнать подробнее

            section.franchise
                header.section-header
                    h2.section-header__title Карта <br>филиалов
                    p.section-header__subtitle Сеть&nbsp;Oldboy

                .franchise__map
                    img(src="/img/map.png", alt="Oldboy barbershop locations map")

                .franchise__header
                    h3.franchise__title <span>Франшиза</span><br>Oldboy&nbsp;Barbershop 
                    .franchise__logo
                        a(href="#")
                            img(src="/img/franch.svg", alt="Franchise logo")

                .franchise__button
                    a.button(href="#") Открой свой барбершоп

                .franchise__summary
                    p.franchise__count 129
                    .franchise__details
                        p.franchise__top Филиалов
                        p.franchise__bottom В 5 странах и в 5 столицах

        footer.footer
            .footer__info
                .footer__logo
                    img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                h2.footer__title Крупнейшая международная сеть мужских парикмахерских
                p.footer__subtitle Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

            .footer__services-nav
                ul.footer-menu
                    h3.footer-menu__title Услуги
                    li.footer-menu__item
                        a.footer-menu__link(href="") СТРИЖКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") БРИТЬЁ
                    li.footer-menu__item
                        a.footer-menu__link(href="") ТАТУИРОВКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") БАРБЕР-СПА

            .footer__info-nav
                ul.footer-menu
                    h3.footer-menu__title Информация
                    li.footer-menu__item
                        a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ

        .footer__copyrights
            p © 2014–2019 Oldboy Barbershop








