<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero
            .hero__top
                .hero__logo
                    a(href="#")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            article.top-news
                header.top-news__header
                    p.top-news__category Новости франшизы
                    h1.top-news__title Открытие нового барбершопа Oldboy
                    p.top-news__details Долгожданное открытие второго по счёту барбершопа в столице Испании планируется в конце августа

                a.top-news__cta(href="#") Читать полностью

                footer.top-news__footer
                    p.top-news__date <span>Дата:</span><br>27 июля 2018
                    p.top-news__location <span>Регионы:</span><br>Испания

            .hero-social
                p.hero-social__text Поделиться:

                ul.social
                    li.social__item
                        a.social__icon.icon--vk(href="#") ВКонтакте
                    li.social__item
                        a.social__icon.icon--facebook(href="#") Facebook
                    li.social__item
                        a.social__icon.icon--instagram(href="#") Instagram

        section.current-news
            h2.current-news__title Новости об открытии очередного филиала в столице не заставили себя долго ждать
            p.current-news__text Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание систем массового участия. Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Задача организации, в особенности же реализация намеченных плановых заданий требуют от нас анализа соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом

            .news-photo
                img(src="#", alt="Oldboy barbershop news photo")

            .news-qoute
                p.news-qoute__text Приоритет в услугах был сделан на классический набор стрижек и бритья, включая всем известное королевское бритьё опасной бритвой
                p.news-qoute__author Юрий Артюх <span>Бренд менеджер сети Oldboy Barbershop</span>

            p.current-news__text Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание систем массового участия. Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Задача организации, в особенности же реализация намеченных плановых заданий требуют лт нас анализа соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа  позиций, занимаемых
            p.current-news__quote Приоритет в услугах был сделан на классический набор стрижек и бритья, включая всем известное королевское бритьё опасной бритвой
            
            p.current-news__text Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание систем массового участия. Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Задача организации, в особенности же реализация намеченных плановых заданий требуют лт нас анализа соответствующий условий активизации. Идейные соображения

            .news-photo
                img(src="#", alt="Oldboy barbershop news photo")
                p.news-photo__description Высокий уровень профессиональных навыков и качества услуг - визитная карточка Oldboy Barbershop

            p.current-news__text Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание систем массового участия. Не следует, однако забывать, что консультация с широким активом влечет за собой процесс внедрения и модернизации модели развития. Задача организации, в особенности же реализация намеченных плановых заданий требуют от нас анализа соответствующий условий активизации. Идейные соображения высшего порядка, а также консультация с широким активом требуют от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Таким

            .news-feed__cta
                a.button(href="#") Смотреть все новости
                p.news-feed__see-more Узнайте ещё больше новостей барбершопов oldboy

        header.section-header 
            h2.section-header__title Наши <br>новости
            p.section-header__subtitle О&nbsp;самом&nbsp;главном

        section.news-feed
            article.news-item
                .news-item__photo
                    img(src="/img/news/news-feed1.jpg", alt="Barbershop news photo")
                    
                .news-item__text
                    header.news-item__header
                        p.news-item__category Косметика и аксессуары
                        h3.news-item__title Старт продаж новой косметики Barber Wild

                    footer.news-item__footer
                        p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                        a.news-item__cta(href="#") Читать полностью

            article.news-item
                .news-item__photo
                    img(src="/img/news/news-feed2.jpg", alt="Barbershop news photo")
                    
                .news-item__text
                    header.news-item__header
                        p.news-item__category Новости регионов
                        h3.news-item__title Новые акции для выпускников

                    footer.news-item__footer
                        p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                        a.news-item__cta(href="#") Читать полностью

            article.news-item
                .news-item__photo
                    img(src="/img/news/news-feed3.jpg", alt="Barbershop news photo")
                    
                .news-item__text
                    header.news-item__header
                        p.news-item__category Новинки
                        p.news-item__title Новая услуга в линейке oldboy - Барбер-Спа

                    footer.news-item__footer
                        p.news-item__date <strong>27</strong> <span>июля<br>2018</span>
                        a.news-item__cta(href="#") Читать полностью

        footer.footer
            .footer__info
                .footer__logo
                    img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                h2.footer__title Крупнейшая международная сеть мужских парикмахерских
                p.footer__subtitle Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

            .footer__services-nav
                ul.footer-menu
                    h3.footer-menu__title Услуги
                    li.footer-menu__item
                        a.footer-menu__link(href="") СТРИЖКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") БРИТЬЁ
                    li.footer-menu__item
                        a.footer-menu__link(href="") ТАТУИРОВКИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") БАРБЕР-СПА

            .footer__info-nav
                ul.footer-menu
                    h3.footer-menu__title Информация
                    li.footer-menu__item
                        a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                    li.footer-menu__item
                        a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ

        .footer__copyrights
            p © 2014–2019 Oldboy Barbershop