<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content

        main
            section.about
                .about__header
                    .about__image
                        img(src="#", alt="")

                .about__content
                    h2.about__headline.about__headline--service Бритьё, достойное королей
                    p.about__subtitle Термин «королевское бритьё» непосредственно связан с именем Уильяма Труфита, открывшего свою первую цирюльню в 1805 году в Лондоне, и впоследствии ставшего основателем марки Truefitt &amp; Hill. Заведение заслужило высочайшую репутацию у английской аристократии и получило признание монархов Великобритании — именно продукция Труфита получила эксклюзивные привилегии королевского двора. Тогда же были заложены основы этой статусной процедуры.
                    p.about__text Что же необходимо для того, чтобы бритьё стало «королевским»?
                    p.about__text Во-первых, это правильная опасная бритва и барбер, умеющий с ней обращаться. Наши опытные мастера прошли специальное обучение и повышение квалификации по стандартам и правилам Truefitt &amp; Hill.
                    p.about__text Во-вторых, мужская косметика премиум-класса от Truefitt &amp; Hill. Это по-настоящему элитные средства для бритья и ухода за кожей. Масла, мыло и бальзамы высочайшего качества на основе проверенных за два века рецептов, и с применением самых современных технологий.
                    p.about__text--gold Королевское бритьё — это настоящий ритуал, состоящий из нескольких этапов:

            section.stages
                .stage
                    header.section-header
                        h2.section-header__title 1. Нанесение<br>масла
                        .section-header__image
                            img(src="#", alt="")

                    .stage__content
                        h3.stage__headline Первый этап: нанесение масла
                        p.stage__text В самом начале барбер наносит на кожу подготавливающее к бритью масло Truefitt &amp; Hill, которое смягчает волосы, что обеспечивает комфортное и безопасное бритьё, а впоследствии предотвращает появление вросших волос.
                        p.stage__text--gold Остающаяся на коже тонкая пленка масла обладает гидрофильными свойствами и способствует плавному скольжению лезвия опасной бритвы.
                        p.stage__text Кроме того, активные компоненты масла (среди которых масла авокадо, семян сафлора, кокоса и цитрусовых, экстракты огурца и алоэ) улучшают состояние кожи: выравнивают текстуру и уменьшают чувствительность за счет усиленного увлажнения клеток эпидермиса. Исчезает ощущение стянутости сухой кожи. Масло Truefitt &amp; Hill обладает обеззараживающими и антиокислительными свойствами.

                .stage
                    header.section-header--flip
                        h2.section-header__title 2. Распаривание<br>кожи
                        .section-header__image
                            img(src="#", alt="")

                    .stage__content
                        h3.stage__headline Второй этап: распаривание кожи полотенцем
                        p.stage__text В специальном паровом шкафу ждут своего времени разогретые махровые полотенца. Идеально подобранная температура и влажность не нанесут вашей коже ожогов или дискомфорта, но подготовят бороду к бритью.
                        p.stage__text Кожа очищается, раскрываются поры. Приливающая кровь приподнимает волоски, которые под горячим компрессом становятся мягче и прямее, благодаря чему последующее бритьё будет чище и безопаснее. Распаривание значительно снижает уровень раздражения и количество микропорезов.
                        p.stage__text--gold В работе используются два полотенца: спустя некоторое время барбер сменяет остывающий компресс новым.

                .stage
                    header.section-header
                        h2.section-header__title 3. Нанесение<br>пены
                        .section-header__image
                            img(src="#", alt="")

                    .stage__content
                        h3.stage__headline Третий этап: нанесение пены
                        p.stage__text На следующем этапе мастер использует свежеприготовленную пену, получаемую из специального мыла на основе натуральных компонентов высочайшего качества.
                        p.stage__text--gold Для взбивания пены и её нанесения на лицо применяется особая чаша и помазок из уникальной шерсти барсука класса Silvertip. Её нежнейшие волоски, собираемые с небольшого участка в области шеи животного, отлично удерживают влагу и создают пену необходимой консистенции.
                        p.stage__text Барбер покрывает обриваемые участки кожи теплой пеной.

                .stage
                    header.section-header--flip
                        h2.section-header__title 4. Бритьё<br>опасной бритвой
                        .section-header__image
                            img(src="#", alt="")

                    .stage__content
                        h3.stage__headline Четвёртый этап: бритьё опасной бритвой
                        p.stage__text Теперь можно приступать к самой ответственной части всей процедуры. Бритьё опасной бритвой требует немалого опыта, и мы гордимся, что наши специалисты достигли в этом деле настоящего мастерства.
                        p.stage__text--gold Все инструменты обязательно проходят тщательнейшую обработку и обеззараживание, а сами лезвия — одноразовые.
                        p.stage__text Барбер натягивает кожу там, где это необходимо и именно с тем усилием, которое требуется на каждом участке лица. Максимально острое лезвие бритвы, подчиняясь ювелирным движениям руки мастера, под необходимым углом скользит по коже, гладко и начисто срезая волоски.

                .stage
                    header.section-header
                        h2.section-header__title 5. Холодный<br>компресс
                        .section-header__image
                            img(src="#", alt="")

                    .stage__content
                        h3.stage__headline Пятый этап: холодный компресс
                        p.stage__text После бритья кожу следует правильно успокоить. Для этого барбер накладывает на лицо холодный компресс, который стягивает поры и снимает раздражение. 

                .stage
                    header.section-header--flip
                        h2.section-header__title 6. Нанесение<br>средства после бритья
                        .section-header__image
                            img(src="#", alt="")

                    .stage__content
                        h3.stage__headline Шестой этап: нанесение средства после бритья
                        p.stage__text После снятия охлаждающего компресса, барбер легкими, массириющими движениям и наносит на обритые участки специальный бальзам от Truefitt &amp; Hill на основе лечебного экстракта алое и аллантоина, повышающего регенерацию клеток кожи.

                .stage
                    header.section-header
                        h2.section-header__title 7. Нанесения<br>одеколона
                        .section-header__image
                            img(src="#", alt="")

                    .stage__content
                        h3.stage__headline Седьмой этап: нанесение масла
                        p.stage__text Финальным штрихом в процедуре королевского бритья является одеколон. И он заслуживает отдельного упоминания.
                        p.stage__text--gold Эксклюзивные ароматы от Truefitt &amp; Hill — яркий пример элегантной мужественности.
                        p.stage__text Идеально подобранные ноты и высочайшее качество компонентов делают одеколоны этого британского бренда настоящим украшением вашего обновленного образа.

        footer.footer
            .footer__info-n-contacts
                .footer__info
                    .footer__logo
                        img(src="./img/logo.svg", alt="Oldboy Barbershop vector logo")
                    h2.footer__title 129 филиалов <br>в 5 странах и в 5 столицах
                    p.footer__subtitle Крупнейшая международная сеть мужских парикмахерских
                    p.footer__text Oldboy Barbershop — намного больше, чем просто мужская парикмахерская, это даже больше, чем мужской клуб по интересам, это именно то место, где ты найдёшь себя и свой стиль.

            .footer__menues
                .footer__main-nav
                    ul.footer-menu
                        h3.footer-menu__title Меню
                        li.footer-menu__item
                            a.footer-menu__link(href="") ГЛАВНАЯ
                        li.footer-menu__item
                            a.footer-menu__link(href="") НОВОСТИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") УСЛУГИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") ФРАНШИЗА

                .footer__services-nav
                    ul.footer-menu
                        h3.footer-menu__title Услуги
                        li.footer-menu__item
                            a.footer-menu__link(href="") СТРИЖКИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") БРИТЬЁ
                        li.footer-menu__item
                            a.footer-menu__link(href="") ТАТУИРОВКИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") БАРБЕР-СПА

                .footer__info-nav
                    ul.footer-menu
                        h3.footer-menu__title Информация
                        li.footer-menu__item
                            a.footer-menu__link(href="") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
                        li.footer-menu__item
                            a.footer-menu__link(href="") УСЛОВИЯ ИСПОЛЬЗОВАНИЯ


            .footer__copyrights
                p © 2014–2019 Oldboy Barbershop
