<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Oldboy Barbershop

    body
        header.hero.hero--tattoo
            .hero__top
                .hero__logo
                    a(href="index.html")
                        img(src="/img/logo.svg", alt="Oldboy Barbershop vector logo", title="Oldboy Barbershop Главная")

                .hero__nav
                    nav.main-nav
                        ul.main-nav__list
                            li.main-nav__item: a(href="#").main-nav__link Главная
                            li.main-nav__item: a(href="#").main-nav__link Новости
                            li.main-nav__item: a(href="#").main-nav__link Услуги
                            li.main-nav__item: a(href="#").main-nav__link Франшиза

                .hero__city-select
                    .city-select
                        p.city-select__title Выбери свой город: 
                        p.city-select__city
                            a(href="choose-city.html") Калининград <span class="city-select__triangle">▼</span>

                .menu-button.menu-button--close
                    .menu-button__middle

            .hero__content
                .hero__caption
                    .hero-caption
                        h1.hero-caption__title <span class="hero-caption__big hero-caption__big--tattoo">Нанесение <br>татуировки</span>
                        p.hero-caption__motto Oldboy barbershop <br>только качество
        main
            section.about.about--royal
                .about__header
                    .about__image
                        img(src="./img/tattoo/tattoo.jpg", alt="Нанесение татуировки в Oldboy Barbershop")

                .about__content
                    h2.about__headline.about__headline--service Безопасность и&nbsp;Качество
                    p.about__subtitle OldBoy владеет всеми необходимыми лицензиями и сертификатами. Мы даем полную гарантию, что процедура нанесения татуировки будет стерильна и безопасна.
                    p.about__text Мы очень внимательно и бережно относимся к клиентам, а также твердо следуем установленным правилам безопасности, санитарным и гигиеническим нормам, используя лучшее современное оборудование, краски и расходные материалы в своей работе.

                    h3.about__title Опыт и мастерство
                    p.about__subtitle Стаж работы некоторых наших мастеров более 10 лет. Преимущества наших мастеров – творческий подход к делу, весомое портфолио и большое количество постоянных клиентов, которые возвращаются к нам снова и снова.

                    h3.about__title Разнообразие и&nbsp;индивидуальность
                    p.about__subtitle Мы работаем в традиционной и олдскул-технике, включая впечатляющие японские татуировки, биомеханику и трайбл, а также многочисленные экзотическими орнаменты (Маори, Полинезия и пр.).
                    p.about__text В нашем барбершопе существует огромная база эскизов и всевозможных шрифтов, позволяющая выбрать любую привлекающую вас стилистику. Мастер поможет вам определиться со стилистическим направлением, надписью и размером татуировки, а также изготовит индивидуальный и уникальный эскиз. В OldBoy вам предложат то, чем вы будете гордиться!


        include modules/_choose-city.pug
        include modules/_footer.pug

        script(src="scripts.js")
