<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="style.css">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
</head>
<body>
    <div class="content">
        <article class="comment">
            <header class="comment__header">
                <a href="#"><img src="img/icon.jpg" alt="icon"></a>
                <div class="comment__about">
                    <h3 class="comment__name">виктор</h3>
                    <p class="comment__from">отзыв о барбере: олег</p>
                </div>
            </header>
            <div class="comment__content">
                <p class="comment__text">Олег стриг на своё усмотрение, а получилось так как я хотел, я очень доволен (кстати, и окружающие тоже). Браво, Олег!</p>
            </div>
        </article>
    </div>
</body>
</html>