* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content   {
    /* box model */
    width: 1200px;
    margin: 0 auto;
}

.comment {
    /* box model */
    width: 274px;
}

.comment__header {
    /* box model */
    display: flex;
}

.comment__name {
    /* positioning */
    margin-top: 5px;
    margin-left: 15px;

    /* typography */
    text-transform: uppercase;
    font-weight: 400;
}

.comment__from {
    /* positioning */
    margin-top: 5px;
    margin-left: 15px;

    /* typography */
    color: #cca85e;
    text-transform: uppercase;
    font-size: 15px;
}

.comment__text {
    /* positioning */
    margin-top: 20px;

    /* typography */
    font-size: 19px;
}