
{% set langswitcher = drupal_block('language_block:language_interface') %}


{% set city="Europe" %}

{% if node.type.entity.label == "Город" %}
	{% set city=node.label %}
{% endif %} 
{% if node.type.entity.label == "Филиал" %}
	{% set city=node.field_city.0.entity.label %}
	{% set cityname = node.field_cityname.0.value %}
	{% if cityname|trim %}
		{% set city = cityname %}
	{% endif %}
{% endif %} 

            <div class="hero__city-select">
				{{ langswitcher }}
                <a class="city-select" href="#">
                    <p class="city-select__title">{{ 'Choose&nbsp;Barbershop'|trans }}<span class="city-select__triangle">▼</span></p>
			        <p class="city-select__city">{{city}}</p>
                </a>
            </div>
            <div class="menu-button">
                <div class="menu-button__middle"></div>
            </div>
