<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>header</title>
</head>
<body>
    <div class="content">
        <div class="header">
            <div class="header__header">
                    <div class="header__logo"><a href="#"><img src="img/logo.jpg" alt=""></a></div>
                <div class="header__menu">
                    <ul>
                        <li><a href="#">главная</a></li>
                        <li><a href="#">новости</a></li>
                        <li><a href="#">услуги</a></li>
                        <li><a href="#">франшиза</a></li>
                    </ul>
                <div class="header__city">выбери свой город: калининград</div>
                </div>
            </div>
            <div class="header__content">
                <div class="header__title">
                    <p class="header__adress_city">калининград</p>
                    <p class="header__adress_street">театральная, 30</p>
                    <h1>oldboy barbershop</h1>
                    <p class="header_about">Крупнейшая международная сеть мужских парикмахерских</p>
                </div>
                <div class="header__app">
                    <div class="header__app_text">
                            <div class="header__stripe"></div>
                            <p class="header__install">установите специальное мобильное приложение</p>
                            <p class="header__forentry">для удобной он-лайн записи</p>
                            <div class="header__phone_img"><img src="img/phone.png" alt=""></div>
                    </div>
                </div>
            </div>
            <div class="header__bottom">
                <div class="header__contacts">
                    <div class="header__contacts_adress">
                        <p class="header__adress_head">адрес</p>
                        <p class="header__adress">Театральная улица, 30</p>
                    </div>
                    <div class="header__contacts_phone">
                        <p class="header__phone_head">телефон</p>
                        <p class="header_phone">52 57 90</p>
                    </div>
                    <div class="header__contacts_hours">
                        <p class="header_hours_head">часы работы</p>
                        <p class="header__hours">10:00 - 21:00 (Вс с 11:00)</p>
                    </div>
                </div>
                <div class="header__buttons">
                    <a class="header__entry" href="#">запись онлайн</a>
                    <a class="header__cert" href="#">сертификат</a>
                    <div class="header__socials">
                        <a href="#"><i class="fab fa-vk"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                <div class="header__app_links">
                    <p>скачайте мобильное приложение</p>
                    <div class="header__links">
                            <a href="#"><i class="fab fa-google-play"></i>Google Play</a>
                            <a href="#"><i class="fab fa-apple"></i>APP STORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>