<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>footer</title>
</head>
<body>
    <div class="content">
        <div class="footer">
            <div class="footer__header">
                <div class="footer__logo"><a href="#"><img src="img/logo.jpg" alt="logo"></a></div>
                <div class="footer__contacts">
                    <div class="footer__contacts_adress">
                            <p class="footer__adress_head">адрес</p>
                            <p class="footer__adress">Театральная улица, 30</p>
                    </div>
                        <div class="footer__contacts_phone">
                            <p class="footer__phone_head">телефон</p>
                            <p class="footer__phone">52 57 90</p>
                        </div>
                    <div class="footer__contacts_hours">
                            <p class="footer__hours_head">часы работы</p>
                            <p class="footer__hours">10:00 - 21:00 (Вс с 11:00)</p>
                    </div>
                    <p class="footer__city">калининград</p>
                </div>
                
            </div>
            <div class="footer__content">
                <div class="footer__about">
                    <p class="footer__about_head">крупнейшая международная сеть мужских парикмахерских</p>
                    <p class="footer__about_text">Oldboy Barbershop - намного больше чем просто мужская парикмахерская, это даже больше чем мужской клуб по интересам, это именно то место, где ты найдешь себя и свой стиль.</p>
                </div>
                <div class="footer__menu_main">
                    <div class="footer__menu">
                        <h4>меню</h4>
                        <ul>
                            <li><a href="#">главная</a></li>
                            <li><a href="#">новости</a></li>
                            <li><a href="#">услуги</a></li>
                            <li><a href="#">франшиза</a></li>
                        </ul>
                    </div>
                    <div class="footer__service">
                        <h4>услуги</h4>
                        <ul>
                            <li><a href="#">стрижки</a></li>
                            <li><a href="#">бритье</a></li>
                            <li><a href="#">татуировки</a></li>
                            <li><a href="#">барбер-спа</a></li>
                        </ul>
                    </div>
                    <div class="footer__info">
                        <h4>информация</h4>
                        <ul>
                            <li><a href="#">политика безопасности</a></li>
                            <li><a href="#">условия использования</a></li>
                        </ul>
                    </div>
                    <div class="footer__app">
                            <p>установите специальное мобильное приложение для удобной on-line записи</p>
                            <div class="footer__app_links">
                                <a href="#">Google Play</a>
                                <a href="#">APP STORE</a>
                            </div>
                        </div>
                </div>
                
            </div>
            <div class="footer__bottom">
                <div class="footer__social">
                <p>следите за нами в соц. сетях</p>
                <div class="footer__social_links">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
                <p class="copyright">copyright &copy; 2018 <a href="#">katzcantread</a></p>
            </div>
        </div>
    </div>
</body>
</html>