                <div class="city-select">
                    <p class="city-select__title">{{ 'Choose your Barbershop:'|trans }} </p>
                    <p class="city-select__city"><a href="choose-city.html">{{ 'Europe'|trans }} <span class="city-select__triangle">▼</span></a></p>
                </div>
