.about {
    &--royal {
        // box model
        margin-bottom: 120px;
        padding-bottom: 20px;

        // visual
        // background-image: linear-gradient(to bottom, $light, $bianca);
    }
}

.about__header {
    // positioning
    position: relative;

    // box model
    padding: 20px 0;
}

.about__image {
    // box model
    width: 50%;
    width: 160px;
    margin-bottom: -200px;
    transform: translate(20px, 10px);

    // typography
    font-size: 0;

    // visual
    border-radius: 5px;
    overflow: hidden;
}

.about__image img {
    // box model
    width: 100%;
}

.about__haircut-deco {
    // positioning
    position: absolute;
    top: 10px;
    left: 60px;

    // box model
    height: 232px;
    width: 297px;

    // visual
    background-image: url('./img/haircut/scissors-m.png');
    background-size: cover;
}

.about__royal-deco {
    // positioning
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(75%);

    // box model
    height: 156px;
    width: 192px;

    // visual
    background-image: url('./img/royal/razor.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.about__content {
    // positioning
    position: relative;

    // box model
    padding: 20px;
    margin-top: -30px;
}

.about__headline {
    // box model
    width: 220px;
    margin: 0;
    margin-left: auto;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: right;

    &--service {
        // box model
        width: 50%;
        padding-bottom: 6rem;
    }
}

.about__title {
    // box model
    margin-top: 60px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
}

.about__subtitle {
    // box model
    margin-bottom: 20px;

    // typography
    color: $darkGold;
    font-family: $mainFont;
    line-height: 1.75;
    letter-spacing: 0.05em;
    font-weight: 700;
    // text-transform: uppercase;
}

.about__text {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.75;

    &--gold {
        // typography
        color: $darkGold;
        font-weight: 700;
    }
}

.about__features {
    // box model
    padding-top: 20px;
}