.about {
    &--royal {
        // box model
        margin-bottom: 120px;
        padding-bottom: 20px;

        // visual
        // background-image: linear-gradient(to bottom, $light, $bianca);
    }

    @include atTablet {
        // box model
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    @include atDesktopS {
        // positioning
        position: relative;

        // box model
        display: block;
    }

    @include atDesktopM {
        // box model
        padding-right: calc((100% - 1400px)/2);
    }
}

.about__header {
    // positioning
    position: relative;

    // box model
    padding: 20px 0;

    @include atTablet {
        // box model
        flex-basis: 390px;
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        top: 0;
        left: 0;
    }
}

.about__image {
    // box model
    width: 50%;
    width: 160px;
    margin-bottom: -200px;
    transform: translate(20px, 10px);

    // typography
    font-size: 0;

    // visual
    border-radius: 5px;
    overflow: hidden;
}

.about__image img {
    // box model
    width: 100%;
}

.about__haircut-deco {
    // positioning
    position: absolute;
    top: 10px;
    left: 60px;

    // box model
    height: 232px;
    width: 297px;

    // visual
    background-image: url('./img/haircut/scissors-m.png');
    background-size: cover;
}

.about__royal-deco {
    // positioning
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(75%);

    // box model
    height: 156px;
    width: 192px;

    // visual
    background-image: url('./img/royal/razor.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
}

.about__caption {
    // box model
    padding: 0 20px;

    @include atTablet {
        // positioning
        position: relative;
        top: 1rem;

        // box model
        flex-basis: calc(100% - 391px);
        padding-right: 40px;
    }

    @include atDesktopS {
        // box model
        padding-left: 430px;
    }

    @include atDesktopL {
        // box model
        padding-left: 580px;
    }
}

.about__content {
    // positioning
    position: relative;

    // box model
    padding: 20px;
    margin-top: -30px;

    @include atTablet {
        // box model
        margin-top: 0;
        padding: 20px 40px;
    }

    @include atDesktopS {
        // box model
        padding-left: 430px;
    }

    @include atDesktopL {
        // box model
        padding-left: 580px;
    }
}

.about__headline {
    // box model
    width: 220px;
    margin: 0;
    margin-left: auto;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: right;

    @include atTablet {
        // box model
        font-size: 2rem;
        text-align: left;
        width: auto;
    }

    &--service {
        // box model
        width: 50%;
        padding-bottom: 6rem;
    }
}

.about__title {
    // box model
    margin-top: 60px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
}

.about__subtitle {
    // typography
    color: $darkGold;
    font-family: $mainFont;
    font-size: 0.85rem;
    line-height: 1.75;
    line-height: 2;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include atTablet {
        // box model
        margin-bottom: 0;
    }
}

.about__text {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.75;

    &--gold {
        // typography
        color: $darkGold;
        font-weight: 700;
    }
}

.about__features {
    // box model
    padding-top: 20px;

    @include atTablet {
        // box model
        display: flex;
    }

    @include atDesktopS {
        // box model
        margin-left: -400px;
        padding: 30px;
    }
    
    @include atDesktopM {
        // box model
        margin-left: 0;
    }
}