.academy-banner {
    // positioning
    position: relative;

    // box model
    margin: 25px;
    padding: 25px;
    
    // visual
    background-color: $light;
    box-shadow: 0 10px 30px -10px rgba($dark, 0.25), 
                0 0 2px -1px rgba($dark, 0.5);
    background-image: url('./img/bgs/academy-m.jpg');

    @include atDesktopS {
        // box model
        display: flex;
        margin: 40px;
    }
}

// decoration (scissors and comb)
.academy-banner::before {
    content: '';

    // positioning
    position: absolute;
    right: -200px;
    top: 150px;

    // box model
    width: 342px;
    height: 492px;
    
    // visual
    background-image: url('./img/deco/scissors.png');
    
    @include atTablet{
        // positioning
        right: -40px;
        top: 75px;

        // box model
        width: 378px;
        height: 488px;

        // visual
        background-image: url('./img/deco/scissors-n-comb.png');
    }

    @include atDesktopS {
        // positioning
        top: -60px;
    }
}

.academy-banner__header {
    // positioning
    transform: skewY(-15deg);
    transform-origin: center left;

    @include atDesktopS {
        // box model
        flex-basis: 320px;
        margin-right: 30px;
    }
}

.academy-banner__title {
    // box model
    max-width: 320px;
    margin: 10px -25px;
    padding: 10px 25px;
    
    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;

    // visual
    // background-color: $light;
    border-bottom: 4px solid $golden;
    border-top: 4px solid $golden;

    @include atDesktopS {
        // box model
        max-width: 360px;
        margin-left: -65px;
        padding-left: 65px;

        // typography
        font-size: 2rem;
    }
}

.academy-banner__title strong {
    // typography
    font-size: 2em;
}

.academy-banner__subtitle {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;

    @include atDesktopS {
        // typography
        font-size: 1.5rem;
    }
}

.academy-banner__content {
    // box model
    margin-bottom: 20px;

    @include atTablet {
        // box model
        max-width: 320px;
    }

    @include atDesktopS {
        // box model
        margin-bottom: 0;
        max-width: 400px;
        flex-basis: 33%;
    }
}

.academy-banner__motto {
    // typography
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1rem;
    }
}

.academy-banner__text {
    // typography
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 400;
    line-height: 1.5;

    @include atTablet {
        // typography
        font-size: 1rem;
    }
}

.academy-banner__address {
    // typography
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1rem;
    }
}

.academy-banner__phone {
    // typography
    color: $golden;
    text-decoration: none;
}

.academy-banner__cta {
    @include atDesktopS {
        // positioning
        position: absolute;
        bottom: 10px;
        left: 30px;
    }
}