.active-map {
    // box model
    width: 250px;
    margin: 0 auto;
    margin-top: 155px;
    margin-bottom: 45px;

    a {

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    
    span {
        // typography
        color: $golden;
        }
    }
}