.branch-addresses {
    // box model
    padding: 25px;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    @include atDesktopS {
        // box model
        justify-content: flex-start;
        padding-left: 255px;
    }
}

.branch-addresses__index {
    // box model
    flex-basis: 45%;
    margin-bottom: 40px;
    margin-right: 25px;
    
    @include atDesktopS {
        // box model
        flex-basis: 275px;
    }

    @include atDesktopM {
        // box model
        margin-right: 50px;
    }
}

.branch-addresses__letter {
    // positioning
    transform: translateX(-3px);

    // box model
    width: 40px;
    margin-bottom: 15px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2rem;
    line-height: 40px;
    text-align: center;

    // visual
    background-color: $golden;
    border-radius: 50%;
}


.branch-addresses__content {
    // 
}