.branch-counter {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    // typography
    font-family: $titleFont;
    font-size: 0.75rem;
    text-align: right;

    @include atDesktopM {
        // typography
        font-size: 1rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.0625rem;
    }
}

.branch-counter__title {
    // typography
    color: $light;
    font-size: 1em;
}

.branch-counter__title strong {
    // box model
    display: block;
    font-size: 3em;
}

.branch-counter__amount {
    // box model
    margin: 0;
    margin-top: -0.2em;
    margin-bottom: -0.2em;

    // typography
    // color: rgba($golden, 0.95);
    color: $golden;
    mix-blend-mode: difference;
    font-family: $displayFont;
    font-size: 12em;
}