.branch-addreses {
    // box model
    padding: 0 25px;

    @include atFullHD {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 1050px;
    }
}

.branch-addreses__letter {
    // box model
    position: relative;

    // positioning
        left: -30px;
        top: 34px;

    // typography
    font-family: $titleFont;
    font-size: 2rem;
    color: $golden;
}


.branch-addreses__content {

}