.branch-link {
    // positioning
    position: relative;

    // box model
    margin-bottom: 15px;
    padding-left: 10px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    line-height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    // visual
    border: 1px solid rgba($golden, 0.25);
    border-radius: 23px;
}

.branch-link--metro::before {
    content: 'M';

    // positioning
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);

    // box model
    height: 20px;
    width: 20px;

    // typography
    font-size: 0.75em;
    line-height: 19px;

    // visual
    // background-color: $golden;
    border-radius: 50%;
    border: 1px solid rgba($golden, 0.5);
}