.branch-link {
    // positioning
    position: relative;

    // box model
    margin-bottom: 15px;
    padding-left: 10px;

    // typography
    color: $light;
    font-family: $mainFont;
    letter-spacing: 0.05em;
    line-height: 42px;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;

    // visual
    border: 2px solid $golden;
    border-radius: 23px;
}

.branch-link::before {
    content: '';

    // positioning
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);

    // box model
    height: 12px;
    width: 12px;

    // visual
    background-color: $golden;
    border-radius: 50%;
}