.button {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-bottom: 20px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $golden;
    border: 2px solid $golden;
    border-radius: 23px; // 1/2 of line-height + 2px border-width

    &--ghost {
        // visual
        background-color: transparent;
    }
}