.button {
    // box model
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 20px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-weight: 500;
    line-height: 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $golden;
    border: 2px solid $golden;
    border-radius: 18px;

    &--ghost {
        // visual
        background-color: transparent;
    }
}