.button {
    // box model
    display: inline-block;
    vertical-align: top;
    min-width: 200px;
    margin-bottom: 20px;
    padding: 0 20px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-weight: 600;
    font-size: 1rem;
    line-height: 46px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    background-color: $golden;
    border: 2px solid $golden;
    border-radius: 25px; // 1/2 of line-height + 2px border-width

    @include atTablet {
        // box model
        padding: 0 30px;
    }

    &--ghost {
        // typography
        // color: $dark;

        // visual
        background-color: rgba($dark, 0.5);
    }

    &--ghost-dark {
        // typography
        color: $dark;

        // visual
        background-color: transparent;
    }
}