.choose-city {
    // box model
    padding: 0;
    padding: 0 25px;
}

.choose-city__wrapper {
    // box model
    position: relative;
    margin-bottom: 60px;
}

.choose-city__list {
    // box model
    // position: relative;
    padding-left: 35px;
    margin: 0;
    margin-bottom: 25px;
    
    // typography   
    font-family: $titleFont;
    font-size: 1rem;
    color: $dark;
    text-transform: uppercase;
}

.choose-city__letter {
    // box model
    position: absolute;
    
    // positioning
    top: -5px;
    left: 0;
    
    // visual
    list-style: none;
    
    // typography
    font-family: $titleFont;
    font-size: 3rem;
    color: $golden;
}

.choose-city__item {
    // box model
    margin-left: 40px;
    margin-bottom: 10px;

    // visual
    list-style: none;

    // typography
    font-family: $mainFont;
    font-size: 1rem;
    color: $dark;

    text-transform: uppercase;
}

.choose-city__item::before {
    content: "";
    // box model
    position: relative;
    display: block;
    width: 8px;
    height: 8px;

    // positioning  
    left: -25px;
    top: 16px;

    // visual
    background-color: $golden;
    border-radius: 50%;
}