.city-select {
    // box model
    margin-top: -2px;

    // typography
    text-align: right;
}

.city-select__title {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1rem;

    @include atTablet {
        // typography
        font-size: 1.125rem;
        line-height: 1.25;
    }

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }
}

.city-select__city {
    // box model
    margin: 0;
    
    // typography
    font-family: $titleFont;
    font-size: 1rem;
    
    @include atTablet {
        // typography
        font-size: 1.125rem;
        line-height: 1.25;
    }
    
    @include atDesktopS {
        // box model
        display: inline-block;
        vertical-align: top;
    }

    @include atFullHD {
        // box model
        margin-left: 10px;
    }
}

.city-select__city a {
    // typography
    color: $light;
    text-decoration: none;
}

.city-select__triangle {
    // typography
    font-size: 0.75em;
}