.close-button {
    // box model
    width: 40px;
    height: 40px;

    // visual
    background-color: #e6e6e6;
    border-radius: 50%;

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 11px;
        top: 19px;
        transform-origin: center center;
        transform: rotate(45deg);
        
        // box model
        height: 1px;
        width: 18px;
        
        // visual
        border-radius: 1px;
        background-color: $dark;
        transition: all 0.3s ease-out;
    }

    &::after {
        content: "";

        // positioning
        position: absolute;
        left: 11px;
        top: 19px;
        transform-origin: center;
        transform: rotate(-45deg);
        
        // box model
        height: 1px;
        width: 18px;
        
        // visual
        border-radius: 1px;
        background-color: $dark;
        transition: all 0.3s ease-out;
    }
}