.contact {
    // typography
    text-align: center;
}

.contact__title {
    // typography
    color: $golden;
    font-family: $titleFont;
}

.contact__value {
    // typography
    color: $light;
    font-family: $mainFont;
}