.contact {
    // box model
    margin-bottom: 20px;

    // typography
    text-align: center;
}

.contact--footer {
    .contact__title {
        // typography
        color: $light;
    }

    .contact__value {
        // typography
        color: $lightGrey;
    }
}

.contact__title {
    // box model
    margin: 0;
    margin-bottom: 5px;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.125rem;
}

.contact__value {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $mainFont;
    font-weight: 600;
}