.current-news {
    // box model
    padding: 0 20px;
}

.current-news__title {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    text-align: left;
    text-transform: uppercase;
}

.current-news__text {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
}