.editorial {
    @include atTablet {
        // box model
        display: flex;
        align-items: stretch;
    }
}

.editorial__photo {
    // box model
    margin-bottom: 30px;

    // typography
    font-size: 0;
    
    // visual
    border-radius: 5px;
    box-shadow: 0 10px 15px 0 rgba(19, 19, 19, 0.25);
    overflow: hidden;

    @include atTablet {
        // box model
        flex-basis: 55%;
        margin: 0;
    }
}

.editorial__photo img {
    // box model
    width: 100%;
    height: 100%;

    // visual
    object-fit: cover;
}

.editorial__content {
    // box model
    margin-top: -60px;
    
    // typography
    font-size: 4vw;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-basis: 45%;
        
        margin: 0;
        padding-left: 30px;

        // typography
        font-size: 1rem;
    }
}

.editorial__caption {
    // box model
    margin: 0;
    margin-bottom: 20px;
    padding: 0 10px;
}

.editorial__category {
    // box model
    margin: 0;
    margin-bottom: 2em;
    margin-left: 8px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 0.85em;
    line-height: 1rem;

    @include atTablet {
        // box model
        margin: 0;
        margin-bottom: 1em;

        // typography
        color: $golden;
        font-size: 1.25em;
        text-align: left;
    }
}

.editorial__title {
    // box model
    margin: 0;
    margin-bottom: 5px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1.75em;
        text-align: left;
    }
}

.editorial__subtitle {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 0.675em;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 0.85em;
        text-align: left;
    }
}

.editorial__footer {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.editorial__date {
    // typography
    font-size: 0.75em;

    @include atTablet {
        // typography
        font-size: 1em;
    }
}

.editorial__cta {
    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 0.75em;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1em;
        text-align: right;
    }
}