.footer-menu {
    // box model
    margin: 0;
    padding: 15px 0;
    list-style: none;

    // typography
    text-align: center;
}

.footer-menu--small {
    .footer-menu__title {
        // typography
        font-size: 1rem;
        line-height: 32px;
    }

    .footer-menu__link {
        // typography
        font-size: 1rem;
        line-height: 32px;
    }
}

.footer-menu__title {
    // box model
    margin: 0;
    padding: 0;

    // typography
    color: $lightGrey;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
}

.footer-menu__item {
    
}

.footer-menu__link {
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
    text-decoration: none;
}