.footer-menu {
    // box model
    margin: 0;
    padding: 15px 0;
    list-style: none;

    // typography
    text-align: center;
}

.footer-menu__title {
    // box model
    margin: 0;
    padding: 0;

    // typography
    color: $lightGrey;
    font-family: $titleFont;
    font-size: 1rem;
    line-height: 2;
}

.footer-menu__item {
    
}

.footer-menu__link {
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;
    line-height: 2;
    text-decoration: none;
}