.footer {
    // box model
    padding: 40px 20px;

    // visual
    background-color: $dark;

    @include atTablet {
        // box model
        padding: 80px 40px;
        padding-bottom: 40px;

        // visual
        background-image:
            url('./img/white-grunge-180.svg'),
            url('./img/bgs/footer-t.jpg');
        background-position:
            top -170px center,
            center left;
        background-size:
            800px,
            cover;
        background-repeat:
            repeat-x,
            no-repeat;
    }
}

.footer__info-n-contacts {
    @include atTablet {
        display: flex;
        justify-content: space-between;
    }
}

.footer__info {
    // box model
    padding: 20px;
    // padding-bottom: 20px;
    padding-top: 0;

    @include atTablet {
        // box model
        padding-bottom: 40px;
        width: 320px;
    }
}

.footer__logo {
    // box model
    padding: 10px 40px;

    @include atTablet {
        // box model
        padding: 0;
        padding-bottom: 30px;
        padding-right: 10px;
    }
}

.footer__logo img {
    // box model
    width: 100%;
}

.footer__title {
    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    
    @include atTablet {
        // typography
        text-align: left;
    }
}

.footer__subtitle {
    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.85rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

.footer__text {
    // typography
    color: $lightGrey;
    font-family: $mainFont;
    font-size: 0.85rem;
    // font-weight: 600;
    line-height: 1.5;
    text-align: center;

    @include atTablet {
        // typography
        text-align: left;
    }
}

.footer__social {
    // box model
    margin-bottom: 20px;

    // typography
    text-align: center;

    @include atTablet {
        // typography
        text-align: left;
    }
}

.footer__social-cta {
    // box model
    
    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1rem;
}

.footer__contacts {
    // box model
    padding: 15px 0;

    // visual
    border-top: 2px solid $golden;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.footer__city {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: block;

        // typography
        color: $light;
        font-family: $titleFont;
        font-size: 3rem;
        text-align: center;
    }
}

.footer__menues {
    // box model
    margin-bottom: 40px;

    // visual
    border-top: 2px solid $golden;
    border-bottom: 2px solid $golden;

    @include atTablet {
        // box model
        display: flex;
        justify-content: space-around;
        padding: 40px 0;
    }
}

.footer__main-nav {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: block;
    }
}

.footer__services-nav {
    // box model
    display: none;

    @include atTablet {
        // box model
        display: block;
    }
}

.footer__info-nav {
    
}

.footer__copyrights {
    // typography
    text-align: center;

    @include atTablet {
        // typography
        text-align: right;
    }
}

.footer__copyrights p {
    // box model
    margin: 0;
    padding: 0;
    
    // typography
    color: $lightGrey;
    font-family: $mainFont;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
}