.footer {
    // box model
    padding: 40px 20px;

    // visual
    background-color: $dark;
}

.footer__info {
    // box model
    padding-bottom: 20px;
}

.footer__logo {
    // box model
    padding: 10px 40px;
}

.footer__logo img {
    // box model
    width: 100%;
}

.footer__title {
    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

.footer__subtitle {
    // box model
    padding-bottom: 40px;

    // typography
    color: $lightGrey;
    font-family: $mainFont;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

.footer__social {

}

.footer__contacts {
    // box model
    padding: 30px 0;
}

.footer__city {
    // box model
    display: none;
}

.footer__main-nav {
    // box model
    display: none;
}

.footer__services-nav {
    // box model
    display: none;
}

.footer__info-nav {
    // box model
    margin-bottom: 40px;

    // visual
    border-top: 2px solid $golden;
    border-bottom: 2px solid $golden;
}

.footer__copyrights {

}

.footer__copyrights p {
    // box model
    margin: 0;
    padding: 0;

    // typography
    color: $lightGrey;
    font-family: $mainFont;
    font-size: 0.8rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}