.four-o-four {
    @include atDesktopS {
        // box model
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.four-o-four__message {
    // box model
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 400px;

    @include atDesktopS {
        // box model
        order: 2;
        flex-basis: 33%;
        margin-top: -80px;
        max-width: 300px;
        // border: 1px solid red;
        display: flex;
        height: 100%;
    }

    @include atDesktopM {
        // box model
        max-width: inherit;
        margin: 0 auto;
        padding-left: 30px;
    }
}
 
.four-o-four__info {
    // box model
    margin-bottom: 60px;

    @include atTablet {
        // box model
        width: 300px;
        padding-right: 20px;
    }

    @include atDesktopS {
        // box model
        order: 1;
        flex-basis: 33%;
        margin-bottom: 0;
        max-width: 300px;
        // border: 1px solid red;
    }
}

.four-o-four__quote {
    @include atTablet {
        // box model
        margin-top: -120px;
    }

    @include atDesktopS {
        // box model
        order: 3;
        flex-basis: 33%;
        margin: 0;
        max-width: 300px;
    }
}

.four-o-four__quote blockquote {
    // box model
    margin: 0;
    margin-left: auto;
    width: 180px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-align: right;
    text-transform: uppercase;

    @include atDesktopM {
        // typography
        font-size: 1rem;
    }
}

.four-o-four__quote p {
    // box model
    margin: 0;
}

.four-o-four__quote cite {
    // box model
    margin: 0;
    
    // typography
    font-size: 0.75em;
}