.franchise {
    // box model
    margin-top: 70px;
    margin-bottom: 60px;
}

.franchise__header {
    
}

.franchise__map {
    // box model
    padding: 5px;
    margin-top: 40px;

    @include atTablet {
        // box model
        margin-bottom: -30px;
        padding: 0 40px;
    }
}

.franchise__map img {
    width: 100%;
}

.franchise__content {
    @include atTablet {
        // positioning
        position: relative;
    }

    @include atDesktopL {
        // box model
        width: 1400px;
        margin: 0 auto;
    }
}

.franchise__caption {
    // typography
    font-size: 1.25rem;
    text-align: center;

    @include atTablet {
        // typography
        font-size: 1.5rem;
    }
}

.franchise__title {
    // box model
    margin: 0;
    
    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1em;
}

.franchise__title strong {
    // box model
    display: block;

    // typography
    font-size: 1.87em;

    @include atTablet {
        // typography
        font-size: 2.5em;
    }
}

.franchise__button {
    // box model
    margin-top: 1em;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin-bottom: 20px;
    }
}

.franchise__logo {
    // box model
    display: none;

    @include atTablet {
        // positioning
        position: absolute;
        right: 45px;
        top: -50px;

        // box model
        display: block;
        height: 120px;
    }

    @include atDesktopS {
        // positioning
        top: 0;
        right: 50px;

        // box model
        height: 140px;
    }

    @include atDesktopM {
        // box model
        height: 150px;
    }

    @include atDesktopL {
        // box model
        height: 160px;
    }
}

.franchise__logo img {
    // box model
    height: 100%;
}

.franchise__summary {
    // box model
    display: flex;
    padding: 0 20px;
    justify-content: center;
    align-items: center;

    // typography
    font-size: 1rem;

    &--countdown {
        // box model
        flex-direction: column;
    }

    @include atTablet {
        // typography
        font-size: 1.5rem;
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        bottom: 10px;
        right: 30px;

        // typography
        font-size: 0.8rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.125rem;
    }
}


.franchise__count {
    // box model
    margin: 0;
    
    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 6em;
}

.franchise__details {
    // box model
    padding: 0.3em;
    padding-bottom: 0.6em;

    // typography
    font-family: $titleFont;
    font-size: 1em;
    white-space: nowrap;

    // visual
    border-top: 2px solid transparent;
    border-bottom: 2px solid $golden;
    border-image: linear-gradient(to right, rgba(168, 149, 93, 1), rgba(247, 220, 147, 1));
    border-image-slice: 2; 
}

.franchise__details strong {
    // box model
    display: block;

    // typography
    font-size: 2.5em;
}