.franch-promo {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 100px;
    padding-right: 20px;

    // visual
    border-radius: 5px;
    background-color: $black;
    background-image: url('./img/bgs/franchise-btn.jpg');
    background-position: center right;
    background-repeat: no-repeat;
}

.franch-promo__title {
    // positioning
    transform: skewY(-15deg);

    // box model
    margin: 0;
    margin-top: -25px;
    margin-bottom: 40px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;

    @include atDesktopL {
        // positioning
        transform: skewY(-15deg) translate(-50px, -10px);

        // typography
        font-size: 1.3rem;
    }
}

.franch-promo__title strong {
    // box model
    display: block;

    // typography
    font-size: 2.5em;
}

.franch-promo__cta {

}