.haircut {
    // box model
}

.haircut__header {
    // box model
    margin-bottom: 20px;
}

.haircut__images {
    // box model
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -75px;
    padding: 0 20px;
}

.haircut__image {
    // box model
    width: 100%;

    // typography
    font-size: 0;
    
    // visual
    background-color: $golden;
    border-radius: 5px;
    overflow: hidden;
    
    img {
        // box model
        width: 100%;
        height: 100%;
        
        // visual
        object-fit: cover;
    }
}

.haircut__image--zero {
    // box model
    display: none;
}

.haircut__image--main {
    // box model
    flex-basis: 100%;
    height: calc(100vw - 40px);
    width: calc(100vw - 40px);
    margin-bottom: 20px;
}

.haircut__image--secondary {
    // box model
    flex-basis: 48%;
    flex-basis: calc((100% - 20px) / 2);
    height: calc((100vw - 60px) / 2);
    width: calc((100vw - 60px) / 2);
}

.haircut__content {
    // box model
    padding: 20px;
}

.haircut__headline {
    // box model
    margin: 0;
    margin-left: -20px;
    margin-bottom: 30px;
    padding: 10px 20px;
    width: 260px;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5;
    text-align-last: left;
    text-transform: uppercase;

    // visual
    border-bottom: 2px solid $golden;
    border-top: 2px solid $golden;
}

.haircut__text h3 {
    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
}

.haircut__text p {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.75;
}