.hero {
    // positioning
    position: relative;

    // box model
    padding: 20px;
    padding-bottom: 60px;
    
    // visual
    background-color: $dark;
    overflow: hidden;
    
    @include atTablet {
        // box model
        padding: 40px;
        padding-bottom: 60px;
    }

    @include atDesktopM {
        // box model
        padding: 50px;
        padding-bottom: 70px;
    }

    @include atDesktopL {
        // box model
        padding: 50px 80px;
    }
    
    &--main {
        // box model
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        min-height: 520px;
        max-height: 700px;

        // visual
        background-image: url('./img/bgs/hero-m.jpg');
        background-position: bottom center;
        
        @include atTablet {
            // box model
            min-height: 640px;

            // visual
            background-image: url('./img/bgs/hero-t.jpg');
            background-size: cover;
        }
        
        @include atDesktopS {
            // box model
            max-height: 700px;

            // visual
            background-image: url('./img/bgs/hero.jpg');
        }

        @include atDesktopM {
            // box model
            min-height: 680px;
            max-height: 740px;
        }

        @include atDesktopL {
            // box model
            min-height: 720px;
            height: 100vh;
            max-height: 900px;
        }
    }
    
    &--city {
        // visual
        background-image: url('./img/bgs/map.jpg');
        background-position: top left;
    }
    
    &--branch {
        // visual
        background-image: none;
        background-image: url('./img/bgs/hero-t.jpg');
    }

    &--haircut {
        // visual
        background-image: url('./img/bgs/haircut-m.jpg');
        background-size: cover;
        background-position: center center;
    }
    
    &--royal {
        // visual
        background-image: url('./img/bgs/royal-m.jpg');
        background-size: cover;
        background-position: center center;
    }
    
    &--tattoo {
        // visual
        background-image: url('./img/bgs/tattoo-m.jpg');
        background-size: cover;
        background-position: bottom center;
    }
    
    &--policy {
        // visual
        background-image: url('./img/bgs/policy-m.jpg');
        background-size: cover;
        background-position: bottom center;
    }

    &--404 {
        // box model
        padding-bottom: 60px;

        // visual
        background-image: none;

        @include atTablet {
            // box model
            min-height: 100vh;

            // visual
            background-image: url('./img/bgs/404.jpg');
            background-size: cover;
            background-position: bottom right;
        }

        @include atDesktopS {
            // box model
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .hero__top {
                // box model
                flex-grow: 3;
            }

            .four-o-four {
                // box model
                flex-grow: 7;
            }
        }

        &::after {
            // box model
            display: none;
        }
    }

    &--form-success {
        // box model
        padding-bottom: 60px;

        // visual
        background-image: none;

        @include atTablet {
            // box model
            min-height: 100vh;

            // visual
            background-image: url('./img/bgs/404.jpg');
            background-size: cover;
            background-position: bottom right;
        }

        @include atDesktopS {
            // box model
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .hero__top {
                // box model
                flex-grow: 3;
            }

            .four-o-four {
                // box model
                flex-grow: 7;
            }
        }

        &::after {
            // box model
            display: none;
        }
    }

    &--franchise {
        // visual
        background-color: #ffffff;
    }

    &--family {
        // visual
        background-image: url('./img/bgs/family-m.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.hero::after {
    content: '';
    
    // positioning
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 2;
    
    // box model
    width: 100%;
    height: 80px;
    
    // visual
    background-image: url('./img/white-grunge.svg');
    background-position: top 2px center;
    background-repeat: repeat-x;
    background-size: 800px;
}

.hero__top {
    // positioning
    position: relative;
    

    // box model
    margin-bottom: 20px;
    margin-top: 10px;
}

.hero__logo {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 85px;

    @include atTablet {
        // box model
        width: 190px;
    }

    @include atDesktopM {
        // box model
        width: 230px;
    }

    @include atDesktopL {
        // box model
        width: 300px;
    }

    @include atFullHD {
        // box model
        width: 360px;
    }
}

.hero__logo img {
    // box model
    width: 100%;
}

.hero__nav {
    // positioning
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 777;

    // box model
    width: 100%;
    max-width: 400px;

    // visual
    opacity: 0.9;
    transition: all 0.3s ease-out;

    &--hidden {
        // positioning
        right: -110%;
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        top: 0;
        left: 210px;
        
        // visual
        visibility: visible;
        opacity: 1;
    }

    @include atDesktopM {
        // positioning
        left: 260px;
    }

    @include atDesktopL {
        // positioning
        left: 320px;
    }

    @include atFullHD {
        // positioning
        left: 400px;
    }
}

.hero__city-select {
    // TODO: think about another way of positioning

    // positioning
    position: absolute;
    right: 0;
    top: 0;

    // box model
    display: inline-block;
    vertical-align: top;
    padding-right: 70px;

    @include atTablet {
        // positioning
        left: auto;
        right: 0;
        z-index: 2;

        // box model
        padding-right: 60px;
    }

    @include atDesktopS {
        // box model
        padding-right: 0;
    }
}

.hero__content {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-grow: 1;
    
    @include atDesktopS {
        // box model
        justify-content: space-between;
        flex-grow: 2;
        padding-top: 20px;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.hero__caption {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;

    @include atTablet {
        // box model
        padding-bottom: 40px;
    }

    &--branch {
        // box model
        margin-bottom: -160px;

        // visual
        opacity: 0;

        @include atTablet {
            // visual
            opacity: 1;
            margin-bottom: 0;
        }
    }
}

.hero__opening {
    // box model
    margin-left: -20px;
    margin-top: -60px;

    @include atTablet {
        // box model
        margin-left: -40px;
    }
}

.hero__contacts-n-buttons {
    @include atTablet {
        // box model
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    @include atDesktopS {
        // box model
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}

.hero__buttons-n-social {
    // box model
    width: 220px;
    margin: 0 auto;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin: 0;
        display: flex;
        flex-direction: column;

        // typography
        text-align: left;
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 100px;
    }
}

.hero__contacts {
    // box model
    padding-bottom: 30px;
    padding-top: 15px;

    @include atTablet {
        // positioning
        position: relative;
        z-index: 4;

        // box model
        display: flex;
        justify-content: space-around;
        padding-top: 140px;
        padding-bottom: 60px;
        width: 100%;
    }

    @include atDesktopS {
        // box model
        justify-content: flex-start;
        padding: 0;
        padding-top: 100px;
        padding-right: 35%;
    }
}

.hero__countdown {
    // box model
    margin-bottom: 40px;
}

.hero__buttons {
    // box model
    width: 220px;
    margin: 0 auto;
    margin-top: 80px;
    
    // typography
    // to align items on browsers without flex support
    text-align: center;
    
    @include atTablet {
        // positioning
        position: relative;
        z-index: 2;
    }

    @include atDesktopS {
        // box model
        margin: 0;
        margin-top: 60px;

        // typography
        text-align: left;
    }
}

.hero__vacancy {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: column;
    align-items: center;

    @include atTablet {
        // box model
        max-width: 336px;
        width: 100%;

        // typography
        text-align: right;

        &:after {
            content: '';

            // positioning
            position: absolute;
            right: 100%;

            // box model
            display: block;
            width: 400px;
            height: 600px;

            // visual
            background-image: url('img/deco/barber/barber.png');
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    @include atDesktopS {
        // positioning
        position: absolute;
        top: 174px;
        right: 40px;
        bottom: 0;

        // box model
        display: flex;
        max-width: 250px;
        flex-direction: column;
        align-items: flex-end;
    }
}

.hero__vacancy-header {
    // box model
    margin-bottom: 40px;
}

.hero__vacancy-title {
    // box model
    margin: 20px 0;

    // positioning
    position: relative;

    // typography
    color: #ffffff;
    font-family: $titleFont;
    font-size: calc(2.25rem + ((1vw - 3.75px) * -1.92));
    font-weight: 700;
    line-height: calc(3rem + ((1vw - 3.75px) * -2.88));

    &:before,
    &:after{
        content: '';

        // positioning
        position: absolute;

        // box model
        display: block;
        width: 100%;
        height: 4px;

        // visual
        background-color: $golden;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &:before {
        // positioning
        top: -10px;
        left: -20px;

        @include atTablet {
            // positioning
            left: auto;
            right: -15px;
        }
    }

    &:after {
        // positioning
        bottom: -10px;
        left: -20px;

        @include atTablet {
            // positioning
            left: auto;
            right: -15px;
        }
    }

    @include atDesktopS {
        // typography
        font-size: 1.5rem;
        line-height: 30px;
    }
}

.hero__vacancy-subtitle {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
}

.hero__app {
    // box model
    margin: 0 -20px;
    margin-top: 60px;

    @include atTablet {
        // box model
        margin: 0;

        // positioning
        position: absolute;
        bottom: 40px;
        right: -40px;
        top: 0;
        z-index: 1;

        // box model
        width: 55%;

        // TODO: remove this later maybe
        // &::before {
        //     content: "";

        //     // positioning
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     top: 0;

        //     // box model
        //     width: 130%;

        //     // visual
        //     background-image: url('./img/dark-v-grunge.svg');
        //     background-size: cover;
        //     transform: skewX(-15deg);
        // }
    }

    @include atDesktopS {
        // box model
        // display: none;
    }
}

.hero__deco {
    // box model
    display: none;
    
    @include atTablet {
        // positioning
        position: absolute;
        bottom: -70px;
        right: -100px;

        // box model
        display: block;
        width: 640px;
    }

    @include atDesktopS {
        // positioning
        z-index: 2;
        right: 50%;
        transform: translateX(50%);

        // box model
        width: 550px;

        // visual
        pointer-events: none;
    }

    @include atDesktopM {
        // positioning
        bottom: -60px;

        // box model
        width: 700px;
    }

    @include atDesktopL {
        // box model
        width: 800px;
    }

    @include atFullHD {
        // box model
        width: 900px;
    }
}

.hero__deco img {
    // box model
    width: 100%;
}

.hero__aside {
    // box model
    display: none;

    @include atDesktopS {
        // positioning
        position: absolute;
        right: 0;
        bottom: 0;

        // box model
        display: block;
        width: 50%;
        padding-bottom: 20px;
    }
}

.hero__counter {
    // box model
    margin-bottom: 90px;

    @include atDesktopL {
        // box model
        margin-bottom: 120px;
    }

    @include atDesktopL {
        // box model
        margin-bottom: 150px;
    }
}

.hero__franchise {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    width: 100%;
}

.hero__subtitle {
    // box model
    margin: 0;
    margin-bottom: 0.5em;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1rem;
}

.hero__inner-title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2rem;
}

.hero__branches {
    @include atDesktopS {
        // box model
        margin-top: -40px;
        margin-left: 40px;
        margin-bottom: 20px;
        width: calc(100% - 300px);
    }

    @include atDesktopM {
        // box model
        max-width: 920px;
        margin-bottom: 0;
    }
}