.hero {
    // box model
    padding: 20px;

    // visual
    background-color: $dark;
}

.hero__logo {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 80px;

    img {
        // box model
        width: 100%;
    }
}

.hero__nav {
    // positioning
    position: fixed;

    // visual
    opacity: 0;
    visibility: hidden;
}

.hero__city {
    // box model
    display: inline-block;
    vertical-align: top;
    width: 160px;
}

.hero__caption {
    // box model
    display: none;
}

.hero__contacts {

}

.hero__buttons {

}

.hero__app {

}