.info-404 {
    // box model
    margin: 0 auto;
    max-width: 400px;
}

.info-404__title {
    // box model
    padding-bottom: 0.5em;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.5;
    text-transform: uppercase;

    // visual
    border-bottom: 2px solid $golden;
}

.info-404__subtitle {
    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.85rem;
    letter-spacing: 0.05em;
    line-height: 1.5;
    text-transform: uppercase;
}

.info-404__text {
    // box model
    margin: 0;

    // typography
    color: $lightGrey;
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.5;
}