.location-list {
    // box model
    padding: 0;
    margin: 0;

    // visual
    list-style-type: none;
}

.location-list__city {
    // box model
    margin: 0;
    margin-bottom: 1em;
    padding: 0;

    // typography
    font-family: $titleFont;
    font-size: 1.25rem;

    & em {
        // visual
        font-family: $titleFont;
        color: $golden;
    }
}

.location-list__item {
    // box model
    padding-left: 30px;
    margin-bottom: 1em;

    // positioning
    position: relative;
    z-index: 1;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    text-transform: uppercase;
    white-space: nowrap;
    list-style: none;

    // visual
    transition: all 0.35s linear;

    @include atTablet {
        // box model
        margin-right: 40px;
    }

    &::before {
        content: "";

        // positioning
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    
        // box model
        display: block;
        height: 8px;
        width: 8px;
    
        // visual
        background-color: $golden;
        border-radius: 50%;
    }
    
    &::after {
        content: "";
        // box model
        display: block;
        position: absolute;
        width: 325px;
        height: 40px;
        
        // positioning
        left: -8px;
        top: -12px;
        
        // visual
        background-color: $golden;
        border-radius: 23px;
        opacity: 0;
    }
}

.location-list__item em {
    // visual
    color: $golden;
    font-family: $titleFont;
}

.location-list__item:hover {
    // typography
    color: $light;

    &::after {
    // positioning
    z-index: -1;

    // visual
    opacity: 1;
    transition: all 0.35s linear;
    }

    em {
        // box model
        opacity: 0;
    }
}