.location-selector {
    // visual
    background-color: $light;
}

.location-selector__header {
    // box model
    padding: 25px;
    padding-bottom: 0;
}

.location-selector__caption {
    // box model
    display: none;
}

.location-selector__fast-nav {
    // 
}

.location-selector__places {
    // box model
    margin: 0 -25px;
}

.location-selector__closure {
    // box model
    position: fixed;

    // positioning
    top: 25px;
    right: 25px;
}