.menu-button {
    // positioning
    position: fixed;
    right: 20px;
    top: 20px;

    // box model
    height: 32px;
    width: 32px;

    // visual
    border: 2px solid $golden;
    border-radius: 50%;
}

.menu-button::before {

}

.menu-button__middle {

}

.menu-button::after {

}