.message-404 {
    // box model
    margin: 0 auto;
    max-width: 400px;
}

.message-404__subtitle {
    // positioning
    position: relative;

    // box model
    display: flex;
    flex-direction: row;
    flex-grow: 10;
    flex-shrink: 1;
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;
}

.message-404__subtitle::before {
    content: "";

    // positioning
    position: relative;
    left: -10px;
    left: 0;
    top: 0.5rem;

    // box model
    flex-grow: 1;
    flex-shrink: 10;
    height: 2px;

    // visual
    background: linear-gradient(to right, rgba($golden, 0), rgba($golden, 0) 23%, rgba($golden, 0.75));
}

.message-404__title {
    // box model
    margin: 0;
    margin-bottom: 0.5em;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: right;
    text-transform: uppercase;
}

.message-404__image {
    // box model
    width: 100%;
}

.message-404__image img {
    // box model
    width: 100%;
}

.message-404__desc {
    // positioning
    transform: translateY(-30px);

    // box model
    margin: 0;
    
    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1rem;
    line-height: 1.5;
    text-align: right;
    text-transform: uppercase;
}

.message-404__button {
    // typography
    text-align: center;
}