.news-item {
    // box model
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 30vw;
}

.news-item__photo {
    // positioning
    position: relative;
    
    // box model
    flex-basis: 40%;
    
    // visual
    border-radius: 5px;
    overflow: hidden;
}

.news-item__photo img {
    // box model
    display: block;
    width: 100%;
    height: 100%;
    
    // visual
    object-fit: cover;
}

.news-item__content {
    // box model
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    flex-basis: 60%;

    padding: 5px 0;
    padding-left: 20px;

    // typography
    font-size: 4vw;
}

.news-item__header {
    // box model
}

.news-item__category {
    // box model
    margin: 0;
    margin-bottom: 0.5em;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.75em;
    text-transform: uppercase;
}

.news-item__title {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1em;
}

.news-item__footer {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.news-item__date {
    // typography
    font-size: 0.75rem;
}

.news-item__cta {
    // box model
    padding-bottom: 0.3em;

    // typography
    color: $golden;
    font-family: $mainFont;
    font-size: 0.75em;
    font-weight: 600;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}