.news {
    // box model
    margin-bottom: 50px;

    @include atDesktopS {
        // box model
        display: flex;
        flex-wrap: wrap;
    }
}

.news__header {
    // box model
    padding-bottom: 20px;

    // visual
    background-image: linear-gradient(to bottom, $light, $bianca);

    @include atDesktopS {
        // box model
        flex-basis: 350px;

        // visual
        background-image: none;
    }
}

.news__editorial {
    // box model
    padding: 20px;

    // visual
    background-color: $bianca;

    @include atTablet {
        // box model
        padding: 40px;
    }

    @include atDesktopS {
        // box model
        flex-basis: calc(100% - 400px);
        margin-right: 50px;

        // visual
        background-color: transparent;
    }
}

.news__feed {
    // box model
    padding: 20px;

    @include atTablet {
        // box model
        padding: 40px;
        padding-bottom: 0;
    }

    @include atDesktopS {
        // box model
        flex-basis: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.news__more {
    // box model
    padding: 40px;
    padding-top: 20px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        padding: 40px;
        padding-top: 0;
        display: flex;
        justify-content: center;
    }
}

.news__more-text {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;

    @include atTablet {
        // box model
        flex-basis: 300px;
        margin-left: 40px;

        // typography
        text-align: left;
    }
}