.news-item {
    // box model
    width: 350px;
}

.news-item__photo img {
    // positioning
    position: absolute;

    // visual
    border-radius: 5px;
    z-index: -1;
}

.news-item__city {
    // positioning
    padding-top: 15px;
    padding-right: 20px;

    // typography
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    
}

.news-item__header {
    // positioning;
    margin-top: 150px;
    padding: 0 30px;
}

.news-item__title {
    // typography
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #db975a;
}

.news-item__description {
    // positioning
    margin-top: 20px;

    // typography
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

.news-item__text {
    // box model
    margin-top: 25px;

    // typography
    text-transform: uppercase;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.news-item__bottom {
    // positioning
    margin-top: 40px;
    margin-left: 5px;

    // box model
    display: flex;

}

.news-item__date {
    // box model
    display: flex;

    // typography
    color: #bdbdbd;
    font-weight: 600;
}

.news-item__number {
    // positioning
    margin-top: -5px;

    // typography
    font-size: 40px;
}

.news-item__month {
    // positioning
    padding-left: 10px;
    margin: 0;
}

.news-item__read {
    // positioning
    margin-top: 10px;
    margin-left: 55px;
    
    // box model
    height: 14px;


    // visual
    text-decoration: none;

    // typography
    text-transform: uppercase;
    font-weight: bold;
    color: #c29453;
}