.news-category {
    // box model
    width: 100%;
    min-height: 150px;
    position: relative;
    margin-bottom: 25px;

    img {
        // box model
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;

        // visual
        border-radius: 5px;
        object-fit: none;
        z-index: -1;
    }

    @include atFullHD {
        // box model
        width: 350px;
    }
}

.news-category__title {
    // box model
    margin: 0;
    margin-bottom: 20px;
    padding-top: 35px;

    // typography
    color: $golden;
    font-family: $titleFont;
    text-align: center;
    text-transform: uppercase;
}

.news-category__info {
    // box model
    margin: 0;
    padding: 0 35px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
}