.news {
    // box model
    // margin-top: -20px;
    margin-bottom: 50px;
}

.news__header {
    // box model
    padding-bottom: 20px;

    // visual
    background-image: linear-gradient(to bottom, $light, $bianca);
}

.news__editorial {
    // box model
    padding: 20px;

    // visual
    background-color: $bianca;

    @include atTablet {
        // box model
        padding: 40px;
    }
}

.news__feed {
    // box model
    padding: 20px;

    @include atTablet {
        // box model
        padding: 40px;
        padding-bottom: 0;
    }

    // @include atFullHD {
    //     // box model
    //     display: flex;
    //     justify-content: space-between;
    //     margin-bottom: 30px;
    //     margin-left: 80px;
    //     margin-top: -200px;
    //     padding: 120px 140px;

    //     // visual
    //     background-color: #fdf6ee;
    // }
}

.news__more {
    // box model
    text-align: center;

    @include atTablet {
        // box model
        padding: 40px;
        padding-top: 0;
        display: flex;
        justify-content: center;
    }
}

// TODO: remove this
.news__see-more {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;

    @include atTablet {
        // box model
        flex-basis: 300px;
        margin-left: 40px;

        // typography
        text-align: left;
    }
}