.place-groups {
    // box model
    display: flex;
    padding: 0 25px;
    padding-bottom: 15px;

    // visual
    overflow-x: scroll;

    @include atFullHD {
        // box model
        display: block;
        padding: 0;
        padding-left: 10px;

        // visual
        overflow: hidden;
    }
}

.place-groups__list {
    // box model
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;

    // other
    list-style: none;
}

.place-groups__item {
    // box model
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 16px;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
    text-align: center;

    // visual
    background-color: #e6e6e6;
    border-radius: 20px;
    transition: all 0.35s linear;
}

.place-groups__item:hover {
    // typography
    color: $light;

    // visual
    background-color: $golden;
}