.promo {
    // positioning
    position: relative;

    // box model
    height: 160px;
    margin-bottom: 20px;
    
    // visual
    background-color: $darkGold;
    border-radius: 5px;
    overflow: hidden;

    @include atTablet {
        // box model
        height: 420px;
        width: 45%;
        margin-bottom: 40px;
    }
}

.promo--open {
    // box model
    height: 390px;

    @include atTablet {
        height: 420px;
    }

    .promo__close-button {
        // box model
        display: block;
    }

    .promo__info-button {
        // box model
        display: none;
    }
}

.promo--open .promo__description {
    // visual
    opacity: 1;
    visibility: visible;
}

.promo__header {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    
    // box model
    // border: 1px solid red;
}

.promo__description {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    // box model
    padding: 20px;
    padding-top: 40px;

    // visual
    opacity: 0;
    visibility: hidden;
}

.promo__service {
    // visual
    opacity: 0;
    visibility: hidden;
}

.promo__bottom {
    // positioning
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    transform: skewY(-15deg);

    // box model
    height: 155px;

    // visual
    background-image: url('./img/dark-h-grunge.svg');
    background-size: cover;
}

.promo__price {
    // positioning
    position: absolute;
    right: 0;
    top: -40px;

    // box model
    padding: 10px 15px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2rem;

    // visual
    background-color: $golden;
    text-shadow: -3px 2px 0 $darkGold;

    @include atTablet {
        // typography
        font-size: 2.5rem;

        // visual
        text-shadow: -3px 3px 0 $darkGold;
    }
}

.promo__name {
    // box model
    padding-left: 40px;
    padding-right: 120px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.75rem;
    text-align: right;

    @include atTablet {
        // box model
        padding-top: 10px;

        // typography
        font-size: 1.3rem;
    }
}

.promo__tip {
    // box model
    display: none;
}

.promo__title {
    // box model
    margin: 0;
    margin-bottom: 2rem;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.75rem;
    line-height: 1;
    text-align: right;
}

.promo__text {
    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 1rem;
    line-height: 1.5;

}

.promo__text p {
    // box model
    margin: 0;
    margin-bottom: 1rem;
}

.promo__close-button,
.promo__info-button {
    // positioning
    position: absolute;
    left: 15px;
    top: 15px;
    
    // box model
    height: 32px;
    width: 32px;

    // typography
    color: $light;
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

    // visual
    border: 3px solid $light;
    border-radius: 50%;
}

.promo__close-button {
    // box model
    display: none;
}