.promos {
    
}

.promos__header {

}


.promos__content {
    // box model
    padding: 40px 20px;

    @include atTablet {
        // box model
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 40px;
    }
}
