.promo {
    // positioning
    position: relative;

    // box model
    height: 160px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 350px;
    
    // visual
    background-color: $darkGold;
    border-radius: 5px;
    overflow: hidden;

    @include atTablet {
        // box model
        height: 380px;
        max-width: 280px;
        margin-bottom: 40px;
        flex-basis: 45%;
    }
}

.promo--open {
    // box model
    height: 380px;

    .promo__close-button {
        // box model
        display: block;
    }

    .promo__info-button {
        // box model
        display: none;
    }
}

.promo--open .promo__description {
    // visual
    opacity: 1;
    visibility: visible;
}

.promo__header {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 3;
}

.promo__image {
    // positioning
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 1;
}

.promo__image img {
    // box model
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center center;
}

.promo__description {
    // positioning
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 2;

    // box model
    padding: 20px;
    padding-top: 40px;

    // visual
    background-color: rgba($dark, 0.75);
    opacity: 0;
    visibility: hidden;
}

.promo__service {
    // visual
    opacity: 0;
    visibility: hidden;
}

.promo__bottom {
    // positioning
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    transform: skewY(-15deg);

    // box model
    height: 180px;

    // visual
    background-image: url('./img/dark-h-grunge.svg');
    background-size: cover;
}

.promo__price {
    // positioning
    position: absolute;
    right: 0;
    top: -40px;

    // box model
    padding: 10px 15px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2rem;

    // visual
    background-color: $golden;
    text-shadow: -3px 2px 0 $darkGold;

    @include atTablet {
        // typography
        font-size: 2.5rem;

        // visual
        text-shadow: -3px 3px 0 $darkGold;
    }
}

.promo__name {
    // box model
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 120px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.5rem;
    text-align: right;

    @include atTablet {
        // box model
        padding-top: 10px;

        // typography
        font-size: 1.3rem;
    }
}

.promo__tip {
    // box model
    display: none;
}

.promo__title {
    // box model
    margin: 0;
    margin-bottom: 2rem;
    padding-left: 60px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: right;
}

.promo__text {
    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.85rem;
    line-height: 1.75;
}

.promo__text p {
    // box model
    margin: 0;
    margin-bottom: 1rem;
}

.promo__close-button,
.promo__info-button {
    // positioning
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 4;
    
    // box model
    height: 32px;
    width: 32px;

    // typography
    color: $light;
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
    text-decoration: none;

    // visual
    border: 3px solid $light;
    border-radius: 50%;
}

.promo__close-button {
    // box model
    display: none;
}