.section-header {
    // positioning
    position: relative;
    transform: skewY(-15deg);
    z-index: 2;

    // TODO: fix this lately
    // box model
    // margin-right: 40px;
    width: 90%;
    max-width: 325px;
    // margin-left: -20px;

    @include atTablet {
        // box model
        min-width: 350px;
    }
}

.section-header--flipped {
    // box model
    margin-right: 0;
    margin-left: auto;

    .section-header__title {
        // typography
        // text-align: right;

        &::after {
            // positioning
            right: auto;
            left: -20px;
            transform: rotate(180deg);
        }
    }

    .section-header__image {
        // positioning
        left: -40px;

        &::before {
            // positioning
            right: auto;
            left: 0;
            transform: rotate(180deg);
        }
    }
}

.section-header__title {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2.5rem;
    line-height: 1.25;

    // visual
    background-color: $golden;
    box-shadow: -15px 10px 40px -10px rgba($dark, 0.5);
    text-shadow: -3px 2px 0 $darkGold;
    
    @include atTablet {
        // box model
        padding: 20px 40px;
        
        // typography
        font-size: 3rem;
        
        // visual
        box-shadow: -5px 10px 15px 0 rgba($dark, 0.25);
        text-shadow: -4px 3px 0 $darkGold;
    }
}

.section-header__title::after {
    content: '';

    // positioning
    position: absolute;
    right: -20px;
    top: 0;

    // box model
    height: 100%;
    width: 40px;

    // visual
    background-image: url('./img/gold-v-grunge.svg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.section-header__subtitle {
    // positioning
    position: relative;
    z-index: 2;

    // box model
    display: flex;
    flex-direction: row;
    flex-grow: 10;
    flex-shrink: 1;
    margin: 0;
    
    // typography
    color: $darkGold;
    font-family: $titleFont;
    font-size: 2rem;

    @include atTablet {
        // typography
        font-size: 2.25rem;
    }
}

.section-header__subtitle::before {
    content: "";

    // positioning
    position: relative;
    left: -10px;
    top: 17px;

    // box model
    flex-grow: 1;
    flex-shrink: 10;
    height: 3px;
    width: 100%;
    margin-right: 5px;

    // visual
    background-color: $darkGold;

    @include atTablet {
        // box model
        // padding-right: 200px;
    }
}

.section-header__subtitle--light {
    // typography
    color: $light;
    
    &::before {
        // visual
        background-color: $darkGold;
    }
}

.section-header__image {
    // positioning
    position: relative;
    z-index: 1;

    // box model
    margin-top: -3rem;
    width: 110%;
    width: calc(100% + 40px);
    max-width: 100vw;
    height: 300px;

    // visual
    overflow: hidden;
}

.section-header__image::before {
    content: '';

    // positioning
    position: absolute;
    right: 0;
    top: 0;

    // box model
    height: 100%;
    width: 50px;

    // visual
    background-image: url('./img/white-grunge-90.svg');
    background-position: center left 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150px;
}

.section-header__image img {
    // // box model
    width: 100%;
    object-fit: cover;
}