.section-header {
    // positioning
    position: relative;
    transform: skewY(-15deg);
    z-index: 1;

    // TODO: fix this lately
    // box model
    // margin-right: 40px;
    width: 90%;
    max-width: 325px;
}

.section-header__title {
    // positioning
    position: relative;

    // box model
    margin: 0;
    margin-bottom: 10px;
    padding: 20px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2.5rem;

    // visual
    background-color: $golden;
    text-shadow: -3px 2px 0 $darkGold;
}

.section-header__title::after {
    content: '';

    // positioning
    position: absolute;
    right: -20px;
    top: 0;

    // box model
    height: 100%;
    width: 40px;
    // border: 1px solid red;

    // visual
    background-image: url('./img/gold-v-grunge.svg');
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center center;
}

.section-header__subtitle {
    // positioning
    position: relative;

    // // box model
    display: flex;
    flex-direction: row;
    flex-grow: 10;
    flex-shrink: 1;
    margin: 0;
    
    // typography
    color: $darkGold;
    font-family: $titleFont;
    font-size: 2rem;

    &::before {
        content: "";

        // positioning
        position: relative;
        top: 17px;

        // box model
        flex-grow: 1;
        flex-shrink: 10;
        height: 3px;
        width: 100%;
        margin-right: 5px;

        // visual
        background-color: $darkGold;
    }
}

.section-header__subtitle--light {
    // typography
    color: $light;

    &::before {
        // visual
        background-color: $light;
    }
}