.services {

}

.services__header {
    // box model
    padding-bottom: 20px;
}

.services__content {
    // box model
    padding: 20px;

    @include atTablet {
        // box model
        padding: 40px;
    }
}

.services__main {
    // box model
    margin-bottom: 40px;
}

.services__secondary {

}