.service-item {
    // box model
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    padding: 15px 3px;

    // visual
    background-size: contain;
    background-position: left 90px center;
    background-repeat: no-repeat;

    &--shaving {
        // visual
        background-image: url('./img/icons/razor.svg');
    }
    
    &--royal {
        // visual
        background-image: url('./img/icons/shavette.svg');
    }
    
    &--tattoo {
        // visual
        background-image: url('./img/icons/tattoo.svg');
    }
    
    &--spa {
        // visual
        background-image: url('./img/icons/spa.png');
    }
}

.service-item__header {
    // box model
    flex-basis: 50%;
}

.service-item__subtitle {
    // box model
    margin: 0;
    margin-bottom: 0.1em;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.75rem;
    text-align: left;
    text-transform: uppercase;
}

.service-item__title {
    // box model
    margin: 0;

    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1rem;
    text-align: left;

}

.service-item__title strong {
    font-size: 1.5rem;
}

.service-item__button {
    // box model
    display: block;
    flex-basis: 50%;
    width: 165px;
    height: 100%;

    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

    // visual
    border: 2px solid $golden;
    background-color: transparent;
    border-radius: 20px;
    text-decoration: none;
}