.services__content {
    // box model
    padding: 0 20px;
    margin-top: 15px;
    margin-bottom: 75px;
    
    // typography
    text-align: center;

    // visual
    background-image: url("/img/razors.svg");
    background-position: 50% 85%;
    background-repeat: no-repeat;
    background-size: 50% 42%;

    .button {
        // box model
        width: 295px;
        margin: 0;
        margin-top: 65px;

        // typography
        color: $dark;
        font-family: $mainFont;

        // visual
        background-color: transparent;
    }
}