.service-item {
    // box model
    margin-bottom: 30px;
    padding: 15px 3px;

    // visual
    background-size: contain;
    background-position: bottom 40px right 160px;
    background-repeat: no-repeat;
    background-size: 100px;

    @include atTablet {
        // box model
        flex-basis: 45%;
        flex-direction: column;
        align-items: flex-start;
        max-width: 340px;

        // visual
        background-position: center right;
        background-size: 120px;
    }

    @include atDesktopS {
        // box model
        flex-basis: 23%;
        max-width: 240px;

        // visual
        // background-position: bottom 30px right 10px;
        background-position: center right 10px;
        background-size: 80px;
    }

    @include atDesktopM {
        // box model
        max-width: 280px;

        // visual
        background-size: 100px;
    }

    &--shaving {
        // visual
        background-image: url('./img/icons/razor.svg');
    }
    
    &--royal {
        // visual
        background-image: url('./img/icons/shavette.svg');
    }
    
    &--tattoo {
        // visual
        background-image: url('./img/icons/tattoo.svg');
    }
    
    &--spa {
        // visual
        background-image: url('./img/icons/spa.png');
    }
}

.service-item__header {
    // box model
    flex-basis: 50%;

    // typography
    font-size: 1rem;

    @include atTablet {
        // typography
        font-size: 1.5rem;
    }

    @include atDesktopS {
        // typography
        font-size: 1rem;
    }

    @include atDesktopM {
        // typography
        font-size: 1.25rem;
    }

    @include atDesktopL {
        // typography
        font-size: 1.5em;
    }
}

.service-item__subtitle {
    // box model
    margin: 0;
    margin-bottom: 0.1em;

    // typography
    color: $golden;
    font-family: $titleFont;
    font-size: 0.75em;
    text-align: left;
    text-transform: uppercase;
}

.service-item__title {
    // box model
    margin: 0;
    
    // typography
    color: $dark;
    font-family: $titleFont;
    font-size: 1.25em;
    text-align: left;
    
    @include atTablet {
        // box model
        margin-bottom: 0.5em;
    }
}

.service-item__title strong {
    font-size: 1.5em;
}

.service-item__button {
    // box model
    display: block;

    // typography
    text-align: right;
}