.service-main {
    // positioning
    position: relative;

    // box model
    width: 100%;
    height: calc(56.25vw - 40px);
    min-height: 180px;
    margin: 0;
    margin-bottom: 25px;

    // visual
    background-color: $darkGold;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;

    @include atTablet {
        // box model
        margin-bottom: 40px;
    }

    @include atDesktopS {
        // box model
        flex-basis: calc(50% - 20px);
        height: calc(31.25vw - 60px);
        width: auto;
    }

    &--haircut {
        // visual
        background-image: url('./img/bgs/haircut.jpg');
    }
    
    &--beard {
        // visual
        background-image: url('./img/bgs/beard.jpg');
    }
}

.service-main__header {
    // box model
    margin: 0;
    padding: 25px 23px;

    // typography
    font-size: 4vw;

    @include atTablet {
        // positioning
        position: absolute;
        bottom: 0;

        // box model
        display: inline-block;
        vertical-align: top;
        padding: 40px;

        // typography
        font-size: 1rem;
    }
}

.service-main__title {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1.9em;
    }
}

.service-main__title strong {
    // typography
    font-size: 1.5em;

    @include atTablet {
        // typography
        font-size: 1.75em;
    }
}

.service-main__subtitle {
    // box model
    margin: 0;

    // typography
    color: $golden;
    font-family: $titleFont;
    text-align: left;
    font-size: 0.85em;
    text-transform: uppercase;

    @include atTablet {
        // typography
        font-size: 1.25em;
        text-align: right;
    }
}

.service-main__button {
    // positioning
    position: absolute;
    right: 20px;
    bottom: 25px;

    // box model
    display: block;
    width: 170px;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    // visual
    border: 2px solid $golden;
    // background-color: transparent;
    border-radius: 20px;

    @include atTablet {
        // positioning
        bottom: 40px;
        right: 40px;

        // box model
        width: 210px;

        // typography
        line-height: 50px;
        font-size: 1rem;

        // visual
        border-radius: 27px;
    }
}