.show-locations {
    // box model
    display: flex;
    margin-bottom: 30px;

    // typography
    text-align: center;
}

.show-locations__menu {
    // box model
    
}

.show-locations__text {
    // box model
    margin: 0 auto;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 1rem;
    text-transform: uppercase;
}