.testimonials {
    // positioning
    position: relative;

    // box model
    padding-top: 40px;

    // visual
    background-color: $light;

    @include atTablet {
        // visual
        background-image: none;
    }
}

.testimonials__header {
    
}

.testimonials__content {
    // box model
    padding: 60px 20px;

    @include atTablet {
        // box model
        padding: 60px 40px;
    }
}

.testimonials__main-comment {
    // box model
    padding-bottom: 40px;
}

.testimonials__comments {
    // box model
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 600px;

    overflow-x: scroll;
}
