.testimonials {
    // positioning
    position: relative;

    // visual
    background-color: $light;
    background-image: url('./img/dark-o-h-grunge.svg');
    background-position: bottom -150px center;
    background-repeat: repeat-x;
    background-size: 800px;

    @include atTablet {
        // visual
        background-image: none;
    }
}

.testimonials__header {
    
}

.testimonials__content {
    // box model
    padding: 60px 20px;
}

.testimonials__main-comment {

}

.testimonials__comments {
    
}
