.testimonials {
    // positioning
    position: relative;

    // visual
    background-color: $light;
    // overflow: hidden;
}

.testimonials::after {
    content: '';

    // positioning
    position: absolute;
    left: 0;
    // left: -2px;         // not 0 to compensate left gap
    bottom: -1px;       // not 0 to compensate bottom gap
    z-index: 1;

    // box model
    width: 100%;
    // width: 102%;        // not 100% to compensate left and right gaps
    // min-width: 600px;   // to compensate image downscaling on small devices
    height: 50px;

    // visual
    background-image: url('./img/dark-o-h-grunge.svg');
    background-size: 800px;
    background-repeat: repeat-x;
    background-position: center top;
}

.testimonials__header {
    
}

.testimonials__content {
    // box model
    padding: 60px 20px;
}

.testimonials__main-comment {

}

.testimonials__comments {
    
}
