.thing {
    // box model
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.thing__icon {
    // box model
    width: 80px;
    flex-basis: 80px;

    // visual
}

.thing__icon img {
    // box model
    width: 100%;
}

.thing__text {
    // box model
    flex-basis: calc(100% - 100px);
    margin: 0;
    padding-left: 20px;

    // typography
    color: rgba($dark, 0.75);
    font-family: $mainFont;
    font-size: 0.85rem;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}